<div class="middle-section clearFix">
    <aside class="middle-full">
        <section class="middle-main clearFix activity-wrapper">

            <section class="row header">
                <div class="row">
                    <h2 class="pull-left">
                        Manage Cheques
                    </h2>
                </div>
                <section class="row filter-section  margin-head">
                    <div class="c-lg-3">
                        <div class="field-wrapper">
                            <label for="range">From {{dateRange[0] | date: 'yyyy-mm-dd'}} To {{dateRange[1] | date: 'yyyy-mm-dd'}}</label>
                            <input [(ngModel)]="dateRange" type="text" name="range" class="form-ctrl bsDatepicker" id="range" readonly="true" bsDaterangepicker>
                        </div>
                    </div>
                    <div class="c-lg-3">
                        <div class="field-wrapper">
                            <label for="ctype">Cheque Status</label>
                            <select [(ngModel)]="chequeFetchForm.cheque_status_id" name="ctype" class="form-ctrl" id="ctype"  [(ngModel)]="datefield.cheque_status_id">
                                <option value="-1"></option>
                                <option value="1">pending</option>
                                <option value="2">dishonoured</option>
                                <option value="3">cleared</option>
                            </select>
                        </div>
                    </div>


                    <div class="c-lg-3">
                        <div class="field-wrapper">
                            <label for="searchB">Student Name/ Contact No.</label>
                            <input [(ngModel)]="searchValue" type="text" name="searchB" class="form-ctrl" id="searchB">
                        </div>
                    </div>

                    <div class="c-lg-3 btn-wrap">
                        <button class="btn fullBlue" (click)="filterCheques()">Go</button>
                    </div>
                </section>
            </section>

            <section class="body-content">
                <div class="table-content">
                    <rob-table (rowIdArr)="selectedRecords($event)"
                        [isMulti]='false' [hasMenu]="false" [records]="chequeDataSource" [dataStatus]="dataStatus" [tableName]="'chequemanage'"
                        [settings]="chequeSetting">
                    </rob-table>
                </div>
            </section>
        </section>
    </aside>
</div>