<div class="middle-section clearFix">
    <aside class="middle-full">
        <section class="middle-main clearFix activity-wrapper">

            <section class="row header">
                <div class="row">
                    <h2 class="pull-left">
                        Manage Cheques
                    </h2>
                </div>
                <section class="row filter-section  margin-head">
                    <div class="c-lg-3">
                        <div class="field-wrapper datePickerBox">
                            <label for="range">Cheque From And To</label>
                            <input [(ngModel)]="dateRange" type="text" name="range" class="form-ctrl bsDatepicker" id="range" readonly="true" bsDaterangepicker>
                            <span class="pull-right" style="color: rgb(245, 79, 79); cursor: pointer;" (click)="clearDateRange()">clear</span>
                        </div>
                    </div>
                    <div class="c-lg-3">
                        <div class="field-wrapper">
                            <label for="ctype">Cheque Status</label>
                            <select [(ngModel)]="chequeFetchForm.cheque_status_id" name="ctype" class="form-ctrl" id="ctype" [(ngModel)]="chequeFetchForm.cheque_status_id">
                                <option value="-1"></option>
                                <option value="1">Pending</option>
                                <option value="2">Dishonoured</option>
                                <option value="3">Cleared</option>
                            </select>
                        </div>
                    </div>


                    <div class="c-lg-3">
                        <div class="field-wrapper">
                            <label for="searchB">Student Name/ Contact No.</label>
                            <input [(ngModel)]="searchValue" type="text" name="searchB" class="form-ctrl" id="searchB">
                        </div>
                    </div>

                    <div class="c-lg-3 btn-wrap">
                        <button class="btn fullBlue" (click)="filterCheques()">Go</button>
                    </div>
                </section>
            </section>

            <section class="body-content">
                <div class="table-content">

                    <rob-table [isMulti]='false' [hasMenu]="true" [dropType]="dropType" [menuOptions]="menuList" (multiOptionSelected)="optionSelected($event)"
                        [records]="chequeDataSource" [dataStatus]="dataStatus" [tableName]="'chequemanage'" [settings]="chequeSetting">
                    </rob-table>

                </div>

            </section>


            <proctur-popup [sizeWidth]="'small'" *ngIf="isUpdatePopup">

                <span class="closePopup pos-abs fbold show" (click)="cancelUpdate()" close-button>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="9310 2185 16 16">
                        <g id="Group_1228" data-name="Group 1228" transform="translate(8298 1888)">
                            <g id="Group_1213" data-name="Group 1213" transform="translate(34.189 -7.77)">
                                <line id="Line_274" data-name="Line 274" class="cls-1" y2="19.798" transform="translate(992.81 305.77) rotate(45)" />
                                <line id="Line_275" data-name="Line 275" class="cls-1" x1="19.798" transform="translate(978.81 305.77) rotate(45)" />
                            </g>
                            <rect id="Rectangle_686" data-name="Rectangle 686" style="stroke:none;" class="cls-2" width="16" height="16" transform="translate(1012 297)"
                            />
                        </g>
                    </svg>
                </span>

                <h2 popup-header>Update Cheque Status (Cheque No.- {{selectedRecord.cheque_no}})</h2>

                <div class="row update-cheque-wrapper" popup-content>
                    <div class="field-wrapper">
                        <label for="cstatus">Update Cheque Status </label>
                        <select name="cstatus" id="cstatus" class="form-ctrl" [(ngModel)]="chequeUpdateStatus">
                            <option value="2">Dishonoured</option>
                            <option value="3">Cleared</option>
                        </select>
                    </div>
                </div>

                <div class="" popup-footer>
                    <div class="clearfix">
                        <aside class="pull-right popup-btn">
                            <input type="button" value="Cancel" class="btn" (click)="cancelUpdate()">
                            <input type="button" value="Update" class="fullBlue btn" (click)="updateRecord()">
                        </aside>
                    </div>
                </div>

            </proctur-popup>

            <proctur-popup [sizeWidth]="'large'" *ngIf="isPendingUpdate">

                <span class="closePopup pos-abs fbold show" (click)="cancelUpdate()" close-button>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="9310 2185 16 16">
                        <g id="Group_1228" data-name="Group 1228" transform="translate(8298 1888)">
                            <g id="Group_1213" data-name="Group 1213" transform="translate(34.189 -7.77)">
                                <line id="Line_274" data-name="Line 274" class="cls-1" y2="19.798" transform="translate(992.81 305.77) rotate(45)" />
                                <line id="Line_275" data-name="Line 275" class="cls-1" x1="19.798" transform="translate(978.81 305.77) rotate(45)" />
                            </g>
                            <rect id="Rectangle_686" data-name="Rectangle 686" style="stroke:none;" class="cls-2" width="16" height="16" transform="translate(1012 297)"
                            />
                        </g>
                    </svg>
                </span>

                <h2 popup-header>Update Payment For Student: {{selectedRecord.student_name}} ({{selectedRecord.cheque_no}})</h2>

                <div class="row update-cheque-wrapper" popup-content>

                    <div class="c-lg-12 pending-cheque-data">
                        <table class="table table-responsive">
                            <thead>
                                <tr>
                                    <th class="Inst">Inst #</th>
                                    <th>Course</th>
                                    <th>Academic Year</th>
                                    <th>Fee Type</th>
                                    <th class="Date">Due Date</th>
                                    <th class="No">Intitial Fee Amount</th>
                                    <th class="No">Tax</th>
                                    <th class="No">Fee Amount (Incl Tax)</th>
                                    <th class="No">Amount Paid</th>
                                    <th class="No">Balance Amount</th>
                                    <th class="No">Pay Amount</th>
                                    <th class="No">Balance Due Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let c of studentUnpaid; let i = index;">
                                    <td class="Inst">
                                        <div class=" check field-checkbox-wrapper">
                                            <input class="form-checkbox" id="{{c.installment_no}}" type="checkbox" [(ngModel)]="c.selected" name="{{c.installment_no}}"
                                                value="">
                                            <label for="{{c.installment_no}}">
                                                {{c.installment_no}}
                                            </label>
                                        </div>
                                    </td>
                                    <td>{{c.course_subject_name}}</td>
                                    <td>{{c.academic_year}}</td>
                                    <td>{{c.fee_type_name}}</td>
                                    <td class="No">{{c.due_date}}</td>
                                    <td class="No">₹&nbsp;{{c.total_initial_amount}}</td>
                                    <td class="No">₹&nbsp;{{c.total_tax_applied}}</td>
                                    <td class="No">₹&nbsp;{{c.total_amount_after_discount_after_tax}}</td>
                                    <td class="No">₹&nbsp;{{c.total_amt_paid}}</td>
                                    <td class="No">₹&nbsp;{{c.total_balance_amt}}</td>
                                    <td>
                                        <div class="field-wrapper">
                                            <input type="text" OnlyNumber="true" [(ngModel)]="c.toPay" (blur)="validatePaymentAmount(i)" class="form-ctrl">
                                        </div>
                                    </td>
                                    <td>{{c.balanceDueOn}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="c-lg-6">
                        <!-- payment date -->
                        <div class="field-wrapper datePickerBox">
                            <label for="paymentdate">Payment Date</label>
                            <input id="paymentdate" [(ngModel)]="chequePaymentModel.paymentDate" type="text" class="form-ctrl bsDatepicker" bsDatepicker>
                        </div>
                    </div>

                    <div class="c-lg-6">
                        <!-- Payment Mode -->
                        <div class="field-wrapper">
                            <label for="PMode">Payment Mode</label>
                            <input [(ngModel)]="chequePaymentModel.paymentMode" id="PMode" readonly="true" type="text" class="form-ctrl">
                        </div>
                    </div>

                    <div class="c-lg-6">
                        <!-- Remarks -->
                        <div class="field-wrapper">
                            <label for="remarks">Remarks</label>
                            <textarea [(ngModel)]="chequePaymentModel.remarks" id="remarks" class="form-ctrl"></textarea>
                        </div>
                    </div>

                    <div class="c-lg-6">
                        <!-- Referencce number -->
                        <div class="field-wrapper">
                            <label for="refN">Referencce number</label>
                            <input [(ngModel)]="chequePaymentModel.refNum" id="refN" type="text" class="form-ctrl">
                        </div>
                    </div>

                    <div class="c-lg-6">
                        <!-- Bank Name -->
                        <div class="field-wrapper">
                            <label for="BankName">Bank Name</label>
                            <input [(ngModel)]="chequePaymentModel.bankName" id="BankName" readonly="true" type="text" class="form-ctrl">
                        </div>
                    </div>

                    <div class="c-lg-6">
                        <!-- Cheque Number -->
                        <div class="field-wrapper">
                            <label for="ChequeNumber">Cheque Number</label>
                            <input [(ngModel)]="chequePaymentModel.chequeNum" id="ChequeNumber" readonly="true" type="text" class="form-ctrl">
                        </div>
                    </div>

                    <div class="c-lg-6">
                        <!-- Cheque Date -->
                        <div class="field-wrapper datePickerBox">
                            <label for="ChequeDate">Cheque Date</label>
                            <input [(ngModel)]="chequePaymentModel.chequeDate" id="ChequeDate" readonly="true" type="text" class="form-ctrl bsDatepicker">
                        </div>
                    </div>

                    <div class="c-lg-6">
                        <!-- Cheque Amount -->
                        <div class="field-wrapper">
                            <label for="ChequeAmount">Cheque Amount</label>
                            <input [(ngModel)]="chequePaymentModel.chequeAmount" id="ChequeAmount" readonly="true" type="text" class="form-ctrl">
                        </div>
                    </div>

                    <div class="c-lg-6">
                        <!-- Generate Fee Receipt -->
                        <div class="field-checkbox-wrapper">
                            <input [(ngModel)]="chequePaymentModel.isGenAck" class="form-checkbox" type="checkbox" id="genAck">
                            <label for="genAck">
                                Generate Fee Receipt
                            </label>
                        </div>
                    </div>

                    <div class="c-lg-6">
                        <!-- Send Email(Student/Parent) -->
                        <div class="field-checkbox-wrapper">
                            <input [(ngModel)]="chequePaymentModel.isSendEmail" class="form-checkbox" type="checkbox" id="sendEmail">
                            <label for="sendEmail">
                                Send Email (Student/Parent)
                            </label>
                        </div>
                    </div>

                </div>

                <div class="" popup-footer>
                    <div class="clearfix">
                        <aside class="pull-right popup-btn">
                            <input type="button" value="Cancel" class="btn" (click)="cancelUpdate()">
                            <input type="button" value="Update" class="fullBlue btn" (click)="payUsingCheque()">
                        </aside>
                    </div>
                </div>

            </proctur-popup>

        </section>
    </aside>
</div>