.header-section{
    .header-title{
      text-align: left;
      font-size: 14px;
      font-weight: 600;
      color: #0084f6;
      padding-bottom: 10px;
      // border-bottom: 1px solid rgba(10, 10, 10, 0.5);
    }
  }
  .middle-section{
    padding: 1%;
  }