<div class="container-fluid" >
  <section class="row">
    <div class="col-md-10" *ngIf="displayKeys.tableDetails.showTitle">
      <h1>{{displayKeys.tableDetails.title}}</h1>
    </div>
    <div  *ngIf="displayKeys.selectAll.showSelectAll">
      <div class="pull-right mt-2" role="group" (click)="SelectAlleventTrigger()">
        <a class="btn btn-secondary btn-md btnCss" >
          {{displayKeys.selectAll.title}}</a>
      </div>
    </div>
  </section>
</div>

<table class="tableBodyScroll"  id="printDiv">
  <thead>
    <tr>
      <th *ngIf="displayKeys.selectAll.showSelectAll" class="checkBoxCss">
        <!-- <input type="checkbox" class="form-checkbox" > -->

        <div class="field-checkbox-wrapper">
          <input type="checkbox" class="form-checkbox" [checked]="displayKeys.selectAll.checked" (change)="toggleAllCheckBox()" id="ch2">
          <label for="ch2"></label>
        </div>
      </th>

      <th *ngFor="let key of keysArray" (click)="sortData(key)">
        <ng-template [ngIf]="key.filter">
          <span>
            {{key.header}}
            <i class="fa fa-sort-desc sortIcon" *ngIf="key.type=='desc'"></i>
            <i class="fa fa-sort-asc sortIcon" *ngIf="key.type=='asc'"></i>
          </span>
        </ng-template>
        <ng-template [ngIf]="!key.filter">
          <span>
            {{key.header}}
          </span>
        </ng-template>
      </th>
      <th *ngIf="displayKeys.actionSetting.showActionButton">Action</th>
    </tr>

  </thead>
  <tbody>
  <tr *ngFor="let data of recordsTrimmed ; let i=index" (click)="rowClick(i)"  [id]="'editTableRow-'+i">
    <td *ngIf="displayKeys.selectAll.showSelectAll" class="checkBoxCss">
      <!-- <input type="checkbox" class="form-checkbox" [checked]="data.checked" (change)="toggleCheckbox($event,data,displayKeys.selectAll.key)"> -->

      <div class="field-checkbox-wrapper">
        <input type="checkbox" class="form-checkbox" [checked]="data.checked" (change)="toggleCheckbox($event,data,displayKeys.selectAll.key)"
          [id]="'checkbox-'+i">
        <label [for]="'checkbox-'+i"></label>
      </div>
    </td>
    <!--read view -->
    <ng-template [ngIf]="isEditRow!='editTableRow-'+i">
      <ng-container *ngFor="let key of keysArray">
        <td *ngIf="key.ngClassShow" [ngClass]="getClass(key.primaryKey,key.ngClassShow,data)">
          {{getTypeCheck(data,data[key["primaryKey"]],key)}}
        </td>
        <td *ngIf="!key.ngClassShow">
          {{getTypeCheck(data,data[key["primaryKey"]],key)}}
        </td>
      </ng-container>
    </ng-template>

    <!--edit view -->
    <ng-template [ngIf]="isEditRow=='editTableRow-'+i">
      <ng-container *ngFor="let key of keysArray" [ngSwitch]="key.inputType">
        <ng-container *ngSwitchCase="'dropdown'">
          <td *ngIf="key.ngClassShow" [ngClass]="getClass(key.primaryKey,key.ngClassShow,data)">
            <select (change)="onSelect($event.target.value)" [(ngModel)]="data[key['primaryKey']]">
              <option *ngFor="let value of  key['dataSource']" [value]="value">
              </option>
            </select>
          </td>
          <td *ngIf="!key.ngClassShow">
            <select (change)="onSelect($event.target.value,data)" [(ngModel)]="data[key['primaryKey']]">
              <option *ngFor="let item of data.arrayList" [value]="item">{{item}}
              </option>
            </select>
          </td>
        </ng-container>
        <ng-container *ngSwitchDefault>
          <td *ngIf="key.ngClassShow " [ngClass]="getClass(key.primaryKey,key.ngClassShow,data)">
            <input [type]="key.inputType" [(ngModel)]="data[key['primaryKey']]">
          </td>
          <td *ngIf="!key.ngClassShow ">
            <input [type]="key.inputType" [(ngModel)]="data[key['primaryKey']]">
          </td>
        </ng-container>
      </ng-container>
    </ng-template>
    <!-- popup editView -->
    <td *ngIf="displayKeys.actionSetting.showActionButton && isEditRow!='editTableRow-'+i ">
      <button class="button" *ngIf="displayKeys.actionSetting.editOption=='button'&& checkCondition(data)" (click)="editRow('editTableRow-'+i,data)">Edit</button>
      <ng-template [ngIf]="displayKeys.actionSetting.editOption=='popup'  ">
        <!-- <div class="dropup"> -->
        <!-- <i class=" fa fa-ellipsis-v dropbtn" style="font-size:24px;">
          </i> -->
        <drop-menu [dropType]="dropType" [info]="data" [menuOptions]="displayKeys.actionSetting.options" (selectedRecord)="recordSelected($event)"></drop-menu>
        <!-- <div class="dropup-content">
            <a *ngFor="let option of displayKeys.actionSetting.options" href="#" (click)="changeView(data,option)">
              {{option}}
            </a>
          </div> -->
        <!-- </div> -->
      </ng-template>
    </td>
    <!-- button editView -->
    <td *ngIf=" displayKeys.actionSetting.showActionButton && isEditRow=='editTableRow-'+i ">
      <!-- <i *ngFor="let option of displayKeys.actionSetting.options" [ngClass]="option.class" style="font-size:24px;" (click)="changeView(data,option.title)">
        &nbsp;&nbsp;</i> -->
      <drop-menu [dropType]="dropType" [info]="data" [menuOptions]="displayKeys.actionSetting.options" (selectedRecord)="recordSelected($event)"></drop-menu>
    </td>
  </tr>

  <ng-template [ngIf]="recordsTrimmed.length==0">
    <div class="schedule-scroller">
      <ul class="ulCss ul-body ct-ongoing">
        <li style="width: 100%;">
          <label style="font-size: 16px;font-weight: 600;">{{displayKeys.displayMessage}}</label>
        </li>
      </ul>
    </div>
  </ng-template>
</tbody>
</table>
<br>
<br>
<pagination (goPage)="fectchTableDataByPage($event)" (goNext)="fetchNext()" (goPrev)="fetchPrevious()" [pagesToShow]="_paginationService.getPagesToShow()"
  [page]="_paginationService.getPageIndex()" [perPage]="_paginationService.displayBatchSize" [sizeArr]="_paginationService.getSizeArr()"
  (sizeChange)="updateTableBatchSize($event)" [count]="recordCount">
</pagination>