@import "../course-course-list-v2.component.scss";
.field-wrapper {
    padding-top: 0;
}
.field-wrapper.datePickerBox:after {
    content: "";
    background: url(/./assets/images/calendar.svg) no-repeat;
    position: absolute;
    right: 30px;
    top: 7px;
    width: 21px;
    height: 21px;
    z-index: 20;
    border-radius: 4px;
    orientation: "auto";
}
.noShadow {
    box-shadow: none !important;
    border: none !important;
}
#addUpdateSubjectdialog {
    .field-wrapper {
        margin-bottom: 10px;
    }
}
.addMc {
    font-size: 11px;
    margin-left: 315px;
    cursor: pointer;
    color: #109CF1;
    font-weight: 600;
}
.modal-width{
    max-width: 65% !important;
    width: 100%;
    height: auto;
    margin: auto;
}
.input-box{
    border: 1px solid #e0e0e0;
      padding: 21px;
      border-radius: 4px;
      width: 100%;
      outline: none;
      background: #fff;
      font: 400 12px "Open sans", sans-serif;
    
  }