  ////// Turn off spinner
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }

  .imagePreview {
      width: 150px;
      height: 150px;
  }

  .middle-section {
      padding: 20px 30px;
      width: 100%;
      box-sizing: border-box;
  }

  .profileWrapper {
      padding-right: 52px;
      width: 40%;
      height: 30%;
  }

  .imagePreview {
      height: 150px;
      width: 225px;
      border-radius: 20px;
      border: 1px solid #1f72ef;
  }
  .countryCallingCode{
    float: left;
}
.black-bg{
    background: rgba(12, 11, 11, 0.3);
    position: fixed;
    top: 0px;
    height: 100%;
    left: 0px;
    z-index: 6;
    width: 100%;
  }
  .field-wrapper.datePickerBox .form-ctrl {
    z-index: 5;
}
.multiselect-dropdown{
    font-size: 12px;
    .dropdown-down{
      border-top: 5px solid black;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
    }
    .dropdown-up{
      border-bottom: 5px solid black;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
    }
  }
  .student_list_container{
    width: 100%;
    border-radius: 4px;
    margin-top: 5px;
    border-color: #c5c5cc;
    font-size: 14px;
    margin-top: 0;
    label{
      margin-bottom: 5px;
    }
  }
  .documentUploadDiv {
    margin-top: -2%;
    padding-bottom: 5%;
    margin-bottom: 1%;
  }
  
  .uploadedData {
    width: 70%;
    float: left;
    padding-left: 5px;
  } 
.box-shadow-lite{
  padding: 0;
  border: 1px solid #ccc;
  min-height: 10vh;
  box-shadow: 0 1px 2px 0 #ccc;
}
.document_header {
  height: 40px;
  width: 100%;
  font-weight: 600;
  border-bottom: 1px solid #ccc;
  padding-top: 8px;
  margin-bottom: 10px;
  margin-top: 10px;
  box-shadow: 0 1px 2px 0 #ccc;
  background: #fafafa;
}