<section class="sideBar">
  <section class="institute-logo-name-container">
    <!-- <div class="institute-logo-container">
      <img src="" alt="">
    </div> -->
    <div class="institute-name-container">
      <span>{{instituteName}}</span>
      <span> - {{globalSearchForm.instituteId}}</span>
    </div>
  </section>
  <div class="nav" (click)="closeMenu()">
    <div class="search-container">
      <form autocomplete="off" #form="ngForm">
        <input type="text" value="" id="search_bar" [(ngModel)]="userInput" name="userInput" #searchInput
          [ngClass]="{'has-focus': isResultDisplayed}" (focus)="triggerSearchBox($event)" autocomplete="off"
          placeholder="Search here..."
          class="search-input searchbox form-ctrl-head search-item searchBox">
      </form>
      <i class="fa fa-search search-icon" aria-hidden="true"></i>
      <section class="search-dropdown search-item" #seachResult>
        <search-box (closeSearch)="closeSearch($event)" [searchValue]="inputValue" [resultStat]="resultStat"
          [studentResult]="studentResult" (viewAll)="viewMoreRecods($event)" (searchAgain)="searchAgain($event)"
          (stuSelected)="selectedStudent($event)" (enqSelected)="selectedEnquiry($event)"
          [enquiryResult]="enquiryResult" (actionSelected)="actionSelected($event)" (closeMenu)="closeMenu()">
        </search-box>
      </section>
    </div>
    <span [ngClass]="activeSession === 'lizero' ? 'active activeClass' : 'NavLink'" routerLink="/view/home" id="lizero"
      class="" (click)="toggler('lizero')">
      <img src="./assets/images/sidebar/home.svg" alt="" class="sideBar_centerAlign">
      <span class="sideBar_centerAlign" style="padding-left: 5px">Home </span>
    </span>
    <span [ngClass]="activeSession === 'lione' ? 'active activeClass' : 'NavLink'" routerLink="/view/leads" id="lione"
       (click)="toggler('lione')" *ngIf="jsonFlags.isShowLead" >
      <img src="./assets/images/sidebar/lead.svg" alt="" class="sideBar_centerAlign">
      <span class="sideBar_centerAlign" style="padding-left: 5px">Lead</span>
    </span>
    <span [ngClass]="activeSession === 'litwo' ? 'active activeClass' : 'NavLink'" routerLink="/view/students"
      id="litwo"  (click)="toggler('litwo')" *ngIf="jsonFlags.isShowStudent">
      <img src="./assets/images/sidebar/student.svg" alt="" class="sideBar_centerAlign">
    <span class="sideBar_centerAlign" style="padding-left: 5px">Student</span>
    </span>
    <span [ngClass]="activeSession === 'lithree' ? 'active activeClass' : 'NavLink'"
      [routerLink]="isLangInstitute?'/view/batch': '/view/course'"  id="lithree"
      (click)="toggler('lithree')" *ngIf="jsonFlags.isShowModel">
      <img src="./assets/images/sidebar/course.svg" alt="" class="sideBar_centerAlign">
      <span id="li3" *ngIf="(!isLangInstitute)" class="sideBar_centerAlign" style="padding-left: 5px">Course</span>
      <span id="li3" *ngIf="(isLangInstitute)" class="sideBar_centerAlign" style="padding-left: 5px">Batch</span>
    </span>
    <span [ngClass]="activeSession === 'lifour' ? 'active activeClass' : 'NavLink'" routerLink="/view/fee"
      id="lifour" (click)="toggler('lifour')"  *ngIf="jsonFlags.isShowFee">
      <img src="./assets/images/sidebar/fees.svg" alt="" class="sideBar_centerAlign">
    <span class="sideBar_centerAlign" style="padding-left: 5px">Fees</span>
    </span>
    <span [ngClass]="activeSession === 'lifive' ? 'active activeClass' : 'NavLink'" routerLink="/view/live-classes"
      (click)="toggler('lifive')"  id="lifive" *ngIf="jsonFlags.isShowLiveclass">
      <img src="./assets/images/sidebar/live-class.svg" alt="" class="sideBar_centerAlign">
    <span class="sideBar_centerAlign" style="padding-left: 5px">Live Class</span>
    </span>
    <span [ngClass]="activeSession === 'lisix' ? 'active activeClass' : 'NavLink'" routerLink="/view/communicate"
      (click)="toggler('lisix')"  id="lisix" *ngIf="jsonFlags.isShowCommunicate">
      <img src="./assets/images/sidebar/communicate.svg" alt="" class="sideBar_centerAlign">
    <span class="sideBar_centerAlign" style="padding-left: 5px">Communicate</span>
    </span>
    <span  routerLink="/view/library/issue" [ngClass]="activeSession === 'liseven' ? 'active activeClass' : 'NavLink'"
    *ngIf="jsonFlags.isShowLibrabry"   (click)="toggler('liseven')">
      <img src="./assets/images/sidebar/library.svg" alt="" class="sideBar_centerAlign">
    <span class="sideBar_centerAlign" style="padding-left: 5px">Library</span>
    </span>
    <span [ngClass]="activeSession === 'lieight' ? 'active activeClass' : 'NavLink'" routerLink="/view/e-store/home"
      id="lieight"  (click)="toggler('lieight')" *ngIf="jsonFlags.isShoweStore">
      <img src="./assets/images/sidebar/eStore.svg" alt="" class="sideBar_centerAlign">
    <span class="sideBar_centerAlign" style="padding-left: 5px">eStore</span>
    </span>
    <span [ngClass]="activeSession === 'linine' ? 'active activeClass' : 'NavLink'" routerLink="/view/online-exam"
      id="linine"  (click)="toggler('linine')" *ngIf="jsonFlags.isShoweOnlineExam">
      <img src="./assets/images/sidebar/online_exam.svg" alt="" class="sideBar_centerAlign">
    <span class="sideBar_centerAlign" style="padding-left: 5px">Online Exam</span>
    </span>
    <span [ngClass]="activeSession === 'liten' ? 'active activeClass' : 'NavLink'" routerLink="/view/expense"
      id="liten"  (click)="toggler('liten')"  *ngIf="jsonFlags.isShowExpense">
      <img src="./assets/images/sidebar/expenses.svg" alt="" class="sideBar_centerAlign">
    <span class="sideBar_centerAlign" style="padding-left: 5px">Expense</span>
    </span>

    <!-- <span class="NavLink" href="#/app/dashboard">
      <img src="./assets/images/sidebar/employee.svg" alt="">
      Empolyee
    </span>
    <span class="NavLink" href="#/app/dashboard">
      <img src="./assets/images/sidebar/expenses.svg" alt="">
      Expense
    </span>
    <span class="NavLink" href="#/app/dashboard">
      <img src="./assets/images/sidebar/task.svg" alt="">
      Task
    </span>
    <span class="NavLink" routerLink="/view/students">
      <i class="fa fa-money" aria-hidden="true"></i>
      Dashboard
    </span> -->
  </div>
  <div class="release-note-container">
    <span data-toggle="modal" data-target="#releaseNote">New Release</span>
  </div>
  <div style="bottom: 16%;position: absolute;margin-left: 50%;">
    <span class="badge">v3.0</span>
  </div>
  <div class="setting" [ngStyle]="{'bottom':jsonFlags.isShowPowerBy?'20px':'0px'}" >
    <div class="setting-item" *ngIf="jsonFlags.isShowPowerBy">
      <img src="./assets/images/sidebar/help.svg" title="Help" alt="" (click)="showSubSection('help')">
      <div class="side-section" id="help">
        <div class="side-section-item">
          <span (click)="openInNewTab('https://procturhelp.freshdesk.com/support/home')" ><img src="./assets/images/sidebar/sideMenu/proctur.svg" alt="faqs" class="helpSection">FAQs</span>
        </div>
        <div class="side-section-item">
          <span (click)="openInNewTab('https://procturhelp.freshdesk.com/support/tickets/new')"><img src="./assets/images/sidebar/sideMenu/support.svg" alt="ticket" class="helpSection">Create Support
            Ticket</span>
        </div>
        <div class="side-section-item">
          <span (click)="openInNewTab('https://anydesk.com/en/downloads/')"><img src="./assets/images/sidebar/sideMenu/download.svg" alt="download" class="helpSection">Download Anydesk</span>
        </div>
        <div class="side-section-item">
          <span><img src="./assets/images/sidebar/sideMenu/call.svg" alt="phone" class="helpSection">+91 9971839153</span>
        </div>
        <div class="side-section-item" (click)="routerLink('/view/training-video' ,'help')">
            <span>Training Videos</span>
        </div>
      </div>
    </div>
    <div class="setting-item" #divSettingTag id="divSettingTag">
      <img src="./assets/images/sidebar/settings.svg" title="Settings" alt=""
      (click)="routerLink('/view/setting','generalSetting');activeSession=null">
      <div class="side-section" id="generalSetting">
        </div>
    </div>
    <div class="setting-item" #divMasterTag id="divMasterTag">
      <img src="./assets/images/sidebar/setup.svg" title="Setup" alt="" (click)="showSubSection('setup')">
      <div class="side-section" id="setup">
          <div class="side-section-item" *ngIf="hasInventoryAccess()">
              <span (click)="routerLink('/view/inventory','setup')"><img src="./assets/images/sidebar/inventory.svg" alt="phone" class="helpSection">Manage Inventory</span>
            </div>
            <div class="side-section-item">
              <span (click)="routerLink('/view/formField/home','setup')"><img src="./assets/images/sidebar/custom_form_field.svg" alt="phone" class="helpSection">Custom Form Field</span>
            </div>
            <div class="side-section-item">
              <span (click)="routerLink('/view/master/areaCity','setup')"><img src="./assets/images/sidebar/city_area_map.svg" alt="phone" class="helpSection">City Area Map</span>
            </div>
            <div class="side-section-item" *ngIf="jsonFlags.isShowLibrabry">
                <span (click)="routerLink('/view/library/master','setup')"><img src="./assets/images/sidebar/master_data.svg" alt="phone" class="helpSection">Library</span>
              </div>
      </div>
    </div>
    <div class="setting-item" (click)="showSubSection('branches')" *ngIf="isMainBranch == 'Y' && checkAdmin">
      <img src="./assets/images/sidebar/branches.svg" title="Branches" alt="">
      <div class="side-section" id="branches">
        <div class="side-section-item" *ngFor="let data of branchesList">
          <span (click)="onSubBranchClick(data)">{{data.institute_name}}</span>
        </div>
      </div>
    </div>
    <div class="setting-item" (click)="showSubMenu('branches')" *ngIf="(showMainBranchBackBtn)">
      <img src="./assets/images/sidebar/branches.svg" title="Back To Main Branch" alt="" (click)="loginToMainBranch()">
    </div>
    <div class="setting-item" #divManageUsers id="divManageUsers">
      <img src="./assets/images/sidebar/users.svg" title="Manage Users" alt=""
        (click)="routerLink('/view/manage','user');activeSession=null">
        <div class="side-section" id="user">
          </div>
    </div>
    <div class="setting-item"  #divMyAccountTag id="divMyAccountTag">
      <img src="./assets/images/sidebar/my-account.svg" title="My Account" alt="" (click)="showSubSection('account')">
      <div class="side-section" id="account">
        <div class="side-section-item"  *ngIf="hideForUsers()">
          <span (click)="routerLink('/view/account','account')"><img src="./assets/images/sidebar/sideMenu/account.svg" alt="icon" class="helpSection">My Account</span>
        </div>
        <div class="side-section-item">
          <span (click)="changePasswordClick()"><img src="./assets/images/sidebar/change_password.svg" alt="phone" class="helpSection">Change Password</span>
        </div>
        <div class="side-section-item">
          <span (click)="logout()"><img src="./assets/images/sidebar/sideMenu/logout.svg" alt="icon" class="helpSection">Logout</span>
        </div>
        <div class="side-section-item">
          <span (click)="openInNewTab('https://bit.ly/3c1ig58')"><img src="./assets/images/sidebar/sideMenu/android.svg" alt="icon" class="helpSection">Download App</span>
        </div>
      </div>
    </div>
  </div>

  <div class="proctur-info"  *ngIf="jsonFlags.isShowPowerBy">
    <a href="https://www.proctur.com/" target="_blank"> <span>Powered by Proctur</span> </a>
  </div>

</section>

<aside class="blur-background" id="blurBg" *ngIf="sideBar  || searchBar || helpMenu || videoplayer" (click)="closeMenu()">
</aside>

<!-- Modal -->
<!-- Release Note pop up -->
<div id="releaseNote" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2 class="modal-title">Release Note</h2>
      </div>
      <div class="modal-body">
        <div class="new-modules-list">
          <div class="module-title">
            <span>28th Feb 2020</span>
          </div>
          <ol>
            <li>Exception report setting - (Rename Attendance/Exam reminder)
              <ul style="font-weight: 400; margin-top: 5px;">
                <li>Admin can get updates of Attendance and Exam related notification on multiple numbers by selecting Other option.
                  <br>
                  <span style="font-weight: 600;">Steps:</span> Settings -> Attendance/Exam Notification Settings
                </li>
              </ul>
            </li>
            <li>Remarks option while taking Attendance
              <ul style="font-weight: 400; margin-top: 5px;">
                <li>Remarks field added while marking Attendance and it helps to notify remarks to Students/Parents.
                    <span style="font-weight: 600;">Steps:</span> Home-> Mark Attendance-> (Add Remarks) Mark Attendance </li>
              </ul>
            </li>
            <li>Assign STD/Master Course at a time
              <ul style="font-weight: 400; margin-top: 5px;">
                <li>Assign Standard/Assign Master Course option added in Course and Batch Module to assign these in bulk to selected students.
                <br>
                <span style="font-weight: 600;">Steps:</span> Home->Students->Select Students->Click on option selected students ->Assign Standard (Course Module) or Assign Master Course (Batch Module).
                </li>
              </ul>
            </li>
            <li>Edit Option Class/Exam Planner
              <ul style="font-weight: 400; margin-top: 5px;">
                <li>
                  Edit option added in Course Planner- To edit details of Description & Homework.
                  <br>
                  <span style="font-weight: 600;">Steps:</span> Course-> Class Planner->Click on Go (by Selecting Filters)-Edit
                </li>
              </ul>
            </li>
            <li>Proctur Live Class updates
              <ul style="font-weight: 400; margin-top: 5px;">
                <li>Multiple Layout- Fully control the layout of your virtual classroom, live stream, webinar or webcast, work together on shared notes.</li>
                <li>Safari support- Users can now also connect via Safari.</li>
                <li>Improved breakout room statistics
                    Live Class has also improved breakout room usage statistics and worked on general usability of some features so everyone can make the most out of Proctur Live Class.
                </li>
                <li>No extension required in chrome for screen share
                    Chrome no longer requires an extension for screen share and the join experience has been made more intuitive. It is available to anyone having chrome version 72 or higher.
                </li>
              </ul>
            </li>
            <li>Country/State/City/Area Mapping
              <ul style="font-weight: 400; margin-top: 5px;">
                <li>Country/State/City/Area Mapping has been added in Lead and Student section, which can be used while adding an Enquiry and Students.
                    <br>
                    <span style="font-weight: 600;">Steps:</span> Home Page-> Setup-> City Area Map
                </li>
              </ul>
            </li>
            <li>Performance Improvement (Student Section)
              <ul style="font-weight: 400; margin-top: 5px;">
                <li>Response time has improved while student data loading. </li>
              </ul>
            </li>
            <li>PTM Enhancement
              <ul style="font-weight: 400; margin-top: 5px;">
                <li>Scheduled PTM details added in PTM home page which can be used to find today's and future PTM schedule as well notify to them.</li>
                <li>Update and Notify button added on PTM page.</li>
              </ul>
            </li>
            <li>Student's Birthday Details
              <ul style="font-weight: 400; margin-top: 5px;">
                <li>Student Birthday details added on home page, user can check today's Birthday details at the bottom of home page.</li>
              </ul>
            </li>
            <li>Whatsapp Link Integration
              <ul style="font-weight: 400; margin-top: 5px;">
                <li>Whatsapp icon added in global search while searching Enquiry/Student from home page.</li>
              </ul>
            </li>
          </ol>
        </div>
        <hr style="border-top: 1px solid #ccc;">
        <div class="old-module-list">
          <div class="module-title old">
            <span>31st Jan 2020</span>
          </div>
          <ol>
            <li>Exam Dashboard: Course/Batch -> Reports -> Exam Dashboard
              <ul style="font-weight: 400; margin-top: 5px;">
                <li>Allows you to analyse exam data at various levels: Course/Batch level, Subject level, Date wise, Faculty wise, and Single Exam.
                    <br>
                    <span style="font-weight: 600;">Steps:</span> Course/Batch -> Reports -> Exam Dashboard
                </li>
              </ul>
            </li>
            <li>Standard and Subject data is being displayed on Inventory page.</li>
            <!-- <li>Advance setting is given for product management.</li> -->
            <li>With File Manager now you can share audio file(mp3 and wav) as well.</li>
            <li>In Settings low SMS balance reminder added where you can set threshold value on SMS count to get SMS balance notification.</li>
          </ol>
        </div>
        <!-- <div class="fixes-module">
          <div class="module-title">
            <span>Fixes</span>
          </div>
          <ul>
            <li>Coffee</li>
            <li>Tea</li>
            <li>Milk</li>
          </ul>
        </div> -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
