<div class="clearfix">
  <div class="row">
    <h2 class="pull-left" style="margin-left:15px">Add Employee</h2>
  </div>

  <div>
    <div class="field-wrapper">
      <label for="name">Name
        <span style="color:red">*</span>
      </label>
      <input type="text" class="form-ctrl" [(ngModel)]="employeeDetails.emp_name" name="name">
    </div>
   
    <div class="field-wrapper">
      <label for="contNumber">Primary Contact Number
        <span style="color:red">*</span>
      </label>
      <input type="text" maxlength="10" class="form-ctrl" [(ngModel)]="employeeDetails.phone_pro" name="contNumber">
    </div>
    
    <div class="field-wrapper">
      <label for="contNumber">Secondary Contact Number
        <span style="color:red">*</span>
      </label>
      <input type="text" maxlength="10" class="form-ctrl" [(ngModel)]="employeeDetails.phone_sec" name="contNumber">
    </div>
   
    <div class="field-wrapper">
      <label for="emailID">Primary Email Id
      </label>
      <input type="email" class="form-ctrl" name="emailID" [(ngModel)]="employeeDetails.email_pri">
    </div>
    
    <div class="field-wrapper">
      <label for="emailID">Secondary Email Id
      </label>
      <input type="email" class="form-ctrl" name="emailID" [(ngModel)]="employeeDetails.email_sec">
    </div>
    
    <div class="field-wrapper">
      <label for="CurrentAddress">Address
      </label>
      <input type="text" class="form-ctrl" [(ngModel)]="employeeDetails.address" name="CurrentAddress">
    </div>
    
    <div class="field-wrapper">
      <label for="standard">Joining Date
      </label>
      <input type="text" class="form-ctrl" name="standard" [(ngModel)]="employeeDetails.joining_date">
    </div>
   
    <div class="field-wrapper">
      <label for="subject">Leaving Date
      </label>
      <input type="text" class="form-ctrl" name="subject" [(ngModel)]="employeeDetails.leaving_date">
    </div>
    
    <div class="field-wrapper">
      <label for="salary">Designation
      </label>
      <input type="text" class="form-ctrl" name="salary" [(ngModel)]="employeeDetails.user_id">
    </div>

    <div class="row">
      <div class="pull-right">
        <button routerLink="/employee/home" class="btn">Cancel</button>
        <button class="btn fullBlue" style="font-size: 16px;height: 40px;" type="submit">Save</button>
      </div>
    </div>

  </div>

</div>