.head-wrapper {
    display: block;
    margin-top: 10px;
    text-align: center;
    .content-section {
        display: inline-flex;
        text-align: center;
        .clickable {
            .circle {
                border-radius: 100%;
                padding: 0.2em 0.65em;
                background: #0084f6;
                border: 2px solid #666;
                color: white;
                text-align: center;
                border-color: #0084f6;
                font-weight: 600;
            }
            .tag {
                display: block;
                font-size: 0.9em;
                margin-top: 0.8em;
                color: #888;
            }
        }
        .step-lines {
            display: flex;
            margin-left: -2em;
            margin-right: -2em;
            div {
                height: 2px;
                width: 6em;
                background: #0084f6;
                margin-top: 0.6em;
            }
        }
    }
}