<aside class="common-nav" id="commonLeftNav">
<nav>
    
    <ul class="nav-list">
        <li routerLink="/enquiry" class="" id="lione" (click)="setActive($event)">
            <i class="icon" id="li1">
                <svg xmlns="http://www.w3.org/2000/svg" id="li1" viewBox="-29 58 28 24">
                    <defs>
                        <style>
                            .cls-1, .cls-2 {
                              fill: none;
                            }
                      
                            .cls-1 {
                              stroke: #0084f6;
                              stroke-miterlimit: 10;
                            }
                        </style>
                    </defs>
                    <g id="Group_1188" data-name="Group 1188" transform="translate(-46 -16)">
                          <g id="Group_1177" data-name="Group 1177">
                            <line id="Line_169" data-name="Line 169" class="cls-1" x1="2.104" y1="2.104" transform="translate(39.512 78.63)"/>
                            <line id="Line_170" data-name="Line 170" class="cls-1" x2="9.467" transform="translate(23.208 80.734)"/>
                            <path id="Path_287" data-name="Path 287" class="cls-1" d="M32.856,3.786l-9.467,9.52L22.6,16.2l2.893-.789L34.96,5.89A.63.63,0,0,0,34.8,5L33.75,3.944A.63.63,0,0,0,32.856,3.786Z" transform="translate(7.761 73.739)"/>
                            <line id="Line_184" data-name="Line 184" class="cls-1" x1="2.104" y1="2.104" transform="translate(39.513 78.63)"/>
                            <path id="Path_288" data-name="Path 288" class="cls-1" d="M18.883,4.682V3.63A2.6,2.6,0,0,0,16.253,1H3.63A2.6,2.6,0,0,0,1,3.63V14.675A2.6,2.6,0,0,0,3.63,17.3H5.208v3.156a.52.52,0,0,0,.947.316L9.941,17.3h6.312a2.6,2.6,0,0,0,2.63-2.63v-2.1" transform="translate(18 75)"/>
                            <line id="Line_185" data-name="Line 185" class="cls-1" x2="9.467" transform="translate(23.208 80.734)"/>
                            <line id="Line_186" data-name="Line 186" class="cls-1" x2="9.467" transform="translate(23.208 82.838)"/>
                            <line id="Line_187" data-name="Line 187" class="cls-1" x2="5.26" transform="translate(23.208 84.941)"/>
                          </g>
                          <rect id="Rectangle_668" data-name="Rectangle 668" class="cls-2" width="28" height="24" transform="translate(17 74)"/>
                    </g>
                </svg>                  
            </i>
            <span id="li1">Enquiry</span>
        </li>
        <li routerLink="/student" class="" id="litwo" (click)="setActive($event)">
            <i class="icon" id="li2">
                <svg xmlns="http://www.w3.org/2000/svg" id="li2" viewBox="-29 119 28 24">                    
                    <g id="Group_1187" data-name="Group 1187" transform="translate(-46 -16)">
                        <g id="Group_1176" data-name="Group 1176" transform="translate(1)">
                        <path id="Path_252" data-name="Path 252" class="cls-1" d="M14.084,14.529c-1.647,0-3.588-1.824-4.353-4.412-.647,0-1.176-.765-1.235-1.647a1.765,1.765,0,0,1,.882-1.824C9.555,3.118,10.555,1,14.084,1s4.529,2.118,4.706,5.647c.588.118.941.882.882,1.824s-.588,1.647-1.235,1.647C17.673,12.706,15.731,14.529,14.084,14.529Z" transform="translate(15.916 136)"/>
                        <path id="Path_253" data-name="Path 253" class="cls-1" d="M14.529,20.5C18.294,21.382,21,23.324,21,27.265a25.487,25.487,0,0,1-10,1.765A25.487,25.487,0,0,1,1,27.265c0-3.941,2.706-5.882,6.471-6.765" transform="translate(19 127.971)"/>
                        </g>
                        <rect id="Rectangle_669" data-name="Rectangle 669" class="cls-2" width="28" height="24" transform="translate(17 135)"/>
                    </g>
                </svg>  
            </i>
            <span id="li2">Student</span>
        </li>
        <li routerLink="/course" class="" id="lithree" (click)="setActive($event)">
            <i class="icon" id="li3">
                <svg xmlns="http://www.w3.org/2000/svg" id="li3" viewBox="-29 180 28 24">
                <g id="Group_1186" data-name="Group 1186" transform="translate(-46 -16)">
                    <g id="Group_1175" data-name="Group 1175" transform="translate(0 0)">
                    <path id="Path_256" data-name="Path 256" class="cls-1" d="M39.848,28.515a4.663,4.663,0,0,0,2.106-2.376C40.01,25,37.9,25.653,36.5,28.083" transform="translate(1.672 185.687)"/>
                    <path id="Path_257" data-name="Path 257" class="cls-1" d="M31.4,34.314c1.35,1.3,3.4,2.214,5.941-.486C35.666,32.208,33.344,32.262,31.4,34.314Z" transform="translate(4.018 182.426)"/>
                    <path id="Path_258" data-name="Path 258" class="cls-1" d="M41.846,19.909c.864-.594,1.458-1.674,1.62-3.618-2.322-.162-4.05,1.4-4.266,4.212" transform="translate(0.43 189.973)"/>
                    <path id="Path_259" data-name="Path 259" class="cls-1" d="M40.934,11.142c.594-.864.756-2.106.162-3.942-2.214.7-3.24,2.808-2.43,5.455" transform="translate(0.803 194.148)"/>
                    <path id="Path_260" data-name="Path 260" class="cls-1" d="M3.706,28.515A4.663,4.663,0,0,1,1.6,26.139C3.544,25,5.65,25.653,7.055,28.083" transform="translate(17.724 185.687)"/>
                    <path id="Path_261" data-name="Path 261" class="cls-1" d="M11.641,34.314c-1.35,1.3-3.4,2.214-5.941-.486C7.374,32.208,9.75,32.262,11.641,34.314Z" transform="translate(15.838 182.426)"/>
                    <path id="Path_262" data-name="Path 262" class="cls-1" d="M2.62,19.914C1.756,19.32,1.162,18.24,1,16.3c2.376-.108,4.1,1.458,4.32,4.212" transform="translate(18 189.967)"/>
                    <path id="Path_263" data-name="Path 263" class="cls-1" d="M4.559,11.142A4.521,4.521,0,0,1,4.4,7.2c2.214.7,3.24,2.808,2.43,5.455" transform="translate(16.602 194.148)"/>
                    <path id="Path_264" data-name="Path 264" class="cls-1" d="M22.1,25v4.32l1.08-.54,1.08.54V25" transform="translate(8.295 185.961)"/>
                    <path id="Path_265" data-name="Path 265" class="cls-1" d="M22.155,14.5h2.7V1H14V14.5h2.754" transform="translate(12.021 197)"/>
                    <ellipse id="Ellipse_23" data-name="Ellipse 23" class="cls-1" cx="1.62" cy="1.62" rx="1.62" ry="1.62" transform="translate(29.855 208.261)"/>
                    <line id="Line_175" data-name="Line 175" class="cls-1" x2="5.401" transform="translate(28.775 202.32)"/>
                    <line id="Line_176" data-name="Line 176" class="cls-1" x2="3.24" transform="translate(29.855 204.481)"/>
                    </g>
                    <rect id="Rectangle_670" data-name="Rectangle 670" class="cls-2" width="28" height="24" transform="translate(17 196)"/>
                </g>
                </svg>        
            </i>
            <span id="li3">Course</span>
        </li>
        <li routerLink="/activity" class="" id="lifour" (click)="setActive($event)">
            <i class="icon" id="li4">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="-29 241 28 24" id="li4">
                    <g id="Group_1185" data-name="Group 1185" transform="translate(-46 -16)">
                        <g id="Group_1174" data-name="Group 1174">
                        <path id="Path_266" data-name="Path 266" class="cls-1" d="M7.25,9.125H2.875A1.842,1.842,0,0,1,1,7.25V2.875A1.842,1.842,0,0,1,2.875,1H7.25A1.842,1.842,0,0,1,9.125,2.875V7.25A1.842,1.842,0,0,1,7.25,9.125Z" transform="translate(20 258)"/>
                        <path id="Path_267" data-name="Path 267" class="cls-1" d="M26.25,9.125H21.875A1.842,1.842,0,0,1,20,7.25V2.875A1.842,1.842,0,0,1,21.875,1H26.25a1.842,1.842,0,0,1,1.875,1.875V7.25A1.842,1.842,0,0,1,26.25,9.125Z" transform="translate(12.875 258)"/>
                        <path id="Path_268" data-name="Path 268" class="cls-1" d="M7.25,28.125H2.875A1.842,1.842,0,0,1,1,26.25V21.875A1.842,1.842,0,0,1,2.875,20H7.25a1.842,1.842,0,0,1,1.875,1.875V26.25A1.842,1.842,0,0,1,7.25,28.125Z" transform="translate(20 250.875)"/>
                        <path id="Path_269" data-name="Path 269" class="cls-1" d="M26.25,28.125H21.875A1.842,1.842,0,0,1,20,26.25V21.875A1.842,1.842,0,0,1,21.875,20H26.25a1.842,1.842,0,0,1,1.875,1.875V26.25A1.842,1.842,0,0,1,26.25,28.125Z" transform="translate(12.875 250.875)"/>
                        </g>
                        <rect id="Rectangle_671" data-name="Rectangle 671" class="cls-2" width="28" height="24" transform="translate(17 257)"/>
                    </g>
                </svg>
            </i>
            <span id="li4">Activity</span>
        </li>
        <li routerLink="/employee" class="" id="lifive" (click)="setActive($event)">
            <i class="icon" id="li5">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="-29 119 28 24" id="li5">
                    
                    <g id="Group_1187" data-name="Group 1187" transform="translate(-46 -16)">
                        <g id="Group_1176" data-name="Group 1176" transform="translate(1)">
                        <path id="Path_252" data-name="Path 252" class="cls-1" d="M14.084,14.529c-1.647,0-3.588-1.824-4.353-4.412-.647,0-1.176-.765-1.235-1.647a1.765,1.765,0,0,1,.882-1.824C9.555,3.118,10.555,1,14.084,1s4.529,2.118,4.706,5.647c.588.118.941.882.882,1.824s-.588,1.647-1.235,1.647C17.673,12.706,15.731,14.529,14.084,14.529Z" transform="translate(15.916 136)"/>
                        <path id="Path_253" data-name="Path 253" class="cls-1" d="M14.529,20.5C18.294,21.382,21,23.324,21,27.265a25.487,25.487,0,0,1-10,1.765A25.487,25.487,0,0,1,1,27.265c0-3.941,2.706-5.882,6.471-6.765" transform="translate(19 127.971)"/>
                        </g>
                        <rect id="Rectangle_669" data-name="Rectangle 669" class="cls-2" width="28" height="24" transform="translate(17 135)"/>
                    </g>
                </svg>     
            </i>
            <span id="li5">Employee</span>
        </li>
        <li routerLink="/reports" class="" id="lisix" (click)="setActive($event)">
            <i class="icon" id="li6">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="-29 364 28 24" id="li6">
                    <g id="Group_1183" data-name="Group 1183" transform="translate(-46 -16)">
                        <g id="Group_1172" data-name="Group 1172" transform="translate(0 1)">
                        <path id="Path_270" data-name="Path 270" class="cls-1" d="M12.765,23.882H3.353A2.36,2.36,0,0,1,1,21.529V10.353A2.36,2.36,0,0,1,3.353,8H9a.534.534,0,0,1,.412.176l5.529,5.529a.534.534,0,0,1,.176.412v7.412A2.36,2.36,0,0,1,12.765,23.882Z" transform="translate(21 377.118)"/>
                        <path id="Path_271" data-name="Path 271" class="cls-1" d="M15,8.5v3.235a2.36,2.36,0,0,0,2.353,2.353h3.235" transform="translate(15.235 376.912)"/>
                        <path id="Path_272" data-name="Path 272" class="cls-1" d="M9,5.118V3.353A2.36,2.36,0,0,1,11.353,1H17a.534.534,0,0,1,.412.176l5.529,5.529a.534.534,0,0,1,.176.412v7.412a2.36,2.36,0,0,1-2.353,2.353H18.412" transform="translate(17.706 380)"/>
                        <path id="Path_273" data-name="Path 273" class="cls-1" d="M23,1.5V4.735a2.36,2.36,0,0,0,2.353,2.353h3.235" transform="translate(11.941 379.794)"/>
                        </g>
                        <rect id="Rectangle_673" data-name="Rectangle 673" class="cls-2" width="28" height="24" transform="translate(17 380)"/>
                    </g>
                </svg>
            </i>
            <span id="li6">Reports</span>
        </li>
        <li routerLink="/inventory" class="" id="liseven" (click)="setActive($event)">
            <i class="icon" id="li7">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="-29 421 28 24" id="li7">
                    <g id="Group_1182" data-name="Group 1182" transform="translate(-46 -16)">
                        <g id="Group_1171" data-name="Group 1171" transform="translate(0)">
                        <ellipse id="Ellipse_24" data-name="Ellipse 24" class="cls-1" cx="3.333" cy="10" rx="3.333" ry="10" transform="translate(28 439)"/>
                        <ellipse id="Ellipse_25" data-name="Ellipse 25" class="cls-1" cx="3.333" cy="10" rx="3.333" ry="10" transform="matrix(0.5, -0.866, 0.866, 0.5, 21, 446.876)"/>
                        <ellipse id="Ellipse_26" data-name="Ellipse 26" class="cls-1" cx="3.333" cy="10" rx="3.333" ry="10" transform="matrix(0.5, 0.866, -0.866, 0.5, 38.32, 441.124)"/>
                        </g>
                        <rect id="Rectangle_674" data-name="Rectangle 674" class="cls-2" width="28" height="24" transform="translate(17 437)"/>
                    </g>
                </svg>   
            </i>
            <span id="li7">Inventory</span>
        </li>
        <li routerLink="/expense" class="" id="lieight" (click)="setActive($event)">
            <i class="icon" id="li8">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="-29 484 28 24" id="li8">
                    <g id="Group_1181" data-name="Group 1181" transform="translate(-46 -16)">
                        <line id="Line_203" data-name="Line 203" class="cls-1" x2="0.976" transform="translate(30.5 512.5)"/>
                        <line id="Line_179" data-name="Line 179" class="cls-1" x2="0.976" transform="translate(30.5 512.5)"/>
                        <g id="Group_1168" data-name="Group 1168" transform="translate(1)">
                        <line id="Line_180" data-name="Line 180" class="cls-1" x2="0.976" transform="translate(20 522)"/>
                        <rect id="Rectangle_507" data-name="Rectangle 507" class="cls-1" width="3.902" height="10.244" transform="translate(35.122 511.756)"/>
                        <rect id="Rectangle_508" data-name="Rectangle 508" class="cls-1" width="3.902" height="3.415" transform="translate(23.415 518.585)"/>
                        <rect id="Rectangle_509" data-name="Rectangle 509" class="cls-1" width="3.902" height="5.854" transform="translate(29.269 516.146)"/>
                        <line id="Line_181" data-name="Line 181" class="cls-1" x1="19.024" transform="translate(21.951 522)"/>
                        <path id="Path_279" data-name="Path 279" class="cls-1" d="M20.034,1H15.4l1.122,1.122L10.766,7.878,7.741,4.854,1.4,11.2l2.2,2.2L7.449,9.537l3.024,3.024,8.293-8.244,1.268,1.171Z" transform="translate(18.99 501)"/>
                        </g>
                        <rect id="Rectangle_675" data-name="Rectangle 675" class="cls-2" width="28" height="24" transform="translate(17 500)"/>
                    </g>
                </svg>
            </i>
            <span id="li8">Expense</span>
        </li>
        <li routerLink="/campaign" class="" id="linine" (click)="setActive($event)">
            <i class="icon" id="li9">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="-29 545 28 24" id="li9">
                    <g id="Group_1180" data-name="Group 1180" transform="translate(-46 -16)">
                        <g id="Group_1169" data-name="Group 1169" transform="translate(2)">
                        <path id="Path_280" data-name="Path 280" class="cls-1" d="M21.774,6h2.609a.872.872,0,0,1,.87.87V22.956a.872.872,0,0,1-.87.87H10.47a.872.872,0,0,1-.87-.87V15.565" transform="translate(13.139 559.174)"/>
                        <path id="Path_281" data-name="Path 281" class="cls-1" d="M9.6,8.609V6.87A.872.872,0,0,1,10.47,6h2.609" transform="translate(13.139 559.174)"/>
                        <path id="Path_282" data-name="Path 282" class="cls-1" d="M24.035,10h1.739V24.348H13.6V19.565" transform="translate(10.878 556.913)"/>
                        <path id="Path_283" data-name="Path 283" class="cls-1" d="M13.6,12.609V10h1.739" transform="translate(10.878 556.913)"/>
                        <path id="Path_284" data-name="Path 284" class="cls-1" d="M24.991,2.739h-1.3a1.739,1.739,0,1,0-3.478,0H18.9a1.281,1.281,0,0,0-1.3,1.3v1.3h8.7v-1.3A1.281,1.281,0,0,0,24.991,2.739Z" transform="translate(8.618 562)"/>
                        <line id="Line_182" data-name="Line 182" class="cls-1" y2="0.87" transform="translate(30.565 564.304)"/>
                        <path id="Path_285" data-name="Path 285" class="cls-1" d="M4.339,13,12.6,21.261,13.9,24.3,10.861,23,2.6,14.739Z" transform="translate(17.096 555.217)"/>
                        <path id="Path_286" data-name="Path 286" class="cls-1" d="M3,12.1l-.435-.435a.946.946,0,0,0-1.3,0h0a.946.946,0,0,0,0,1.3L1.7,13.4" transform="translate(18 556.122)"/>
                        <line id="Line_183" data-name="Line 183" class="cls-1" x1="1.304" y2="1.304" transform="translate(27.956 576.478)"/>
                        </g>
                        <rect id="Rectangle_676" data-name="Rectangle 676" class="cls-2" width="28" height="24" transform="translate(17 561)"/>
                    </g>
                </svg>
            </i>
            <span id="li9">Compaign</span>
        </li>
        <li routerLink="/exams" class="" id="liten" (click)="setActive($event)">
            <i class="icon" id="liX">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="-29 605 28 24" id="liX">
                    <g id="Group_1179" data-name="Group 1179" transform="translate(-46 -16)">
                        <g id="Group_1167" data-name="Group 1167" transform="translate(1 -1)">
                        <line id="Line_52" data-name="Line 52" class="cls-1" x2="2.174" transform="translate(29.13 641.956)"/>
                        <path id="Path_94" data-name="Path 94" class="cls-1" d="M21.391,15.783V22.3H4V11.87A.872.872,0,0,1,4.87,11H8.783" transform="translate(17.304 618.348)"/>
                        <path id="Path_95" data-name="Path 95" class="cls-1" d="M21,37H1v.87a1.744,1.744,0,0,0,1.739,1.739H19.261A1.744,1.744,0,0,0,21,37.87Z" transform="translate(19 603.652)"/>
                        <path id="Path_96" data-name="Path 96" class="cls-1" d="M17,6.652V2.3A1.281,1.281,0,0,1,18.3,1H28.739a1.281,1.281,0,0,1,1.3,1.3V7.957a1.281,1.281,0,0,1-1.3,1.3H25.261l-3.174,3.174a.435.435,0,0,1-.739-.3V9.261H19.609" transform="translate(9.957 624)"/>
                        <path id="Path_97" data-name="Path 97" class="cls-1" d="M15.957,31.043v-1.13C15.957,28.7,13.435,28,12.478,28S9,28.7,9,29.913v1.13" transform="translate(14.478 608.739)"/>
                        <path id="Path_98" data-name="Path 98" class="cls-1" d="M14.739,16A1.744,1.744,0,0,0,13,17.739v.435a1.739,1.739,0,1,0,3.478,0v-.435A1.744,1.744,0,0,0,14.739,16Z" transform="translate(12.217 615.522)"/>
                        <line id="Line_53" data-name="Line 53" class="cls-1" x2="0.87" transform="translate(31.304 629.348)"/>
                        <line id="Line_54" data-name="Line 54" class="cls-1" x2="0.87" transform="translate(33.043 629.348)"/>
                        <line id="Line_55" data-name="Line 55" class="cls-1" x2="0.87" transform="translate(34.783 629.348)"/>
                        </g>
                        <rect id="Rectangle_677" data-name="Rectangle 677" class="cls-2" width="28" height="24" transform="translate(17 621)"/>
                    </g>
                </svg>    
            </i>
            <span id="liX">Online Exam</span>
        </li>
        <li routerLink="/help" class="" id="lieleven" (click)="setActive($event)">
            <i class="icon" id="li11">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="-29 664 28 24" id="li11">
                    <g id="Group_1178" data-name="Group 1178" transform="translate(-46 -16)">
                        <g id="Group_1170" data-name="Group 1170" transform="translate(1)">
                        <path id="Path_274" data-name="Path 274" class="cls-1" d="M20,46.277V45h6.809v1.277" transform="translate(11.085 655.723)"/>
                        <path id="Path_275" data-name="Path 275" class="cls-1" d="M6.106,13.638a6.384,6.384,0,1,1,7.66-6.255,7.247,7.247,0,0,1-.3,1.957" transform="translate(22 681)"/>
                        <path id="Path_276" data-name="Path 276" class="cls-1" d="M15.553,16.553H14.277V14H13" transform="translate(15.107 673.532)"/>
                        <line id="Line_177" data-name="Line 177" class="cls-1" x2="1.277" transform="translate(28.107 690.085)"/>
                        <line id="Line_178" data-name="Line 178" class="cls-1" y1="0.851" transform="translate(29.383 685.83)"/>
                        <path id="Path_277" data-name="Path 277" class="cls-1" d="M18.553,30.064V28.787a5.922,5.922,0,0,1-1.7-2.553L16,24.532a.855.855,0,0,1,1.319-.426l.851.851H18.6V19.851A.854.854,0,0,1,19.447,19h0a.854.854,0,0,1,.851.851v3.4l2.979.6a1.491,1.491,0,0,1,1.277,1.532v2.128c0,.468-.426.851-.426,1.277v1.277Z" transform="translate(13.383 670.66)"/>
                        <path id="Path_278" data-name="Path 278" class="cls-1" d="M10.957,14.192a4.393,4.393,0,0,1-1.277.17,4.681,4.681,0,1,1,4.681-4.681" transform="translate(19.702 678.702)"/>
                        </g>
                        <rect id="Rectangle_678" data-name="Rectangle 678" class="cls-2" width="28" height="24" transform="translate(17 680)"/>
                    </g>
                </svg> 
            </i>
            <span id="li11">Help Center</span>
        </li>
    </ul>
</nav>
</aside>