@import "../../../../assets/css/style.scss";
@import "../../../../assets/css/wrapper.scss";
@import "../../../../assets/css/common/common.scss";
@import "../../../../assets/css/common/grid.scss";
@import "../../../../assets/css/common/variables.scss";

.nav-list {
    &>li {
        text-align: center;
        padding-top: 6px;
        padding-bottom: 6px;
        border-bottom: 1px solid $border-common;
        // background: $leftMenuBg;
        transition: all 0.2s linear;
        cursor: pointer;
        svg {
            width: 29px;
        }
        span {
            display: block;
            font-size: 10px;
        }
        &:hover,
        &.active {
            background: $leftMenuHoverBg;
            border-left: 1px solid #00ffee;
            span {
                color: $leftMenuTextHoverColor;
            }
            .cls-1 {
                stroke: $leftMenuTextHoverColor;
            }
        }
        .icon {
            img {
                width: 30px;
            }
            rect{
                stroke:none;
            }
        }
    }
}

.header-search {
    .cls-1,
    .cls-2,
    .cls-3 {
        fill: none;
    }
    .cls-1,
    .cls-2 {
        stroke: #0060a3;
        stroke-width: 1.3px;
    }
    .cls-1 {
        stroke-miterlimit: 10;
    }
}

.common-nav {
  background: #0747a6;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  color: white;
  width: 60px;
  border-bottom: none;
}

.search_container{
  border-bottom: 1px solid rgba(255,255,255,0.2);
  width: 60px;
  height: 60px;
  padding-top: 20px;
  padding-left: 18px;
  .search-icon{
    cursor: pointer;
  }
}

// FOR SEARCH Input and result
.search-bar-container{
  position: fixed;
  left: 70px;
  z-index: 110;
  width: 27%;
  padding: 15px;
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  .search-bar-input-container{
    .search-input{
      width: 100%;
      border-radius: 25px;
      padding: 10px;
      font-size: 12px;
      border: 1px solid #d2d2d2;
    }
  }
}

// search css for header



.search-dropdown {
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease;
    transform: translateY(10px);
    position: absolute;
    background: #fff;
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.2196078431372549);
    border-radius: 4px;
    padding: 8px 16px;
    box-sizing: border-box;
    width: 110%;
    margin-top: 10px;
    &.searchView {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
    .sdb {
        &>li {
            padding: 8px 0;
            border-bottom: 2px solid rgba(211, 212, 213, 0.2);
            margin-bottom: 16px;
            &:last-child {
                border-bottom: 0;
                margin-bottom: 0;
            }
            h5 {
                display: flex;
                justify-content: space-between;
                color: #1e2328;
                font-size: 14px;
                span {
                    text-transform: uppercase;
                    opacity: 0.8;
                    margin-bottom: 4px;
                    font-weight: 600;
                }
                margin-bottom: 12px;
            }
        }
    }
    .in-student-list {
        &>li {
            margin-bottom: 0px;
            a {
                display: block;
                margin: 0 -15px;
                padding: 8px 15px;
                &:hover {
                    background: rgba(27, 96, 163, 0.09019607843137255);
                }
                img {
                    float: left;
                    width: 24px;
                    height: 24px;
                    border-radius: 50%;
                    margin-right: 12px;
                }
                .sdb-right {
                    display: block;
                    overflow: hidden;
                    color: rgba(30, 35, 40, 0.7);
                    label {
                        display: block;
                        margin-bottom: 6px;
                        strong {
                            font-weight: 600;
                        }
                        &.recent {
                            display: inline-block;
                            margin-bottom: 6px;
                            width: 60%;
                        }
                        &.delete {
                            display: inline-block;
                            margin-bottom: 6px;
                            font-family: FontAwesome;
                            color: rgba(30, 35, 40, 0.7);
                            width: 35%;
                        }
                    }
                    span {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

.searchbox {
    &:focus {
        .search-dropdown {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
        }
    }
}

@media only screen and (max-width: 960px) and (min-width: 768px) {
    // search css for header
    .header-search {
        position: relative;
        left: 170px;
        top: 7px;
        .form-ctrl-head {
            &.searchbox {
                width: 122px;
                transition: 0.5s ease;
                border-radius: 5px;
                &.has-focus {
                    width: 244px;
                }
            }
        }
        &:hover {
            .form-ctrl-head {
                &.searchbox {
                    width: 244px;
                    transition: 0.5s;
                    border-radius: 5px;
                }
            }
        }
    }
    .header-search {
        .form-ctrl-head {
            &.searchbox {
                &:focus {
                    .search-dropdown {
                        opacity: 1;
                        visibility: visible;
                        transform: translateY(0);
                    }
                }
            }
        }
    }
    .search-dropdown {
        width: 245px;
        left: 171px;
        margin-top: 10px;
    }
}


// Menu list Style
.nav-list > li {
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 0px;
  transition: all 0.6s linear;
  cursor: pointer;
}

.nav-list > li svg {
  width: 29px;
}

.nav-list > li span {
  display: block;
  font-size: 10px;
}

// .nav-list > li:hover, .nav-list > li.active {
//   background: #0084f6;
//   box-shadow: 0px 0px 0px 1px #0084f6;
//   border-bottom: 1px solid #0084f6;
//   color: #fff;
// }
//
// .nav-list > li:hover span, .nav-list > li.active span {
//   color: #fff;
// }
//
// .nav-list > li:hover .cls-1, .nav-list > li.active .cls-1 {
//   stroke: #fff;
// }
//
// .nav-list > li .icon img {
//   width: 30px;
// }

.down-side-bar{
  position: absolute;
  bottom: 10px;
  width: 60px;
  text-align: center;
  ul{
    li{
      height: 40px;
      svg{
        cursor: pointer;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
    .common-nav {
        top: 0;
        padding-top: 92px;
        overflow: auto;
        left: -100%;
        transition: all 0.5s linear 0.1s;
    }
    .common-nav.show {
        left: 0;
        nav {
            ul {
                position: relative;
                z-index: 11;
            }
        }
        nav:after {
            content: '';
            background: rgba(0, 0, 0, 0.5);
            position: fixed;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
        }
    }
    .nav-list>li {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .nav-list>li svg {
        width: 35px;
    }
}

// HELP MENU
.help-menu-container{
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 55px;
  top: 60%;
  background: white;
  width: 250px;
  border-radius: 4px;
  z-index: 105;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.35);
  .help-menu-item{
    cursor: pointer;
    font-size: 12px;
    color: #585574;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid rgba(10, 10, 10, 0.2);
    display: flex;
    flex-direction: row;
    .help-menu-icon-container{
      width: 9%;
      margin-right: 8px;
      img{
        width: 15px;
        height: 15px;
      }
    }
    .help-menu-name{

    }
  }
}

// External menu
.side-menu{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  background: white;
  z-index: 110;
  width: 18%;
  padding: 15px;
  animation-name: slideInLeft;
  animation-duration: 0.5s;
  .side-menu-container{
    display: flex;
    flex-direction: column;
    .back-btn-container{
      img{
        cursor: pointer;
      }
    }
    .account-name-and-icon{
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: flex-start;
      margin-top: 10px;
      .profile-photo-container{
        img{
          width: 35px;
          height: 35px;
          border-radius: 4px;
        }
      }
      .account-name-container{
        font-size: 14px;
        font-weight: 600;
        color: #585574;
        margin-left: 10px;
        font-size: 14px;
      }
    }
    .menu-container{
      display: flex;
      flex-direction: column;
      margin-top: 10px;
      .menu-item{
        display: flex;
        flex-direction: row;
        position: relative;
        .external-menu{
          display: none;
          position: absolute;
          background: white;
          width: 100%;
          left: 105%;
          padding: 10px;
          border-radius: 4px;
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.35);
          z-index: 1;
          // animation-name: slideInLeft;
          // animation-duration: 0.5s;
          .external-menu-item{
            width: 100%;
            margin-bottom: 10px;
            color: #585574;
            font-size: 12px;
            span{
              cursor: pointer;
            }
          }
          .external-menu-item:last-child{
            margin-bottom: 0px;
          }
          .external-menu-item:hover{
            color: #1283f4;
          }
        }
        .current-menu{
          padding: 5px 10px;
          border: 1px solid #d2d2d2;
          margin-bottom: 10px;
          border-radius: 4px;
          cursor: pointer;
          width: 100%;
          display: flex;
          flex-direction: row;
          color: #585574;
          .menu-icon{
            img{
              height: 18px;
              width: 18px;
            }
          }
          .menu-icon:hover{
            fill: #1283f4;
          }
          .menu-name{
            font-weight: 600;
            margin-left: 5px;
            width: 85%;
            font-size: 12px;
            padding-top: 3px;
          }
          .side-menu-icon{
            .fa{
              color: #707070;
              font-size: 10px;
            }
          }
        }
        // .current-menu:hover{
        //   color: #1283f4;
        //   background: #f3f9ff;
        //   border: 1px solid #d4eaff;
        // }
        .active-current-menu{
          color: #1283f4;
          background: #f3f9ff;
          border: 1px solid #d4eaff;
        }
      }
    }
  }

}

.blur-background{
  background: rgba(10,10,10,0.2);
  position: fixed;
  left: 0px;
  top: 0px;
  height: 100%;
  z-index: 100;
  width: 100%;
}

@-webkit-keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
