<div class="middle-section clearFix">
  <aside class="middle-full">
    <section class="middle-main clearFix report-box">
      <section class="">

        <div class="c-lg-4" *ngIf="isProfessional">
          <ul class="card" routerLink="./batches">
            <li>
              Batches
            </li>
            <li>
              Select and archive the batches.
            </li>
          </ul>
        </div>

        <div class="c-lg-4" *ngIf="isProfessional">
          <ul class="card" routerLink="./batchesArchivedReport">
            <li>
              Batches Archived Status Report
            </li>
            <li>
              Get the report of archived batches.
            </li>
          </ul>
        </div>

        <div class="c-lg-4" *ngIf="!isProfessional">
          <ul class="card" routerLink="./courses">
            <li>
              Courses
            </li>
            <li>
              Select and archive the courses.
            </li>
          </ul>
        </div>

        <div class="c-lg-4" *ngIf="!isProfessional">
          <ul class="card" routerLink="./coursesArchivedReport">
            <li>
              Courses Archived Status Report
            </li>
            <li>
              Get the report of archived courses.
            </li>
          </ul>
        </div>

        <div class="c-lg-4">
          <ul class="card" routerLink="./students">
            <li>
              Students
            </li>
            <li>
              Select and archive the students.
            </li>
          </ul>
        </div>

        <div class="c-lg-4">
          <ul class="card" routerLink="./studentsArchivedReport">
            <li>
              Students Archived Status Report
            </li>
            <li>
              Get the report of archived students.
            </li>
          </ul>
        </div>
      </section>
    </section>
  </aside>
</div>
