<div class="middle-section clearFix">
  <aside class="middle-full">
    <section class="middle-main clearFix report-box">
      <section class="">

        <div class="c-lg-4" *ngIf="isProfessional">
          <ul class="card" routerLink="./batches">
            <li>
              Batches
            </li>
            <li>
              Manage Student Wise Fees and Cheque Payments
            </li>
          </ul>
        </div>

        <div class="c-lg-4" *ngIf="!isProfessional">
          <ul class="card" routerLink="./batches">
            <li>
              Courses
            </li>
            <li>
              Manage Student Wise Fees and Cheque Payments
            </li>
          </ul>
        </div>

        <div class="c-lg-4" *ngIf="isProfessional">
          <ul class="card" routerLink="./batchesArchivedReport">
            <li>
              Batches Archived Status Report
            </li>
            <li>
              Monitor the growth of your institute through our state of the art reporting system.
            </li>
          </ul>
        </div>

        <div class="c-lg-4" *ngIf="!isProfessional">
          <ul class="card" routerLink="./batchesArchivedReport">
            <li>
              Courses Archived Status Report
            </li>
            <li>
              Monitor the growth of your institute through our state of the art reporting system.
            </li>
          </ul>
        </div>

        <div class="c-lg-4">
          <ul class="card" routerLink="./students">
            <li>
              Students
            </li>
            <li>
              .....
            </li>
          </ul>
        </div>

        <div class="c-lg-4">
          <ul class="card" routerLink="./studentsArchivedReport">
            <li>
              Students Archived Status Report
            </li>
            <li>
              Create, Organize PTM Keeping Parents And Students Updated
            </li>
          </ul>
        </div>
      </section>
    </section>
  </aside>
</div>