<div class="middle-section clearFix">
  <aside class="middle-full">
      <section class="middle-main clearFix">
          <section class="activity-box-container">
            <div class="activity-container">

              <div class="activity-item-container" routerLink="../details">
                <div class="img_name_container">
                  <img src="./assets/images/activity/cheque.svg" alt="">
                  <span>Manage Product</span>
                </div>
                <div class="activity-description">
                  <span>Create, Organize Product Keeping Students Updated</span>
                </div>
              </div>
              <div class="activity-item-container" routerLink="../sales-report">
                <div class="img_name_container">
                  <img src="./assets/images/activity/reports.svg" alt="">
                  <span>Sales Report</span>
                </div>
                <div class="activity-description">
                  <span>This Report depicts the records of all the past and present product purchase Details </span>
                </div>
              </div>

              <!-- <div class="activity-item-container" routerLink="../groups">
                <div class="img_name_container">
                  <img src="./assets/images/activity/ptm.svg" alt="">
                  <span>Manage Group </span>
                </div>
                <div class="activity-description">
                  <span>Create and Manage Products Groups </span>
                </div>
              </div> -->
            </div>

          </section>
      </section>
  </aside>
</div>
