<div class="middle-section clearFix" id="enquiryList">
  <section class="middle-top clearFix">
    <h1 class="pull-left">
      Bulk Enquiry Upload
    </h1>
    <aside class="pull-right">
      <input type="button" value="Download Bulk Upload .xls Template" class="btn" />
      <input type="button" value="Add Single Enquiry" routerLink='/enquiry/addEnquiry' class="btn" />
    </aside>
  </section>
  <!--====================================middle <Main> section==========================-->
  <section class="middle-main clearFix" id="bulkEnquiryMain">
    <div class="file-upload-box">
      <div class="select-file-upload">
        <h5>Select a file to upload</h5>
        <div class="file-wrapper">
          <ul>
            <li>
              <label>Choose an .xls file</label>
              <div class="choose-file">
                <input type="file" class="uploadFile" value="" />
                <input type="text" class="uploadFileField" value="" /><input type="button" class="btn fullBlue" value="Browse"
                />
              </div>
              <div class="uploadProcessAndFileName clearfix">
                <div class="file-uploaded">
                  <span>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="9310 2185 16 16">
                                    <g id="Group_1228" data-name="Group 1228" transform="translate(8298 1888)">
                                        <g id="Group_1213" data-name="Group 1213" transform="translate(34.189 -7.77)">
                                        <line id="Line_274" data-name="Line 274" class="cls-1" y2="19.798" transform="translate(992.81 305.77) rotate(45)"></line>
                                        <line id="Line_275" data-name="Line 275" class="cls-1" x1="19.798" transform="translate(978.81 305.77) rotate(45)"></line>
                                        </g>
                                        <rect id="Rectangle_686" data-name="Rectangle 686" class="cls-2" width="16" height="16" transform="translate(1012 297)"></rect>
                                    </g>
                                </svg>    
                                </span> 1 Coaching_Institute-BulkUpload_21July.xls</div>
                <div class="progress-bar-wrapper">
                  <div class="upload-bar">
                    <div></div>
                  </div>
                  <span>35% Complete</span>
                </div>
                <label class="cancel-upload">Cancel upload</label>
              </div>
            </li>
          </ul>
          <div class="upload-another">
            <a href="#">+ Upload another file</a>
          </div>
        </div>
      </div>
      <div class="drag-drop-box">
        <h5>Or Drag and drop files here to upload</h5>
        <div class="file-wrapper">
          <div class="dropable-area">Drag and Drop Files Here</div>
          <div class="uploadProcessAndFileName clearfix">
            <div class="file-uploaded">
              <span>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="9310 2185 16 16">
                                <g id="Group_1228" data-name="Group 1228" transform="translate(8298 1888)">
                                    <g id="Group_1213" data-name="Group 1213" transform="translate(34.189 -7.77)">
                                    <line id="Line_274" data-name="Line 274" class="cls-1" y2="19.798" transform="translate(992.81 305.77) rotate(45)"></line>
                                    <line id="Line_275" data-name="Line 275" class="cls-1" x1="19.798" transform="translate(978.81 305.77) rotate(45)"></line>
                                    </g>
                                    <rect id="Rectangle_686" data-name="Rectangle 686" class="cls-2" width="16" height="16" transform="translate(1012 297)"></rect>
                                </g>
                            </svg>    
                            </span> 1 Coaching_Institute-BulkUpload_21July.xls</div>
            <div class="progress-bar-wrapper">
              <div class="upload-bar">
                <div></div>
              </div>
              <span>35% Complete</span>
            </div>
            <label class="cancel-upload">Cancel upload</label>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>