.batch-wrapper{
    tr {
        td {
        }
        th {
            text-align: left;
            padding: 15px;
        }
        td {
            padding: 10px 5px;
            text-align: left;
            .field-wrapper {
                position: relative;
                padding-top: 0px;
                &.datePickerBox {
                    .bsDatepicker {
                        cursor: pointer;
                        position: relative;
                        z-index: 1;
                        background: transparent;
                        width: 120px;
                    }
                    &:after {
                        content: '';
                        background: url("../../../../assets/images/calendar.svg") no-repeat;
                        position: absolute;
                        left: 97px;
                        top: 10px;
                        width: 21px;
                        height: 21px;
                        z-index: 0;
                    }
                }
                .date-clear {
                    position: absolute;
                    right: 60%;
                    top: 50px;
                    cursor: pointer;
                    color: #0084f6;
                }
                .form-ctrl {
                    background: transparent;

                }
            }
        }
    }
    .row{
        margin: 0px;
    }
}