<div class="middle-section clearFix">

  <div class="error-wrapper">
    <nav class="shelf">
      <a class="book home-page" href="http://www.proctur.com">Home page</a>
      <a class="book about-us" href="http://www.proctur.com/proctur/">About us</a>
      <a class="book contact" href="http://www.proctur.com/contact/">Contact</a>

      <span class="book not-found"></span>

      <span class="door left"></span>
      <span class="door right"></span>
    </nav>
    <h1>Error 404</h1>
    <p>The page you're loking for can't be found</p>
  </div>

</div>