html {
  overflow-y: scroll;
}
.disabled {
    color: #000;
    font-weight: bold;
    cursor: not-allowed;
}
.middle-section{
  padding: 1%;
}
.border-container{
  border-top: 1px solid #e3e3e3;
}


.header-container{
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  margin: 10px 0;
  margin-bottom: 0;
  .header-item{
    display: flex;
    flex-direction: row;
    width: 20%;
    padding: 0.5em;
    .header-title{
      font-size: 14px;
      font-weight: 600;
    }
    .header-value{
      margin-left: 5px;
      font-size: 14px;
      font-weight: 400;
    }
  }
}

.search-bar-container{
  display: flex;
  justify-content: flex-end;
  .search-box{
    border-radius: 4px;
    border: 1px solid #b4b6bd;
    width: 100%;
    line-height: 30px;
    padding: 0 10px;
    font-size: 12px;
  }
  .field-wrapper {
    position: relative;
    padding-top: 0;
}
}


.table-container {
  .sm-item{
    width: 10%;
  }
  .md-item{
    width: 18%;
  }
  .partially{
    color: #ff6c24;
  }
  .absent{
    color: red;
  }
  .present{
    color: #00b55a;
  }
}


.table-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 10px;
  .table-heading-container{
    background: #e0eaec;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    border-bottom: 1px solid #ccc;
  .table-heading-item{
    color: #585574;
    font-weight: 600;
    font-size: 12px;
    padding: 0px 5px;
    // text-align: center;
  }
}

.table-value-outer-container{
  height: 58vh;
  overflow-y: auto;
}
  .table-value-container{
    min-height: 34px;
    display: flex;
    flex-direction: row;
    background: #ffffff;
    border-radius: 4px;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.16);
    margin-bottom: 10px;
    padding: 5px 0px;
    position: relative;
    .table-value-item{
      color: #585574;
      font-weight: 400;
      font-size: 12px;
      line-height: 1.5;
      // text-align: center;
      display: -webkit-box;
      -webkit-box-align: center;
      padding: 0px 5px;
      word-break: break-all;
    }
  }
  .small{
    width: 15%;
    font-size: 12px;
  }
  .medium{
    width: 17%;
    font-size: 12px;
  }
  .large{
    width: 30%;
    font-size: 12px;
  }
  .action{
    width: 10%;
    position: absolute;
    // text-align: center;
    right: 0px;
  }

  .product_List_Container{
    color: #ffffff;
    border-radius: 4px;
    border: 1px solid #ffffff;
    background: #8d8d8d;
    cursor: default;
    padding: 2px 10px;
    width: 95px;
    font-weight: 600;
  }

  .partially-border{
    border-left: 5px solid #ff6c24;
  }
  .absent-border{
    border-left: 5px solid #df0d2f;
  }
  .present-border{
    border-left: 5px solid #00b55a;
  }

  
.illustration-container{
  display: block;
  .illustration-img{
    width: 40%;
    margin-left: 12%;
    margin-top: -2%;

  }
}
}