
body {
    background: #EEEEF4;
    color: #999;
}

h1 {
    font-weight: 100;
    font-size: 27pt;
    color: #E43;
}

p {
    font-weight: 300;
}

.middle-section {
    padding: 5px 15px;
    width: 100%;
    box-sizing: border-box;
    .middle-top{
        h2{
            color: black;
            font-weight: unset;
            padding-top: 20px;
        }
    }

    .form-wrapper {
        background: transparent;
        margin: 25px 0px;
       
        .btn{
                margin-top:10px;
                width:30%;
        }
        label {
            padding-left:25px;
            font-size: 12px;
            font-weight: 400; 
            color: 0084f6;
            text-decoration: none;
            text-transform: uppercase;
            -webkit-font-smoothing: antialiased;
            width:100%;
        }
        .side-form-ctrl {
            background: white;
            border: 1px solid rgba(119, 119, 119, 0.4196078431372549);
            width: 60%;
            padding-left:10px;
            margin-left: 10px;
            height: 30px;
            padding: 0px 5px;
            font-weight: 600;
            font-size: 14px;
            color: black;
            
            &.bsDatepicker {
                
                padding-left:10px;
                margin-left: 20px;
                width: 60%;
            }
        }
       
    }
}