<section class="middle-section">
    <!-- course module -->
    <section class="header-section"> 
      <div>
          <div class="header-title">
              <span> Communicate</span>
            </div>
      </div>  
    </section>
  <div class="course-menu-section-container" >
    <!-- <div class="course-menu-item hide" routerLink="/view/communicate/manage-sms">
      <div class="menu-title">
        <img src="./assets/images/communicate/manage_sms.svg" alt="Manage sms">
        <span>Manage SMS</span>
      </div>
      <div class="menu-description">
        <span></span>
      </div>
    </div>
    <div class="course-menu-item hide" routerLink="/view/communicate/send-sms-email">
      <div class="menu-title">
        <img src="./assets/images/communicate/manage_sms.svg" alt="send sms / email">
        <span>Send SMS / Email</span>
      </div>
      <div class="menu-description">
        <span> </span>
      </div>
    </div> -->
    <div class="course-menu-item" routerLink="../sms" *ngIf="showSMSReport">
      <div class="menu-title">
        <img src="./assets/images/communicate/send_sms.svg" alt="sms report">
        <span>SMS Report </span>
      </div>
      <div class="menu-description">
        <span>This Report depicts the daily SMS sent to prospects, students and parents</span>
      </div>
    </div>
    <div class="course-menu-item" routerLink="../email" *ngIf="showEmailReport">
      <div class="menu-title">
        <img src="./assets/images/communicate/email_report.svg" alt="email report">
        <span>Email Report </span>
      </div>
      <div class="menu-description">
        <span>Detail of emails sent to prospect, student and parent on selected date range.</span>
      </div>
    </div>
    <div class="course-menu-item"  routerLink="../ptm">
      <div class="menu-title">
        <img src="./assets/images/communicate/ptm.svg" alt="ptm management">
        <span>PTM Management</span>
      </div>
      <div class="menu-description">
        <span>Create, Organize PTM Keeping Parents And Students Updated</span>
      </div>
    </div>

    <div class="course-menu-item" routerLink="../event">
      <div class="menu-title">
        <img src="./assets/images/communicate/event_management.svg" alt="event management">
        <span>Event management</span>
      </div>
      <div class="menu-description">
        <span>Create and manage events, assign them their type and communicate it with students/parents via SMS or notifications.</span>
      </div>
    </div>
  </div>
</section>
