<loaders-css [loader]="'ball-scale-ripple-multiple'" class="app-loader-wrapper" [loaderClass]="'blueRipple'" *ngIf="isRippleLoad">
</loaders-css>
<section class="middle-section clearFix">
    <div class="firstScreen">
        <!-- Standard Layout START -->
        <div class="marginExtra">
            <div class="row class filter-res filter-for-courses" style="margin-top:10px;margin-bottom: 10px">
                <div class="c-lg-6 c-md-6 c-sm-6">
                    <div class="clearFix add-edit">
                        <a (click)="toggleCreateNewStandard()">
                            <i id="showAddBtn" class="addBtnClass">+</i>
                            <i id="showCloseBtn" style="display:none" class="closeBtnClass">-</i>
                            <span *ngIf="(isLangInstitue != true)">Add Standard</span>
                            <span *ngIf="(isLangInstitue == true)">Add Master Course</span>
                        </a>
                    </div>
                </div>
                <div class="pull-right" style="margin-right: 15px;">
                    <div class="search-filter-wrapper ">
                        <input type="text" class="normal-field pull-right" placeholder="Search" name="searchData" #searchVal (keyup)="searchInList(searchVal)">
                    </div>
                </div>
            </div>
            <section class="clearFix create-standard-form" *ngIf="createNewStandard">
                <div class="c-lg-6 c-sm-6 c-md-6">
                    <div class="row create-standard-field">
                        <div class="c-lg-8 c-md-6 c-ms-6">
                            <div class="field-wrapper" [ngClass]="{'has-value' : newStandardDetails.standard_name != ''}">
                                <input type="text" class="form-ctrl" [(ngModel)]="newStandardDetails.standard_name" name="standard_name" id="StdName" #standard_name="ngModel"
                                    required courseInput>
                                <div *ngIf="standard_name.invalid && (standard_name.dirty || standard_name.touched || no_standard_name)" class="alert invalid-alert">
                                    <div *ngIf="standard_name.errors.required">
                                        <span *ngIf="(isLangInstitue != true)">Please enter valid Standard Name</span>
                                        <span *ngIf="(isLangInstitue == true)">Please enter valid Master Course</span>
                                    </div>
                                </div>
                                <label (click)="clickSN()" *ngIf="(isLangInstitue != true)">Standard Name</label>
                                <label (click)="clickSN()" *ngIf="(isLangInstitue == true)">Master Course Name</label>

                            </div>
                            <p>* Example X XII, B.Com</p>
                        </div>
                        <div class="c-lg-4 c-md-4 c-ms-4">
                            <div class="field-checkbox-wrapper">
                                <input type="checkbox" name="check" class="form-checkbox" [(ngModel)]="newStandardDetails.is_active" id="isAct">
                                <label for="isAct">Is Active</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="c-lg-3 c-sm-4 c-md-4 pull-right">
                    <aside class="pull-left create-cancel-small">
                        <input type="button" value="Cancel" class="btn" (click)="toggleCreateNewStandard()">
                        <input type="button" value="Create" class="btn fullBlue" (click)="addNewStandard()">
                    </aside>
                </div>
            </section>
            <div class="fee-install-table courses-list-table">
                <div class="table-responsive">
                    <table>
                        <thead>
                            <tr>
                                <th>
                                    <label style="cursor:pointer;" (click)="sortTable('standard_id')">ID</label>
                                </th>
                                <th>
                                    <label *ngIf="(isLangInstitue != true)" style="cursor:pointer;" (click)="sortTable('standard_name')">Standard</label>
                                    <label *ngIf="(isLangInstitue == true)" style="cursor:pointer;" (click)="sortTable('standard_name')">Master Course</label>
                                </th>
                                <th>
                                    <label style="cursor:pointer;" (click)="sortTable('is_active')">Is Active</label>
                                </th>
                                <th>
                                    <i *ngIf="sortingDir == 'asc'" (click)="sortTable('created_date')" class="fas fa-caret-up" style="font-family: FontAwesome;"></i>
                                    <i *ngIf="sortingDir != 'asc'" (click)="sortTable('created_date')" class="fas fa-caret-down" style="font-family: FontAwesome;"></i>
                                    <label style="cursor:pointer;" (click)="sortTable('created_date')">Added Date</label>
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody *ngIf="( standardList.length != 0)">
                            <tr (click)="rowClickEvent(i)" class="displayComp" id="row{{i}}" *ngFor="let row of standardList; let i = index; trackBy: i;"
                                [class.selected]="i == selectedRow">
                                <td>
                                    {{row.standard_id}}
                                </td>

                                <td class="view-comp">
                                    {{row.standard_name}}
                                </td>
                                <td class="edit-comp">
                                    <div class="field-wrapper">
                                        <input type="text" class="form-ctrl" [(ngModel)]="row.standard_name" name="label" style="margin: auto;">
                                    </div>
                                </td>

                                <td class="view-comp">
                                    {{row.is_active}}
                                </td>
                                <td class="edit-comp">
                                    <div class="field-wrapper has-value">
                                        <select id="issearchable" class="form-ctrl" name="issearchable" [(ngModel)]="row.is_active" style="margin: auto;" (focus)="inputClickedCheck($event)">
                                            <option value="Y">Yes</option>
                                            <option value="N">No</option>
                                        </select>
                                    </div>
                                </td>

                                <td>
                                    {{row.created_date}}
                                </td>

                                <td class="view-comp">
                                    <a style="cursor: pointer;" (click)="editRow(i)">
                                        <i class="edit-icon" aria-hidden="true" title="Edit"></i> Edit
                                    </a>
                                    <a style="cursor: pointer;" (click)="deleteRow(row)">
                                        <i aria-hidden="true" style="margin-left: 5px;" title="Edit"></i> Delete
                                    </a>
                                </td>
                                <td class="edit-comp">
                                    <a style="cursor: pointer;margin-right: 10px;" (click)="updateRow(row,i)">
                                        <i class="fas fa-check" style="font-family: FontAwesome ;font-size: 19px;" title="Update"></i> Update
                                    </a>
                                    <a style="cursor: pointer;" (click)="cancelRow(i)">
                                        <i class="fas fa fa-times" style="font-family: FontAwesome ;font-size: 19px;" title="Cancel"></i> Cancel
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="standardList.length == 0 && dataStatus === 1">
                            <tr *ngFor="let dummy of dummyArr">
                                <td *ngFor="let c of columnMaps">
                                    <div class="skeleton">
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="standardList.length == 0 && dataStatus === 2">
                            <tr>
                                <td colspan="5" style="text-align:center">
                                    No Data Found
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Paginator Here -->
            <div class="row filter-res pagination" style="width: 100%;">
                <div class="c-lg-12 c-md-12 c-sm-12 align-right">
                    <pagination (goPage)="fetchTableDataByPage($event)" (goNext)="fetchNext()" (goPrev)="fetchPrevious()" [pagesToShow]="10"
                        [page]="PageIndex" [perPage]="displayBatchSize" [count]="totalRow">
                    </pagination>
                </div>
            </div>
        </div>
        <!-- Standard Layout END -->
    </div>
</section>