<loaders-css [loader]="'ball-scale-ripple-multiple'" class="app-loader-wrapper" [loaderClass]="'blueRipple'" *ngIf="isRippleLoad">
  </loaders-css>

<div class="container-fluid product-wrapper p-0">
  <div class="row m-0 pt-3 pb-3" style="border-bottom: 1pt solid #ddd;">
    <div class="col-md-8">
      <section class="middle-top clearFix bulk-header">
        <div>
          <h1 class="pull-left">
            <a routerLink="/view/products" style="padding:0px; ">
              Product
            </a>
            <i style="font-family: 'FontAwesome';" class="fas fa-angle-right"></i>
            <span> Product Details </span>
          </h1>
        </div>
      </section>
    </div>
    <div class="col-md-4 col-sm-4 text-right m-auto">
      <button class="btn btn-primary btn-product " routerLink="/view/products/create">New Product</button>
    </div>
  </div>
  <div class="row m-0 action-bar">
    <div class="col-md-12 col-sm-12 container">
      <div class="form-group field-wrapper form-el-width">
        <label class="text-bold">E-course</label>
        <select [(ngModel)]="filter.ecourse_id" class="form-ctrl" (ngModelChange)="getSubjectList()" >
          <option value="-1"  selected>Select E-course</option>
          <option *ngFor="let course of ecourseList" [value]="course.course_type_id">{{course.course_type}}</option>
        </select>
      </div>

      <!-- <div class="form-group field-wrapper form-el-width">
        <label class="text-bold">Standard</label>
        <select [(ngModel)]="filter.standard_id" class="form-ctrl" (ngModelChange)="getSubjectList()" name="cc" id="cc">
          <option value="-1" disabled selected>Select Standard</option>
          <option *ngFor="let std of standardList" [value]="std.exam_id">{{std.standard_name}}</option>
        </select>
      </div> -->

      <div class="form-group  field-wrapper form-el-width">
        <label class="text-bold">Subject</label>
        <select [(ngModel)]="filter.subject_id" class="form-ctrl" (ngModelChange)="getSubjectList()" name="cc" id="cc">
          <option value="-1" selected>Select Subject</option>
          <option *ngFor="let sub of subjectsList" [value]="sub.subject_id">{{sub.subject_name}}</option>
        </select>
      </div>

      <button class="btn btn-primary btn-product btn_go" (click)="filterData()">GO</button>

    </div>
  </div>


  <div class="row m-0 pt-0 product-list-wrapper">
    <div class="col-md-12 table-wrapper p-0">
      <table class="table product-table">
        <thead class="product-table-head">
          <tr>
            <!-- <th width="5%">
              <div class="field-checkbox-wrapper">
                <input type="checkbox" class="form-checkbox" [checked]="jsonKeys.selectAll"  (change)="toggleAllCheckBox($event)" id="ch2">
                <label for="ch2"></label>
              </div>
            </th> -->
            <th width="5%">View</th>
            <th width="20%">Product Name</th>
            <th>E-course</th>
            <th class="text-center">Status</th>
            <th class="text-center">Start Date</th>
            <th class="text-center">End Date</th>
            <th width="8%" class="text-center">Price</th>
            <!-- <th width="8%" class="text-center">Sale</th> -->
            <th width="8%" class="text-center">Action</th>
          </tr>
        </thead>
        <tbody class="product-table-body">
          <tr *ngFor="let item of productList">
            <!-- <td>
                <div class="field-checkbox-wrapper">
                    <input type="checkbox" class="form-checkbox" [checked]="item.isSelected" [(ngModel)]="item.isSelected" (ngModelChange)="isAllSelected($event,item)" id="ch2">
                    <label for="ch2"></label>
                  </div>
            </td> -->
            <td>
              <img src="assets/images/file_manager/image.svg" style="height: 25px;;" class="img-responsive"
                alt="product image">
              <!-- [src]="item.product_image" -->
            </td>
            <td>
              <p class="m-0 text-bold">{{item.title}}</p>
            </td>
            <td  style="width:20%">
               <span class="ecourse-list" *ngFor="let  ecourse of item.product_ecourse_maps">
                  {{ecourse.course_type}}  
               </span>
              </td>
            <td class="text-center text-bold">
              <span *ngIf="item.status == 10" class="text-primary">Draft</span>
              <!-- <span *ngIf="item.status == 20" class="text-warning">Ready</span> -->
              <span *ngIf="item.status == 20" class="text-success">Published</span>
              <span *ngIf="item.status == 30" class="text-secondary">Unpublished</span>
            </td>
            <td class="text-center">
              <p class="m-0 text-bold">{{item.valid_from_date | date: 'dd MMM yy, HH:mm'}}</p>
            </td>
            <td class="text-center">
              <p class="m-0 text-bold">{{item.valid_to_date   | date: 'dd MMM yy, HH:mm'}}</p>
            </td>
            <td class="text-center">
              <span *ngIf="item.price <= 0" class="text-active text-bold">Free</span>
              <span *ngIf="item.price > 0" class="text-bold">
                <i class="fa fa-inr"></i>{{item.price}}</span>
            </td>
            <!-- <td class="text-center">
                  20 <i class="fas fa-users"></i>
              </td> -->
            <td class="text-center">
              <div class="dropdown dropleft">
                <button class="btn btn-light btn-xs dropdown-toggle" type="button" (click)="toggleActionMenu($event)"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-caret-left" aria-hidden="true"></i> &nbsp;
                  Action
                </button>
                <div class="dropdown-menu horizontal-menu" aria-labelledby="actionMenu">
                  <a class="dropdown-item" [routerLink]="['/view/products/create/'+item.entity_id+'/basic']">Edit</a>
                  <a class="dropdown-item" (click)="actionProductModal('delete', item.entity_id)">Delete</a>
                  <a class="dropdown-item" (click)="actionProductModal('publish', item.entity_id)"
                    *ngIf="item.status != 20">Publish</a>
                  <a class="dropdown-item" (click)="actionProductModal('unpublish', item.entity_id)"
                    *ngIf="item.status == 20">Unpublished</a>
                </div>
              </div>
            </td>
          </tr>

          <ng-container *ngIf="productList.length < 1 && !productListLoading">
            <tr>
              <td colspan="7">No Records Found</td>
            </tr>
          </ng-container>

          <ng-container *ngIf="productListLoading">
            <tr>
              <td colspan="7" class="text-center">
                <i class="fa fa-spinner"></i>&nbsp; Loading...
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>

    <!-- Pagination -->
    <div class="col-md-12" style="text-align: right;" *ngIf="(productList.length > 0) && !productListLoading">
      <span class="float-left">{{productList.length}} of {{total_items}} items</span>
      <button class="btn btn-light btn-sm float-right" *ngIf="productList.length < total_items"
        (click)="loadMoreItems()">Load More</button>
    </div>
  </div>
</div>


<!-- Delete/Publish Product Modal -->
<div class="modal fade" id="actionProductModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <div class="form-group">
          <p class="lead">Do you want to {{deleteItem.operation}}
            <B>"{{deleteItem.title}}"</B>?</p>
        </div>
        <div class="form-group m-0">
          <button type="button" class="btn btn-sm" data-dismiss="modal">Cancel</button>
          &nbsp;
          <button type="submit" class="btn {{deleteItem.btnClass}} btn-sm"
            (click)="confirmAction(deleteItem.operation, deleteItem.entity_id)">{{deleteItem.btnText}}</button>
        </div>
      </div>
    </div>
  </div>
</div>