<div class="middle-section clearFix">
  <section class="middle-top mb0 clearFix" style="padding-bottom:0px;">
    <h1 class="pull-left marginhead">
      Manage Events
    </h1>
    <section class="middle-main clearFix">
      <div class="clearFix add-edit">
        <span class="pull-right space-size">Add</span>
      </div>
      <div class="row">
        <div class="c-sm-2 c-xs-2 c-lg-2 c-md-62form-wrapper">
          <label>Month</label>
          <select class="side-form-ctrl" id="two" [(ngModel)]="list_obj.month">
            <option></option>
            <option name="month">{{month}}</option>
          </select>
        </div>


        <div class="c-sm-2 c-xs-2 c-lg-2 c-md-62form-wrapper">
          <label>Year</label>
          <select class="side-form-ctrl" id="two" [(ngModel)]="list_obj.year">
            <option>
            </option>
            <option name="month">{{year}}</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="c-sm-2 c-xs-2 c-lg-2 c-md-62form-wrapper">
          <div class="field-radio-wrapper">
            <input class="form-radio" type="radio" name="discount" value="all" id='r1' [(ngModel)]="list_obj.event_type">
            <label for="r1">Holiday</label>
          </div>
        </div>
        <div class="c-sm-2 c-xs-2 c-lg-2 c-md-62form-wrapper">
          <div class="field-radio-wrapper">
            <input class="form-radio" type="radio" name="discount" value="all" id='r1' [(ngModel)]="list_obj.event_type">
            <label for="r1">General</label>
          </div>
        </div>
      </div>
    </section>
  </section>
</div>

<div id="divSlotTable">
  <div class="table-scroll-wrapper">
    <div class="table table-responsive">
      <table>
        <thead>
          <tr>
              <th>
                  S.No.
                </th>
            <th>
              Event Name
            </th>
            <th>
              Event Type
            </th>
            <th>
              Description
            </th>
            <th>
              Date
            </th>
            <th>
              Edit
            </th>
            <th>Delete
            </th>
            <th>Send Push Notification
            </th>
          </tr>
        </thead>
        <tbody *ngIf="eventRecord.length !=0">
          <tr id="row{{i}}" class="displayComp" *ngFor="let row of  pagedSourceData; let i = index; trackBy: i;">
            <td>
              {{i + 1}}
            </td>

            <td class="view-comp">
              {{row.event_type}}
            </td>

            <td class="view-comp">
              {{row.event_type_name}}
            </td>
            <td class="view-comp">
              {{row.holiday_desc}}
            </td>

            <td class="view-comp">
              {{row.event_date_range}}
            </td>
            <td class="view-comp">
                <span class="pull-right"  style="cursor: pointer;padding-right: 9% !important;text-align: left;">
                    <i class="edit-icon" aria-hidden="true" style="margin-right: 5px;" title="Edit"></i>Edit
                  </span>
              </td>
              <td class="view-comp">
                  <span class="pull-right"  style="cursor: pointer;padding-right: 9% !important;text-align: left;">
                      <i class="fa fa-trash-o" aria-hidden="true" style="margin-right: 5px;" title="Edit"></i>Delete
                    </span>
                
                </td>
            <td class="view-comp">
              <a href= ""onclick="sendNotificationAlert(27)">send</a>
            </td>
          </tr>
        </tbody>
        <tbody *ngIf="eventRecord.length ==0">
          <td colspan="4" style="text-align: center">
            ClassList Record Not
          </td>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Paginator Here -->
  <div class="row filter-res pagination" style="width: 100%;">
    <div class="c-lg-12 c-md-12 c-sm-12 align-right">
      <pagination (goPage)="fetchTableDataByPage($event)" (goNext)="fetchNext()" (goPrev)="fetchPrevious()" [pagesToShow]="10"
        [page]="pageIndex" [perPage]="displayBatchSize" [count]="totalRow">
      </pagination>
    </div>
  </div>

</div>

<!--

<proctur-popup [sizeWidth]="'large'">

  <span class="closePopup pos-abs fbold show" (click)="closeReportPopup()" close-button>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="9310 2185 16 16">
      <g id="Group_1228" data-name="Group 1228" transform="translate(8298 1888)">
        <g id="Group_1213" data-name="Group 1213" transform="translate(34.189 -7.77)">
          <line id="Line_274" data-name="Line 274" class="cls-1" y2="19.798" transform="translate(992.81 305.77) rotate(45)" />
          <line id="Line_275" data-name="Line 275" class="cls-1" x1="19.798" transform="translate(978.81 305.77) rotate(45)" />
        </g>
        <rect id="Rectangle_686" data-name="Rectangle 686" style="stroke:none;" class="cls-2" width="16" height="16" transform="translate(1012 297)"
        />
      </g>
    </svg>
  </span>

  <h2 popup-header>Create Event</h2>
  <div class="c-sm-2 c-xs-2 c-lg-2 c-md-62form-wrapper">
    <label>Event Type</label>
    <select class="side-form-ctrl" id="two" [(ngModel)]="list_obj.year">
      <option>
      </option>
      <option name="HOLIDAY">{{year}}</option>
    </select>
  </div>
  <div class="c -sm-2 c-xs-2 c-lg-2 c-md-2">
    <lable>Holiday Type</lable>
    <select class="side-form-ctrl" id="two" [(ngModel)]="">
      <option></option>
      <option name="GOVERNMENT">{{}}</option>
    </select>
  </div>

  <div class="c-lg-2 c-md-2 c-sm-2">
    <div class="field-wrapper">
      <input type="text" class="form-ctrl" name="eventName" [(ngModel)]="">
      <label>Event Name*
        <span>*</span>
      </label>
    </div>
  </div>
  <div class="c-lg-2 c-md-2 c-sm-2">
    <div class="field-wrapper">
      <input type="text" class="form-ctrl" name="eventName" [(ngModel)]="">
      <label>Description
        <span>*</span>
      </label>
    </div>
  </div>

  <div class="c-lg-2 c-md-2 c-sm-2">
    <div class="field-wrapper">
      <input type="text" class="form-ctrl" name="eventName" [(ngModel)]="">
      <label>Long Description
        <span>*</span>
      </label>
    </div>
  </div>


  popup-content>

</proctur-popup>-->