<!-- Main screen where content will be rendered -->

<div class="center-content">

  <div id="dropZone" #dropZone (drop)="onDrop($event)" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)" class="drop-area">

    <p-fileUpload #uploaders mode="advanced" *ngIf="dragoverflag" customUpload="true" multiple="multiple" (onSelect)="onSelect($event, uploaders)"
      (clear)="clearSelectedFiles($event)">
    </p-fileUpload>

  </div>


  <!-- Header for the Drive -->
  <header class="top-nav">

    <h1 class="pull-left">
      <a routerLink="/view/course">
        Course
      </a>
      <i style="font-family: 'FontAwesome';" class="fas fa-angle-right"></i>File Manager
      <div style="font-size: 12px;margin-top: 6px;">
        <a class="pathAnchor" *ngFor="let path of pathArray; let j = index" (click)="collapseString(j)">
          {{path}} /
        </a>
      </div>
    </h1>
    <div class="pull-right" style="position: relative;top: 14px; width:10%;">
      <i class="fa fa-upload" (click)="uploadBox()" title="Upload File" style="font-family: 'FontAwesome' ; display: inline-block; font-size: 17px; color: #52454596;"
        id="upload">
      </i>&nbsp;&nbsp;&nbsp;
      <i class="fa fa-folder-open" style="font-size: 17px; color: #52454596; margin-left: 1%; display: inline-block;" title="Make Folder"
        (click)="makeFolderOpen()"></i>
    </div>
  </header>

  <div class="files-cont">
    <!-- Files and Folder for Group to be Inserted  -->
    <div #DragContainer class="grid__container row row--no-right">
      <!-- Side Tree View For Folder Display -->
      <div class="col-sm-3 tree__view" (dragover)="onDragOverFolder($event, null)" (dragleave)="onDragLeaveFolder($event, null)">
        <h3></h3>
        <p-tree (onNodeCollapse)="onNodeCollapse($event)" (onNodeContextMenuSelect)="onNodeContextMenuSelect($event)" (onNodeExpand)="onNodeExpand($event)"
          (onNodeSelect)="onNodeSelect($event)" [styleClass]="'tree__view_list'" #expandingTree [value]="treeNodeData">
        </p-tree>

      </div>

      <!-- Preview Mode for Viewing the files on grid or list view -->
      <div class="col-sm-9">
        <div class="" (dragover)="onDragOverFolder($event, null)" (dragleave)="onDragLeaveFolder($event, null)">
          <div class="file table__header">
            <div class="file__img"></div>
            <div class="file__info">
              <h2 class="file__details file__header__name">
                File Name
              </h2>

              <div class="file__details" style="width:15%;">
                Category
              </div>

              <div class="file__details file__owner">
                Owner
              </div>

              <div class="file__details file__date">
                Uploaded On
              </div>

              <div class="file__details file__size">
                File Size
              </div>

              <div class="file__details">
                Downloads
              </div>

            </div>
          </div>
        </div>

        <div>
          <div (dragover)="onDragOverFolder($event, folder)" (dragleave)="onDragLeaveFolder($event, folder)" (dblclick)="folderSelected(folder)"
            *ngFor="let folder of folderDisplayArr" class="file folder folder-file">
            <div class="file__img"></div>
            <div class="file__info">

              <h2 class="file__title" title="{{folder.label}}">
                {{folder.label}}
              </h2>

              <div class="file__details">
                {{folder.type}}
              </div>

              <div class="file__details file__owner">{{folder.data.uploaded_by}}</div>

              <div class="file__details file__date">{{folder.data.uploaded_time}}</div>

              <div class="file__details file__size">{{folder.data.size}} KB</div>

              <div class="file__details file__Data">{{folder.data.downloads}}</div>

              <i class="fa fa-trash" style="font-size: 17px; color: #52454596;" title="Delete folder" (click)="getFilesDeleted(folder)"></i>


            </div>
          </div>

          <div *ngIf="fileDisplayArr.length != 0">
            <file-card (draggedover)="onDragOver($event)" (draggedleave)="onDragLeave($event)" [data]="folder" *ngFor="let folder of fileDisplayArr"
              (getFilesAndFolder)="getFilesAndFolder($event)" (status)="status($event)" (downloadStatus)="downloadStatus($event)" (getPopupValue)="getPopupValue($event)"
              (fileid)="fileId($event)" (fileArr)="fileArr($event)" (shareOptions)="handleOptions($event)" [fileDisplayArr]="fileDisplayArr"
              [selectedFolder]="selectedFolder" (filePath)="filePath($event)" (playYoutubeVideo)="getYoutubeLink($event)">
            </file-card>
          </div>

          <div class="file folder folder-file" *ngIf="isFolderEmpty == true">
            <h2 class="file__title" id="noFFs">
              No Files Or Folders Found
            </h2>
          </div>
        </div>

      </div>
      <!-- ======================================================= -->
    </div>
  </div>

</div>

<app-upload-popup *ngIf="addCategoryPopup" [manualUpload]="manualUpload" [selectedFiles]="selectedFiles" [currentFolder]="selectedFolder"
  [pathArray]="pathArray" (closePopupValue)="close($event)" (getFilesAndFolder)="getFilesAndFolder($event)" (filePath)="filePathUpload($event)"
  [currentFilesArray]="fileDisplayArr" (uploadStatus)="uploadStatus($event)">
</app-upload-popup>

<share-file *ngIf="getPopupOpen" (treeUpdater)="treeUpdater($event)" (closePopup)="closeSharePopup($event)" [fileIdGet]="fileIdGet"
  [fileName]="fileName" [shareOptions]="shareOptions"></share-file>


<proctur-popup [sizeWidth]="'small'" *ngIf="createFolderControl">

  <span class="closePopup pos-abs fbold show" close-button (click)="closeFolderControl()">
    <svg  class="artdeco-icon" focusable="false" height="24px" preserveAspectRatio="xMinYMin meet" viewBox="0 0 24 24" width="24px" x="0" y="0">
      <path  class="large-icon" d="M20,5.32L13.32,12,20,18.68,18.66,20,12,13.33,5.34,20,4,18.68,10.68,12,4,5.32,5.32,4,12,10.69,18.68,4Z" style="fill: currentColor"></path>
    </svg>
  </span>
  <div popup-header class="popup-header-content">
    <h2>Create Folder</h2>
  </div>
  <div popup-content class="popup-header-content">
    <div class="row">
      <div class="c-lg-4 field-wrapper">
        <label>Folder Name
          <div class="questionInfo inline-relative">
            <span class="qInfoIcon i-class"> ?</span>
            <div class="tooltip-box-field">
                Dot(.) is not allowed .
            </div>
          </div>
        </label>
        <input type="text" class="form-ctrl" [(ngModel)]="createFetchFolder.folderName">
      </div>
      <div class="c-lg-2" style="margin-top: 4%;">
        <input type="button" value="GO" class="btn fullBlue" (click)="createFolder()">
      </div>
    </div>
  </div>
</proctur-popup>

<div class="black-bg" *ngIf="jsonFlag.downloading">
  <span>Downloading...</span>
</div>

<div class="black-bg" *ngIf="jsonFlag.uploading">
  <span>Uploading...</span>
</div>
<div class="videoplayer" *ngIf="videoplayer">
  <iframe width="650" height="400"
    [src]="currentProjectUrl"
    frameborder="0" style="border-radius: 10px;"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
  </iframe>
</div>

<div class="black-bg" id="black-bg" *ngIf="videoplayer" (click)="closePlayer()"></div>