<div class="row">
  <div class="head" id="addDiv" style="text-align: right">
    <button class="btn_addecourse" routerLink="/view/course/ecoursemapping">
      <i class="fa fa-plus" aria-hidden="true"></i> &nbsp; E-course &nbsp;
    </button>
  </div>
</div>

<div class="row  wrap-data">
  <div class="col-md-3 ecourse-item" *ngFor="let ecourse of categiesList;  ">
    <div class="ecourse-card" (click)="getToSubject(ecourse)">
      <div class="head" title="{{ecourse.course_type}}">
        {{ecourse.course_type}}
      </div>
      <div class="body">
        <span *ngIf="ecourse.categoryDtoList.length==0" style="display: flex;font-size: 12px;padding-bottom: 5px;">No materials added</span>
        <div style="flex-wrap: wrap;display: flex;flex-direction: row;">
          <div style=" width: 20%;justify-content: flex-start;display: flex;flex-direction: column;font-size:12px;padding-bottom:5px" *ngFor="let item of ecourse.categoryDtoList">            
            <span *ngIf="item.category_name != 'VDOCipher' && item.category_name != 'Youtube URL'">{{item.category_name}} - {{item.count}}</span>
                <span *ngIf="item.category_name == 'VDOCipher'">Video - {{item.count}}</span>
                <span *ngIf="item.category_name == 'Youtube URL'">Youtube video - {{item.count}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12" style="margin-top:12px;" *ngIf="categiesList.length==0">
    {{outputMessage}}
  </div>
</div>