<div class="row">
  <div class="head" id="addDiv" style="text-align: right">
    <button class="btn_addecourse" routerLink="/view/course/ecoursemapping">
      <i class="fa fa-plus" aria-hidden="true"></i> &nbsp; E-course &nbsp;
    </button>
  </div>
</div>

<div class="row  wrap-data">
  <div class="search-filter-wrapper">
    <input type="text" style="width: 25%;padding: 5px;border: 1px solid #ddd;border-radius: 4px;margin-right: 5px;" #teacherSearch class="normal-field pull-right" id="searchTeacher" placeholder="Search"
     [(ngModel)]="searchValue" (keyup)="searchTeacher()">
  </div>
  <div class="col-md-3 ecourse-item" *ngFor="let ecourse of searchData;  ">
    <div class="ecourse-card" (click)="getToSubject(ecourse)">
      <div class="head" title="{{ecourse.course_type}}">
        {{ecourse.course_type}}
      </div>
      <div class="body">
        <span *ngIf="ecourse.categoryDtoList.length==0" style="display: flex;font-size: 12px;padding-bottom: 5px;">No materials added</span>
        <div style="flex-wrap: wrap;display: flex;flex-direction: row;">
          <div style=" width: 20%;justify-content: flex-start;display: flex;flex-direction: column;font-size:12px;padding-bottom:5px" *ngFor="let item of ecourse.categoryDtoList">            
            <span *ngIf="item.category_name != 'VDOCipher' && item.category_name != 'Youtube URL'">{{item.category_name}} - {{item.count}}</span>
                <span *ngIf="item.category_name == 'VDOCipher'">Video - {{item.count}}</span>
                <span *ngIf="item.category_name == 'Youtube URL'">Youtube Video - {{item.count}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12" style="margin-top:12px;" *ngIf="categiesList.length==0">
    {{outputMessage}}
  </div>
</div>

<div class="ga-modal-wrapper" [hidden]="showSettings">
  <div class="ga-modal-container">
    <div class="ga-modal">
      <div class="ga-modal-head" style="text-align: left">
        <span>Video Settings </span>
        <div class="btn_cross"> <button class="btn btn-xs btn-ga-white" (click)="showSettings = true">X</button></div>
      </div>
      <div class="ga-modal-body">
        <div class="row upload-box">
          <div style="height: 350px;overflow-x: hidden; padding-bottom: 10px;" class="model_body_div">
            <div class="field-wrapper">
              <label>Dynamic Watermark</label>
              <div class="row" style="padding: 15px 30px;">
                <div class="col-md-4">
                  <input type="checkbox" id="name" style="-webkit-appearance: checkbox;" [(ngModel)]="settingDetails.watermark_name" />
                  <label for="name">Name</label>
                </div>
                <div class="col-md-4">
                  <input id="phone" type="checkbox" style="-webkit-appearance: checkbox;" [(ngModel)]="settingDetails.watermark_phone" />
                  <label for="phone">Phone</label>
                </div>
                <div class="col-md-4">
                  <input id="email" type="checkbox" style="-webkit-appearance: checkbox;" [(ngModel)]="settingDetails.watermark_email" />
                  <label for="email">Email</label>
                </div>
              </div>
            </div>
            <div class="field-wrapper">
              <label>Watermark 
                <div class="questionInfo inline-relative">
                  <span class="qInfoIcon i-class">i</span>
                  <div class="tooltip-box-field">
                    Set the text to be shown as
                    watermark in the video
                  </div>
                </div>
              </label>
              <div class="dropdown-div">
                <input class="dropdown" [(ngModel)]="settingDetails.video_watermark" type="text"
                  placeholder="  enter watermark" />
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-7">
                <div class="field-wrapper">
                  <label>Privacy Settings<div class="questionInfo inline-relative">
                      <span class="qInfoIcon i-class">i</span>
                      <div class="tooltip-box-field">
                        Set the video visibility mode to private or public.
                        In private mode, video will be visible to the enrolled students.
                        In public mode, video will be visible to guest users & enrolled students
                      </div>
                    </div></label>
                  <div class="row" style="padding: 15px 30px;">
                    <label class="toggle">
                      <span class="toggle-label" id="unassigned"
                        [ngClass]="(is_video_public)?'inactive_toggle_button':'active_toggle_button'">Private</span>
                      <input class="toggle-checkbox" type="checkbox" [(ngModel)]="is_video_public">
                      <div class="toggle-switch"></div>
                      <span class="toggle-label" id="assigned"
                        [ngClass]="(is_video_public)?'active_toggle_button':'inactive_toggle_button'">Public
                      </span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-md-5">
                <div class="field-wrapper" style="margin-left: -50px;">
                  <div class="dropdown-div">
                    <label>Colour <div class="questionInfo inline-relative">
                        <span class="qInfoIcon i-class">i</span>
                        <div class="tooltip-box-field">
                          Pick the choice of colour
                          for the watermark text.
                        </div>
                      </div>&nbsp;&nbsp;
                      <div class="row" style="padding: 15px 30px;">
                        <input [(ngModel)]="settingDetails.watermark_color" type="color" />
                      </div>
                    </label>
                  </div>
                </div>
              </div>
            </div>

            <div class="field-wrapper">
              <label>Opacity
                <div class="questionInfo inline-relative">
                  <span class="qInfoIcon i-class">i</span>
                  <div class="tooltip-box-field">
                    It is the opacity of the watermark text.
                    It defines how much watermark text
                    will obscure the background image
                  </div>
                </div>
              </label>
              <div class="row" style="padding: 15px 30px;">
                <div class="col-md-9">
                  <input type="range" min="0.00" max="1.00" step="0.05"
                    [(ngModel)]="settingDetails.watermark_opacity" />
                </div>
                <div class="col-md-3">{{settingDetails.watermark_opacity}}</div>
              </div>
            </div>
            <div class="field-wrapper">
              <label>Font Size <div class="questionInfo inline-relative">
                  <span class="qInfoIcon i-class">i</span>
                  <div class="tooltip-box-field">
                    It is the overall size (height) of the
                    watermark text font
                    shown on the screen
                  </div>
                </div></label>
              <div class="row" style="padding: 15px 30px;">
                <div class="col-md-9">
                  <input type="range" min="1" max="100" [(ngModel)]="settingDetails.watermark_font_size" />
                </div>
                <div class="col-md-3">{{settingDetails.watermark_font_size}} px</div>
              </div>
            </div>
            <div class="field-wrapper">
              <label>Bandwidth Threshold Alerts <div class="questionInfo inline-relative">
                  <span class="qInfoIcon i-class">i</span>
                  <div class="tooltip-box-field">
                    Set limits (in percentage) for
                    bandwidth utilization to receive
                    the alerts in SMS & email.
                  </div>
                </div></label>
              <div class="row" style="padding: 15px 30px;">
                <div class="col-md-9">
                  <input type="range" min="1" max="100" [(ngModel)]="settingDetails.vdocipher_bandwidth_threshold" />
                </div>
                <div class="col-md-3">{{settingDetails.vdocipher_bandwidth_threshold}}%</div>
              </div>
            </div>
            <div class="field-wrapper">
              <label>Storage Capacity Threshold Alerts <div class="questionInfo inline-relative">
                  <span class="qInfoIcon i-class">i</span>
                  <div class="tooltip-box-field">
                    Set limits (in percentage) for
                    storage utilization to receive
                    the alerts in SMS & email
                  </div>
                </div></label>
              <div class="row" style="padding: 15px 30px;">
                <div class="col-md-9">
                  <input type="range" min="1" max="100"
                    [(ngModel)]="settingDetails.vdocipher_storage_capacity_threshold" />
                </div>
                <div class="col-md-3">{{settingDetails.vdocipher_storage_capacity_threshold}} %</div>
              </div>
            </div>
            <div class="field-wrapper">
              <label>Interval <div class="questionInfo inline-relative">
                  <span class="qInfoIcon i-class">i</span>
                  <div class="tooltip-box-field">
                    Specify the interval over which
                    watermark changes position.
                    The value is the interval in
                    seconds when the text changes position.
                  </div>
                </div></label>
              <div class="row" style="padding: 15px 30px;">
                <div class="col-md-9">
                  <input type="range" min="1" max="100" [(ngModel)]="settingDetails.watermark_text_moving_interval" />
                </div>
                <div class="col-md-3">{{settingDetails.watermark_text_moving_interval}} Sec</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ga-modal-head" style="text-align: right">
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clearObject()">Cancel</button>
          <button type="button" class="btn btn-primary fullBlue" (click)="Save_Setting_Details()">Save </button>
        </div>
      </div>
    </div>
  </div>
</div>