<div class="page-content">
    <div class="head_padding">
      <div class="w98 display">
        <div class="page_heading">
          <p>Purchase Item</p>
        </div>
        <div>
          <a href="" class="mr10"><img src="../../../../assets/img1/card.svg" title="Card Details" ></a>
          <a href="" class="mr10"><img src="../../../../assets/img1/edit.svg" title="Edit" class="group18"></a>
          <a href="" class="mr10"><img src="../../../../assets/img1/email.svg" title="Send To Email"></a>
          <a href="" class="mr10"><img src="../../../../assets/img1/print.svg" title="Print"></a>
          <a href="" class="mr10"><img src="../../../../assets/img1/pdf.svg" title="PDF Preview"></a>
        </div>
      </div>
    </div>
  
 
      <br>
      <div class="flex30">
         <div class="flex">
           <div class="name2">From:</div>
           <div class="value2">ABC</div>
         </div>
         <div class="flex">
           <div class="name2">To:</div>
           <div class="value2">ABC</div>
         </div>
           <div class="display">
      <div></div>
      <div class="right created_date">
        Create Date : <b>22 Feb 2021</b>
      </div>
    </div>
      </div>
      <div class="flex30">
         <div class="flex">
           <div class="name2">Mobile:</div>
           <div class="value2">13456788</div>
         </div>
         <div class="flex">
           <div class="name2">Role:</div>
           <div class="value2">Student</div>
         </div>
        <div class="flex">
           <div class="name2">Reference&nbsp;No:</div>
           <div class="value2">13241241</div>
         </div>

      </div>
      <div class="flex30">
         <div class="flex">
           <div class="name2">Email:</div>
           <div class="value2">support-noreply@proctur.com</div>
         </div>
         <div class="flex">
           <div class="name2">Mobile:</div>
           <div class="value2">232435436456</div>
         </div>
         <div class="flex">
           <div class="name2">Payment&nbsp;Status:</div>
           <div class="value2">Paid</div>
         </div>
      </div>
      <div class="flex30">
         <div class="flex">
           
         </div>
         <div class="flex">
           <div class="name2">Email:</div>
           <div class="value2">support-noreply@proctur.com</div>
         </div>
         <div class="flex">
           
         </div>
      </div> 
      <br><br>
      <div class="w98">
      <div class="item">
         <div class="tablehead">
              <div>
                Item
              </div>
              <div>
                Unit Price
              </div>
              <div>
                Units
              </div>
              <div>
                Subtotal
              </div>
            </div>
            <div class="tablebody">
              <div>
                Abc
              </div>
              <div>
               12333
              </div>
              <div>
               12233
              </div>
              <div>
                212211
              </div>
             
            </div>
            <div class="tabletotal">
              <div>
                
              </div>
              <div>
               
              </div>
              <div>
               Total Amount
              </div>
              <div>
                3333.00
              </div>
           
            </div>
            <div class="tabletotal">
              <div>
                
              </div>
              <div>
               
              </div>
              <div>
               Paid (GHS)
              </div>
              <div>
                3333.00
              </div>
              
            </div>
            <div class="tabletotal">
              <div>
                
              </div>
              <div>
               
              </div>
              <div>
               Balance (GHS)
              </div>
              <div>
                0.00
              </div>
          
            </div>
      </div>   
    </div>
</div> 
  <div class="modal" id="addpayModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" >Add Payment</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <div class="flex">
            <div class="sec1">
              <div class="pt10">
                  <input type="Date" class="input wid100" name="" placeholder="Date*">
              </div>
              <div class="pt10">
                  <select class="select wid100">
                    <option>Payment Method*</option>
                  </select>
              </div>
              <div class="pt10">
                  <input type="File" class="input wid100" name="" placeholder="Date*">
              </div>
            </div>
            <div class="sec2">
              <div class="pt10">
                  <input type="text" class="input wid100" name="" placeholder="Refrence No.">
              </div>
              <div class="pt10">
                  <input type="text" class="input wid100" name="" placeholder="Amount*">
              </div>
             
            </div>
          </div>
          <div class="pt10">
            <button class="right blue_button">Save</button>
          </div>
        </div>        
      </div>
    </div>
  </div>
