@import "./src/assets/css/style.scss";
@import "./src/assets/css/wrapper.scss";
@import "./src/assets/css/common/common.scss";
@import "./src/assets/css/common/grid.scss";
@import "./src/assets/css/common/variables.scss";
//////////////////////////////////////////////////////
/////////////////////////////////////////////////////
.middle-section {
    padding: 10px 10px;
}

.common-search-filter {
    margin-top: 5px;
    padding: 15px 5px 10px 5px;
    background: #efefef;
    .field-wrapper {
        background: transparent;
        .form-ctrl {
            background: transparent;
        }
    }
    .btn {
        &.fullBlue {
            margin-top: 10px;
        }
    }
    .batchTimeDet {
        margin-top: 5px;
    }
}

.content-section {
    margin: 5px 0px;
    .action-Menu {
        cursor: pointer;
    }
}

.form-wrapper {
    background: transparent;
    margin: 5px 0px;
    &.datepicker {
        span {
            position: absolute;
            top: 35px;
            right: 20px;
            font-weight: 600;
            font-size: 16px;
            color: red;
            cursor: pointer;
            width: 20px;
            text-align: center;
            /* &::before {
                content: '';
                background: url('/assets/images/calendar.svg') no-repeat;
                position: absolute;
                right: 25px;
                top: 0px;
                width: 21px;
                height: 21px;
                z-index: 0;
            } */
        }
    }
    label {
        // color: #309bf8 !important;
        font-size: 12px;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.77);
        padding-bottom: 2px;
        text-decoration: none;
        text-transform: uppercase;
        -webkit-font-smoothing: antialiased;
    }
    .side-form-ctrl {
        background: white;
        border: 1px solid rgba(119, 119, 119, 0.4196078431372549);
        width: 100%;
        padding: 8px 5px;
        font-weight: 600;
        font-size: 14px;
        color: black;
        &.bsDatepicker {
            padding: 5px;
            width: 100%;
        }
    }
    &.timepick {
        padding: 1px 0px;
        .tbox {
            display: inline-block;
            width: 100%;
            .times {
                display: inline-block;
            }
            .side-form-ctrl {
                background: white;
                border: 1px solid rgba(119, 119, 119, 0.4196078431372549);
                width: 100%;
                padding: 8px 5px;
                font-weight: 600;
                font-size: 14px;
                color: black;
                &.mins {
                    width: 70px;
                }
                &.mers {
                    width: 50px;
                }
            }
        }
    }
}

.attendanceWrapperCourse {
    border-top: 2px solid #eee;
    margin-top: 15px;
    max-height: 480px;
    overflow: hidden;
    .filterSection {
        padding: 20px 0px 10px 0px !important;
        margin: 0px !important;
        background-color: #efefef;
        span {
            padding: 4px 12px;
            margin-left: 4px;
        }
        h5 {
            margin-left: 4px;
            display: inline-block;
            font-weight: 200;
            font-size: 13px;
        }
        .absent {
            color: white;
            background: #fe552a;
            border-radius: 5px;
        }
        .present {
            color: white;
            background: #4191da;
            border-radius: 5px;
        }
        .leave {
            color: white;
            background: #7a7a7a;
            border-radius: 5px;
        }
    }
    .attendanceMain {
        .table-scroll-wrapper {
            max-height: 375px;
            overflow: auto;
        }
        ::-webkit-scrollbar {
            display: block;
        }
    }
    tr {
        td {
            padding: 0px 20px !important;
        }
    }
    .form-wrapper {
        .form-ctrl {
            border: 2px solid #efefef;
        }
    }
}

.btnGroup {
    display: inline-flex;
    margin-bottom: 4px !important;
    .btn {
        padding: 0px 8px 0px 8px;
        margin: 0px 5px;
        width: 29%;
        height: 22px;
        font-size: 14px;
        border-radius: 6px;
    }
    .classLeaveBtn {
        color: white;
        text-align: center;
        background: #7a7a7a;
    }
    .classAbsentBtn {
        color: white;
        text-align: center;
        background: #fe552a;
    }
    .classPresentBtn {
        color: white;
        background: #4191da;
        color: white;
        text-align: center;
    }
}

@media only screen and (max-width: 767px) {
    .attendanceWrapper {
        border-top: 2px solid #eee;
        margin-top: 15px;
        max-height: 420px;
        overflow: hidden;
        .row {
            display: flex;
            .tableSection {
                display: inline-block;
                width: 100%;
                padding: 10px;
                background: #fff;
                .button-row {
                    position: relative;
                    height: 45px;
                    padding: 0px 10px;
                    button {
                        position: absolute;
                        right: 10px;
                        border: 2px solid #0084f6;
                    }
                }
                .filterSection {
                    padding: 20px 0px 10px 0px !important;
                    margin: 0px !important;
                    background-color: #efefef;
                    span {
                        padding: 4px 12px;
                    }
                    .absent {
                        color: white;
                        background: #fe552a;
                        border-radius: 5px;
                    }
                    .present {
                        color: white;
                        background: #4191da;
                        border-radius: 5px;
                    }
                    .leave {
                        color: white;
                        background: #7a7a7a;
                        border-radius: 5px;
                    }
                }
                .studentTableWrapper {
                    //border: 2px solid #eee;
                    width: 100%;
                    .schedule-bottom {
                        width: 100%;
                        ul {
                            border-left: 2px solid hsla(210, 2%, 83%, .5);
                            border-right: 2px solid hsla(210, 2%, 83%, .5);
                        }
                    }
                }
                .row {
                    margin-left: 10px;
                }
            }
        }
    }
}

.torlMarksWidth {
    width: 50px !important;
}