html {
  overflow-y: scroll;
}

.disabled {
    color: #000;
    font-weight: bold;
    cursor: not-allowed;
}
.middle-section{
  padding: 1%;
}
.border-container{
  border-top: 1px solid #e3e3e3;
}

.student-tab{
  .nav-tab{
    margin-left: 35%;
  }
}

.made-out {
  border: 1px solid #efefef;
  text-align: center;
}

.class_details_container{
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.16);
  padding: 30px;
  margin-bottom: 20px;
  .field-wrapper{
    margin-top: 10px;
    #topicName{
      width: 45%;
      border-radius: 4px;
      margin-top: 5px;
      border-color: #c5c5cc;
    }
    #faculty, #moderator{
      width: 40%;
      border-radius: 4px;
      margin-top: 5px;
      border-color: #c5c5cc;
    }
  }
  .field-wrapper {
      position: relative;
      &.datePickerBox {
          .form-ctrl {
              cursor: pointer;
              position: relative;
              z-index: 1;
              background: transparent;
          }
          &:after {
              content: '';
              background: url(/./assets/images/calendar.svg) no-repeat;
              position: absolute;
              right: 57px;
              top: 35px;
              width: 21px;
              height: 21px;
              z-index: 0;
          }
      }
  }
  .faculty_container, .moderator_container{
    width: 45%;
    border-radius: 4px;
    margin-top: 5px;
    border-color: #c5c5cc;
    font-size: 14px;
    label{
      margin-bottom: 5px;
    }
  }
  .field-wrapper-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    // justify-content: space-between;
    .from{
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      #from1, #to1{
        width: 40%;
        border-radius: 4px;
        margin-top: 5px;
        border-color: #c5c5cc;
        height: 36px;
      }
      #from2, #to2{
        width: 30%;
        border-radius: 4px;
        margin-top: 5px;
        border-color: #c5c5cc;
        height: 36px;
      }
    }
    #date{
      width: 70%;
      border-radius: 4px;
      margin-top: 5px;
      border-color: #c5c5cc;
    }

  }
}

.multiselect-dropdown{
  font-size: 12px;
  .dropdown-down{
    border-top: 5px solid black;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
  }
  .dropdown-up{
    border-bottom: 5px solid black;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
  }
}


.action-button-container{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  .action-btn-item-1{
    width: 20%;
    display: flex;
    justify-content: flex-start;
    .back-btn{
      border: 1px solid #1283f4;
      text-align: center;
      color: #1283f4;
      width: 80px;
      height: 35px;
      border-radius: 4px;
      background: white;
    }
  }
  .action-btn-item-2{
    width: 30%;
    display: flex;
    justify-content: space-between;
    .cancel-btn{
      border: 1px solid #f41212;
      text-align: center;
      color: #f41212;
      width: 100px;
      height: 35px;
      border-radius: 4px;
      background: white;
    }
    .next-btn{
      border: 1px solid #1283f4;
      text-align: center;
      background: #1283f4;
      color: white;
      width: 100px;
      height: 35px;
      border-radius: 4px;
    }
  }
}


.add_student_container{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.16);
    padding: 30px;
    margin-bottom: 20px;
    .field-wrapper{
      margin-top: 10px;
      #master_course, #course, #batch{
        width: 45%;
        border-radius: 4px;
        margin-top: 5px;
        border-color: #c5c5cc;
      }
    }
    .student_list_container{
      width: 85%;
      border-radius: 4px;
      margin-top: 5px;
      border-color: #c5c5cc;
      font-size: 14px;
      label{
        margin-bottom: 5px;
      }
    }
}

@media screen and (max-width: 2000px) and (min-width: 1400px) {
  .field-wrapper {
      &.datePickerBox {
          &:after {
              content: '';
              right: 65px !important;
          }
      }
  }
}

.black-bg{
  background: rgba(12, 11, 11, 0.3);
  position: fixed;
  top: 0px;
  height: 100%;
  left: 0px;
  z-index: 6;
  width: 100%;
}
.field-checkbox-wrapper, .field-radio-wrapper {
  position: relative;
  padding-left: 25px;
  width: 40%;
}

.qInfoIcon {
  width: 17px;
  margin-left: 4px;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 50%;
  display: block;
  text-align: center;
  box-sizing: border-box;
  line-height: 20px;
  font-weight: 600;
  font-size: 12px;
  cursor: pointer;
  box-shadow: 0px 0px 1px 0px #ccc inset;
  color: #888;
  transition: all 0.2s linear;
  &:hover {
      // border-color: $header-bg;
      // box-shadow: 0px 0px 1px 0px $header-bg inset;
      // color: $header-bg;
  }
}

.tooltip-box-field {
// width: 170px;
white-space: nowrap;
min-height: 41px;
line-height: 12px;
padding: 5px 5px;
overflow: visible;
color: black;
font-weight: bold;
top: 30px;
&.lg {
    width: 200px;
    white-space: nowrap;
    min-height: 50px;
    line-height: 20px;
    padding: 5px 5px;
}
&.sm {
    width: 100px;
    white-space: nowrap;
    min-height: 40px;
    padding: 5px 5px;
}
}

.AdvanceSetting {
  position: relative;
}

.AdvanceSetting span {
  background-color: white;
  padding-right: 10px;
  padding-left: 5px;
  margin-left: 10px;
}

.AdvanceSetting:after,
.AdvanceSetting:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: .5em;
  border-top: 1px solid #ccc;
  z-index: -1;
}
.AdvanceSettingDiv {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-top: -1%;
  padding-bottom: 5%;
  margin-bottom: 1%;
}