<loaders-css [loader]="'ball-scale-ripple-multiple'" class="app-loader-wrapper" [loaderClass]="'blueRipple'" *ngIf="isRippleLoad">
</loaders-css>
<section class="marginExtra">

  <div class="row" style="margin-top:10px;margin-bottom: 10px">
    <div class="c-lg-6 c-md-6 c-sm-6">
      <div class="clearFix add-edit">
        <a (click)="toggleCreateNewSubject()">
          <i id="showAddBtnSubject" class="addBtnClass">+</i>
          <i id="showCloseBtnSubject" style="display:none" class="closeBtnClass">-</i>
          <span *ngIf="(isLangInstitue != true )">Add Subject</span>
          <span *ngIf="(isLangInstitue == true )">Add Course</span>
        </a>
      </div>
    </div>
    <div class="c-lg-3 c-md-3 c-sm-3">

    </div>

    <div class="pull-right">
      <div class="search-filter-wrapper">
        <input #searchVal type="text" class="normal-field pull-right" style="margin-right: 15px" placeholder="Search" id="search"
          name="searchData " (keyup)="searchInList(searchVal)">
      </div>
    </div>
  </div>

  <section class="clearFix create-standard-form" *ngIf="createNewSubject">
    <div class="c-lg-8 c-sm-8 c-md-8">
      <div class="row create-standard-field">

        <div class="field-wrapper c-lg-4 c-sm-4 c-md-4" [ngClass]="{'has-value' : newSubjectDetails.standard_id != '-1'}">
          <select id="" class="form-ctrl" [(ngModel)]="newSubjectDetails.standard_id">
            <option value="-1"> </option>
            <option *ngFor="let opt of standardList" [value]="opt.standard_id">
              {{opt.standard_name}}
            </option>
          </select>
          <label *ngIf="(isLangInstitue != true )" for="masterCourse">Standard Name
            <span style="color:red">*</span>
          </label>
          <label *ngIf="(isLangInstitue == true )" for="masterCourse">Master Course Name
            <span style="color:red">*</span>
          </label>
          <p>* Example English, Science</p>
        </div>

        <div class="field-wrapper c-lg-4 c-sm-4 c-md-4" [ngClass]="{'has-value' : newSubjectDetails.subject_name != ''}">
          <input type="text" class="form-ctrl" [(ngModel)]="newSubjectDetails.subject_name" name="label">
          <label *ngIf="(isLangInstitue != true )">
            Subject Name
          </label>
          <label *ngIf="(isLangInstitue == true )">
            Course Name
            <span style="color:red">*</span>
          </label>
          <p>(Eg. Maths or Science or Accounts)</p>
        </div>

        <div class="field-checkbox-wrapper c-lg-4 c-sm-4 c-md-4">
          <input type="checkbox" value="" name="check" class="form-checkbox" [(ngModel)]="newSubjectDetails.is_active" id="isAct">
          <label for="isAct">Is Active</label>
        </div>

      </div>
    </div>
    <div class="c-lg-4 c-sm-4 c-md-4 pull-right">
      <aside class="pull-left create-cancel-small">
        <input type="button" value="Cancel" class="btn" style="font-size: 16px;height: 40px;" (click)="toggleCreateNewSubject()">
        <input type="button" value="Create" class="btn fullBlue" (click)="addNewSubject()">
      </aside>
    </div>
  </section>

  <div class="fee-install-table courses-list-table">
    <div class="table-responsive">
      <table>
        <thead>
          <tr>
            <th>
              <label style="cursor:pointer;" (click)="sortTable('subject_id')">ID</label>
            </th>
            <th>
              <label style="cursor:pointer;" (click)="sortTable('standard_name')">Standard</label>
            </th>
            <th>
              <label *ngIf="(isLangInstitue != true )" style="cursor:pointer;" (click)="sortTable('subject_name')">Subject</label>
              <label *ngIf="(isLangInstitue == true )" style="cursor:pointer;" (click)="sortTable('subject_name')">Course</label>
            </th>
            <th>
              <label style="cursor:pointer;" (click)="sortTable('is_active')">Is Active</label>
            </th>
            <th>
                <i *ngIf="sortingDir == 'asc'" (click)="sortTable('created_date')" class="fas fa-caret-up" style="font-family: FontAwesome;"></i>
                <i *ngIf="sortingDir != 'asc'" (click)="sortTable('created_date')" class="fas fa-caret-down" style="font-family: FontAwesome;"></i>
              <label style="cursor:pointer;" (click)="sortTable('created_date')">Added Date</label>
            </th>
            <th>
              <label>Edit</label>
            </th>
          </tr>
        </thead>
        <tbody *ngIf="(subjectList.length != 0)">
          <tr (click)="rowSelectEvent(i)" [class.selected]="i == selectedRow" class="displayComp" id="row{{i}}" *ngFor="let row of subjectList; let i = index; trackBy: i;">
            <td>
              {{row.subject_id}}
            </td>

            <td>
              {{row.standard_name}}
            </td>

            <td class="view-comp">
              {{row.subject_name}}
            </td>
            <td class="edit-comp">
              <div class="field-wrapper">
                <input type="text" class="form-ctrl" [(ngModel)]="row.subject_name" name="label" style="margin:auto">
              </div>
            </td>

            <td class="view-comp">
              {{row.is_active}}
            </td>
            <td class="edit-comp">
              <div class="field-wrapper has-value">
                <select id="issearchable" class="form-ctrl" name="issearchable" style="margin:auto" [(ngModel)]="row.is_active" (focus)="inputClickedCheck($event)">
                  <option value="Y">Yes</option>
                  <option value="N">No</option>
                </select>
              </div>
            </td>

            <td>
              {{row.created_date}}
            </td>

            <td class="view-comp">
              <a style="cursor: pointer;" (click)="editRow(i)">
                <i class="edit-icon" aria-hidden="true" style="margin-right: 5px;" title="Edit"></i>Edit
              </a>
              <a style="cursor: pointer;" (click)="deleteRow(row)">
                <i aria-hidden="true" title="Delete"></i>Delete
              </a>
            </td>
            <td class="edit-comp">
              <a style="cursor: pointer; margin-right: 10px;" (click)="updateRow(row,i)">

                <i class="fas fa-check" style="font-family: FontAwesome ;font-size: 19px;" title="Update"></i>
              </a>
              <label>Save</label>
              <a style="cursor: pointer;" (click)="cancelRow(i)">

                <i class="fas fa fa-times" style="font-family: FontAwesome ;font-size: 19px;" title="Cancel"></i>
              </a>
              <label>Cancel</label>
            </td>
          </tr>
        </tbody>
        <tbody *ngIf="subjectList.length == 0 && dataStatus === 1">
          <tr *ngFor="let dummy of dummyArr">
            <td *ngFor="let c of columnMaps">
              <div class="skeleton">
              </div>
            </td>
          </tr>
        </tbody>
        <tbody *ngIf="(subjectList.length == 0 && dataStatus === 2)">
          <tr>
            <td colspan="6">
              No Data Found
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- Paginator Here -->
  <div class="row filter-res pagination" style="width: 100%;padding-top:15px;">
    <div class="c-lg-12 c-md-12 c-sm-12 align-right">
      <pagination (goPage)="fetchTableDataByPage($event)" (goNext)="fetchNext()" (goPrev)="fetchPrevious()" [pagesToShow]="10"
        [page]="PageIndex" [perPage]="displayBatchSize" [count]="totalRow">
      </pagination>
    </div>
  </div>

</section>