<loaders-css [loader]="'ball-scale-ripple-multiple'" class="app-loader-wrapper" [loaderClass]="'blueRipple'" *ngIf="isRippleLoad">
</loaders-css>
<div class="middle-section clearFix">
    <section class="middle-top mb0 clearFix" style="margin-bottom: 15px;">
        <div class="pull-left" style="margin-top:20px;">
            <h1>
                Employee's
            </h1>
        </div>
        <div class="">
            <div class="field-wrapper">
                <div class="btnWrapper">
                    <button class="btn pull-right" routerLink='../addedit'>
                        <div class="option-wrap">
                            <img src="assets/images/plus.png" alt="Add Teacher" style="vertical-align: -webkit-baseline-middle;">
                            <span class="tooltip tooltipWrapper">
                                Add Employee
                            </span>
                        </div>
                    </button>
                </div>
            </div>
            <div class="search-filter-wrapper">
                <input type="text" style="width:25%" #teacherSearch class="normal-field pull-right" id="searchTeacher" placeholder="Search"
                    [(ngModel)]="searchValue" (keyup)="searchTeacher()">
            </div>
        </div>
    </section>

    <section style="margin-top: 10px;">
        <div class="table-scroll-wrapper">
            <div class="table table-responsive enquiry-table">
                <table class="teacherTable">
                    <thead>
                        <tr>
                            <th>
                                Employee ID
                            </th>
                            <th>
                                Employee Name
                            </th>
                            <th>
                                Designation
                            </th>
                            <th>
                                Contact No
                            </th>
                            <th>
                                Email ID
                            </th>
                            <th>
                                Edit
                            </th>
                            <th>
                                Manage Working Days
                            </th>
                        </tr>
                    </thead>
                    <tbody *ngIf="employeeList.length != 0 ">
                        <tr id="row{{i}}" (click)="rowSelectEvent(i)" [class.selected]="i == selectedRow" *ngFor="let row of employeeList; let i = index; trackBy: i;">
                            <td>
                                {{row.emp_id}}
                            </td>
                            <td>
                                {{row.emp_name}}
                            </td>
                            <td>
                                {{row.designation_name}}
                            </td>
                            <td>
                                {{row.phone_pro}}
                            </td>
                            <td>
                                {{row.email_pri}}
                            </td>
                            <td class="anchorTags">
                                <a class="anchorTagCursor" [routerLink]='["../addedit" , row.emp_id]'>
                                    <i class="edit-icon" aria-hidden="true" title="Edit"></i>Edit
                                </a>
                                <!-- <a class="anchorTagCursor" (click)="deleteTeacherDeatils(row)">
                                    <i class="fa fa-trash" aria-hidden="true" title="Delete" style="margin-right:5px"></i>Delete
                                </a> -->
                            </td>
                            <td class="anchorTags">
                                <a class="anchorTagCursor">
                                    Edit
                                </a>
                            </td>
                        </tr>
                    </tbody>
                    <tbody *ngIf="employeeList.length == 0 && dataStatus === 1">
                        <tr *ngFor="let dummy of dummyArr">
                            <td *ngFor="let c of columnMaps">
                                <div class="skeleton">
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tbody *ngIf="(employeeList.length == 0 && dataStatus === 2)">
                        <tr>
                            <td colspan="6">
                                No Batch List Found
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Paginator Here -->
        <div class="filter-res" style="width: 100%;">
            <div class="c-lg-12 c-md-12 c-sm-12 align-right">
                <pagination (goPage)="fetchTableDataByPage($event)" (goNext)="fetchNext()" (goPrev)="fetchPrevious()" [pagesToShow]="10"
                    [page]="PageIndex" [perPage]="displayBatchSize" [count]="totalRow">
                </pagination>
            </div>
        </div>
    </section>

</div>