    <aside>
        <ul>
            <a routerLink="/enquiry"><li mdTooltip="Enquiry" mdTooltipPosition="right"><span><i class="material-icons">insert_comment</i></span></li></a>
            <a routerLink="/dashboard/students"><li mdTooltip="Student" mdTooltipPosition="right"><span><i class="material-icons">person</i></span></li></a>
            <a routerLink="/dashboard/course"><li mdTooltip="Course" mdTooltipPosition="right"><span><i class="material-icons">school</i></span></li></a>
            <a routerLink="/dashboard/activity"><li mdTooltip="Activity" mdTooltipPosition="right"><span><i class="material-icons">widgets</i></span></li></a>
            <a routerLink="/dashboard/employee"><li mdTooltip="Employee" mdTooltipPosition="right"><span><i class="material-icons">perm_identity</i></span></li></a>
            <a routerLink="/dashboard/reports"><li mdTooltip="Reports" mdTooltipPosition="right"><span><i class="material-icons">poll</i></span></li></a>
            <a routerLink="/dashboard/inventory"><li mdTooltip="Inventory" mdTooltipPosition="right"><span><i class="material-icons">work</i></span></li></a>
            <a routerLink="/dashboard/expense"><li mdTooltip="Expense" mdTooltipPosition="right"><span><i class="material-icons">multiline_chart</i></span></li></a>
            <a routerLink="/dashboard/campaign"><li mdTooltip="Campaign" mdTooltipPosition="right"><span><i class="material-icons">content_paste</i></span></li></a>
            <a routerLink="/dashboard/exams"><li mdTooltip="Online Exam" mdTooltipPosition="right"><span><i class="material-icons">assignment</i></span></li></a>
            <a routerLink="/dashboard/help"><li mdTooltip="Help Center" mdTooltipPosition="right"><span><i class="material-icons">touch_app</i></span></li></a>
        </ul>
    </aside>