<div class="side-panel a">
  <aside >
      <div class="inner">
          <ul>
            <li md-tooltip="Enquiry"><a routerLink="/enquiry"><span><i class="material-icons">insert_comment</i></span></a></li>
            <li><a routerLink="/dashboard/students"><span md-tooltip="Student"><i class="material-icons">person</i></span></a></li>
            <li><a routerLink="/dashboard/course"><span md-tooltip="Course"><i class="material-icons">school</i></span></a></li>
            <li><a routerLink="/dashboard/activity"><span md-tooltip="Activity"><i class="material-icons">widgets</i></span></a></li>
            <li><a routerLink="/dashboard/employee"><span md-tooltip="Employee"><i class="material-icons">perm_identity</i></span></a></li>
            <li><a routerLink="/dashboard/reports"><span md-tooltip="Reports"><i class="material-icons">poll</i></span></a></li>
            <li><a routerLink="/dashboard/inventory"><span md-tooltip="Inventory"><i class="material-icons">work</i></span></a></li>
            <li><a routerLink="/dashboard/expense"><span md-tooltip="Expense"><i class="material-icons">multiline_chart</i></span></a></li>
            <li><a routerLink="/dashboard/campaign"><span md-tooltip="Campaign"><i class="material-icons">content_paste</i></span></a></li>
            <li><a routerLink="/dashboard/exams"><span md-tooltip="Online Exam"><i class="material-icons">assignment</i></span></a></li>
            <li><a routerLink="/dashboard/help"><span md-tooltip="Help Center"><i class="material-icons">touch_app</i></span></a></li>
          </ul>
      </div>
  </aside>
</div>