aside {
  left: 0;
  background: rgba(222, 217, 217, 0.59);
  width: 5vw;
  padding-left: 0px;
  height: 90vh;
  }
ul {
  width: 5vw;
  margin: 0;
  padding: 0;
  list-style: none;
  height: 90vh; 
  }
li {
  text-align: end;
  width: 5vw;
  line-height: 5vh;
  padding-right: 50%;
  padding-left: 50%;
  }
span {
    color: rgb(21, 101, 192);
    font-size: -webkit-xxx-large;
  }