<div class="side-panel a">
  <aside >
      <div class="inner">
          <ul>
<li><a routerLink="/enquiry"><span mdTooltip="Enquiry" mdTooltipPosition="right"><i class="material-icons">insert_comment</i></span></a></li>
<li><a routerLink="/dashboard/students"><span mdTooltip="Student" mdTooltipPosition="right"><i class="material-icons">person</i></span></a></li>
<li><a routerLink="/dashboard/course"><span mdTooltip="Course" mdTooltipPosition="right"><i class="material-icons">school</i></span></a></li>
<li><a routerLink="/dashboard/activity"><span mdTooltip="Activity" mdTooltipPosition="right"><i class="material-icons">widgets</i></span></a></li>
<li><a routerLink="/dashboard/employee"><span mdTooltip="Employee" mdTooltipPosition="right"><i class="material-icons">perm_identity</i></span></a></li>
<li><a routerLink="/dashboard/reports"><span mdTooltip="Reports" mdTooltipPosition="right"><i class="material-icons">poll</i></span></a></li>
<li><a routerLink="/dashboard/inventory"><span mdTooltip="Inventory" mdTooltipPosition="right"><i class="material-icons">work</i></span></a></li>
<li><a routerLink="/dashboard/expense"><span mdTooltip="Expense" mdTooltipPosition="right"><i class="material-icons">multiline_chart</i></span></a></li>
<li><a routerLink="/dashboard/campaign"><span mdTooltip="Campaign" mdTooltipPosition="right"><i class="material-icons">content_paste</i></span></a></li>
<li><a routerLink="/dashboard/exams"><span mdTooltip="Online Exam" mdTooltipPosition="right"><i class="material-icons">assignment</i></span></a></li>
<li><a routerLink="/dashboard/help"><span mdTooltip="Help Center" mdTooltipPosition="right"><i class="material-icons">touch_app</i></span></a></li>
          </ul>
      </div>
  </aside>
</div>