@import "../../../../../assets/css/style.scss";
@import "../../../../../assets/css/wrapper.scss";
@import "../../../../../assets/css/common/common.scss";
@import "../../../../../assets/css/common/grid.scss";
@import "../../../../../assets/css/common/variables.scss";


.scroller {
    height: 500px;
    background: white;
    ::-webkit-scrollbar {
        display: block;
    }
    .form {
        height: 500px;
        overflow-y: auto;
    }
}

.makeAdjust {
    width: 33.333%;
}

.bold{
    text-transform: uppercase;
    font-size: 12px;
}

.span-button {
    border: 1px solid #0084f6;
    padding: 4px 8px;
    color: #0084f6;
    font-size: 0.9em;
    border-radius: 2px;
    font-weight: 600;
    cursor: pointer;
    svg {
        margin: -3px 0px;
        height: 14px;
    }
}

.made-in{
    display: block;
    font-size: 15px;
    font-weight: bold;
}


.download:hover {
    cursor: pointer;
}

.span-button {
    border: 1px solid #0084f6;
    padding: 4px 8px;
    color: #0084f6;
    font-size: 0.9em;
    border-radius: 2px;
    font-weight: 600;
    cursor: pointer;
    svg {
        margin: -3px 0px;
        height: 14px;
    }
}

.login-nav {
    &>li {
        display: inline-block;
        padding: 0 7px;
        cursor: pointer;
        vertical-align: text-bottom;
        .dropdown {
            // display: none;
            position: absolute;
            right: 0;
            top: 100%;
            padding-top: 10px;
        }
        &:hover {
            .dropdown {
                // display: block;
            }
            .icons {

            }
        }
        .icons {
            width: 35px;
            height: 35px; // border: 1px solid $border-color;
            display: block;
            text-align: center;
            box-sizing: border-box;
            border-radius: 50%;
            padding-top: 3px;
            transition: all 0.1s;
            border: 1px solid transparent;
            svg {
                width: 25px;
                color:#034979;
               
                .cls-1 {
                    stroke: #034979;
                    stroke-linejoin: unset;
                    border: none;
                }
            }
        }
        .user-info {
            white-space: nowrap;
            margin-right: 40px;
            width: auto;
            display: block;
            position: relative;
            &>.icons {
                display: inline-block;
                vertical-align: middle;
            }
            &>span {
                vertical-align: middle;
                display: inline-block;
            }
            &:after {
                display: inline-block;
                font: normal normal normal 14px/1 FontAwesome;
                font-size: inherit;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                content: "\f107";
                font-size: 17px;
                position: absolute;
                right: -20px;
                top: 10px;
            }
        }
    }
}


.login-tube nav>ul>li {
    display: inline-block;
    position: relative;
}

.login-tube nav>ul>li>a {
    color: #333;
    text-decoration: none;
    padding: 5px 10px;
    display: block;
    transition: all 0.4s;
}

.login-tube nav>ul>li:hover>a,
.login-tube nav>ul>li>a:hover {
    text-decoration: none;
    background: #ccc;
}

.asHover:hover{
    color:#034979 !important;
}

.login-tube nav>ul>li .dropdown {
    position: absolute;
    visibility: hidden;
    right: 0px;
    top: 100%;
    min-width: 200px;
    border-top: 0;
    opacity: 0;
    -webkit-transition: all .1s cubic-bezier(.55, 0, .55, .2);
    transition: all .1s cubic-bezier(.55, 0, .55, .2);
    -webkit-transition-duration: .25s;
    transition-duration: .2s;
    transform: scale(0.5);
    &>ul {
        li {
            line-height: normal;
            a {
                display: block;
                margin: 5px 0;
                &:hover {
                    color: $common-blue;
                }
            }
        }
        ul {
            padding-left: 15px;
            padding-top: 10px;
            ul {
                padding-top: 0;
            }
        }
    }
}

.login-tube nav>ul>li:hover .dropdown {
    visibility: visible;
    position: absolute;
    opacity: 1;
    right: 0;
    top: 100%;
    -webkit-transition: all .4s cubic-bezier(.25, .8, .25, 1);
    transition: all .4s cubic-bezier(.25, .8, .25, 1);
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    transform: scale(1);
}
.span-button {
    border: 1px solid #0084f6;
    padding: 4px 8px;
    color: #0084f6;
    font-size: 0.9em;
    border-radius: 2px;
    font-weight: 600;
    cursor: pointer;
    svg {
        margin: -3px 0px;
        height: 14px;
    }
}

.made-in {
    font-size: 17px;
    font-weight: bold;
    text-align: left;
}

.dropdown {
    &>ul {
        background: $bg-white;
        padding: 10px 20px 10px; // width: 200px;
        border: 1px solid $header-border;
        border-top: 0;
        margin-top: 3px;
        box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 6px 10px 0 rgba(0, 0, 0, 0.12);
        li {
            color: #333;
            strong {
                font-weight: 600;
                display: block;
            }
            a {
                display: block;
                color: #333;
            }
        }
    }
}

.field-correspond {
    width: 50%;
}
.field-red{
    color: red;
}
.field-correspond {
    label {
        &::before {
            top: 3px;
            left: 3px;
        }
    }
}

.download:hover {
    cursor: pointer;
}
.makeClear:hover{
    cursor: pointer;
}
.filter-wrapping {
    height:100px;
    padding-top: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    background: white;
    padding-bottom: 0%;
}

.report-box {
    width: 100%;
    height: 100%;
    padding: 10px;
    ul {
        &.card-box {
            li {
                &.card-row {
                    margin: 10px 0px;
                }
            }
        }
        &.card {
            padding: 25px 10px;
            border: 1px solid #efefef;
            background: #fff;
            height: 150px;
            border-radius: 10px;
            cursor: pointer;
            text-align: left;
            margin: 10px 0px;
            box-shadow: 0px 0px 2px 0px;
            li {
                &:first-child {
                    font-size: 18px;
                    font-weight: 600;
                    padding: 10px 5px;
                }
                padding: 5px;
            }
        }
    }
    .report-header {
        .field-wrapper {
            position: relative;
            &.datePickerBox {
                .form-ctrl {
                    cursor: pointer;
                    position: relative;
                    z-index: 1;
                    background: transparent;
                }
                &:after {
                    content: '';
                    background: url('../../../../../assets/images/calendar.svg') no-repeat;
                    position: absolute;
                    right: 0;
                    top: 27px;
                    width: 21px;
                    height: 21px;
                    z-index: 0;
                }
            }
        }
    }
}

.field-made {
    position: relative;
    .field-wrapper {
        &.datePickerBox {
            .form-ctrl {
                cursor: pointer;
                position: relative;
                z-index: 1;
                background: transparent;
            }
            &:after {
                content: '';
                background: url('../../../../../assets/images/calendar.svg') no-repeat;
                position: absolute;
                right: 20px;
                top: 33px;
                width: 21px;
                height: 21px;
                z-index: 0;
            }
        }
    }
}
.showFilter:hover{
    cursor: pointer;
}