.pagination {
}

:host {
	flex: 0 0 30px;
	display: flex;
	.pagination {
		width: 100%;
		position: relative;
		flex: 1;
		background: none;
		display: flex;
		flex-direction: row;
		align-items: center;

		.description {
			float: left;
			font-weight: 700;
			font-size: 14px;

			.page-counts {
				margin-right: 20px;
			}
		}

		.numbers {
			display: block;
			text-align: right;
			flex: 1;

			button {
				flex: 0 0 auto;
				outline: none;
				border: 0;
				padding: 0 5px;
				background: transparent;
				cursor: pointer;
				font-size: 14px;
				font-weight: 800;

				&.active {
					background: #0084f6;
					font-size: 18px;
					color: white;
				}

				&.disabled {
					color: grey
				}
			}
		}
	}
}