<div class="middle-section clearFix">
  <section class="middle-top mb0 clearFix">
    <h1 class="pull-left">
      Area And City
    </h1>
  </section>

  <section class="middle-main clearFix">

    <div class="clearFix add-edit">
      <a (click)="toggleCreateNewSlot()" style="cursor: pointer;">
        <i id="showAddBtn" class="addBtnClass" style="border:none;">+</i>
        <i id="showCloseBtn" style="display:none;border:none;" class="closeBtnClass">-</i>
        <span>Add Area And City</span>
      </a>
    </div>
    <section class="clearFix create-standard-form" *ngIf="createNew">
      <div class="row create-standard-field">
        <div class="c-lg-3 c-md-3 c-sm-3">
          <div class="field-wrapper" name="slotNew">
            <label for="slotNew">City <span style="color: red">*</span> </label>
            <input type="text" class="form-ctrl" name="city" [(ngModel)]="newCity.city">
          </div>
        </div>
        <div class="c-lg-3 c-md-3 c-sm-3">
          <div class="field-wrapper" name="area">
            <label for="area">Area</label>
            <input type="text" class="form-ctrl" name="area" [(ngModel)]="newCity.area">

          </div>
        </div>
        <div *ngIf="isMultiBranch" class="c-lg-3 c-md-3 c-sm-3">
          <div class="field-wrapper" name="subBranch">
            <label for="subBranch">Sub Branch</label>
            <select class="form-ctrl" [(ngModel)]="newCity.branch">
              <option value="-1"></option>
              <option *ngFor="let opt of branchesList" [value]="opt.institute_id">
                {{opt.institute_name}}
              </option>
            </select>

          </div>
        </div>
        <div class="c-lg-3 c-md-3 c-sm-3">
          <button class="btn fullBlue" (click)="addNewCity()" style="margin-top:8%;">Save</button>
        </div>
      </div>

    </section>
    <div id="divSlotTable">
      <div class="table-scroll-wrapper">
        <div class="table table-responsive">
          <table>
            <thead>
              <tr>
                <th>
                  City
                </th>
                <th>
                  Area
                </th>
              </tr>
            </thead>
            <tbody>
              <tr id="row{{i}}" *ngFor="let row of cityAreaList; let i = index; trackBy: i;">

                <td>
                  {{row.city}}
                </td>

                <td>
                  {{row.area}}
                </td>
              </tr>

              <tr *ngIf="cityAreaList.length ==0">
                <td colspan="2" style="text-align: center">
                  No City Area List Available
                </td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- Paginator Here -->
    <div class="row filter-res pagination" style="width: 100%;">
      <div class="c-lg-12 c-md-12 c-sm-12 align-right">
        <pagination (goPage)="fetchTableDataByPage($event)" (goNext)="fetchNext()" (goPrev)="fetchPrevious()"
          [pagesToShow]="10" [page]="PageIndex" [perPage]="studentdisplaysize" [count]="totalRow">
        </pagination>
      </div>
    </div>
  </section>

</div>
