@import "./src/assets/css/common/variables.scss";
.middle-section {
    padding: 5px 15px;
    width: 100%;
    box-sizing: border-box;
}

.create-standard-form {
    margin: 0 0 10px 0;
    padding: 10px;
    background: #efefef;
    border-top: 1px solid #d8d8d8;
    .form-ctrl {
        background: white;
        border-bottom: solid 1px #cccccc;
    }
}