.pointer:hover{
    cursor: pointer;
}
.made{
    position: relative;
    left: -4%;
    right: -15%;
    bottom: -15px;
    text-align: center;
}
.made-in{
    font-size: 15px;
    font-weight: bold;
}
.made-out{
    font-size: 14px;
    color: #666666;
    text-transform: uppercase;
}