.pointer:hover{
    cursor: pointer;
}
.made{
    position: relative;
    left: -4%;
    right: -15%;
    bottom: -15px;
    text-align: center;
}
.made-in{
    font-size: 15px;
    font-weight: bold;
}
.made-out{
    font-size: 14px;
    color: #666666;
    text-transform: uppercase;
}

.span-button {
    border: 1px solid #0084f6;
    padding: 4px 8px;
    color: #0084f6;
    font-size: 0.9em;
    border-radius: 2px;
    font-weight: 600;
    cursor: pointer;
    svg {
        margin: -3px 0px;
        height: 14px;
    }
}