:host /deep/ .mat-input-placeholder {
    color: black;
 }

ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
}
ul.breadcrumb li {
    display: inline;
}
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}
ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}
ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
.multiselect-container>li>a>label {
    padding: 4px 20px 3px 20px;
  }
::ng-deep .filter-btn{
    background: none;
    margin: 5px;
  }  
::ng-deep .filter-btn::after{
    content: "list";
    color: white;    
}
::ng-deep .caret{
    display: none;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: unset;
    border-top: none;
    border-top: none;
    border-right: none;
    border-left: none;
}

.control-btn{
    background: none;
    outline: none;
    font-size: 16px;
    font-weight: 900;
    color:black;
    margin-left: 2%;
    margin-right: 2%;
}

.table{
    background: rgba(185, 186, 193, 0.34);
    margin-bottom: 0px;
}

::ng-deep ng2-smart-table > table tr{
    line-height: 6em !important;
 }

 ::ng-deep td, th {
    min-width: fit-content !important;
} 

::ng-deep ng2-smart-table > table tr th{
    font-size: 1.3em !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: .5em 1em;
    background: rgba(127, 127, 127, 0.94);
    border: 0.2px outset white;
 }

::ng-deep ng2-smart-table > table tr td{
    font-size: 1.2em !important;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: .5em 1em;
    background: #FFFFFF;
    border-top: 0.2px solid #F4EEEE;
    border-bottom: 0.2px solid #F4EEEE;
 } 
 
 ::ng-deep .ng2-smart-title a {
    color: #ffffff !important;
    text-decoration: none;
 }

 .smart-table-container{
    overflow-x: scroll;
 }

 .table-control{
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
 }

 ::-webkit-scrollbar { 
    display: none;
}

::ng-deep .form-control{
 height: auto !important;
}