.manage-container{
    width: 95vw;
    height: 86vh;
 }
.header{
    width: 95vw;
    height: 5vh;
    margin-top: 0.5rem;
 }
.boxbutton{
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.44);
    color: #1565c0;
    font-weight: 700;
 }
.search{
    margin-top: 1.2rem;
    border-top: 1px solid rgba(0, 0, 0, 0.28);
    background: rgba(140, 140, 140, 0.1);
 }
.form-wrapper {
      background: #444;
      background: rgba(0,0,0,.2);
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      border-radius: 10px;
      -moz-box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
      -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
      box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
  }
.form-wrapper input {
    width: 80%;
    float: left;
    border: 0;
    background: #eee;
    border-radius: 3px 0 0 3px;
    height: 3em;
    padding-left: 1em;      
  }
.form-wrapper input:focus {
      outline: 0;
      background: #fff;
      -moz-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
      -webkit-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
      box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
  }
.form-wrapper input::-webkit-input-placeholder {
     color: #999;
     font-weight: normal;
     font-style: italic;
  }
.form-wrapper input:-moz-placeholder {
      color: #999;
      font-weight: normal;
      font-style: italic;
  }
.form-wrapper input:-ms-input-placeholder {
      color: #999;
      font-weight: normal;
      font-style: italic;
  }    
.form-wrapper button {
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 3em;
    width: 20%;
    color: #fff;
    text-transform: uppercase;
    background: #1565c0;
    border-radius: 0 3px 3px 0;
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
  }   
.form-wrapper button:hover{		
      background: #60A7F9;
  }
.AdFilter-row{
    height: 10vh; 
 }
::ng-deep .mat-select-trigger{
    min-width: 230px !important;
 }
::ng-deep .mat-select-placeholder{
 color: #1565c0;
 }
::ng-deep .mat-select-value{
 color: black;   
 }
::ng-deep .mat-select-underline {
    background-color: rgba(18, 30, 230, 0.42);
 }
::ng-deep .mat-select-arrow {
    color: rgba(10, 9, 9, 0.54);
 }
::ng-deep .mat-input-element{
    color:black;
 }
::ng-deep .mat-input-placeholder {
    color: #1565c0;
 }
::ng-deep .mat-input-underline {
    background-color: rgba(18, 30, 230, 0.42);
 }
::ng-deep .mat-input-infix {
    padding: 0.37em 0 !important;
    border-top: 0 !important;
 }
::ng-deep .mat-input-flex {
    min-width: 230px !important;
 }
.btn-Adfilter{
    width: 80%;
    margin-top: -15px;
    height: 3em;
    background: #ff3c3c;
    color: white;
    outline: none;
    border:none;
 }
.AdFilter-input{
    margin-top: 1em;
    margin-bottom: 1em;
}





















/* :host /deep/ .mat-input-placeholder {
    color: black;
 }

.multiselect-container>li>a>label {
    padding: 4px 20px 3px 20px;
  }
::ng-deep .filter-btn{
    background: none;
    margin: 5px;
  }  
::ng-deep .filter-btn::after{
    content: "list";
    color: white;    
}
::ng-deep .caret{
    display: none;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: unset;
    border-top: none;
    border-top: none;
    border-right: none;
    border-left: none;
}
.control-btn{
    background: none;
    outline: none;
    font-size: 16px;
    font-weight: 900;
    color:black;
    margin-left: 2%;
    margin-right: 2%;
}
.table{
    background: rgba(185, 186, 193, 0.34);
    margin-bottom: 0px;
}
::ng-deep ng2-smart-table > table tr{
    line-height: 6em !important;
 }

 ::ng-deep td, th {
    min-width: fit-content !important;
} 
::ng-deep ng2-smart-table > table tr th{
    font-size: 1.3em !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: .5em 1em;
    background: rgba(127, 127, 127, 0.94);
    border: 0.2px outset white;
 }

::ng-deep ng2-smart-table > table tr td{
    font-size: 1.2em !important;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: .5em 1em;
    background: #FFFFFF;
    border-top: 0.2px solid #F4EEEE;
    border-bottom: 0.2px solid #F4EEEE;
 } 
 
 ::ng-deep .ng2-smart-title a {
    color: #ffffff !important;
    text-decoration: none;
 }

 .smart-table-container{
    overflow-x: scroll;
 }

 .table-control{
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
 }

 ::-webkit-scrollbar { 
    display: none;
}
::ng-deep .form-control{
 height: auto !important;
} */