<div class="container">
  <div class="row">
    <ul class="breadcrumb">
      <li><a href="#">Home</a></li>
      <li><a href="#">Enquiry</a></li>
      <li>Manage Enquiry</li>
    </ul>
  </div>

  <div class="row">
    <div class="col-md-6" style="float:left; margin:10px;">
      <h3>Enquiry Management</h3>
    </div>
    <div class="col-md-6" style="float:right; margin:10px;">
      <button md-button color="primary">Add Enquiry</button>
      <button md-button>Add Enquiry Message</button>
    </div>
  </div>

  <div class="row table table-control">
    <div class="col-md-6" style="padding-top: 10px;">
      <md-input-container color="accent">
        <input mdInput #search class="search" type="text" placeholder="Search..." (keyup)="onSearch(search.value)">
      </md-input-container>
    </div>
    <div class="col-md-4" style="padding-top: 20px;">
      <button md-button>pdf</button>
      <button md-button>doc</button>
      <button md-button>csv</button>
    </div>
    <div class="col-md-2" style="padding-top: 10px;">
      <ss-multiselect-dropdown [options]="myOptions" [texts]="myTexts" [settings]="mySettings" [(ngModel)]="optionsModel" (ngModelChange)="toggle($event)">
      </ss-multiselect-dropdown>
      <button md-button><md-icon>refresh</md-icon></button>
    </div>
  </div>

  <div class="row table">
    <md-progress-bar lass="app-progress" color="warn" mode="determinate" [value]="progress" aria-label="Determinate progress-bar example"></md-progress-bar>
    <div class="col-md-12 smart-table-container">
      <ng2-smart-table [settings]="settings" [source]="source">
      </ng2-smart-table>
    </div>
  </div>
</div>