<div class="ga-modal-wrapper" *ngIf="showModal">
  <div class="ga-modal-container">
    <div class="ga-modal">
      <div class="ga-modal-head">
        <span>Upload Files</span>
        <span class="close" (click)="showModal = false"></span>
      </div>
      <div class="ga-modal-body">
        <div class="row upload-box">
          <div class="col-md-4 file-form">
            
            <div class="form-group">
              <select class="form-ctrl ga-form-input">
                <option>Exam 1</option>
                <option>Exam 2</option>
              </select>
            </div>

            <div class="form-group">
              <select class="form-ctrl ga-form-input">
                <option>Exam 1</option>
                <option>Exam 2</option>
              </select>
            </div>

            <div class="form-group">
              <select class="form-ctrl ga-form-input">
                <option>Exam 1</option>
                <option>Exam 2</option>
              </select>
            </div>

          </div>
          <div class="col-md-8 file-drop-wrapper">
            <div class="drop-box">
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>