<div class="middle-section clearFix">

    <section class="middle-main clearFix">
        <div class="common-tab">
            <ul>
                <li id="liStandard" #liStandard (click)="switchActiveView('liStandard')" class="active">
                    <a *ngIf="(isLangInstitue)" routerLink="/view/course">Master Course</a>
                    <a *ngIf="(!isLangInstitue)" routerLink="/view/course">Standard</a>
                </li>
                <li id="liSubject" #liSubject (click)="switchActiveView('liSubject')" class="">
                    <a *ngIf="(isLangInstitue)" routerLink="/view/course/subject">Course</a>
                    <a *ngIf="(!isLangInstitue)" routerLink="/view/course/subject">Subject</a>
                </li>
                <!-- <li id="liCourses" (click)="switchActiveView('liCourses')" class="">
                    <a routerLink="/view/course/courselist">Courses</a>
                </li> -->
                <li id="liManageBatch" #liManageBatch (click)="switchActiveView('liManageBatch')" class="">
                    <a *ngIf="(isLangInstitue)" routerLink="/view/course/managebatch">Batch</a>
                    <a *ngIf="(!isLangInstitue)" routerLink="/view/course/courselist">Courses</a>
                </li>
                <li id="liClass" #liClass (click)="switchActiveView('liClass')" class="" style="width:16%;">
                    <a routerLink="/view/course/class" *ngIf="(isLangInstitue)">Class</a>
                    <a routerLink="/view/course/class" *ngIf="(!isLangInstitue)">Class Scheduling</a>
                </li>
                <li id="liExam" #liExam (click)="switchActiveView('liExam')" class="">
                    <a routerLink="/view/course/exam">Exam</a>
                </li>
            </ul>
        </div>

        <div class="router-container">
            <router-outlet></router-outlet>
        </div>
    </section>
</div>