<loaders-css [loader]="'ball-scale-ripple-multiple'" class="app-loader-wrapper" [loaderClass]="'blueRipple'" *ngIf="isRippleLoad">
</loaders-css>
<div class="clear-fix background">
  <aside class="middle-full">
    <section class="middle-main clearFix">
      <section class="middle-top mb0 clearFix sms-header">
        <h2 class="pull-left">
          <a routerLink="/activity/dashboard">
            Activity
          </a>
          <i style="font-family: 'FontAwesome';" class="fas fa-angle-right"></i> Manage PTM
        </h2>
      </section>
      <div class="row">
        <div class="c-lg-3 field-wrapper">
          <input type="text" class="form-ctrl">
        </div>
        <div class="c-lg-3 field-wrapper">
          <input type="text" class="form-ctrl">
        </div>
        <div class="c-lg-3 field-wrapper">
          <input type="text" class="form-ctrl">
        </div>
        <div class="c-lg-3 field-wrapper">
          <button class="btn fullBlue" (click)="fetchDetails()">Go</button>
        </div>
      </div>
    </section>
  </aside>
</div>