<div class="enquiry-action">

    <div class="action-menu">

        <div class="enq-act-main">
            <a class="enq-act enq-act--one" (click)="openPopup('update')">
                <img src="./assets/images/update_enquiry.svg" height="10" width="20">
                <div class="tooltip">Update Enquiry</div>
            </a>
            <a class="enq-act enq-act--two" (click)="NavigateToEdit()">
                <img src="./assets/images/edit_details.svg" height="10" width="20">
                <!-- <i>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="11778 358 26 22">
                        <defs>
                            <style>
                                .cls-1,
                                .cls-2,
                                .cls-3 {
                                    fill: none;
                                }

                                .cls-2,
                                .cls-3 {
                                    stroke: #8b8b8b;
                                }

                                .cls-3 {
                                    stroke-miterlimit: 10;
                                }
                            </style>
                        </defs>
                        <g id="Group_1234" data-name="Group 1234" transform="translate(10862 -6)">
                            <rect id="Rectangle_697" data-name="Rectangle 697" class="cls-1" width="26" height="22" transform="translate(916 364)" />
                            <g id="Group_1126" data-name="Group 1126" transform="translate(-0.478 -0.386)">
                                <path id="Path_215" data-name="Path 215" class="cls-2" d="M0,0H17.753" transform="translate(920.478 385.386)" />
                                <path id="Path_214" data-name="Path 214" class="cls-3" d="M8.492,16.068,3,17.621l1.553-5.492,10.6-10.6a1.877,1.877,0,0,1,2.718,0L19.089,2.7a1.877,1.877,0,0,1,0,2.718Z"
                                    transform="translate(919.142 364.436)" />
                                <line id="Line_159" data-name="Line 159" class="cls-3" x1="3.883" y1="3.883" transform="translate(932.738 367.578)" />
                            </g>
                        </g>
                    </svg>
                </i> -->
                <div class="tooltip">Edit Enquiry</div>
            </a>
            <a class="enq-act enq-act--three" (click)="openPopup('delete')" *ngIf="rowData.status ==0">
                <img src="./assets/images/delete_entry.svg" height="10" width="20">
                <div class="tooltip">Delete Enquiry</div>
            </a>
            <a class="enq-act enq-act--four" (click)="openPopup('convert')" *ngIf="rowData.status !=12 && hasStudentAccess">
                <img src="./assets/images/convert_student.svg" height="10" width="20">
                <div class="tooltip">Convert to Student</div>
            </a>
            <a class="enq-act enq-act--five" (click)="openPopup('payment')" *ngIf="isProfessional && (rowData.status == 12|| rowData.status ==11)">
                <img src="./assets/images/reciept_preview.svg" height="10" width="20">
                <div class="tooltip">Registration Fees</div>
            </a>
            <a class="enq-act enq-act--six" (click)="openPopup('sms')">
                <img src="./assets/images/send_email.svg" height="10" width="20">
                <div class="tooltip">Send SMS</div>
            </a>
            <!-- <a class="enq-act enq-act--seven">
                
                <div class="tooltip">text to be displayed</div>
            </a> 
            If something comes up in future use this just add img and text
            -->
        </div>

    </div>

</div>











<!-- 

    <button class="btn table-action-icon action_button" style="outline:none;border:none;" (click)="openMenu($event)" >
    <i style="font-family: FontAwesome;" class="fa fa-ellipsis-h" aria-hidden="true"></i>
    </button>

    *ngIf="showMenu" (mouseleave)="closeMenu()" (click)="closeMenu()"


    <div class="action-menu-inner">

      <div class="action-menu-item" (click)="openPopup('update')">
       <img src="./assets/images/update_enquiry.svg" height="10" width="20">
       <span>
         Update <br>Enquiry
       </span>
      </div>

      <div class="edit-detail-icon action-menu-item" (click)="NavigateToEdit()">
        <img src="./assets/images/edit_details.svg" height="10" width="20">
        <span >
        Edit <br> Details
        </span>
      </div>
      
      <div class="action-menu-item" (click)="openPopup('delete')" *ngIf="rowData.status ==0">
        <img src="./assets/images/delete_entry.svg" height="10" width="20">
        <span>
          Delete<br>Entry
        </span>
      </div>

      <div class="action-menu-item" (click)="openPopup('convert')" *ngIf="rowData.status !=12 && hasStudentAccess"> 
        <img src="./assets/images/convert_student.svg" height="10" width="20">
        <span>
          Convert <br> to Student
        </span>
      </div>
      
      <div class="action-menu-item" (click)="openPopup('payment')" *ngIf="isProfessional && (rowData.status == 12|| rowData.status ==11)">
         <img src="./assets/images/reciept_preview.svg" height="10" width="20">
         <span>
          Pay  <br> Restistration Fees
         </span>
      </div>

      <div class="action-menu-item" (click)="openPopup('sms')" >
        <img src="./assets/images/send_email.svg" height="10" width="20">
        <span>
         Send <br> SMS
        </span>
      </div>

     </div>

 -->