::ng-deep .datepicker-actions{
    min-height: 40px;
    font-size: 2rem;
}

::ng-deep .datepicker-actions__input{
    font: 2rem OpenSans !important;
}

.buttons{
    min-width: 200px;
    min-height: 40px;
    margin: 0% 40% 0% 40%;
}

.mat-card{
    margin: 20px 10px 10px 10px;
    min-width: 260px;
    min-height: 130px;
}