<div class="middle-section clearFix">
    <section class="header-section"> 
        <div>
            <div class="header-title">
                <span> eStore</span>
              </div>
        </div>  
      </section>
  <aside class="middle-full">
    <section class="middle-main clearFix">
      <section class="activity-box-container">
        <div class="activity-container">

          <div class="activity-item-container" routerLink="../details">
            <div class="img_name_container">
              <img src="./assets/images/activity/cheque.svg" alt="">
              <span>Manage Product</span>
            </div>
            <div class="activity-description">
              <span>Create, Organize Product Keeping Students Updated</span>
            </div>
          </div>
          <div class="activity-item-container" routerLink="../registered-user">
            <div class="img_name_container">
              <img src="./assets/images/activity/registered_student.png" alt="">
              <span>Registered Students</span>
            </div>
            <div class="activity-description">
              <span>Get details of the Students registered from App/Website</span>
            </div>
          </div>
          <!-- E-course -->
          <div class="activity-item-container" routerLink="../ecourse-file-manager"
            *ngIf="jsonFlag.isEcourseFileManager">
            <div class="img_name_container">
              <img src="./assets/images/activity/study_material.svg" alt="">
              <span>Study Materials</span>
            </div>
            <div class="activity-description">
              <span>Manage storage of uploaded and downloaded files by E-Course. Upload or download the files and manage
                files in folders and
                by category.</span>
            </div>
          </div>

          
          <div class="activity-item-container" *ngIf="jsonFlag.isShowEcourseMapping" routerLink="../ecoursemapping">
            <div class="img_name_container">
              <img src="./assets/images/activity/ecourse.svg" alt="">
              <span>E-course Mapping</span>
            </div>
            <div class="activity-description">
              <span *ngIf="!jsonFlag.isProfessional">Create E-courses and assign multiple standards to the E-courses.</span>
              <span *ngIf="jsonFlag.isProfessional">Create E-courses and assign multiple batches to the E-courses</span>
            </div>
          </div>

          <div class="activity-item-container" routerLink="../sales-report">
            <div class="img_name_container">
              <img src="./assets/images/activity/cheque.svg" alt="">
              <span>Sales Report</span>
            </div>
            <div class="activity-description">
              <span>This Report depicts the records of all the past and present product purchase Details </span>
            </div>
          </div>


          <div class="activity-item-container" routerLink="../manage-offers">
            <div class="img_name_container">
              <img src="../../../../assets/images/estore/Manage_Offer.svg" alt="">
              <span>Manage Offer</span>
            </div>
            <div class="activity-description">
              <span>Create your discount offer for packages </span>
            </div>
          </div>

          <div class="activity-item-container" routerLink="../offer-history">
            <div class="img_name_container">
              <img src="../../../../assets/images/estore/Offer_History.svg" alt="">
              <span>Offer History</span>
            </div>
            <div class="activity-description">
              <span> View status of all the offers of specific packages</span>
            </div>
          </div>
          <!-- <div class="activity-item-container" routerLink="../master-tag">
            <div class="img_name_container">
              <img src="./assets/images/activity/manage_tag.svg" alt="">
              <span>Manage Tag</span>
            </div>
            <div class="activity-description">
              <span>Create tags for future reference while creating products.</span>
            </div>
          </div> -->

          <!-- <div class="activity-item-container" routerLink="../groups">
                <div class="img_name_container">
                  <img src="./assets/images/activity/ptm.svg" alt="">
                  <span>Manage Group </span>
                </div>
                <div class="activity-description">
                  <span>Create and Manage Products Groups </span>
                </div>
              </div> -->
        </div>

      </section>
    </section>
  </aside>
</div>
