<loaders-css [loader]="'ball-scale-ripple-multiple'" class="app-loader-wrapper" [loaderClass]="'blueRipple'" *ngIf="isRippleLoad">
</loaders-css>

<section class="mainHomePage">

  <section class="activity-page">
    <section class="clearFix row">
      <div class="activity-left pull-left">
        <div class="act-top clearfix">
          <h1 class="pull-left">Activity Page</h1>
          <div class="pull-right act-right-sec">
            <button class="btn">
              <svg height="32" viewBox="0 0 32 32" width="32" xmlns="http://www.w3.org/2000/svg">
                <g fill="none" fill-rule="evenodd">
                  <path d="M-1-1h191v34H-1z" stroke="#1984F6"></path>
                  <g>
                    <path d="M7.856 13.359h3.708v1H7.856zM7.856 15.647h4.451v1H7.856zM14.534 15.647h2.97v1h-2.97zM7.856 17.935H20.47v1H7.856z"
                      fill="#0084F6" fill-rule="nonzero"></path>
                    <path d="M20.443 11.075H6v9.907h18.55v-9.907h-4.107zm3.364 9.144H6.743v-8.381h17.064v8.381z" fill="#0084F6" fill-rule="nonzero"></path>
                    <circle cx="22" cy="12" fill="#FFF" r="3" stroke="#0084F6" stroke-width=".5"></circle>
                    <path d="M19.856 11.647h4.451v1h-4.451z" fill="#0084F6" fill-rule="nonzero"></path>
                    <path d="M21.7 14.253v-4.45h1v4.45z" fill="#0084F6" fill-rule="nonzero"></path>
                  </g>
                </g>
              </svg>

              Add/Send Notification
            </button>
          </div>
        </div>

        <div class="act-bottom clearfix">
          <div class="grid-container">
            <ul class="actb-wrapper grid">

              <li class="enquiry-state item" data-id="2">
                <div class="item-content">
                  <div class="actb-top-header clearfix">
                    <span class="heading">
                      Enquiry Stats
                    </span>
                    <button class="pull-right drag-button">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path fill="#0C8AF6" fill-rule="nonzero" d="M19.723 11.927a.487.487 0 0 0-.107-.16l-1.683-1.684a.493.493 0 1 0-.698.697l.842.842h-5.7v-5.7l.878.879a.492.492 0 1 0 .698-.698l-1.72-1.72a.493.493 0 0 0-.697-.001L9.85 6.066a.494.494 0 0 0 .697.698l.843-.842-.001 5.7H5.692l.84-.842a.493.493 0 0 0-.697-.697l-1.683 1.684a.49.49 0 0 0 0 .697l1.72 1.72a.49.49 0 0 0 .698 0 .493.493 0 0 0 0-.697l-.88-.879h5.7v5.7l-.842-.841a.494.494 0 0 0-.697.697l1.684 1.684a.49.49 0 0 0 .697 0l1.721-1.721a.493.493 0 1 0-.698-.698l-.879.88v-5.7h5.702l-.88.878a.494.494 0 0 0 .698.698l1.72-1.72.004-.005a.506.506 0 0 0 .141-.345.496.496 0 0 0-.038-.188z"
                        />
                      </svg>
                    </button>
                    <button class="pull-right" (click)="openCalendar('enqWidDate')">

                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <g fill="#0084F6" fill-rule="nonzero">
                          <path d="M18.667 5.5H16.5v-1a.5.5 0 1 0-1 0v1h-3v-1a.5.5 0 1 0-1 0v1h-3v-1a.5.5 0 1 0-1 0v1H5.333C4.598 5.5 4 6.096 4 6.833v11.833C4 19.403 4.597 20 5.333 20h13.334c.736 0 1.333-.597 1.333-1.334V6.833c0-.737-.596-1.333-1.333-1.333zM19 18.666c0 .184-.15.334-.333.334H5.333A.334.334 0 0 1 5 18.666V6.833c0-.184.15-.333.333-.333H7.5v1a.5.5 0 1 0 1 0v-1h3v1a.5.5 0 1 0 1 0v-1h3v1a.5.5 0 1 0 1 0v-1h2.167c.183 0 .333.15.333.333v11.833z"
                          />
                          <path d="M7.5 10h2v1.5h-2zM7.5 12.5h2V14h-2zM7.5 15h2v1.5h-2zM11 15h2v1.5h-2zM11 12.5h2V14h-2zM11 10h2v1.5h-2zM14.5 15h2v1.5h-2zM14.5 12.5h2V14h-2zM14.5 10h2v1.5h-2z"
                          />
                        </g>
                      </svg>
                    </button>
                    <input type="text" value="" id="enqWidDate" class="widgetDatepicker bsDatepicker" name="enqWidDate" [(ngModel)]="enquiryDate"
                      (ngModelChange)="updateEnqChartByDate($event)" readonly="true" bsDaterangepicker/>
                    <span class="enquiry-state-date pull-right">
                      {{getEnqStartDate()| date: 'dd MMM yyyy'}} To {{getEnqEndDate()| date: 'dd MMM yyyy'}}
                    </span>
                  </div>
                  <div class="enq-state-bottom">
                    <div class="enq-left">
                      <div id="enqChart" [chart]="chart">
                      </div>
                    </div>
                    <div class="enq-right">
                      <div class="enq-state-details">
                        <div class="enq">
                          <div class="enqs-label">
                            <span class=""></span>
                            <label>Total Enquiries</label>
                          </div>
                          <div class="enqs-value">
                            {{getDetails('total')}}
                          </div>
                        </div>
                        <div class="enq">
                          <div class="enqs-label">
                            <span class="open"></span>
                            <label>Open</label>
                          </div>
                          <div class="enqs-value">
                            {{getDetails('open')}}
                          </div>
                        </div>
                        <div class="enq">
                          <div class="enqs-label">
                            <span class="inprogress"></span>
                            <label>In Progress</label>
                          </div>
                          <div class="enqs-value">
                            {{getDetails('ip')}}
                          </div>
                        </div>
                        <div class="enq">
                          <div class="enqs-label">
                            <span class="admmited"></span>
                            <label>Admitted</label>
                          </div>
                          <div class="enqs-value">
                            {{getDetails('admitted')}}
                          </div>
                        </div>
                        <div class="enq">
                          <div class="enqs-label">
                            <span class="closed"></span>
                            <label>Closed</label>
                          </div>
                          <div class="enqs-value">
                            {{getDetails('closed')}}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>

              <li class="fees-state item" data-id="3">
                <div class="item-content">
                  <div class="actb-top-header clearfix">
                    <span class="heading">
                      Fees stats
                    </span>
                    <button class="pull-right drag-button">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path fill="#0C8AF6" fill-rule="nonzero" d="M19.723 11.927a.487.487 0 0 0-.107-.16l-1.683-1.684a.493.493 0 1 0-.698.697l.842.842h-5.7v-5.7l.878.879a.492.492 0 1 0 .698-.698l-1.72-1.72a.493.493 0 0 0-.697-.001L9.85 6.066a.494.494 0 0 0 .697.698l.843-.842-.001 5.7H5.692l.84-.842a.493.493 0 0 0-.697-.697l-1.683 1.684a.49.49 0 0 0 0 .697l1.72 1.72a.49.49 0 0 0 .698 0 .493.493 0 0 0 0-.697l-.88-.879h5.7v5.7l-.842-.841a.494.494 0 0 0-.697.697l1.684 1.684a.49.49 0 0 0 .697 0l1.721-1.721a.493.493 0 1 0-.698-.698l-.879.88v-5.7h5.702l-.88.878a.494.494 0 0 0 .698.698l1.72-1.72.004-.005a.506.506 0 0 0 .141-.345.496.496 0 0 0-.038-.188z"
                        />
                      </svg>
                    </button>
                    <button class="pull-right" (click)="openCalendar('feeWidDate')">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <g fill="#0084F6" fill-rule="nonzero">
                          <path d="M18.667 5.5H16.5v-1a.5.5 0 1 0-1 0v1h-3v-1a.5.5 0 1 0-1 0v1h-3v-1a.5.5 0 1 0-1 0v1H5.333C4.598 5.5 4 6.096 4 6.833v11.833C4 19.403 4.597 20 5.333 20h13.334c.736 0 1.333-.597 1.333-1.334V6.833c0-.737-.596-1.333-1.333-1.333zM19 18.666c0 .184-.15.334-.333.334H5.333A.334.334 0 0 1 5 18.666V6.833c0-.184.15-.333.333-.333H7.5v1a.5.5 0 1 0 1 0v-1h3v1a.5.5 0 1 0 1 0v-1h3v1a.5.5 0 1 0 1 0v-1h2.167c.183 0 .333.15.333.333v11.833z"
                          />
                          <path d="M7.5 10h2v1.5h-2zM7.5 12.5h2V14h-2zM7.5 15h2v1.5h-2zM11 15h2v1.5h-2zM11 12.5h2V14h-2zM11 10h2v1.5h-2zM14.5 15h2v1.5h-2zM14.5 12.5h2V14h-2zM14.5 10h2v1.5h-2z"
                          />
                        </g>
                      </svg>
                    </button>
                    <input type="text" value="" id="feeWidDate" class="widgetDatepicker bsDatepicker" name="enqWidDate" [(ngModel)]="feeDate"
                      (ngModelChange)="updateFeeByDate()" readonly="true" bsDaterangepicker/>
                    <span class="enquiry-state-date pull-right">
                      {{getFeeStartDate()| date: 'dd MMM yyyy'}} To {{getFeeEndDate()| date: 'dd MMM yyyy'}}
                    </span>
                  </div>
                  <div class="fees-state-bottom">
                    <ul>
                      <li>
                        <label>Total Collected</label>
                        <div>Rs. {{getFeeAmount('total') | commaSeprator}}</div>
                      </li>
                      <li>
                        <label>Total Pending Cheques</label>
                        <div>Rs. {{getFeeAmount('pending') | commaSeprator}} </div>
                      </li>
                      <li>
                        <label>Past Dues</label>
                        <div>Rs. {{getFeeAmount('past') | commaSeprator}}</div>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>

              <li class="schedule-state item" data-id="1">
                <div class="item-content">
                  <div>
                    <div class="actb-top-header clearfix">
                      <span class="heading">
                        Schedule
                      </span>
                      <div class="schedSwitcher" *ngIf="!isProfessional">
                        <p-selectButton [options]="types" [(ngModel)]="selectedType" (onChange)="onChanged($event)"></p-selectButton>
                      </div>
                      <ul class="sche-top-det">
                        <li class="schedule-det" *ngIf="!isProfessional && isSubjectView">
                          <div>
                            <label>Total Classes :</label>
                            <span>{{getClassCount()}}</span>
                            <input style="margin-left:12%;" type="text" value="" id="schedWidDate" class="widgetDatepicker bsDatepicker" name="schedWidDate"
                              [(ngModel)]="schedDate" (ngModelChange)="updateschedByDate($event)" readonly="true" bsDaterangepicker/>
                          </div>
                        </li>
                        <li class="schedule-det" *ngIf="!isProfessional && !isSubjectView">
                          <div>
                            <label>Total Course :</label>
                            <span> {{courseLevelSchedule.length}}</span>
                            <input style="margin-left:12%;" type="text" value="" id="schedWidDate" class="widgetDatepicker bsDatepicker" name="schedWidDate"
                              [(ngModel)]="courseLevelSchedDate" (ngModelChange)="updateCourseLevelSched($event)" readonly="true"
                              bsDatepicker/>
                          </div>
                        </li>
                        <li class="schedule-det" *ngIf="isProfessional">
                          <div>
                            <label>Total Classes :</label>
                            <span>{{getClassCount()}}</span>
                            <input style="margin-left:12%;" type="text" value="" id="schedWidDate" class="widgetDatepicker bsDatepicker" name="schedWidDate"
                              [(ngModel)]="schedDate" (ngModelChange)="updateschedByDate($event)" readonly="true" bsDaterangepicker/>
                          </div>
                        </li>
                        <li>
                          <button class="pull-right drag-button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                              <path fill="#0C8AF6" fill-rule="nonzero" d="M19.723 11.927a.487.487 0 0 0-.107-.16l-1.683-1.684a.493.493 0 1 0-.698.697l.842.842h-5.7v-5.7l.878.879a.492.492 0 1 0 .698-.698l-1.72-1.72a.493.493 0 0 0-.697-.001L9.85 6.066a.494.494 0 0 0 .697.698l.843-.842-.001 5.7H5.692l.84-.842a.493.493 0 0 0-.697-.697l-1.683 1.684a.49.49 0 0 0 0 .697l1.72 1.72a.49.49 0 0 0 .698 0 .493.493 0 0 0 0-.697l-.88-.879h5.7v5.7l-.842-.841a.494.494 0 0 0-.697.697l1.684 1.684a.49.49 0 0 0 .697 0l1.721-1.721a.493.493 0 1 0-.698-.698l-.879.88v-5.7h5.702l-.88.878a.494.494 0 0 0 .698.698l1.72-1.72.004-.005a.506.506 0 0 0 .141-.345.496.496 0 0 0-.038-.188z"
                              />
                            </svg>
                          </button>
                          <button class="pull-right" (click)="openCalendar('schedWidDate')">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                              <g fill="#0084F6" fill-rule="nonzero">
                                <path d="M18.667 5.5H16.5v-1a.5.5 0 1 0-1 0v1h-3v-1a.5.5 0 1 0-1 0v1h-3v-1a.5.5 0 1 0-1 0v1H5.333C4.598 5.5 4 6.096 4 6.833v11.833C4 19.403 4.597 20 5.333 20h13.334c.736 0 1.333-.597 1.333-1.334V6.833c0-.737-.596-1.333-1.333-1.333zM19 18.666c0 .184-.15.334-.333.334H5.333A.334.334 0 0 1 5 18.666V6.833c0-.184.15-.333.333-.333H7.5v1a.5.5 0 1 0 1 0v-1h3v1a.5.5 0 1 0 1 0v-1h3v1a.5.5 0 1 0 1 0v-1h2.167c.183 0 .333.15.333.333v11.833z"
                                />
                                <path d="M7.5 10h2v1.5h-2zM7.5 12.5h2V14h-2zM7.5 15h2v1.5h-2zM11 15h2v1.5h-2zM11 12.5h2V14h-2zM11 10h2v1.5h-2zM14.5 15h2v1.5h-2zM14.5 12.5h2V14h-2zM14.5 10h2v1.5h-2z"
                                />
                              </g>
                            </svg>
                          </button>
                          <span class="enquiry-state-date pull-right" *ngIf="!isProfessional && isSubjectView">
                            {{getSchedStartDate()| date: 'dd MMM yyyy'}} To {{getSchedEndDate()| date: 'dd MMM yyyy'}}
                          </span>
                          <span class="enquiry-state-date pull-right" *ngIf="!isProfessional && !isSubjectView">
                            {{courseLevelSchedDate| date: 'dd MMM yyyy'}}
                          </span>
                          <span class="enquiry-state-date pull-right" *ngIf="isProfessional">
                            {{getSchedStartDate()| date: 'dd MMM yyyy'}} To {{getSchedEndDate()| date: 'dd MMM yyyy'}}
                          </span>
                        </li>
                      </ul>
                    </div>
                    <div class="schedule-bottom">
                      <ul class="sche-head" *ngIf="!isProfessional && isSubjectView">
                        <li>Timings</li>
                        <li class="cls-type">Class type</li>
                        <li>Subject/Course</li>
                        <li>tutor</li>
                      </ul>
                      <ul class="sche-head" *ngIf="!isProfessional && !isSubjectView">
                        <li>Master Course</li>
                        <li>Courses</li>
                      </ul>
                      <ul class="sche-head" *ngIf="isProfessional">
                        <li>Timings</li>
                        <li class="cls-type">Class type</li>
                        <li>Batch</li>
                        <li>Tutor</li>
                      </ul>
                      <div class="schedule-scroller" *ngIf="!isProfessional && isSubjectView">
                        <div class="ct-disable-wrapper pos-rel" *ngFor="let class of getClassListDetails();let i = index;">
                          <ul class="ct-ongoing" [class.active]="i == selectedRow" (click)="userScheduleSelected(i, class)">
                            <li>
                              <div>{{class.start_time}} - {{class.end_time}}</div>
                              <p>{{class.class_room_name}}</p>
                            </li>
                            <li class="cls-type">
                              <div>
                                {{class.freq}}
                                <span class="class-type-status">ongoing</span>
                              </div>
                            </li>
                            <li>
                              <div>{{class.batch_name}}</div>
                            </li>
                            <li>
                              <div>{{class.teacher_name}}</div>
                            </li>
                          </ul>
                          <div class="che-action" [class.display]="i == selectedRow">
                            <a style="cursor:pointer" *ngIf="class.is_attendance_marked != 'Y'" (click)="initiateMarkAttendance()"> Mark Attendance</a>
                            <a style="cursor:pointer" *ngIf="class.is_attendance_marked == 'Y'" (click)="initiateMarkAttendance()"> Update Attendance</a>
                            <a *ngIf='isOptionVisible && class.is_attendance_marked!="Y"' style="cursor:pointer" (click)="initiateCancelClass()">Cancel</a>
                            <a *ngIf='isOptionVisible' style="cursor:pointer" (click)="initiateRemiderClass()">Reminder</a>
                            <a *ngIf="isOptionVisible && class.is_attendance_marked!='Y'" style="cursor:pointer" (click)="initiateRescheduleClass()">Reschedule</a>
                          </div>
                        </div>
                      </div>
                      <div class="schedule-scroller" *ngIf="!isProfessional && !isSubjectView">
                        <div class="ct-disable-wrapper pos-rel" *ngFor="let class of courseLevelSchedule;let i = index;">
                          <ul class="ct-ongoing" [class.active]="i == selectedRow" (click)="userScheduleSelected(i, class)">
                            <li>
                              <div>{{class.master_course}}</div>
                              <p></p>
                            </li>
                            <li class="cls-type">
                              <div>
                                {{class.coursee_names}}
                                <span></span>
                              </div>
                            </li>
                          </ul>
                          <div class="che-action" [class.display]="i == selectedRow">
                            <a style="cursor:pointer" *ngIf="class.is_attendance_marked != 'Y'" (click)="initiateCourseMarkAttendance()"> Mark Attendance</a>
                            <a style="cursor:pointer" *ngIf="class.is_attendance_marked == 'Y'" (click)="initiateCourseMarkAttendance()"> Update Attendance</a>
                            <a *ngIf='isOptionVisible && class.is_attendance_marked !="Y" ' style="cursor:pointer" (click)="initiateCourseCancelClass()">Cancel</a>
                            <a *ngIf='isOptionVisible' style="cursor:pointer" (click)="initiateCourseRemiderClass()">Reminder</a>
                          </div>
                        </div>
                      </div>
                      <div class="schedule-scroller" *ngIf="isProfessional">
                        <div class="ct-disable-wrapper pos-rel" *ngFor="let class of getClassListDetails();let i = index;">
                          <ul class="ct-ongoing" [class.active]="i == selectedRow" (click)="userScheduleSelected(i, class)">
                            <li>
                              <div>{{class.start_time}} - {{class.end_time}}</div>
                              <p>{{class.class_room_name}}</p>
                            </li>
                            <li class="cls-type">
                              <div>
                                {{class.freq}}
                                <span class="class-type-status">ongoing</span>
                              </div>
                            </li>
                            <li>
                              <div>{{class.batch_name}}</div>
                            </li>
                            <li>
                              <div>{{class.teacher_name}}</div>
                            </li>
                          </ul>
                          <div class="che-action" [class.display]="i == selectedRow">
                            <a *ngIf="class.is_attendance_marked != 'Y'" style="cursor:pointer" (click)="initiateMarkAttendance()"> Mark Attendance</a>
                            <a *ngIf="class.is_attendance_marked == 'Y'" style="cursor:pointer" (click)="initiateMarkAttendance()"> View Attendance</a>
                            <a *ngIf='isOptionVisible && class.is_attendance_marked !="Y"' style="cursor:pointer" (click)="initiateCancelClass()">Cancel</a>
                            <a *ngIf='isOptionVisible' style="cursor:pointer" (click)="initiateRemiderClass()">Reminder</a>
                            <a *ngIf="isOptionVisible && class.is_attendance_marked != 'Y'" style="cursor:pointer" (click)="initiateRescheduleClass()">Reschedule</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>

              <li class="general-state item" style="height: 200px;" data-id="4">
                <div class="item-content">
                  <div class="actb-top-header clearfix">
                    <span class="heading">
                      General stats
                    </span>
                    <button class="pull-right drag-button">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path fill="#0C8AF6" fill-rule="nonzero" d="M19.723 11.927a.487.487 0 0 0-.107-.16l-1.683-1.684a.493.493
                              0 1 0-.698.697l.842.842h-5.7v-5.7l.878.879a.492.492 0 1 0 .698-.698l-1.72-1.72a.493.493 0 0 0-.697-.001L9.85
                              6.066a.494.494 0 0 0 .697.698l.843-.842-.001 5.7H5.692l.84-.842a.493.493 0 0 0-.697-.697l-1.683
                              1.684a.49.49 0 0 0 0 .697l1.72 1.72a.49.49 0 0 0 .698 0 .493.493 0 0 0 0-.697l-.88-.879h5.7v5.7l-.842-.841a.494.494
                              0 0 0-.697.697l1.684 1.684a.49.49 0 0 0 .697 0l1.721-1.721a.493.493 0 1 0-.698-.698l-.879.88v-5.7h5.702l-.88.878a.494.494
                              0 0 0 .698.698l1.72-1.72.004-.005a.506.506 0 0 0 .141-.345.496.496 0 0 0-.038-.188z" />
                      </svg>
                    </button>
                  </div>
                  <div class="general-s-bottom">
                    <ul>
                      <li>
                        <label>Total active students</label>
                        <a>{{genralStats.total}} Students</a>
                      </li>
                      <li>
                        <label>Sms balance</label>
                        <a>{{genralStats.sms}}</a>
                      </li>
                      <li>
                        <label>Download limit</label>
                        <a>{{genralStats.download}} GB</a>
                      </li>
                      <li>
                        <label>Expiry date</label>
                        <div>{{genralStats.expiry}}</div>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>

            </ul>
          </div>
        </div>
      </div>
    </section>
  </section>

  <proctur-widget *ngIf="isAttendancePop">
    <span class="closePopup pos-abs fbold show" id="popupCloseBtn" (click)="closeAttendance()" close-button>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="9310 2185 16 16">
        <g id="Group_1228" data-name="Group 1228" transform="translate(8298 1888)">
          <g id="Group_1213" data-name="Group 1213" transform="translate(34.189 -7.77)">
            <line id="Line_274" data-name="Line 274" class="cls-1" y2="19.798" transform="translate(992.81 305.77)
                              rotate(45)" />
            <line id="Line_275" data-name="Line 275" class="cls-1" x1="19.798" transform="translate(978.81 305.77)
                              rotate(45)" />
          </g>
          <rect id="Rectangle_686" data-name="Rectangle 686" style="stroke:none;" class="cls-2" width="16
               " height="16" transform="translate(1012 297)" />
        </g>
      </svg>
    </span>
    `
    <h2 widget-header>Mark / Update Attendance : {{classMarkedForAction.batch_name}} - {{studentAttList.length}}</h2>

    <hr>

    <div class="attendanceWrapper" widget-content>

      <div class="row">
        <aside class="tableSection">
          <div class="row button-row hide">
            <button class="btn pull-right">Update Topic/SubTopic</button>
          </div>

          <div class="row filterSection">
            <div class="c-sm-3 c-md-3 c-lg-3">
              <h3>Total Students : {{studentAttList.length}} </h3>
            </div>

            <div class="c-sm-3 c-md-3 c-lg-3">
              <span class="leave">{{leaveCount}}</span>
              <span class="absent">{{absentCount}}</span>
              <span class="present">{{presentCount}}</span>
            </div>

            <div class="c-sm-3 c-md-3 c-lg-3">
              <div class="field-checkbox-wrapper" *ngIf="classMarkedForAction.is_attendance_marked != 'Y'">
                <input type="checkbox" value="" class="form-checkbox" id="MarkAllPresent" [checked]="AllPresent" (change)="markAllPresent($event)">
                <label for="MarkAllPresent">Mark All Present</label>
              </div>
            </div>

            <div class="c-sm-3 c-md-3 c-lg-3" style="margin-top: -10px">
              <div class="field-wrapper" [ngClass]="{ 'has-value': teacher_id !='-1' }">
                <select id="teachers" class="form-ctrl" [(ngModel)]="teacher_id" style="background: transparent;
                  border-bottom: 1px solid #4191da">
                  <option value='-1'>Select Tutor</option>
                  <option [value]="teacher.teacher_id" *ngFor="let teacher of teacherListArr">
                    {{teacher.teacher_name}}
                  </option>
                </select>
                <label for="feeType">Tutor</label>
              </div>
            </div>
          </div>

          <div class="row studentTableWrapper">
            <div class="schedule-bottom">
              <ul class="sche-head" *ngIf="instituteSetting.home_work_feature_enable==1">
                <li style="width: 20%; font-weight: 400">Student ID</li>
                <li style="width: 20%; font-weight: 400">Student Name</li>
                <li style="width: 35%; font-weight: 400">Mark Attendance</li>
                <li style="width: 25%; font-weight: 400">Home Work Status</li>
              </ul>
              <ul class="sche-head" *ngIf="instituteSetting.home_work_feature_enable !=1">
                <li style="width: 30%; font-weight: 400">Student ID</li>
                <li style="width: 30%; font-weight: 400">Student Name</li>
                <li style="width: 40%; font-weight: 400">Mark Attendance</li>
              </ul>
              <div class="schedule-scroller">
                <div class="ct-disable-wrapper pos-rel" *ngFor="let s of studentAttList;let i=index;" [ngClass]="{ homeWorkNotFoundClass: instituteSetting.home_work_feature_enable !=1 }">
                  <ul class="ct-ongoing">
                    <li style="width: 20%; font-weight: 800">
                      <div>{{s.student_disp_id}}</div>
                    </li>

                    <li class="cls-type" style="width: 20% ; font-weight: 800">
                      <div>
                        {{s.student_name}}
                      </div>
                    </li>

                    <li style="width: 35%">
                      <div class="radio-options attendanceGroup">
                        <div class="field-radio-wrapper">
                          <input [disabled]="getDisability(s)" type="radio" value="L" name="{{s.student_id}}" [(ngModel)]="s.dateLi[0].status" class="form-radio"
                            (ngModelChange)="updateRadioAttendance($event, i, s)" id="Leave{{s.student_id}}">
                          <label class="leave" for="Leave{{s.student_id}}">Leave</label>
                        </div>
                        <div class="field-radio-wrapper">
                          <input [disabled]="getDisability(s)" type="radio" value="A" name="{{s.student_id}}" [(ngModel)]="s.dateLi[0].status" class="form-radio"
                            (ngModelChange)="updateRadioAttendance($event, i, s)" id="Absent{{s.student_id}}">
                          <label class="absent" for="Absent{{s.student_id}}">Absent</label>
                        </div>
                        <div class="field-radio-wrapper">
                          <input [disabled]="getDisability(s)" type="radio" value="P" name="{{s.student_id}}" [(ngModel)]="s.dateLi[0].status" class="form-radio"
                            (ngModelChange)="updateRadioAttendance($event, i, s)" id="Present{{s.student_id}}">
                          <label class="present" for="Present{{s.student_id}}">Present</label>
                        </div>
                      </div>
                    </li>

                    <li style="width: 25%;" *ngIf="instituteSetting.home_work_feature_enable==1">
                      <div class="customDropdown">
                        <select [disabled]="s.dateLi[0].status=='L' || s.dateLi[0].status=='A'" id="hw_status_11755" class="" [(ngModel)]="s.dateLi[0].home_work_status"
                          (ngModelChange)="isHomeworkStatusChanged(i)">
                          <option value="Y" selected=" ">Completed</option>
                          <option value="N">Not Done</option>
                          <option value="NC">InComplete</option>
                        </select>
                      </div>
                    </li>

                  </ul>
                </div>
              </div>
            </div>
          </div>

        </aside>

        <aside class="detailsSection">
          <div style="margin-top: 0px">
            <h3>Attendance Note</h3>
            <div class="field-wrapper">
              <textarea class="form-ctrl textBox" value="" [(ngModel)]="attendanceNote">
                  </textarea>
            </div>
          </div>
          <div *ngIf="instituteSetting.home_work_feature_enable==1">
            <h3>Homework</h3>
            <div class="field-wrapper" [ngClass]="{ 'has-value': homework !='' }">
              <textarea class="form-ctrl textBox" value="" [(ngModel)]="homework">
                </textarea>
            </div>
          </div>
          <div>
            <h3>Yesterdays Homework</h3>
            <span style="font-weight: 600">{{studentAttList[0].dateLi[0].previous_class_homework_assigned}}</span>
          </div>
          <div class="checkboxGroup">
            <div class="field-checkbox-wrapper" *ngIf="instituteSetting.home_work_feature_enable==1">
              <input type="checkbox" value="" class="form-checkbox" id="EnableHomeWorkSms" [checked]="home_work_notifn==1 ? true: false"
                (change)="updateHomework($event)">
              <label for="EnableHomeWorkSms">Enable Homework SMS</label>
            </div>
            <div class="field-checkbox-wrapper">
              <input type="checkbox" value="" class="form-checkbox" id="EnableSmsTopic" [checked]="topics_covered_notifn==1 ? true: false"
                (change)="updateTopicCovered($event)">
              <label for="EnableSmsTopic">Enable SMS For Topic Covered</label>
            </div>
            <div class="field-checkbox-wrapper hide">
              <input type="checkbox" value="" class="form-checkbox" id="EnableSmsAbsentees">
              <label for="EnableSmsTopic">Enable SMS For Absentees</label>
            </div>
          </div>
        </aside>
      </div>


      <!-- <div class="row topicSection">
        <div class="c-lg-6 c-md-6 c-sm-6">
          <div class="field-wrapper">
            <textarea class="form-ctrl textBox" placeholder="Attendance Note" value="" [(ngModel)]="attendanceNote">
            </textarea>
          </div>
        </div>
        <div class="c-lg-6 c-md-6 c-sm-6" *ngIf="instituteSetting.home_work_feature_enable==1">
          <div class="field-wrapper" style="width: 80%;float: right;" [ngClass]="{ 'has-value': homework !='' }">
            <input type="text" value="" class="form-ctrl" id="homeWorkName" name="homeWorkName" [(ngModel)]="homework" />
            <label for="homeWorkName">Homework</label>
          </div>
          <div class="field-wrapper" style="width: 80%;float: right;">
            <input style="border-bottom:none;" type="text" readonly="true" disabled value="" class="form-ctrl
  " id="lasthomeWork" name="lasthomeWork"
            />
            <label for="lasthomeWork">Last Class Homework</label>
          </div>
        </div>
      </div>

      <div class="row settingAttendance">
        <div class="c-lg-6 c-md-6 c-sm-6">
          <div class="field-checkbox-wrapper" *ngIf="instituteSetting.home_work_feature_enable==1">
            <input type="checkbox" value="" class="form-checkbox" id="EnableHomeWorkSms" [checked]="home_work_notifn==1
                  ? true: false"
              (change)="updateHomework($event)">
            <label for="EnableHomeWorkSms">Enable Homework SMS</label>
          </div>
          <div class="field-checkbox-wrapper">
            <input type="checkbox" value="" class="form-checkbox" id="EnableSmsTopic" [checked]="topics_covered_notifn==1
                  ? true: false"
              (change)="updateTopicCovered($event)">
            <label for="EnableSmsTopic">Enable SMS For Topic Covered</label>
          </div>
        </div>
        <div class="c-lg-3 c-md-3 c-sm-3">
          <div class="field-checkbox-wrapper" style="margin-top: 25px;margin-bottom: 0px;">
            <input type="checkbox" value="" class="form-checkbox" id="MarkAllPresent" [checked]="AllPresent
  " (change)="markAllPresent($event)">
            <label for="MarkAllPresent">Mark All Present</label>
          </div>
        </div>
        <div class="c-lg-3 c-md-3 c-sm-3">
          <div class="field-wrapper" style="margin-bottom: 10px;" [ngClass]="{ 'has-value': teacher_id !='-1' }">
            <select id="teachers" class="form-ctrl" [(ngModel)]="teacher_id">
              <option value='-1'></option>
              <option [value]="teacher.teacher_id" *ngFor="let teacher of teacherListArr">
                {{teacher.teacher_name}}
              </option>
            </select>
            <label for="feeType">Tutor</label>
          </div>
        </div>
      </div>

      <div class="row attendanceMain">
        <div class="table-scroll-wrapper">
          <div class="table table-responsive widget-table">
            <table>
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Name</th>
                  <th>Date of Joining</th>
                  <th>Attendance</th>
                  <th *ngIf="instituteSetting.home_work_feature_enable==1">Home Work Status</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let s of studentAttList; let i=index;">
                  <td>
                    {{s.student_disp_id}}
                  </td>
                  <td>
                    {{s.student_name}}
                  </td>
                  <td>
                    {{s.doj}}
                  </td>
                  <td>
                    <div class="radio-options">
                      <div class="field-radio-wrapper">
                        <input [disabled]="getDisability(s)" type="radio" value="P" name="{{s.student_id}}
  " [(ngModel)]="s.dateLi[0].status" class="form-radio"
                          (ngModelChange)="updateRadioAttendance($event, i, s)" id="Present{{s.student_id}}">
                        <label class="present" for="Present{{s.student_id}}">Present</label>
                      </div>
                      <div class="field-radio-wrapper">
                        <input [disabled]="getDisability(s)" type="radio" value="L" name="{{s.student_id}}
  " [(ngModel)]="s.dateLi[0].status" class="form-radio"
                          (ngModelChange)="updateRadioAttendance($event, i, s)" id="Leave{{s.student_id}}">
                        <label class="leave" for="Leave{{s.student_id}}">Leave</label>
                      </div>
                      <div class="field-radio-wrapper">
                        <input [disabled]="getDisability(s)" type="radio" value="A" name="{{s.student_id}}
  " [(ngModel)]="s.dateLi[0].status" class="form-radio"
                          (ngModelChange)="updateRadioAttendance($event, i, s)" id="Absent{{s.student_id}}">
                        <label class="absent" for="Absent{{s.student_id}}">Absent</label>
                      </div>
                    </div>
                  </td>
                  <td *ngIf="instituteSetting.home_work_feature_enable==1">
                    <div class="field-wrapper">
                      <select [disabled]="s.dateLi[0].status=='L' || s.dateLi[0].status=='A'" id="hw_status_11755
  " class="form-ctrl" [(ngModel)]="s.dateLi[0].home_work_status"
                        (ngModelChange)="isHomeworkStatusChanged(i)">
                        <option value="Y" selected="">Completed</option>
                        <option value="N">Not Done</option>
                        <option value="NC">InComplete</option>
                      </select>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div> -->
    </div>

    <div class="" widget-footer>
      <div class="clearfix">
        <aside class="pull-right popup-btn">
          <input type="button" value="Cancel" class="btn" (click)="closeAttendance()">
          <input type="button" *ngIf="isProfessional && classMarkedForAction.is_attendance_marked != 'Y'" value="Update" (click)="updateAttendance()"
            class="redBtn btn">
          <input type="button" *ngIf="!isProfessional" value="Update" (click)="updateAttendance()" class="redBtn btn">
        </aside>
      </div>
    </div>

  </proctur-widget>

  <proctur-widget *ngIf="isCancelExamPop">

    <span class="closePopup pos-abs fbold show" id="popupCloseBtn" (click)="closeCancelClass()" close-button>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="9310 2185 16 16">
        <g id="Group_1228" data-name="Group 1228" transform="translate(8298 1888)">
          <g id="Group_1213" data-name="Group 1213" transform="translate(34.189 -7.77)">
            <line id="Line_274" data-name="Line 274" class="cls-1" y2="19.798" transform="translate(992.81
                  305.77) rotate(45)" />
            <line id="Line_275" data-name="Line 275" class="cls-1" x1="19.798" transform="translate(978.81
                  305.77) rotate(45)" />
          </g>
          <rect id="Rectangle_686" data-name="Rectangle 686" style="stroke:none;" class="cls-2
  " width="16" height="16" transform="translate(1012 297)" />
        </g>
      </svg>
    </span>

    <h2 widget-header>Cancel Schedule {{classMarkedForAction.batch_name}}</h2>

    <div class="CancelWrapper" widget-content>
      <div class="row cancelField">
        <div class="c-lg-6 c-md-6 c-sm-6">
          <div class="field-wrapper">
            <textarea class="form-ctrl textBox" style="height: 100px;" placeholder="Cancellation Reason:" value="" [(ngModel)]="cancellationReason">
            </textarea>
          </div>
        </div>
        <div class="c-lg-6 c-md-6 c-sm-6">
          <div class="field-checkbox-wrapper">
            <input type="checkbox" value="" class="form-checkbox" id="notifyCancel" [checked]="getCheckedStatus(
                  'notifyCancel')" (change)="notifyCancelUpdate($event)">
            <label for="notifyCancel">Notify Batch Students For Class Cancellation</label>
          </div>
        </div>
      </div>
    </div>

    <div class="" widget-footer>
      <div class="clearfix">
        <aside class="pull-right popup-btn">
          <input type="button" value="Cancel" class="btn" (click)="closeCancelClass()">
          <input type="button" value="Update Schedule" (click)="cancelClass()" class="redBtn btn">
        </aside>
      </div>
    </div>

  </proctur-widget>

  <proctur-widget *ngIf="isReminderPop">
    <span class="closePopup pos-abs fbold show" id="popupCloseBtn" (click)="closeRemiderClass()" close-button>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="9310 2185 16 16">
        <g id="Group_1228" data-name="Group 1228" transform="translate(8298 1888)">
          <g id="Group_1213" data-name="Group 1213" transform="translate(34.189 -7.77)">
            <line id="Line_274" data-name="Line 274" class="cls-1" y2="19.798" transform="translate(992.81
                  305.77) rotate(45)" />
            <line id="Line_275" data-name="Line 275" class="cls-1" x1="19.798" transform="translate(978.81
                  305.77) rotate(45)" />
          </g>
          <rect id="Rectangle_686" data-name="Rectangle 686" style="stroke:none;" class="cls-2
  " width="16" height="16" transform="translate(1012 297)" />
        </g>
      </svg>
    </span>


    <h2 widget-header>Send Reminder For {{classMarkedForAction.batch_name}}</h2>

    <div class="reminderWrapper" widget-content>
      <div class="row" style="margin: 30px 20px;">
        The reminder for the selected schedule will be sent!! click continue to proceed.
      </div>
    </div>

    <div class="" widget-footer>
      <div class="clearfix">
        <aside class="pull-right popup-btn">
          <input type="button" value="Cancel" class="btn" (click)="closeRemiderClass()">
          <input type="button" value="Continue" (click)="sendReminder()" class="redBtn btn">
        </aside>
      </div>
    </div>


  </proctur-widget>

  <proctur-widget *ngIf="isReschedulePop">
    <span class="closePopup pos-abs fbold show" id="popupCloseBtn" (click)="closeRescheduleClass()" close-button>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="9310 2185 16 16">
        <g id="Group_1228" data-name="Group 1228" transform="translate(8298 1888)">
          <g id="Group_1213" data-name="Group 1213" transform="translate(34.189 -7.77)">
            <line id="Line_274" data-name="Line 274" class="cls-1" y2="19.798" transform="translate(992.81
                  305.77) rotate(45)" />
            <line id="Line_275" data-name="Line 275" class="cls-1" x1="19.798" transform="translate(978.81
                  305.77) rotate(45)" />
          </g>
          <rect id="Rectangle_686" data-name="Rectangle 686" style="stroke:none;" class="cls-2
  " width="16" height="16" transform="translate(1012 297)" />
        </g>
      </svg>
    </span>

    <h2 widget-header>Reschedule {{classMarkedForAction.batch_name}}</h2>

    <div class="rescheduleWrapper" widget-content>
      <div class="row">
        <div class="field-wrapper datePickerBox" style="width: 50%;" [ngClass]="{ 'has-value': reschedDate
                  !='' }">
          <input type="text" id="reschDate" name="reschDate" readonly="true" class="form-ctrl bsDatepicker
  " [(ngModel)]="reschedDate" bsDatepicker>
          <label for="reschDate">Reshedule Date</label>
        </div>
      </div>
      <div class="row">
        <fieldset>
          <legend>Start Time</legend>
          <div class="time-picker">
            <div class="field-wrapper hour" [ngClass]="{ 'has-value': timepicker.reschedStartTime.hour
                  !='' }">
              <select id="uniStartHour" class="form-ctrl ng-valid ng-touched ng-dirty" [(ngModel)]="timepicker.reschedStartTime.hour
  " name="uniStartHour">
                <option *ngFor="let hour of hourArr" [value]="hour">
                  {{hour}}
                </option>
              </select>
              <label for="uniStartHour">Hour</label>
            </div>
            <div class="field-wrapper minute" [ngClass]="{ 'has-value': timepicker.reschedStartTime.minute
                  !='' }">
              <select id="uniStartMinute" class="form-ctrl ng-valid ng-touched ng-dirty
  " [(ngModel)]="timepicker.reschedStartTime.minute" name="uniStartMinute">
                <option *ngFor="let minute of minArr" [value]="minute">
                  {{minute}}
                </option>
              </select>
              <label for="uniStartMinute">Minute</label>
            </div>
            <div class="field-wrapper meridian" [ngClass]="{ 'has-value': timepicker.reschedStartTime.meridian
                  !='' }">
              <select id="uniStartHour" class="form-ctrl ng-valid ng-touched ng-dirty" [(ngModel)]="timepicker.reschedStartTime.meridian"
                name="uniStartHour">
                <option *ngFor="let meridian of meridianArr" [value]="meridian">
                  {{meridian}}
                </option>
              </select>
              <label for="uniStartHour">Meridian</label>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <legend>
            End Time
          </legend>
          <div class="time-picker">
            <div class="field-wrapper hour" [ngClass]="{ 'has-value': timepicker.reschedEndTime.hour !=''
                  }">
              <select id="uniEndHour" class="form-ctrl ng-valid ng-touched ng-dirty" [(ngModel)]="timepicker.reschedEndTime.hour
  " name="uniEndHour">
                <option *ngFor="let hour of hourArr" [value]="hour">
                  {{hour}}
                </option>
              </select>
              <label for="uniEndHour">Hour</label>
            </div>
            <div class="field-wrapper minute" [ngClass]="{ 'has-value': timepicker.reschedEndTime.minute
                  !='' }">
              <select id="uniEndMinute" class="form-ctrl ng-valid ng-touched ng-dirty" [(ngModel)]="timepicker.reschedEndTime.minute
  " name="uniEndMinute">
                <option *ngFor="let minute of minArr" [value]="minute">
                  {{minute}}
                </option>
              </select>
              <label for="uniEndMinute">Minute</label>
            </div>
            <div class="field-wrapper meridian" [ngClass]="{ 'has-value': timepicker.reschedEndTime.meridian
                  !='' }">
              <select id="uniEndHour" class="form-ctrl ng-valid ng-touched ng-dirty" [(ngModel)]="timepicker.reschedEndTime.meridian
  " name="uniEndHour">
                <option *ngFor="let meridian of meridianArr" [value]="meridian">
                  {{meridian}}
                </option>
              </select>
              <label for="uniEndHour">Meridian</label>
            </div>
          </div>
        </fieldset>
      </div>
      <div class="row">
        <div class="field-wrapper" style="width: 50%;">
          <textarea type="text" style="height:50px;" id="reschreason" name="reschreason
  " [(ngModel)]="reschedReason" value="" placeholder="Reshedule Reason" class="form-ctrl textbox">
          </textarea>
        </div>
      </div>
      <div class="row" style="margin: 10px 0px;">
        <div class="field-checkbox-wrapper">
          <input type="checkbox" value="" class="form-checkbox" id="is_reshedule_notified
  " [checked]="getCheckedStatus( 'resheduleNotified')" (change)="notifyRescheduleUpdate($event)">
          <label for="is_reshedule_notified">Notify Batch Students For Class Cancellation</label>
        </div>
      </div>
    </div>

    <div class="" widget-footer>
      <div class="clearfix">
        <aside class="pull-right popup-btn">
          <input type="button" value="Cancel" class="btn" (click)="closeRescheduleClass()">
          <input type="button" value="Reschedule Class" (click)="rescheduleClass()" class="redBtn btn">
        </aside>
      </div>
    </div>


  </proctur-widget>

  <proctur-widget *ngIf="isCourseAttendance">
    <span class="closePopup pos-abs fbold show" id="popupCloseBtn" (click)="closeCourseLevelAttendance()" close-button>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="9310 2185 16 16">
        <g id="Group_1228" data-name="Group 1228" transform="translate(8298 1888)">
          <g id="Group_1213" data-name="Group 1213" transform="translate(34.189 -7.77)">
            <line id="Line_274" data-name="Line 274" class="cls-1" y2="19.798" transform="translate(992.81
                  305.77) rotate(45)" />
            <line id="Line_275" data-name="Line 275" class="cls-1" x1="19.798" transform="translate(978.81
                  305.77) rotate(45)" />
          </g>
          <rect id="Rectangle_686" data-name="Rectangle 686" style="stroke:none;" class="cls-2
   " width="16" height="16" transform="translate(1012 297)" />
        </g>
      </svg>
    </span>
    <h2 widget-header>Mark Attendance Students</h2>
    <div class="attendanceWrapper" widget-content>
      <div class="attendanceMain">
        <div class="table-scroll-wrapper">
          <div class="table table-responsive widget-table">
            <table>
              <thead>
                <tr style="height: 35px;">
                  <th style="font-size: 14px;font-weight: 600;">Student Id</th>
                  <th style="font-size: 14px;font-weight: 600;">Student Name</th>
                  <th style="font-size: 14px;font-weight: 600;">Joining Date</th>
                  <th style="font-size: 14px;font-weight: 600;">Attendance</th>
                  <th style="font-size: 14px;font-weight: 600;" *ngIf="instituteSetting.home_work_feature_enable==1">Home Work Status</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let s of courseLevelStudentAtt; let i=index;">
                  <td>
                    {{s.student_disp_id}}
                  </td>
                  <td>
                    {{s.student_name}}
                  </td>
                  <td>
                    {{s.doj}}
                  </td>
                  <td>
                    <div class="radio-options">
                      <div class="field-radio-wrapper">
                        <input [disabled]="getDisability(s)" type="radio" value="P" name="{{s.student_id}}
   " [(ngModel)]="s.dateLi[0].status" class="form-radio" (ngModelChange)="updateCourseRadioAttendance($event, i, s)" id="Present{{s.student_id}}">
                        <label class="present" for="Present{{s.student_id}}">Present</label>
                      </div>
                      <div class="field-radio-wrapper">
                        <input [disabled]="getDisability(s)" type="radio" value="L" name="{{s.student_id}}
   " [(ngModel)]="s.dateLi[0].status" class="form-radio" (ngModelChange)="updateCourseRadioAttendance($event, i, s)" id="Leave{{s.student_id}}">
                        <label class="leave" for="Leave{{s.student_id}}">Leave</label>
                      </div>
                      <div class="field-radio-wrapper">
                        <input [disabled]="getDisability(s)" type="radio" value="A" name="{{s.student_id}}
   " [(ngModel)]="s.dateLi[0].status" class="form-radio" (ngModelChange)="updateCourseRadioAttendance($event, i, s)" id="Absent{{s.student_id}}">
                        <label class="absent" for="Absent{{s.student_id}}">Absent</label>
                      </div>
                    </div>
                  </td>
                  <td *ngIf="instituteSetting.home_work_feature_enable==1">
                    <div class="field-wrapper">
                      <select [disabled]="s.dateLi[0].status=='L' || s.dateLi[0].status=='A'" id="hw_status
   " class="form-ctrl" [ngModel]="getCourseHomeworkData(i)" (ngModelChange)="isCourseHomeworkStatusChanged($event,i)">
                        <option value="Y" selected>Completed</option>
                        <option value="N">Not Done</option>
                        <option value="NC">InComplete</option>
                      </select>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="" widget-footer>
      <div class="clearfix">
        <aside class="pull-right popup-btn">
          <input type="button" value="Cancel" class="btn" (click)="closeCourseLevelAttendance()">
          <input type="button" value="Update" (click)="updateCourseAttendance()" class="redBtn btn">
        </aside>
      </div>
    </div>
  </proctur-widget>

  <proctur-widget *ngIf="isCourseCancel">
    <span class="closePopup pos-abs fbold show" id="popupCloseBtn" (click)="closeCourseCancelClass()" close-button>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="9310 2185 16 16">
        <g id="Group_1228" data-name="Group 1228" transform="translate(8298 1888)">
          <g id="Group_1213" data-name="Group 1213" transform="translate(34.189 -7.77)">
            <line id="Line_274" data-name="Line 274" class="cls-1" y2="19.798" transform="translate(992.81
                  305.77) rotate(45)" />
            <line id="Line_275" data-name="Line 275" class="cls-1" x1="19.798" transform="translate(978.81
                  305.77) rotate(45)" />
          </g>
          <rect id="Rectangle_686" data-name="Rectangle 686" style="stroke:none;" class="cls-2
   " width="16" height="16" transform="translate(1012 297)" />
        </g>
      </svg>
    </span>

    <h2 widget-header>Cancel Schedule {{classMarkedForAction.batch_name}}</h2>

    <div class="CancelWrapper" widget-content>
      <div class="row cancelField">
        <div class="c-lg-6 c-md-6 c-sm-6">
          <div class="field-wrapper">
            <textarea class="form-ctrl textBox" style="height: 100px;" placeholder="Cancellation Reason:
   " value="" [(ngModel)]="cancellationReason">
            </textarea>
          </div>
        </div>
        <div class="c-lg-6 c-md-6 c-sm-6">
          <div class="field-checkbox-wrapper">
            <input type="checkbox" value="" class="form-checkbox" id="notifyCancel" [checked]="getCheckedStatus(
                  'notifyCancel')" (change)="notifyCancelUpdate($event)">
            <label for="notifyCancel">Notify Batch Students For Class Cancellation</label>
          </div>
        </div>
      </div>
    </div>

    <div class="" widget-footer>
      <div class="clearfix">
        <aside class="pull-right popup-btn">
          <input type="button" value="Cancel" class="btn" (click)="closeCourseCancelClass()">
          <input type="button" value="Update Schedule" (click)="cancelCourseClass()" class="redBtn btn">
        </aside>
      </div>
    </div>

  </proctur-widget>

</section>