
<div class="common-tab">
      <ul>
        <li id="liUser" (click)="switchActiveView('liUser')" class="">
          <a routerLink="/view/manage">User</a>
        </li>
        <li id="liRole" (click)="switchActiveView('liRole')" class="active">
          <a routerLink="/view/manage/role">Role</a>
        </li>
      </ul>
  </div>

<section class="middle-section clearFix">
  <div class="content-contaioner">

    <div class="head">
      <div class="row">
        <div class="pull-left" style="display: inline-flex;">
          <h3>Roles</h3>&nbsp;&nbsp;
          <div style="margin-top: -8px">
            <rob-tooltip [textMessage]="'?'" [message]="toottip" [placement]="'left'" [customClass]="'left'">
            </rob-tooltip>
          </div>
        </div>
        <div class="btnWrapper">
          <button type="button" class="btn pull-right" name="button" routerLink='./addedit'>
            <i class="fa fa-plus" aria-hidden="true"></i>
            &nbsp; Add Role
          </button>
        </div>
      </div>
    </div>

    <div class="table-container">
      <div class="heading-container">
        <div class="heading-item">
          <span>S No.</span>
        </div>
        <div class="heading-item" style="width: 25%;text-align: left;">
          <span>Role</span>
        </div>
        <div class="heading-item" style="width: 30%;">
          <span>Description</span>
        </div>
        <div class="heading-item" style="width: 19%;">
          <span>Assigned User</span>
        </div>
        <div class="heading-item">
          <span>Action</span>
        </div>
      </div>
      <div class="value-outer-container" *ngIf="rolesList?.length>0">
        <div class="value-container" *ngFor="let data of rolesList; let i = index; trackBy: i">
          <div class="value-item">
            {{i+1}}
          </div>
          <div class="value-item" style="width: 25%;text-align: left;">
            <span title="{{data.role_name}}">{{(data.role_name > 30) ? (data.role_name | slice:0:30) + '...' : data.role_name}}</span>
           </div>
           <div class="value-item" style="width: 30%;">
            <span title="{{data.role_desc}}" *ngIf="data.role_desc!=null || data.role_desc!=''">{{(data.role_desc > 30) ? (data.role_desc | slice:0:30) + '...' : data.role_desc}}</span>
            <span *ngIf="data.role_desc==null || data.role_desc==''">-</span>
          </div>
          <div class="value-item" style="width: 19%;">
            <a class="viewTag" (click)="showAssignedUserList(data)" style="cursor:pointer" title="Click here to see assigned user list">{{data.total_user_count}}</a>
          </div>
          <div class="value-item">
            <div class="action-menu" style="font-size: 14px;">
              <a [routerLink]='["./addedit" , data.role_id]' title="Edit"><i class="fa fa-edit"></i></a>
              <a (click)="deleteRole(data)" title="Delete" style="color: red;"><i class="fa fa-trash"></i> </a>
            </div>
          </div>
      </div>
    </div>
    <div class="value-outer-container" *ngIf="rolesList?.length == 0" style="text-align: center;padding: 10%;font-weight: 600;">
      No data found
    </div>
    </div>

    <!-- Paginator Here -->
    <div class="row filter-res pagination" style="width: 100%;">
      <div class="c-lg-12 c-md-12 c-sm-12 align-right">
        <pagination (goPage)="fetchTableDataByPage($event)" (goNext)="fetchNext()" (goPrev)="fetchPrevious()" [pagesToShow]="10"
          [page]="PageIndex" [perPage]="displayBatchSize" [count]="totalRow">
        </pagination>
      </div>
    </div>

  </div>
</section>



<!-- ///////// POPUP/////////////////////////////////// -->
<!-- ///////// POPUP/////////////////////////////////// -->
<!-- ///////// POPUP/////////////////////////////////// -->

<section id="popup " class="popupWrapper fadeIn " *ngIf="showUserListPopUp">
  <div class="popup pos-abs popup-body-container ">
    <div class="popup-wrapper pos-rel ">
      <span class="closePopup pos-abs fbold show " id="popupCloseBtn " (click)="closePopUp()">
        <svg xmlns="http://www.w3.org/2000/svg " viewBox="9310 2185 16 16 ">
          <g id="Group_1228 " data-name="Group 1228 " transform="translate(8298 1888) ">
            <g id="Group_1213 " data-name="Group 1213 " transform="translate(34.189 -7.77) ">
              <line id="Line_274 " data-name="Line 274 " class="cls-1 " y2="19.798 " transform="translate(992.81 305.77)
                      rotate(45) " />
              <line id="Line_275 " data-name="Line 275 " class="cls-1 " x1="19.798 " transform="translate(978.81 305.77)
                      rotate(45) " />
            </g>
            <rect id="Rectangle_686 " data-name="Rectangle 686 " style="stroke:none; " class="cls-2 " width="16
                      " height="16 " transform="translate(1012 297) " />
          </g>
        </svg>
      </span>
      <div class="popup-content">
        <h2>Assigned User list</h2>
        <div class="roles-table-wrapper">
          <table>
            <thead>
              <tr>
                <th>Name</th>
                <th>Email Id</th>
                <th>Contact Number</th>
                <th>Username</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let s of userList">
                <td>{{s.name}}</td>
                <td>{{s.email_id}}</td>
                <td>{{s.phone}}</td>
                <td>{{s.username}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>