<div class="middle-section clearFix">
    <aside class="middle-full">
        <section class="middle-main clearFix">
            <section class="activity-box-container">
              <div class="activity-container">

                <div class="activity-item-container" *ngIf="jsonFlag.isFeeActivity"  routerLink="../manage">
                  <div class="img_name_container">
                    <img src="./assets/images/activity/cheque.svg" alt="">
                    <span>Manage Cheque</span>
                  </div>
                  <div class="activity-description">
                    <span>Get the details of the fees paid by cheques</span>
                  </div>
                </div>

                <div class="activity-item-container" *ngIf="jsonFlag.isAdmin" routerLink="../monitoring-dashboard">
                  <div class="img_name_container">
                    <img src="./assets/images/activity/dashboard.svg" alt="">
                    <span>Monitoring Dashboard</span>
                  </div>
                  <div class="activity-description">
                    <span>Get the graphical representation of the fees details.</span>
                  </div>
                </div>

                <div class="activity-item-container"  routerLink="../archiving">
                  <div class="img_name_container">
                    <img src="./assets/images/activity/archive.svg" alt="">
                    <span>Archiving</span>
                  </div>
                  <div class="activity-description">
                    <span *ngIf="jsonFlag.isProfessional">Archive the batches, students and get the report of archived batches and students.</span>
                    <span *ngIf="!jsonFlag.isProfessional">Archive the courses, students and get the report of archived courses and students.</span>
                  </div>
                </div>

                <div class="activity-item-container" routerLink="../ptm">
                  <div class="img_name_container">
                    <img src="./assets/images/activity/ptm.svg" alt="">
                    <span>PTM Management</span>
                  </div>
                  <div class="activity-description">
                    <span>Create, Organize PTM Keeping Parents And Students Updated</span>
                  </div>
                </div>

                <div class="activity-item-container" routerLink="../file_manager">
                  <div class="img_name_container">
                    <img src="./assets/images/activity/file_manager.svg" alt="">
                    <span>File Manager</span>
                  </div>
                  <div class="activity-description">
                    <span>Manage Storage Of Uploaded And Downloaded Files By Category.</span>
                  </div>
                </div>

                <!-- Timetable -->
                <div class="activity-item-container" *ngIf="jsonFlag.isTimetable" routerLink="/view/activity/timeTable">
                  <div class="img_name_container">
                    <img src="./assets/images/activity/timetable.svg" alt="">
                    <span>Time Table</span>
                  </div>
                  <div class="activity-description">
                    <span>Time table as per the subject on weekly and monthly basis.</span>
                  </div>
                </div>

                <!-- E-course -->
                <div class="activity-item-container" routerLink="../ecourse-file-manager" *ngIf="jsonFlag.isEcourseFileManager">
                  <div class="img_name_container">
                    <img src="./assets/images/activity/study_material.svg" alt="">
                    <span>Study Materials</span>
                  </div>
                  <div class="activity-description">
                    <span>Manage storage of uploaded and downloaded files by E-Course. Upload or download the files and manage files in folders and
                      by category.</span>
                  </div>
                </div>

                <div class="activity-item-container" *ngIf="jsonFlag.showExamDesk" routerLink="../examcourse">
                  <div class="img_name_container">
                    <img src="./assets/images/activity/exam_desk.svg" alt="">
                    <span>ExamDesk Course Assignment</span>
                  </div>
                  <div class="activity-description">
                    <span>Assign the students to E-course mapped Examdesk courses.</span>
                  </div>
                </div>

                <div class="activity-item-container" *ngIf="jsonFlag.showLiveClasses" routerLink="../liveClass">
                  <div class="img_name_container">
                    <img src="./assets/images/activity/live_classes.svg" alt="">
                    <span>Live Classes</span>
                  </div>
                  <div class="activity-description">
                    <span>Create live classes, assign students, faculty and users to the live classes.</span>
                  </div>
                </div>

                <div class="activity-item-container" *ngIf="jsonFlag.isAdmin" routerLink="../ecoursemapping">
                  <div class="img_name_container">
                    <img src="./assets/images/activity/ecourse.svg" alt="">
                    <span>E-course Mapping</span>
                  </div>
                  <div class="activity-description">
                    <span *ngIf="!jsonFlag.isProfessional">Create E-courses and assign multiple standards to the E-courses.</span>
                    <span *ngIf="jsonFlag.isProfessional">Create E-courses and assign multiple batches to the E-courses</span>
                  </div>
                </div>

                <div class="activity-item-container"  routerLink="../coursePlanner">
                  <div class="img_name_container">
                    <img src="./assets/images/activity/course_planner.svg" alt="">
                    <span>Course Planner</span>
                  </div>
                  <div class="activity-description">
                    <span>Plan and Manage Class/Exam for all courses easily</span>
                  </div>
                </div>

              </div>

            </section>
        </section>
    </aside>
</div>
