<section class="middle-section">
  <section class="header-section">
    <div>
      <div class="header-title">        
        <h2>
            <a routerLink="/view/course" style="color: #0084f6;">
              {{ type | titlecase }}
            </a>
            <i style="font-family: 'FontAwesome';" class="fas fa-angle-right" ></i> Data Setup
        </h2>
      </div>
    </div>
  </section>
  <div class="course-menu-section-container">
    <div class="course-menu-item" routerLink="/view/course/setup/academic">
      <div class="menu-title">
        <img src="./assets/images/course/create-course.svg" alt="create course">
        <span>Academic Year</span>
      </div>
      <div class="menu-description">
        <span>Add academic year according to your courses.</span>
      </div>
    </div>
    <div class="course-menu-item" routerLink="/view/course/setup/teacher">
      <div class="menu-title">
        <img src="./assets/images/course/data-setup.svg" alt="data setup">
        <span>Faculty</span>
      </div>
      <div class="menu-description">
        <span>Add/Update details of faculties of your Institute. Also, view daily activity of faculty.</span>
      </div>
    </div>
    <div class="course-menu-item" routerLink="/view/course/setup/manage-exam-grades">
      <div class="menu-title">
        <img src="./assets/images/course/class-planner.svg" alt="class planner">
        <span>Exam Grades</span>
      </div>
      <div class="menu-description">
        <span>Create grades and link description to it of your choice.</span>
      </div>
    </div>
    <div class="course-menu-item" routerLink="/view/course/setup/classroom">
      <div class="menu-title">
        <img src="./assets/images/course/exam-planner.svg" alt="exam planner">
        <span>Classroom</span>
      </div>
      <div class="menu-description">
        <span>Add classrooms of your Institute so that you can assign them to batches/courses later.</span>
      </div>
    </div>

  </div>
</section>