<section class="middle-section">
  <section class="header-section">
    <div>
      <div class="header-title">        
        <h2>
            <a routerLink="/view/course" style="color: #0084f6;">
              {{ type | titlecase }}
            </a>
            <i style="font-family: 'FontAwesome';" class="fas fa-angle-right" ></i> Data Setup
        </h2>
      </div>
    </div>
  </section>
  <div class="course-menu-section-container">
    <div class="course-menu-item" routerLink="/view/course/setup/academic">
      <div class="menu-title">
        <img src="./assets/images/course/create-course.svg" alt="create course">
        <span>Academic Year</span>
      </div>
      <div class="menu-description">
        <span>Send SMS in bulk to students/parents for marketing or other purposes.</span>
      </div>
    </div>
    <div class="course-menu-item" routerLink="/view/course/setup/teacher">
      <div class="menu-title">
        <img src="./assets/images/course/data-setup.svg" alt="data setup">
        <span>Faculty</span>
      </div>
      <div class="menu-description">
        <span>Quickly add single enquiry and details like basic details, academic details and contact details in the
          portal</span>
      </div>
    </div>
    <div class="course-menu-item" routerLink="/view/course/setup/manage-exam-grades">
      <div class="menu-title">
        <img src="./assets/images/course/class-planner.svg" alt="class planner">
        <span>Exam Grades</span>
      </div>
      <div class="menu-description">
        <span>Add enquiries in bulk and manage them where you can assign status, set priority and setup reminder for
          follow up.</span>
      </div>
    </div>
    <div class="course-menu-item" routerLink="/view/course/setup/classroom">
      <div class="menu-title">
        <img src="./assets/images/course/exam-planner.svg" alt="exam planner">
        <span>Classroom</span>
      </div>
      <div class="menu-description">
        <span>Detailed report of the source of enquiry, referrals made and status of the report maintained by
          counsellor.</span>
      </div>
    </div>

  </div>
</section>