@import "./src/assets/css/style.scss";
@import "./src/assets/css/wrapper.scss";
@import "./src/assets/css/common/common.scss";
@import "./src/assets/css/common/grid.scss";
@import "./src/assets/css/common/variables.scss";


.middle-section {
    padding: 10px 15px;
    width: 100%;
    box-sizing: border-box;
}

.btnWrapper {
    .btn {
        padding: 0px 0px 0px 0px;
        border: none;
        height: 35px;
        width: 35px;
        border-radius: 50%;
        .tooltip {
            position: relative;
            top: -30px;
            right: -30px;
            min-width: 100px;
            font-size: 12px;
            padding: 6px;
            height: 35px;
            border-radius: 5px;
            background: rgba(0, 0, 0, 0.541);
            color: white;
            visibility: hidden;
            opacity: 0;
        }
        &:hover {
            background: rgb(216, 214, 214);
            .tooltip {
                position: relative;
                top: -20px;
                right: 120px;
                min-width: 100px;
                padding: 6px;
                border-radius: 5px;
                font-size: 12px;
                height: 30px;
                background: rgba(0, 0, 0, 0.541);
                color: white;
                visibility: visible;
                opacity: 1;
                transition: all 0.2s;
            }
        }
        &:focus {
            outline: none;
        }
        &:active {
            box-shadow: none;
        }
    }
}

.row {
    margin: 0px 0px;
}

.filter-section {
    background: #efefef;
    padding: 0px 10px 10px 10px;
}