.discount-wrapper {
    .field-checkbox-wrapper,
    .field-radio-wrapper {
        position: relative;
        padding-left: 25px;
        margin-bottom: 10px;
    }
    .field-radio-wrapper .form-radio {
        opacity: 0;
        position: absolute;
        left: 0;
        top: 0;
        width: 20px;
        height: 20px;
        z-index: 1;
    }
    .field-radio-wrapper .form-radio+label {
        vertical-align: middle;
        transition: all 0.1s;
    }
    .field-radio-wrapper .form-radio+label:after {
        content: '';
        width: 16px;
        height: 16px;
        border: 2px solid #ccc;
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: 0;
        transition: all 0.1s;
    }
    .field-radio-wrapper .form-radio:checked+label:after {
        border: 2px solid #0084f6;
    }
    .field-radio-wrapper .form-radio+label:before {
        transition: all 0.1s;
        width: 1px;
        height: 1px;
        left: 9px;
        top: 9px;
        position: absolute;
        content: '';
    }
    .field-radio-wrapper .form-radio:checked+label:before {
        content: '';
        width: 8px;
        height: 8px;
        background: #0084f6;
        border-radius: 50%;
        left: 4px;
        top: 4px;
    }
    .field-radio-wrapper .form-radio:checked+label {
        color: #0084f6;
    }
}