<section class="middle-section clearFix">
  <form ng-submit="">
    <aside class="pull-left middle-left " id="addNewEnquiry">
      <section class="middle-top clearFix">
        <h1 class="pull-left">
          Add New Enquiry
        </h1>
        <aside class="pull-right">
          <input type="button" value="Pay Registration Fees" class="btn">
        </aside>
      </section>
      <!-- Accordian Menu Element -->
      <section class="middle-main clearFix" id="middleMain">
        <div class="add-new-enquiry-form accordian-section">
          <ul class="accordian">
            <li class="active data-filled" id="basicDetails">
              <div class="accordian-heading">
                <h4>
                  <span class="circle-accor">1</span> Details
                  <span class="open-accor" id="openBasic" (click)="toggleForm($event)">+</span>
                  <span class="close-accor" id="closeBasic" (click)="toggleForm($event)">-</span>
                </h4>
              </div>
              <div class="accordian-content">
                <div class="form-type1">
                  <div class="field-wrapper">
                    <input type="text" value="" id="userName" class="form-ctrl" [(ngModel)]="addFormData.name" name="name" formInput/>
                    <label for="userName">Name*</label>
                  </div>
                  <div class="field-wrapper">
                    <input type="text" value="" id="userNumber" class="form-ctrl" [(ngModel)]="addFormData.phone" name="phoneno" formInput/>
                    <label for="userNumber">Phone No*</label>
                  </div>
                  <div class="more-detail">
                    <a (click)="getLeadDetails()">Fetch Lead Details</a>
                  </div>
                  <div class="field-wrapper">
                    <input type="text" value="" id="userEmail" class="form-ctrl" [(ngModel)]="addFormData.email" name="email" formInput/>
                    <label for="userEmail">Email ID*</label>
                  </div>
                  <div class="field-wrapper">
                    <select id="userGender" class="form-ctrl" [(ngModel)]="addFormData.gender" name="gender" formInput>
                       <option></option>
                       <option>Male</option>
                       <option>Female</option>
                       <option>N/A</option>                       
                    </select>
                    <label for="userGender">Gender</label>
                  </div>
                  <div class="field-wrapper">
                    <input type="text" value="" id="userAddress" class="form-ctrl" [(ngModel)]="addFormData.address" name="address" formInput/>
                    <label for="userAddress">Address</label>
                  </div>
                  <div class="field-wrapper">
                    <input type="text" value="" id="userCity" class="form-ctrl" [(ngModel)]="addFormData.city" name="city" formInput/>
                    <label for="userCity">City</label>
                  </div>
                  <div class="more-detail">
                    <a>+ &nbsp; Add Additional Details</a>
                  </div>
                </div>
              </div>
            </li>
            <li class="data-filled" id="academicDetails">
              <div class="accordian-heading">
                <h4><span class="circle-accor">2</span> Academics Details
                  <span class="close-accor" id="closeAcademic" (click)="toggleForm($event)">-</span>
                  <span class="open-accor" id="openAcademic" (click)="toggleForm($event)">+</span>
                </h4>
              </div>
              <div class="accordian-content">
                <div class="form-type2">
                  <div class="field-wrapper">
                    <select id="institutionName" class="form-ctrl" [(ngModel)]="addFormData.institute_name" name="institutename" formInput>
                        <option></option>
                        <option></option>
                    </select>
                    <label for="institutionName">Institution Name</label>
                    <a href="#" class="create-institution">+ Create Institution</a>
                  </div>
                  <div class="field-wrapper">
                    <select id="forStandard" class="form-ctrl" [(ngModel)]="addFormData.standard" name="standard" formInput>
                       <option></option>
                       <option>Standard</option>
                    </select>
                    <label for="forStandard">For Standard</label>
                    <div class="questionInfo">
                      <span class="qInfoIcon">?</span>
                    </div>
                  </div>
                  <div class="field-wrapper">
                    <select id="forSubject" class="form-ctrl" [(ngModel)]="addFormData.subject" name="subject" formInput>
                       <option></option>
                       <option>Maths</option>
                    </select>
                    <label for="forSubject">For Subject</label>
                    <div class="questionInfo">
                      <span class="qInfoIcon">?</span>
                    </div>
                  </div>
                  <div class="field-wrapper">
                    <select id="highestQualification" class="form-ctrl" [(ngModel)]="addFormData.qualification" name="qualification" formInput>
                      <option></option>
                      <option>MA</option>
                    </select>
                    <label for="highestQualification">Highest Qualification*</label>
                    <div class="questionInfo">
                      <span class="qInfoIcon">?</span>
                    </div>
                  </div>
                  <div class="field-wrapper">
                    <select id="board" class="form-ctrl" [(ngModel)]="addFormData.board" name="board" formInput>
                       <option></option>
                       <option>Board</option>
                    </select>
                    <label for="board">Board</label>
                    <div class="questionInfo">
                      <span class="qInfoIcon">?</span>
                    </div>
                  </div>
                  <div class="field-wrapper">
                    <input type="text" value="" id="yearOfPassing" class="form-ctrl" [(ngModel)]="addFormData.yearOfPassing" name="yop" formInput/>
                    <label for="yearOfPassing">Year Of Passing</label>
                  </div>
                  <div class="field-wrapper">
                    <input type="text" value="" id="percentageMark" class="form-ctrl" [(ngModel)]="addFormData.percentGPA" name="percentGPA"
                      formInput/>
                    <label for="percentageMark">% Marks/CGPA - Agg.</label>
                  </div>
                  <div class="field-wrapper">
                    <input type="text" value="" id="percentageMarkMandS" class="form-ctrl" [(ngModel)]="addFormData.percentGPA_MS" name="percentGPA_MS"
                      formInput/>
                    <label for="percentageMarkMandS">% Marks/CGPA - [Math+Science]</label>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </section>
      <!-- Footer for Accordian Menu -->
      <section class="middle-bottom clearFix">
        <div class="pull-left">
          <div class="field-checkbox-wrapper">
            <input type="checkbox" value="" class="form-checkbox" id="addNextEnquiry">
            <label for="addNextEnquiry">Add Next Enquiry</label>
          </div>
        </div>
        <aside class="pull-right">
          <input type="button" value="Cancel" class="btn cancle" routerLink="/enquiry/manage">
          <input type="button" value="Save and Continue" class="btn redBtn">
        </aside>
      </section>
    </aside>
    <!-- Right side form for Office purrpose only -->
    <aside class="pull-right middle-right" id="rightSideBar">
      <!--Last enquiry information-->
      <section class="shadow-box clearfix">
        <div class="last-added-info">
          <ul>
            <li>
              <span class="last-user-name"><strong>Last Added Name -</strong><dfn>Shani Maurya</dfn></span>
              <span class="view-details"><a (click)="openConfirmationPopup()">View details</a></span>
            </li>
            <li>
              <span class="last-Enquiry-no"><strong>Enquiry No. -</strong><dfn>1020</dfn></span>
              <span class="enquiry-time">5 min ago</span>
            </li>
          </ul>
        </div>
      </section>
      <!-- Enquiry Details official use-->
      <section class="enquiry-detail common-right-section">
        <h4><strong>Enquiry Details</strong> (Official Use)</h4>
        <div class="box-shadow-lite">
          <div class="field-wrapper">
            <input type="text" value="" id="name" class="form-ctrl" [(ngModel)]="addFormData.enquiryDate" name="enquiryDate" formInput>
            <label for="name">Enquiry Date</label>
            <span class="follow-up-date-icon">
              <img src="./assets/images/calendar.svg" alt="">
          </span>
          </div>
          <div class="field-wrapper customSelectWrapper">
            <select id="eStatus" class="form-ctrl" formInput style="opacity: 1;" [(ngModel)]="addFormData.enquiryStatus" name="status">
                        <option></option>
                        <option>Pending</option>
                        <option>Pending</option>
                        <option>Pending</option>
                        <option>Pending</option>
            </select>
            <label for="eStatus">Enquiry Status</label>
          </div>
          <div class="field-wrapper customSelectWrapper">
            <select id="priority" class="form-ctrl" style="opacity: 1;" formInput [(ngModel)]="addFormData.enquiryPriority" name="enquiryPriority">
               <option></option>
               <option>Done</option>
            </select>
            <label for="priority">Enquiry Priority</label>
          </div>
          <div class="field-wrapper customSelectWrapper">
            <select id="followUpType" class="form-ctrl" style="opacity: 1;" formInput [(ngModel)]="addFormData.followType" name="followtype">
               <option></option>
               <option>Done</option>
            </select>
            <label for="followUpType">Follow Up Type</label>
          </div>
          <div class="field-wrapper">
            <input type="text" value="" id="followUpDate" class="form-ctrl" formInput [(ngModel)]="addFormData.followUp" name="followup">
            <label for="followUpDate">Follow Up Date</label>
            <span class="follow-up-date-icon">
              <img src="./assets/images/calendar.svg" alt="">
            </span>
          </div>
          <div class="field-wrapper customSelectWrapper">
            <select id="source" class="form-ctrl" style="opacity: 1;" formInput [(ngModel)]="addFormData.source" name="source">
               <option></option>
               <option>Done</option>
            </select>
            <label for="source">Source</label>
            <span class="open-accor">+</span>
          </div>
          <div class="field-wrapper customSelectWrapper">
            <select id="refferedBy" class="form-ctrl" style="opacity: 1;" formInput [(ngModel)]="addFormData.reffered" name="reffered">
               <option></option>
              <option>Done</option>
            </select>
            <label for="refferedBy">Reffered By</label>
            <span class="open-accor">+</span>
          </div>
          <div class="field-wrapper customSelectWrapper">
            <select id="assignedTo" class="form-ctrl" style="opacity: 1;" formInput [(ngModel)]="addFormData.assignedTo" name="assigned">
              <option></option>
              <option>Done</option>
            </select>
            <label for="assignedTo">Assigned To</label>
          </div>
          <div class="field-wrapper">
            <input type="text" value="" id="Remarks" class="form-ctrl" formInput [(ngModel)]="addFormData.remarks" name="remarks">
            <label for="Remarks">Remarks</label>
          </div>
          <div class="clear-detail">
            <a (click)="clearFormData()">Clear Details</a>
          </div>
        </div>
      </section>

    </aside>
  </form>
</section>
<!-- Confirmation PopUp -->
<section id="popup" class="popupWrapper fadeIn" *ngIf="confimationPop">
  <div class="popup pos-abs">
    <div class="popup-wrapper pos-rel">
      <span class="closePopup pos-abs fbold show" id="popupCloseBtn" (click)="closePopUp()">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="9310 2185 16 16">
                      <g id="Group_1228" data-name="Group 1228" transform="translate(8298 1888)">
                          <g id="Group_1213" data-name="Group 1213" transform="translate(34.189 -7.77)">
                          <line id="Line_274" data-name="Line 274" class="cls-1" y2="19.798" transform="translate(992.81 305.77) rotate(45)"/>
                          <line id="Line_275" data-name="Line 275" class="cls-1" x1="19.798" transform="translate(978.81 305.77) rotate(45)"/>
                          </g>
                          <rect id="Rectangle_686" data-name="Rectangle 686" style="stroke:none;" class="cls-2" width="16" height="16" transform="translate(1012 297)"/>
                      </g>
                  </svg>                
              </span>
      <div class="popup-content">
        <h2>Confirmation</h2>
        <div class="confirmation-popup-content">
          <div class="">
            <p>Thank you for submitting New Enquiry.</p>
            <p>If you like to make any changes to the last submitted enquiry, kindly click <a (click)="openUpdatePopup()">Edit</a></p>
          </div>
          <div class="">
            <p>You have submitted <strong>103 New Enquiry </strong> as on <strong>Friday, 21st July 17</strong></p>
            <p>If you like to view complete Enquiry List now, click <a routerLink="/enquiry/manage">More Info</a></p>
          </div>
          <div>
            <div class="pull-right add-form-btns">
              <a href="#">Add new enquiry</a>
              <a href="#">Add Bulk enquiry</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Update PopUp -->
<section id="popup" class="popupWrapper fadeIn" *ngIf="updatePop">
  <div class="popup pos-abs">
    <div class="popup-wrapper pos-rel">
      <span class="closePopup pos-abs fbold show" id="popupCloseBtn" (click)="closeUpdatePopup()">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="9310 2185 16 16">
                      <g id="Group_1228" data-name="Group 1228" transform="translate(8298 1888)">
                          <g id="Group_1213" data-name="Group 1213" transform="translate(34.189 -7.77)">
                          <line id="Line_274" data-name="Line 274" class="cls-1" y2="19.798" transform="translate(992.81 305.77) rotate(45)"/>
                          <line id="Line_275" data-name="Line 275" class="cls-1" x1="19.798" transform="translate(978.81 305.77) rotate(45)"/>
                          </g>
                          <rect id="Rectangle_686" data-name="Rectangle 686" style="stroke:none;" class="cls-2" width="16" height="16" transform="translate(1012 297)"/>
                      </g>
                  </svg>                
              </span>
      <div class="popup-content">
        <h2>Update Enquiry - Enquiry No: 1050</h2>
        <div class="update-enquiry-form overflowHidden">
          <div class="">
            <div class="row">
              <div class="c-lg-6 c-md-6 c-sm-6">
                <div class="field-wrapper">
                  <select id="priorityEdit" class="form-ctrl" formInput>
                                     <option>Select Priority</option>
                                     <option>Select Priority</option>
                                 </select>
                  <label for="priorityEdit">Priority</label>
                </div>
              </div>
              <div class="c-lg-6 c-md-6 c-sm-6">
                <div class="field-wrapper">
                  <select id="selectFollowupEdit" class="form-ctrl" formInput>
                                     <option>Select Follow Up Type</option>
                                     <option>DEBIT</option>
                                 </select>
                  <label for="selectFollowupEdit">Follow Up Type</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="c-lg-6 c-md-6 c-sm-6">
                <div class="field-wrapper has-value datePickerBox">
                  <input type="text" value="Follow Up Date" placeholder="" id="followUPdataEdit" class="form-ctrl" formInput/>
                  <label for="followUPdataEdit">Follow Up Data</label>
                </div>
              </div>
              <div class="c-lg-6 c-md-6 c-sm-6">
                <div class="field-wrapper">
                  <select id="enquiryStatusEdit" class="form-ctrl" formInput>
                                     <option>In Progress</option>
                                     <option>DEBIT</option>
                                 </select>
                  <label for="enquiryStatusEdit">Enquiry Status</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="c-lg-6 c-md-6 c-sm-6">
                <div class="field-wrapper has-value datePickerBox">
                  <input type="text" value="12 August, 2017" placeholder="" id="commentDateEdit" class="form-ctrl" formInput/>
                  <label for="commentDateEdit">Comment Date</label>
                </div>
              </div>
              <div class="c-lg-6 c-md-6 c-sm-6">
                <div class="field-wrapper">
                  <input type="text" value="Call back next week" placeholder="" id="addcommentEdit" class="form-ctrl" formInput/>
                  <label for="addcommentEdit">Add Comment Edit</label>
                </div>
              </div>
            </div>
            <h4>Comment History</h4>
            <div class="enquiry-update-history table-responsive">
              <table>
                <thead>
                  <tr>
                    <th>Comment</th>
                    <th>Commented On</th>
                    <th>Commented By</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Call back after 1 week</td>
                    <td>09 Aug, 2017 06:48:54 PM</td>
                    <td>Amresh Sir</td>
                  </tr>
                  <tr>
                    <td>Call back after 5 week</td>
                    <td>09 Aug, 2017 06:48:54 PM</td>
                    <td>Puneet Sir</td>
                  </tr>
                  <tr>
                    <td>Call back after 5 week</td>
                    <td>09 Aug, 2017 06:48:54 PM</td>
                    <td>Puneet Sir</td>
                  </tr>
                  <tr>
                    <td>Call back after 5 week</td>
                    <td>09 Aug, 2017 06:48:54 PM</td>
                    <td>Puneet Sir</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="">
              <div class="clearfix">
                <aside class="pull-right popup-btn">
                  <input type="button" value="Cancel" class="btn" (click)="openConfirmationPopup()">
                  <input type="button" value="Update" class="redBtn btn">
                </aside>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>