<section class="middle-section clearFix" (click)="inputClicked()">


  <form (ngSubmit)="save()" #myForm="ngForm">

    <!-- Left Side Form -->
    <aside class="pull-left middle-left " id="addNewEnquiry">
      <!-- Header -->
      <section class="middle-top clearFix">

        <div class="row">
          <ul class="breadc">

            <li>
              <a class="bread-list" [routerLink]="['../']">Enquiry List</a>
            </li>

            <li>
              <a class="current">Add Enquiry</a>
            </li>

          </ul>
        </div>

        <div class="row">
          <h1 class="pull-left">
            Add New Enquiry
          </h1>
          <aside class="pull-right">
            <input type="button" value="Add Bulk Enquiry" [routerLink]="['../addBulkEnquiry']" class="btn">
          </aside>
        </div>

      </section>
      <!-- Accordian Menu Element -->
      <section class="middle-main clearFix" id="middleMain">
        <div class="add-new-enquiry-form accordian-section">
          <ul class="accordian">
            <!-- Basic Form -->
            <li class="active data-filled" id="basicDetails">
              <!-- Accordian Toggler -->
              <div class="accordian-heading">
                <h4>
                  <span class="circle-accor">1</span> Details
                  <span class="open-accor" id="openBasic" (click)="toggleForm($event)">+</span>
                  <span class="close-accor" id="closeBasic" (click)="toggleForm($event)">-</span>
                </h4>
              </div>
              <!-- Accordian Form 1 -->
              <div class="accordian-content">
                <div class="form-type1">
                  <div class="field-wrapper">
                    <input type="text" value="" id="name" #name="ngModel" class="form-ctrl" [(ngModel)]="newEnqData.name" name="name" maxlength="50"
                      pattern="[a-zA-Z .]+[a-zA-Z .]+" required enquiryInput/>
                    <label for="name">Name*</label>
                    <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert invalid-alert">
                      <div *ngIf="name.errors.required">
                        name is required.
                      </div>
                      <div *ngIf="name.errors.pattern">
                        name cannot have special characters or numbers.
                      </div>
                    </div>
                  </div>
                  <div class="field-wrapper">
                    <input type="text" value="" id="phone" #phone="ngModel" class="form-ctrl" [(ngModel)]="newEnqData.phone" (focusout)="updatePhoneFetchRecords()"
                      name="phone" maxlength="10" minlength="10" required pattern="[789][0-9]{9}" enquiryInput/>
                    <label for="phone">Phone No*</label>
                    <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="alert invalid-alert">
                      <div *ngIf="phone.errors.required">
                        phone number is required.
                      </div>
                      <div *ngIf="phone.errors.pattern">
                        Please enter a valid number.
                      </div>
                    </div>
                  </div>
                  <div class="more-detail">
                    <a (click)="getLeadDetails()" style="cursor:pointer">Fetch Lead Details</a>
                  </div>
                  <div class="field-wrapper">
                    <input type="text" value="" id="email" #email="ngModel" class="form-ctrl" [(ngModel)]="newEnqData.email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                      enquiryInput/>
                    <label for="email">Email ID</label>
                    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert invalid-alert">
                      <div *ngIf="email.errors.pattern">
                        Please enter a valid email ID.
                      </div>
                    </div>
                  </div>
                  <div class="field-wrapper">
                    <select class="form-ctrl" [(ngModel)]="newEnqData.gender" name="gender" id="gender" enquiryInput>
                      <option></option>
                      <option>Male</option>
                      <option>Female</option>
                      <option>NA</option>
                    </select>
                    <label for="gender">Gender</label>
                  </div>
                  <div class="field-wrapper">
                    <input type="text" value="" id="userAddress" class="form-ctrl" [(ngModel)]="newEnqData.curr_address" name="address" enquiryInput/>
                    <label for="userAddress">Address</label>
                  </div>
                  <div class="field-wrapper">
                    <input type="text" value="" id="userCity" class="form-ctrl" [(ngModel)]="newEnqData.city" name="city" enquiryInput/>
                    <label for="userCity">City</label>
                  </div>
                  <div class="more-detail">
                    <a (click)="showAdditionDetails()" style="cursor:pointer">+ &nbsp; Add Additional Details</a>
                  </div>
                </div>
                <div class="form-type1" *ngIf="additionDetails">
                  <br>
                  <div class="field-wrapper">
                    <input type="text" value="" id="phone2" #phone2="ngModel" class="form-ctrl" [(ngModel)]="newEnqData.phone2" name="phone2"
                      maxlength="10" minlength="10" pattern="[789][0-9]{9}" enquiryInput/>
                    <label for="altContact">Alternate Contact</label>
                    <div *ngIf="phone2.invalid && (phone2.dirty || phone2.touched)" class="alert invalid-alert">
                      <div *ngIf="phone2.errors.pattern">
                        Please enter a valid number.
                      </div>
                    </div>
                  </div>
                  <div class="field-wrapper">
                    <input type="text" value="" id="email2" #email2="ngModel" class="form-ctrl" [(ngModel)]="newEnqData.email2" name="email2"
                      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" enquiryInput/>
                    <label for="email2">Alternate Email ID</label>
                    <div *ngIf="email2.invalid && (email2.dirty || email2.touched)" class="alert invalid-alert">
                      <div *ngIf="email2.errors.pattern">
                        Please enter a valid email ID.
                      </div>
                    </div>
                  </div>
                  <div class="field-wrapper">
                    <input type="text" value="" id="guardianName" class="form-ctrl" [(ngModel)]="newEnqData.parent_name" name="guardianName"
                      pattern="[a-zA-Z .]+[a-zA-Z .]+" maxlength="50" #guardianName="ngModel" enquiryInput/>
                    <label for="guardianName">Guardian Name</label>
                    <div *ngIf="guardianName.invalid && (guardianName.dirty || guardianName.touched)" class="alert invalid-alert">
                      <div *ngIf="guardianName.errors.pattern">
                        name cannot have special characters or numbers.
                      </div>
                    </div>
                  </div>
                  <div class="field-wrapper">
                    <input type="text" value="" id="guardianContact" class="form-ctrl" [(ngModel)]="newEnqData.parent_phone" name="guardianContact"
                      maxlength="10" minlength="10" pattern="[789][0-9]{9}" #guardianContact="ngModel" enquiryInput/>
                    <label for="guardianContact">Guardian Contact</label>
                    <div *ngIf="guardianContact.invalid && (guardianContact.dirty || guardianContact.touched)" class="alert invalid-alert">
                      <div *ngIf="guardianContact.errors.pattern">
                        Please enter a valid contact number.
                      </div>
                    </div>
                  </div>
                  <div class="field-wrapper">
                    <input type="text" value="" id="guardianEmail" class="form-ctrl" [(ngModel)]="newEnqData.parent_email" name="guardianEmail"
                      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" #guardianEmail="ngModel" enquiryInput/>
                    <label for="guardianEmail">Guardian Email</label>
                    <div *ngIf="guardianEmail.invalid && (guardianEmail.dirty || guardianEmail.touched)" class="alert invalid-alert">
                      <div *ngIf="guardianEmail.errors.pattern">
                        Please enter a valid email Id.
                      </div>
                    </div>
                  </div>
                  <div class="field-wrapper">
                    <input type="text" value="" id="enquirerLink" class="form-ctrl" [(ngModel)]="newEnqData.link" name="enquirerLink" enquiryInput/>
                    <label for="enquirerLink">Link Details</label>
                  </div>
                  <div class="field-wrapper">
                    <input type="text" value="" id="feeCommitted" class="form-ctrl" [(ngModel)]="newEnqData.fee_committed" name="feeCommitted"
                      pattern="[0-9]+" #feeCommitted="ngModel" enquiryInput/>
                    <label for="feeCommitted">Fees Committed Details</label>
                    <div *ngIf="feeCommitted.invalid && (feeCommitted.dirty || feeCommitted.touched)" class="alert invalid-alert">
                      <div *ngIf="feeCommitted.errors.pattern">
                        Fee cannot have alphabets or special characters.
                      </div>
                    </div>
                  </div>
                  <div class="field-wrapper">
                    <input type="text" value="" id="discount" class="form-ctrl" [(ngModel)]="newEnqData.discount_offered" name="discount" pattern="[0-9]+"
                      #discount="ngModel" enquiryInput/>
                    <label for="discount">Discount Offered Details</label>
                    <div *ngIf="discount.invalid && (discount.dirty || discount.touched)" class="alert invalid-alert">
                      <div *ngIf="discount.errors.pattern">
                        discount cannot have alphabets or special characters.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <!-- Academic Form 2-->
            <li class="data-filled" id="academicDetails">
              <div class="accordian-heading">
                <h4>
                  <span class="circle-accor">2</span> Academics Details
                  <span class="close-accor" id="closeAcademic" (click)="toggleForm($event)">-</span>
                  <span class="open-accor" id="openAcademic" (click)="toggleForm($event)">+</span>
                </h4>
              </div>
              <div class="accordian-content">
                <div class="form-type2">
                  <div class="field-wrapper">
                    <select id="institutionName" class="form-ctrl" [(ngModel)]="newEnqData.school_id" name="institutename" enquiryInput>
                      <option value=""></option>
                      <option *ngFor="let institute of school" [value]="institute.school_id">
                        {{institute.school_name}}
                      </option>
                    </select>
                    <label for="institutionName">Institution Name</label>
                    <a (click)="openAddInstitute()" class="create-institution" style="cursor:pointer">+ Create Institution</a>
                  </div>
                  <div class="field-wrapper">
                    <select id="editStandard" class="form-ctrl" [ngModel]="newEnqData.standard_id" (ngModelChange)="fetchSubject($event)" name="editStandard"
                      enquiryInput>
                      <option value=""></option>
                      <option *ngFor="let std of enqStd" [value]="std.standard_id">{{std.standard_name}}</option>
                    </select>
                    <label for="editStandard">For Standard</label>
                    <div class="questionInfo">
                      <span class="qInfoIcon">?</span>
                      <div class="tooltip-box-field">
                        Enquirer select a standard to fetch related subject
                      </div>
                    </div>
                  </div>
                  <div class="field-wrapper">
                    <select id="forSubject" class="form-ctrl" [(ngModel)]="newEnqData.subject_id" name="subject" enquiryInput>
                      <option value=""></option>
                      <option *ngFor="let subject of enqSub" [value]="subject.subject_id">{{subject.subject_name}}</option>
                    </select>
                    <label for="forSubject">For Subject</label>
                    <div class="questionInfo">
                      <span class="qInfoIcon">?</span>
                      <div class="tooltip-box-field">
                        Subject with relation to the standard opted
                      </div>
                    </div>
                  </div>
                  <custom-enquiry *ngFor="let component of componentPrefill">

                    <div class="field-wrapper" *ngIf="component.type == 1" input-def>
                      <input type="text" value="" id="component.label" [(ngModel)]="componentListObject[component.component_id].enq_custom_value"
                        (ngModelChange)="customComponentUpdated($event, component)" class="form-ctrl" name="component.label"
                        enquiryInput/>
                      <label *ngIf="component.is_required == 'Y'" for="component.label">{{component.label}}*</label>
                      <label *ngIf="component.is_required == 'N'" for="component.label">{{component.label}} </label>
                    </div>

                    <div class="field-checkbox-wrapper" *ngIf="component.type == 2" input-def>

                      <input class="form-checkbox" id="component.label" name="component.label" type="checkbox" [(ngModel)]="componentListObject[component.component_id].enq_custom_value"
                        (ngModelChange)="customComponentUpdated($event, component)" value="">
                      <label *ngIf="component.is_required == 'Y'" for="component.label">{{component.label}}*</label>
                      <label *ngIf="component.is_required == 'N'" for="component.label">{{component.label}} </label>
                    </div>

                    <div class="field-wrapper" *ngIf="component.type == 3" input-def>
                      <select id="component.label" class="form-ctrl" name="component.label" [(ngModel)]="componentListObject[component.component_id].enq_custom_value"
                        (ngModelChange)="customComponentUpdated($event, component)" enquiryInput>
                        <option value=""></option>
                        <option *ngFor="let opt of component.prefilled_data" value="{{opt}}">{{opt}}</option>
                      </select>
                      <label *ngIf="component.is_required == 'Y'" for="component.label">{{component.label}}*</label>
                      <label *ngIf="component.is_required == 'N'" for="component.label">{{component.label}} </label>
                    </div>

                    <div class="field-wrapper" *ngIf="component.type == 4" input-def>
                      <select id="component.label" class="form-ctrl" name="component.label" [(ngModel)]="componentListObject[component.component_id].enq_custom_value"
                        (ngModelChange)="customComponentUpdated($event, component)" multiple enquiryInput>
                        <option value=""></option>
                        <option *ngFor="let opt of component.prefilled_data" value="component">{{opt}}</option>
                      </select>
                      <label *ngIf="component.is_required == 'Y'" for="component.label">{{component.label}}*</label>
                      <label *ngIf="component.is_required == 'N'" for="component.label">{{component.label}} </label>
                    </div>

                  </custom-enquiry>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </section>
      <!-- Footer for Accordian Menu -->
      <section class="middle-bottom clearFix">
        <div class="pull-left">
          <div class="field-checkbox-wrapper">
            <input type="checkbox" value="" [(ngModel)]="addNextCheck" class="form-checkbox" id="addNextEnquiry" name="addNextEnquiry">
            <label for="addNextEnquiry">Add Next Enquiry</label>
          </div>
        </div>
        <aside class="pull-right">
          <input type="button" value="Cancel" class="btn cancle" routerLink="/enquiry">
          <input type="button" value="Submit" [disabled]="!myForm.form.valid" class="btn redBtn" (click)="submitForm()">
        </aside>
      </section>
    </aside>


    <!-- Right side form for Office purrpose only -->
    <aside class="pull-right middle-right" id="rightSideBar">
      <!--Last enquiry information-->
      <section class="shadow-box clearfix">
        <div class="last-added-info">
          <ul>
            <li>
              <span class="last-user-name">
                <strong>Last Added Name -</strong>
                <dfn>{{lastDetail.name}}</dfn>
              </span>
              <span class="view-details">
                <a style="cursor:pointer" (click)="navigateToEdit(lastDetail.institute_enquiry_id)">View details</a>
              </span>
            </li>
            <li>
              <span class="last-Enquiry-no">
                <strong>Enquiry No. -</strong>
                <dfn>{{lastDetail.enquiry_no}}</dfn>
              </span>
              <span class="enquiry-time">{{lastUpdated}}</span>
            </li>
          </ul>
        </div>
      </section>
      <!-- Enquiry Details official use-->
      <section class="enquiry-detail common-right-section">
        <h4>
          <strong>Enquiry Details</strong> (Official Use)</h4>
        <div class="box-shadow-lite">
          <div class="field-wrapper datePickerBox has-value" enquiryDate>
            <input type="text" value="" id="enquiryDate" class="form-ctrl" [(ngModel)]="newEnqData.enquiry_date" name="enquiryDate" bsDatepicker>
            <label for="enquiryDate">Enquiry Date</label>
          </div>
          <div class="field-wrapper has-value">
            <select id="eStatus" class="form-ctrl" [(ngModel)]="newEnqData.status" name="status" disabled>
              <option value=""></option>
              <option *ngFor="let status of enqstatus" [value]="status.data_key" [attr.selected]="status.data_value == 'Open' ? '' : null">{{status.data_value}}</option>
            </select>
            <label for="eStatus">Enquiry Status</label>
          </div>
          <div class="field-wrapper">
            <select id="priority" class="form-ctrl" [(ngModel)]="newEnqData.priority" name="priority" enquiryInput>
              <option value=""></option>
              <option *ngFor="let priority of enqPriority" [value]="priority.data_key">
                {{priority.data_value}}
              </option>
            </select>
            <label for="priority">Enquiry Priority</label>
          </div>
          <div class="field-wrapper ">
            <select id="followUpType" class="form-ctrl" [(ngModel)]="newEnqData.follow_type" name="followtype" enquiryInput>
              <option value=""></option>
              <option *ngFor="let followUp of enqFollowType" [value]="followUp.data_key">
                {{followUp.data_value}}
              </option>
            </select>
            <label for="followUpType">Follow Up Type</label>
          </div>
          <div class="field-wrapper datePickerBox" enquiryDate>
            <input type="text" value="" id="followUpDate" class="form-ctrl" name="followUpDate" [(ngModel)]="newEnqData.followUpDate"
              bsDatepicker>
            <label for="followUpDate">Follow Up Date</label>
          </div>
          <div class="field-wrapper ">
            <select id="source" class="form-ctrl" [(ngModel)]="newEnqData.source_id" name="source" enquiryInput>
              <option value=""></option>
              <option *ngFor="let source of sourceLead" [value]="source.id">{{source.name}}</option>
            </select>
            <label for="source">Source</label>
            <span style="cursor:pointer; line-height:15px;" (click)="showAddSourcePops()" class="open-accor">+</span>
          </div>
          <div class="field-wrapper">
            <select id="refferedBy" class="form-ctrl" [(ngModel)]="newEnqData.referred_by" name="reffered" enquiryInput>
              <option value=""></option>
              <option *ngFor="let refer of refferedBy" [value]="refer.id">{{refer.name}}</option>
            </select>
            <label for="refferedBy">Referred By</label>
            <span style="cursor:pointer; line-height:15px;" class="open-accor" (click)="showAddReferPops()">+</span>
          </div>
          <div class="field-wrapper">
            <select id="assignedTo" class="form-ctrl" [(ngModel)]="newEnqData.assigned_to" name="assigned_to" enquiryInput>
              <option value=""></option>
              <option *ngFor="let assign of enqAssignTo" [value]="assign.userid">{{assign.name}}</option>
            </select>
            <label for="assignedTo">Assigned To</label>
          </div>
          <div class="field-wrapper">
            <input type="text" value="" id="Remarks" class="form-ctrl" [(ngModel)]="newEnqData.enquiry" name="remarks" enquiryInput>
            <label for="Remarks">Remarks</label>
          </div>
          <div class="clear-detail">
            <a (click)="clearFormData()" style="cursor:pointer">Clear Details</a>
          </div>
        </div>
      </section>

    </aside>

  </form>


</section>




<!-- Confirmation PopUp -->
<section id="popup" class="popupWrapper fadeIn" *ngIf="confimationPop">
  <div class="popup pos-abs">
    <div class="popup-wrapper pos-rel">
      <span class="closePopup pos-abs fbold show" id="popupCloseBtn" (click)="closePopUp()">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="9310 2185 16 16">
          <g id="Group_1228" data-name="Group 1228" transform="translate(8298 1888)">
            <g id="Group_1213" data-name="Group 1213" transform="translate(34.189 -7.77)">
              <line id="Line_274" data-name="Line 274" class="cls-1" y2="19.798" transform="translate(992.81 305.77) rotate(45)" />
              <line id="Line_275" data-name="Line 275" class="cls-1" x1="19.798" transform="translate(978.81 305.77) rotate(45)" />
            </g>
            <rect id="Rectangle_686" data-name="Rectangle 686" style="stroke:none;" class="cls-2" width="16" height="16" transform="translate(1012 297)"
            />
          </g>
        </svg>
      </span>
      <div class="popup-content">
        <h2>Confirmation</h2>
        <div class="confirmation-popup-content">
          <div class="">
            <p>Thank you for submitting New Enquiry.</p>
            <p>If you like to make any changes to the last submitted enquiry, kindly click
              <a style="cursor:pointer" routerLink="/enquiry/edit">Edit</a>
            </p>
          </div>
          <div class="">
            <p>You have submitted
              <strong>{{lastDetail.totalcount}} New Enquiry </strong> as on
              <strong>{{todayDate | date }}</strong>
            </p>
            <p>If you like to view complete Enquiry List now, click
              <a style="cursor:pointer" routerLink="/enquiry">More Info</a>
            </p>
          </div>
          <div>
            <div class="pull-right add-form-btns">
              <a style="cursor:pointer" (click)="reloadEnquiryForm()">Add new enquiry</a>
              <a style="cursor:pointer" routerLink="/enquiry/addBulkEnquiry">Add Bulk enquiry</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>




<!-- Add New institute -->
<enquiry-pop-up [hidden]="!isInstitutePop">

  <span class="closePopup pos-abs fbold show" id="popupCloseBtn" (click)="closeInstituteAdder()" close-button>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="9310 2185 16 16">
      <g id="Group_1228" data-name="Group 1228" transform="translate(8298 1888)">
        <g id="Group_1213" data-name="Group 1213" transform="translate(34.189 -7.77)">
          <line id="Line_274" data-name="Line 274" class="cls-1" y2="19.798" transform="translate(992.81 305.77) rotate(45)" />
          <line id="Line_275" data-name="Line 275" class="cls-1" x1="19.798" transform="translate(978.81 305.77) rotate(45)" />
        </g>
        <rect id="Rectangle_686" data-name="Rectangle 686" style="stroke:none;" class="cls-2" width="16" height="16" transform="translate(1012 297)"
        />
      </g>
    </svg>
  </span>

  <h2 popup-header>Institute Editor</h2>

  <div class="institute-editor" popup-content>

    <div class="row clearFix add-edit">
      <a class="expend-box" (click)="toggleInstituteAdd()">
        <i id="add-institute-icon">+</i>
        <span>Create New Institute</span>
      </a>
    </div>

    <section class="row clearFix create-standard-form" *ngIf="isNewInstitute">
      <div class="row">
        <div class="c-lg-6 c-md-6 c-sm-6 c-xs-6 pull-left">
          <div class="field-wrapper">
            <input type="text" value="" id="instituteName" class="form-ctrl" [(ngModel)]="createInstitute.instituteName" name="instituteName"
              enquiryInput/>
            <label for="instituteName">Institute Name</label>
          </div>
        </div>

        <div class="c-lg-6 c-md-6 c-sm-6 c-xs-6 pull-right">
          <aside class="pull-right">
            <input type="button" value="Cancel" class="btn" (click)="closeAddInstitute()">
            <input type="button" value="Create" class="redBtn btn" (click)="addInstituteData()">
          </aside>
        </div>

      </div>
    </section>

    <div class="row">
      <div class="table-responsive institute-table">
        <table>
          <thead>
            <tr>
              <th>Institute Name</th>
              <th> Action </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let sch of instituteList">
              <td *ngIf="!sch.edit">
                <div class="inst-name">
                  {{sch.school_name}}
                </div>
              </td>

              <td *ngIf="sch.edit">
                <div class="field-wrapper has-value">
                  <input type="text" [(ngModel)]="sch.school_name" class="form-ctrl" name="instituteName" enquiryInput/>
                  <label for="instituteName">Institute Name</label>
                </div>
              </td>

              <td class="edit-view-btn" *ngIf="!sch.edit">
                <div class="">
                  <a (click)="editInstitute(sch.school_id)" style="cursor:pointer">
                    <i class="edit-icon cursor-icon" aria-hidden="true"></i>Edit
                  </a>
                </div>
                <div class="">
                  <a (click)="deleteInstitute(sch.school_id)" style="cursor:pointer">
                    <i class="view-icon cursor-icon" aria-hidden="true"></i>Delete
                  </a>
                </div>
              </td>

              <td class="edit-view-btn" *ngIf="sch.edit">
                <div class="">
                  <a (click)="cancelEditInstitute(sch.school_id)" style="cursor:pointer">
                    <i class="edit-icon" aria-hidden="true"></i>Cancel
                  </a>
                </div>
                <div class="">
                  <a (click)="updateInstitute(sch.school_id)" style="cursor:pointer">
                    <i class="view-icon update-icon" aria-hidden="true"></i>Update
                  </a>
                </div>
              </td>

            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>

</enquiry-pop-up>



<!-- Add New Source -->
<enquiry-pop-up [hidden]="!isSourcePop">
  <span class="closePopup pos-abs fbold show" id="popupCloseBtn" (click)="hideAddSourcePops()" close-button>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="9310 2185 16 16">
      <g id="Group_1228" data-name="Group 1228" transform="translate(8298 1888)">
        <g id="Group_1213" data-name="Group 1213" transform="translate(34.189 -7.77)">
          <line id="Line_274" data-name="Line 274" class="cls-1" y2="19.798" transform="translate(992.81 305.77) rotate(45)" />
          <line id="Line_275" data-name="Line 275" class="cls-1" x1="19.798" transform="translate(978.81 305.77) rotate(45)" />
        </g>
        <rect id="Rectangle_686" data-name="Rectangle 686" style="stroke:none;" class="cls-2" width="16" height="16" transform="translate(1012 297)"
        />
      </g>
    </svg>
  </span>

  <h2 popup-header> Source Editor</h2>

  <div class="institute-editor" popup-content>

    <div class="row clearFix add-edit">
      <a class="expend-box" (click)="toggleSourceAdd()">
        <i id="add-source-icon">+</i>
        <span>Create New Source</span>
      </a>
    </div>

    <section class="row clearFix create-standard-form" *ngIf="isNewSource">
      <div class="row">
        <div class="c-lg-6 c-md-6 c-sm-6 c-xs-6 pull-left">
          <div class="field-wrapper">
            <input type="text" value="" id="sourceName" class="form-ctrl" [(ngModel)]="createSource.name" name="sourceName" enquiryInput/>
            <label for="sourceName">Source Name</label>
          </div>
        </div>

        <div class="c-lg-6 c-md-6 c-sm-6 c-xs-6 pull-right">
          <aside class="pull-right">
            <input type="button" value="Cancel" class="btn" (click)="closeAddSource()">
            <input type="button" value="Create" class="redBtn btn" (click)="addSourceData()">
          </aside>
        </div>

      </div>
    </section>

    <div class="row">
      <div class="table-responsive institute-table">
        <table>
          <thead>
            <tr>
              <th>Source Name</th>
              <th> Action </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let sch of sourceList">
              <td *ngIf="!sch.edit">
                <div class="inst-name">
                  {{sch.name}}
                </div>
              </td>

              <td *ngIf="sch.edit">
                <div class="field-wrapper has-value">
                  <input type="text" [(ngModel)]="sch.name" class="form-ctrl" name="sourceName" enquiryInput/>
                  <label for="sourceName">Source Name</label>
                </div>
              </td>

              <td class="edit-view-btn" *ngIf="!sch.edit">
                <div class="">
                  <a (click)="editSource(sch.id)" style="cursor:pointer">
                    <i class="edit-icon cursor-icon" aria-hidden="true"></i>Edit
                  </a>
                </div>
                <div class="">
                  <a (click)="deleteSource(sch.id)" style="cursor:pointer">
                    <i class="view-icon cursor-icon" aria-hidden="true"></i>Delete
                  </a>
                </div>
              </td>

              <td class="edit-view-btn" *ngIf="sch.edit">
                <div class="">
                  <a (click)="cancelEditSource(sch.id)" style="cursor:pointer">
                    <i class="edit-icon" aria-hidden="true"></i>Cancel
                  </a>
                </div>
                <div class="">
                  <a (click)="updateSource(sch.id)" style="cursor:pointer">
                    <i class="view-icon update-icon" aria-hidden="true"></i>Update
                  </a>
                </div>
              </td>

            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>

</enquiry-pop-up>




<!-- Add New Reference -->
<enquiry-pop-up [hidden]="!isReferPop">

  <span class="closePopup pos-abs fbold show" id="popupCloseBtn" (click)="hideAddReferPops()" close-button>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="9310 2185 16 16">
      <g id="Group_1228" data-name="Group 1228" transform="translate(8298 1888)">
        <g id="Group_1213" data-name="Group 1213" transform="translate(34.189 -7.77)">
          <line id="Line_274" data-name="Line 274" class="cls-1" y2="19.798" transform="translate(992.81 305.77) rotate(45)" />
          <line id="Line_275" data-name="Line 275" class="cls-1" x1="19.798" transform="translate(978.81 305.77) rotate(45)" />
        </g>
        <rect id="Rectangle_686" data-name="Rectangle 686" style="stroke:none;" class="cls-2" width="16" height="16" transform="translate(1012 297)"
        />
      </g>
    </svg>
  </span>

  <h2 popup-header>Add Referrer </h2>

  <div class="institute-editor" popup-content>

    <div class="row clearFix add-edit">
      <a class="expend-box" (click)="toggleReferAdd()">
        <i id="add-refer-icon">+</i>
        <span>Create New Reference</span>
      </a>
    </div>

    <section class="row clearFix create-standard-form" *ngIf="isNewRefer">
      <div class="row">
        <div class="c-lg-6 c-md-6 c-sm-6 c-xs-6 pull-left">
          <div class="field-wrapper">
            <input type="text" value="" id="referName" class="form-ctrl" [(ngModel)]="createReferer.name" name="referName" enquiryInput/>
            <label for="referName">Refer Name</label>
          </div>
        </div>

        <div class="c-lg-6 c-md-6 c-sm-6 c-xs-6 pull-right">
          <aside class="pull-right">
            <input type="button" value="Cancel" class="btn" (click)="closeAddRefer()">
            <input type="button" value="Create" class="redBtn btn" (click)="addReferData()">
          </aside>
        </div>

      </div>
    </section>

    <div class="row">
      <div class="table-responsive institute-table">
        <table>
          <thead>
            <tr>
              <th>Reference Name</th>
              <th> Action </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let sch of referList">
              <td *ngIf="!sch.edit">
                <div class="inst-name">
                  {{sch.name}}
                </div>
              </td>

              <td *ngIf="sch.edit">
                <div class="field-wrapper has-value">
                  <input type="text" [(ngModel)]="sch.name" class="form-ctrl" name="sourceName" enquiryInput/>
                  <label for="sourceName">Referer</label>
                </div>
              </td>

              <td class="edit-view-btn" *ngIf="!sch.edit">
                <div class="">
                  <a (click)="editRefer(sch.id)" style="cursor:pointer">
                    <i class="edit-icon cursor-icon" aria-hidden="true"></i>Edit
                  </a>
                </div>
                <div class="">
                  <a (click)="deleteRefer(sch.id)" style="cursor:pointer">
                    <i class="view-icon cursor-icon" aria-hidden="true"></i>Delete
                  </a>
                </div>
              </td>

              <td class="edit-view-btn" *ngIf="sch.edit">
                <div class="">
                  <a (click)="cancelEditRefer(sch.id)" style="cursor:pointer">
                    <i class="edit-icon" aria-hidden="true"></i>Cancel
                  </a>
                </div>
                <div class="">
                  <a (click)="updateRefer(sch.id)" style="cursor:pointer">
                    <i class="view-icon update-icon" aria-hidden="true"></i>Update
                  </a>
                </div>
              </td>

            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>

</enquiry-pop-up>