<section class="middle-section clearFix" [ngBusy]="{busy: busy, message: 'Loading...', delay: 100, maxDuration: 1000}" (click)="inputClicked()">

  <!-- Header and Navigation -->
  <section class="middle-top mb0 clearFix">
    <h1 class="pull-left">Campaign List</h1>
    <div class="pull-right" style="display:flex">

      <div class="search-filter-wrapper" style="display:flex">
        <input #search type="text" class="normal-field " placeholder="Search" [(ngModel)]="searchBarData" id="search" name="searchData"
          (keyup)="searchDatabase(search)">
        <input type="button" class="btn" value="Add Promotional SMS" (click)="addEditPromotionalSms()">
      </div>

      <div class="btnWrapper">
        <button class="btn pull-right" routerLink="/campaign/bulk">
          <div class="option-wrap">
            <img src="assets/images/plus.png" alt="Add Item" style="vertical-align: -webkit-baseline-middle;">
            <span class="tooltip tooltipSpan">
              Upload Lead
            </span>
          </div>
        </button>
      </div>
    </div>

  </section>


  <section class="middle-main clearFix" id="studentList">
    <!-- Enquiry DataTable -->

    <div class="c-lg-12 c-md-12 c-sm-12 table-wrapper">
      <div class="table-scroll-wrapper">
        <div class="table table-responsive enquiry-table">
          <table class="align-center">
            <thead>
              <tr>
                <th>
                  <label>
                    <a class="cursor-icon" (click)="sortTableById(header.list_name.title)">{{header.list_name.title}}</a>
                  </label>
                </th>

                <th>
                  <label>
                    <a class="cursor-icon" (click)="sortTableById(header.referred_by.title)">{{header.referred_by.title}}</a>
                  </label>
                </th>

                <th>
                  <label>
                    <a class="cursor-icon" (click)="sortTableById(header.source.title)">{{header.source.title}}</a>
                  </label>
                </th>

                <th>
                  <label>
                    <a class="cursor-icon" (click)="sortTableById(header.created_date.title)">{{header.created_date.title}}</a>
                  </label>
                </th>

                <th>
                  <label>
                    <a class="cursor-icon" (click)="sortTableById(header.status.title)">{{header.status.title}}</a>
                  </label>
                </th>

                <th>
                  <label>
                    <a class="cursor-icon" (click)="sortTableById(header.total_count.title)">{{header.total_count.title}}</a>
                  </label>
                </th>

                <th>
                  <label>
                    <a class="cursor-icon" (click)="sortTableById(header.success_count.title)">{{header.success_count.title}}</a>
                  </label>
                </th>

                <th>
                  <label>
                    <a class="cursor-icon" (click)="sortTableById(header.failure_count.title)">{{header.failure_count.title}}</a>
                  </label>
                </th>

                <th>
                  <label>
                    <a class="cursor-icon">{{header.allow_sms.title}}</a>
                  </label>
                </th>

              </tr>
            </thead>

            <tbody class="" *ngIf="sourceCampaign.length != 0">

              <tr id="row{{i}}" *ngFor="let row of sourceCampaign; let i = index; trackBy: i;" (click)="rowClickEvent(i)" [class.selected]="i == selectedRow">
                <td (click)="rowClicked(row)">
                  {{row.data.list_name}}
                </td>

                <td>
                  {{row.data.referred_by}}
                </td>

                <td>
                  {{row.data.source}}
                </td>

                <td>
                  {{row.data.created_date| date:'dd-MMM-yy'}}
                </td>

                <td>
                  {{row.data.statusValue}}
                </td>

                <td>
                  {{row.data.total_count}}
                </td>

                <td>
                  {{row.data.success_count}}
                </td>


                <td *ngIf="row.data.failure_count == 0">
                  {{row.data.failure_count}}
                </td>

                <td *ngIf="row.data.failure_count > 0" style="cursor:pointer" (click)="downloadFailureListFile(row)" [ngStyle]="{'color':getFollowUpColor(row.data.followUpDate)}">
                  <a id="template_link_{{row.data.list_id}}">{{row.data.failure_count}}</a>
                </td>

                <td>
                  <a style="cursor: pointer;" (click)="openSmsPopup(row)" *ngIf="row.data.success_count > 0" [ngStyle]="{'color':getFollowUpColor(row.data.followUpDate)}">
                    Send
                  </a>
                </td>
              </tr>

            </tbody>

            <tbody *ngIf="sourceCampaign.length == 0">
              <tr class="">
                <td colspan="9">
                  No Campaign Data Found
                </td>
              </tr>
            </tbody>

          </table>

        </div>
      </div>
    </div>
    <!-- Paginator Here -->
    <div class="filter-res pagination" style="width: 100%;">
      <div class="c-lg-12 c-md-12 c-sm-12 align-right">
        <pagination (goPage)="fetchTableDataByPage($event)" (goNext)="fetchNext()" (goPrev)="fetchPrevious()" [pagesToShow]="10"
          [page]="PageIndex" [perPage]="studentdisplaysize" [count]="totalRow">
        </pagination>
      </div>
    </div>


  </section>


</section>


<!-- SMS PopUp Single-->
<section id="popup" class="popupWrapper fadeIn" style="overflow:auto;" *ngIf="message === 'sms'" (click)="inputClicked($event)">
  <!-- tab 1 for sms-->
  <div class="popup pos-abs popup-body-container" *ngIf="testMessagePopUp === false">
    <div class="popup-wrapper pos-rel">

      <span class="closePopup pos-abs fbold show" id="popupCloseBtn" (click)="closePopup()">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="9310 2185 16 16">
          <g id="Group_1228" data-name="Group 1228" transform="translate(8298 1888)">
            <g id="Group_1213" data-name="Group 1213" transform="translate(34.189 -7.77)">
              <line id="Line_274" data-name="Line 274" class="cls-1" y2="19.798" transform="translate(992.81 305.77) rotate(45)" />
              <line id="Line_275" data-name="Line 275" class="cls-1" x1="19.798" transform="translate(978.81 305.77) rotate(45)" />
            </g>
            <rect id="Rectangle_686" data-name="Rectangle 686" style="stroke:none;" class="cls-2" width="16" height="16" transform="translate(1012 297)"
            />
          </g>
        </svg>
      </span>

      <div class="sms-popup-content-wrapper">
        <h2>Send Promotional SMS </h2>

        <div class="sms-form sms-popup-content">
          <div class="sms-update">
            <div class="sms-top-section">
              <h4>
                Campaign List*
              </h4>

              <div class="row">
                <div class="c-lg-3 c-md-3 c-sm-3">
                  <div class="field-wrapper has-value">
                    <select class="form-ctrl" name="ddnSelect">
                      <option value={{smsSelectedRows.data.list_name}}>{{smsSelectedRows.data.list_name}}</option>
                    </select>
                    <label for="ddnSelect">Lead Name</label>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="c-lg-3 c-md-3 c-sm-3">
                  <div class="field-wrapper datePickerBox has-value">
                    <input type="text" value="" id="followupdate" class="form-ctrl bsDatepicker" [(ngModel)]="searchBarDate" style="cursor: pointer;"
                      (keyup.enter)="searchDatabase()" readonly="true" name="followupdate" bsDatepicker/>
                    <label for="followupdate">Campaign Date</label>
                    <span class="date-clear" name="followupdate" (click)="clearDate($event)"></span>
                  </div>
                </div>

                <div class="c-lg-6 c-md-6 c-sm-6 time-picker">
                  <div class="field-wrapper has-value">
                    <select id="hour" class="form-ctrl ng-valid ng-touched ng-dirty" [(ngModel)]="hour" name="hour">
                      <option *ngFor="let hour of hourArr" [value]="hour">
                        {{hour}}
                      </option>
                    </select>
                    <label for="hour">Hour</label>
                  </div>
                  <div class="field-wrapper has-value">
                    <select id="minute" class="form-ctrl ng-valid ng-touched ng-dirty" [(ngModel)]="minute" name="minute">
                      <option *ngFor="let minute of minArr" [value]="minute">
                        {{minute}}
                      </option>
                    </select>
                    <label for="minute">Minute</label>
                  </div>
                  <div class="field-wrapper has-value">
                    <select id="hour" class="form-ctrl ng-valid ng-touched ng-dirty" [(ngModel)]="meridian" name="meridian">
                      <option *ngFor="let meridian of meridianArr" [value]="meridian">
                        {{meridian}}
                      </option>
                    </select>
                    <label for="meridian">Meridian</label>
                  </div>
                  <p>Note: Please specify the time window between 9 AM to 9 PM for scheduling campaign.</p>
                </div>
              </div>

              <h4>
                Campaign Message
              </h4>

              <div class="row campaign-message-wrapper">
                <div class="c-lg-12 c-md-12 c-sm-12 campaign-message-table">
                  <div class="table table-responsive enquiry-table">
                    <table style="width:100%" class="camp-table">
                      <!-- <tr>
                        <th></th>
                        <th></th>
                      </tr> -->
                      <tr id="message{{i}}" *ngFor="let message of messageList; let i = index; trackBy: i;">
                        <td class="c-lg-12 c-md-12 c-sm-12">
                          <div class="field-checkbox-wrapper">
                            <input type="checkbox" (click)="rowCheckBoxClick($event.target.checked, i, message.message_id ,message.message)" id="check{{i}}"
                              value="" name="enquirycheck" class="form-checkbox">
                            <label for="check{{i}}">{{message.message}}</label>
                          </div>
                        </td>
                        <td style="text-align: left">
                          {{message.message}}
                        </td>
                    </table>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="row" popup-footer>
          <div class="c-lg-12 c-md-12 c-sm-12" style="padding-top: 5px;">
            <div class="">
              <div class="clearfix">
                <aside class="pull-right popup-btn" style="margin-top: 0px;">
                  <input type="button" value="Cancel" class="btn" *ngIf="smsBtnToggle" (click)="closePopup()">
                  <input type="button" value="Save" class="fullBlue btn" *ngIf="!smsBtnToggle" (click)="saveEditedSms()">
                  <!-- <input type="button" value="Cancel" class="btn" *ngIf="!smsBtnToggle" (click)="closePopup()"> -->
                  <input type="button" value="Send Test SMS" class="fullBlue btn" *ngIf="!smsBtnToggle" (click)="sendSmsTemplate()">
                </aside>
              </div>
            </div>
          </div>
        </div>


      </div>


    </div>
  </div>


  <!--Tab 2 for sms  -->
  <!-- -->
  <div class="popup pos-abs popup-body-container" *ngIf="testMessagePopUp === true">
    <div class="popup-wrapper pos-rel">

      <span class="closePopup pos-abs fbold show" id="popupCloseBtn" (click)="closePopup()">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="9310 2185 16 16">
          <g id="Group_1228" data-name="Group 1228" transform="translate(8298 1888)">
            <g id="Group_1213" data-name="Group 1213" transform="translate(34.189 -7.77)">
              <line id="Line_274" data-name="Line 274" class="cls-1" y2="19.798" transform="translate(992.81 305.77) rotate(45)" />
              <line id="Line_275" data-name="Line 275" class="cls-1" x1="19.798" transform="translate(978.81 305.77) rotate(45)" />
            </g>
            <rect id="Rectangle_686" data-name="Rectangle 686" style="stroke:none;" class="cls-2" width="16" height="16" transform="translate(1012 297)"
            />
          </g>
        </svg>
      </span>
      <form #values="ngForm">
        <div class="popup-content">
          <h2>Campaign Test SMS </h2>
          <div class="sms-form sms-popup-content">
            <div class="sms-update">
              <div class="sms-top-section">
                <div class="row">
                  <div class="c-lg-4 c-md-4 c-sm-4">
                    <div class="field-wrapper">
                      <input type="text" value="" id="cNumber" class="form-ctrl" [(ngModel)]="phone" name="cNumber" maxlength="10" minlength="10"
                        #cNumber="ngModel" pattern="[789][0-9]{9}" required/>
                      <label for="cNumber">Contact Number*</label>
                      <div *ngIf="cNumber.invalid && (cNumber.dirty || cNumber.touched)" class="alert invalid-alert">
                        <div *ngIf="cNumber.errors.required">
                          phone number is required.
                        </div>
                        <div *ngIf="cNumber.errors.pattern">
                          Please enter a valid 10 digits mobile number.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="c-lg-6 c-md-6 c-sm-6" style="padding-top: 10px;">
                    <div class="field-wrapper">
                      Message:
                    </div>
                  </div>

                  <div class="c-lg-6 c-md-6 c-sm-6" style="padding-top: 10px;">
                    <div class="field-wrapper">

                    </div>
                  </div>
                </div>

                <div class="" style="padding-top: 10px;">
                  <div class="field-wrapper">
                    <div class="clearfix" *ngFor="let message of selectedMessage">

                      <pre class="showMessage"> {{ this.smsMessageTest}}
                            </pre>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="c-lg-12 c-md-12 c-sm-12" style="padding-top: 10px;">
                    <div class="">
                      <div class="clearfix">
                        <aside class="pull-right popup-btn">
                          <input type="button" value="Close" class="fullBlue btn" *ngIf="!smsBtnToggle" (click)="closePopupTest()">
                          <input type="button" value="Send" class="fullBlue btn" *ngIf="!smsBtnToggle" (click)="sendTestSMS(values)">
                        </aside>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>

    </div>
  </div>

</section>


<!-- Add Edit PRomotional SMS -->
<!-- SMS PopUp Single-->
<section id="popup" class="popupWrapper fadeIn" style="overflow:auto;" *ngIf="addEditPromotional" (click)="inputClicked($event)">
  <div class="popup pos-abs popup-body-container">
    <div class="popup-wrapper pos-rel">

      <span class="closePopup pos-abs fbold show" id="popupCloseBtn" (click)="closePopup()">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="9310 2185 16 16">
          <g id="Group_1228" data-name="Group 1228" transform="translate(8298 1888)">
            <g id="Group_1213" data-name="Group 1213" transform="translate(34.189 -7.77)">
              <line id="Line_274" data-name="Line 274" class="cls-1" y2="19.798" transform="translate(992.81 305.77) rotate(45)" />
              <line id="Line_275" data-name="Line 275" class="cls-1" x1="19.798" transform="translate(978.81 305.77) rotate(45)" />
            </g>
            <rect id="Rectangle_686" data-name="Rectangle 686" style="stroke:none;" class="cls-2" width="16" height="16" transform="translate(1012 297)"
            />
          </g>
        </svg>
      </span>
      <div class="popup-content">
        <h2>Campaign Messages/SMS List</h2>
        <div class="sms-popup-content">
          <div class="promotion-popup-content">
            <div class="row extraMargin">
              <input type="button" class="btn pull-right" value="Add SMS/Message" id="btnNewSmsAdd" (click)="createNewSMS()">
            </div>
            <div class="row addSection" *ngIf="createNew">
              <h3>Add Promotional Message
                <div class="questionInfo inline-relative">
                  <span class="qInfoIcon i-class">i</span>
                  <div class="tooltip-box-field md">
                    Promotional SMS : These messages are sent with the objective
                    <br>of promoting your product or service. Promotional SMS can be
                    <br>send only from 9AM to 9PM and only to those numbers
                    <br>that are not on the DND
                  </div>
                </div>
              </h3>
              <div class="row">
                <div class="c-cm-6 c-md-6 c-lg-6">
                  <div class="field-wrapper">
                    <textarea class="form-ctrl textBox" value="" [(ngModel)]="messageText" placeholder="Message/SMS" style="height:50px"></textarea>
                    <p>Total Character Count : {{messageText.length}}</p>
                  </div>
                </div>
                <div class="c-cm-2 c-md-2 c-lg-2 spanTagInfo">
                  <span title="Note: Message having apostrophe or any other special character will be treated as unicode message. A unicode message has a character limit of 70 per SMS.">
                    <i class="fas fa-info" style="font-family: Fontawesome;font-size: 20px;color: #3184f6;"></i>
                  </span>
                </div>
                <div class="c-sm-4 c-md-4 c-lg-4 btnActionGrp">
                  <input type="button" class="btn" value="Cancel" (click)="closeAddDiv()">
                  <input type="button" class="btn fullBlue" value="Save" (click)="addNewMessage()">
                </div>
              </div>
            </div>
            <table>
              <thead>
                <th>Message/SMS</th>
                <th>Status</th>
                <th>Updated Date</th>
                <th>SMS Type</th>
                <th>Approve</th>
                <th>Action</th>
              </thead>
              <tbody *ngIf="messageList.length !=0">
                <tr id="rowMessage{{i}}" class="displayComp" *ngFor="let row of messageList; let i = index; trackBy: i;">
                  <td class="view-comp">
                    {{row.message}}
                  </td>
                  <td class="edit-comp">
                    <div class="field-wrapper">
                      <input type="text" class="form-ctrl editCellInput" [(ngModel)]="row.message" name="label">
                    </div>
                  </td>
                  <td>
                    {{row.statusValue}}
                  </td>
                  <td>
                    {{row.date}}
                  </td>
                  <td>
                    {{row.sms_type}}
                  </td>
                  <td>
                    <span [ngClass]="{hide : showApproveButtons(row)}" (click)="approveMessage(row)">
                      <i class="fas fa-check" style="font-family: FontAwesome;font-size: 25px;color: green;"></i>
                    </span>
                  </td>

                  <td class="view-comp">
                    <div class="actionButtons" [ngClass]="{hide : showActionButton(row)}">
                      <a class="anchorTagCursor" (click)="editRowTable(row , i)">Edit</a>
                      <a class="anchorTagCursor" (click)="deleteRow(row , i)">Delete</a>
                    </div>
                  </td>
                  <td class="edit-comp actionButtons">
                    <a class="anchorTagCursor" (click)="saveInformation(row , i)"> Save </a>
                    <a class="anchorTagCursor" (click)="cancelEditRow(i)"> Cancel </a>
                  </td>
                </tr>
              </tbody>
              <tbody *ngIf="messageList.length ==0">
                <td colspan="6" style="text-align: center">
                  No Message List Available
                </td>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>