<div #fileHeader class="file" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)">
  <div #fileImage class="file__img" *ngIf="fileObj.res.category_id!=230"></div>
  <div  #fileImage class="file__img" *ngIf="fileObj.res.category_id==230 &&(fileObj.res.thumbnail_list==null || fileObj.res.thumbnail_list[0].posterUrl==null)"></div>
  <img class="youtube_thumbnail" aria-hidden="true" *ngIf="fileObj.res.category_id==230 && (fileObj.res.thumbnail_list!=null && fileObj.res.thumbnail_list[0].posterUrl!=null)" src="{{fileObj.res.thumbnail_list[0].posterUrl}}">
  <div class="file__info" *ngIf="fileDisplayArr.length!=0">
    <h2 class="file__title" title="{{fileObj.name}}">
      {{getOriginalFileName(fileObj.res.file_name)}}
    </h2>

    <div class="file__made" title="{{fileObj.res.category_name}}">
      {{fileObj.res.category_name}}
    </div>

    <div class="file__details file__owner">{{fileObj.res.uploadedBy}}</div>

    <div class="file__details file__date">{{fileObj.res.uploaded_time}}</div>

    <div class="file__details file__size">{{fileObj.res.size}} KB</div>

    <div class="file__details">{{fileObj.res.downloads}}</div>

    <i class="fa fa-trash" style="font-size: 17px;  color: #52454596;" title="Delete File" *ngIf="fileObj.res.user_type!=3" (click)="getFilesDeleted(fileObj)"></i>
    <i class="fa fa-edit" *ngIf="fileObj.res.category_id==230" style="font-size: 15px;  color: #52454596;" title="Edit File" (click)="editYoutubeUrl(fileObj)"></i> &nbsp;
    <i class="fa fa-share-alt" style="font-size: 17px; color: #52454596; margin-left: 1%;" title="Share File" (click)="getPopupOpen(fileObj)"></i>
    <a class="fa fa-download" style="font-size: 17px; color: #52454596; margin-left: 1%;" *ngIf="fileObj.res.category_id!=230 && fileObj.res.user_type!=3" title="Download File" (click)="getFileDownloaded(fileObj);"
      id="downloadFile" ></a>
    <a [href]='fileURL' id="downloadFileClick" class="hide" ></a>
    <a class="fa fa-eye" style="font-size: 17px; color: #52454596; margin-left: 1%;" *ngIf="fileObj.res.category_id==230" title="Download File" (click)="getYoutubeLink(fileObj);"
      id="downloadFile" ></a>
  </div>
  <!-- <div *ngIf="fileDisplayArr.length == 0" class="file__info">
    <h2 class="file__title">
      No Files Found !!
    </h2>
  </div> -->

</div>
