<div class="middle-section clearFix">
  <section class="middle-top mb0 clearFix"
    style="border-bottom: 1px solid lightgrey;padding-bottom: 2px;padding-top: 2px;">
    <div>
      <div class="header-title">
        <h2>
          <a routerLink="/view/{{type}}" style="color: #0084f6;">
            {{ type | titlecase }}
          </a>
          <i style="font-family: 'FontAwesome';" class="fas fa-angle-right"></i>
          <a routerLink="/view/{{type}}/setup" style="color: #0084f6;">
            Data Setup
          </a>
          <i style="font-family: 'FontAwesome';" class="fas fa-angle-right"></i> Academic Year List
        </h2>
      </div>
    </div>
    <div class="clearFix add-edit" style="float: right;">
      <button class="btn" (click)="toggleCreateNewAcademicYear()" id="toggleCreate">
        <i id="showAddBtn" class="addBtnClass">+</i>
        <i id="showCloseBtn" class="closeBtnClass" style="display:none;">-</i>
        <span>Add Academic Year</span>
      </button>
    </div>
  </section>

  <section class="middle-main clearFix">

    <!-- <div class="clearFix add-edit">
      <a (click)="toggleCreateNewAcademicYear()" id="toggleCreate">
        <i id="showAddBtn" class="addBtnClass">+</i>
        <i id="showCloseBtn" class="closeBtnClass" style="display:none;">-</i>
        <span>Add Academic Year</span>
      </a>
    </div> -->
    <section class="clearFix" *ngIf="varJson.createNewAcademicYear" style="margin-top: -1rem; margin-left: -5px;">
      <div class="row create-standard-field">

        <div class="c-lg-2 c-md-2 c-sm-2" style="margin-right: -3rem;">
          <div class="field-wrapper" [ngClass]="{'has-value': addAcademicYearTemplate.inst_acad_year!=''}">
            <label for="academicYear">Academic Year
              <span class="text-danger">*</span>
            </label>
            <input type="text" class="form-ctrl" name="academicYear" id="academicYear"
              [(ngModel)]="addAcademicYearTemplate.inst_acad_year" style="border-radius: 4px;">


          </div>
        </div>
        <div class="c-lg-2 c-md-2 c-sm-2" style="margin-right: -2rem;">
          <div class="field-wrapper" [ngClass]="{'has-value':addAcademicYearTemplate.desc!=''}">
            <label for="academicYearDescription">Academic Year Description
              <span class="text-danger">*</span>
            </label>
            <input type="text" class="form-ctrl" name="academicYearDescription" id="academicYearDescription"
              [(ngModel)]="addAcademicYearTemplate.desc" style="border-radius: 4px;">

          </div>
        </div>
        <div class="c-lg-2 c-md-2 c-sm-2" style="margin-right: -2rem;">
          <div class="field-wrapper  datePickerBox" [ngClass]="{'has-value':addAcademicYearTemplate.start_date!=''}">
            <label for="startDate">Start Date
              <span class="text-danger">*</span>
            </label>
            <input type="text" class="form-ctrl" readonly="true" name="startDate" id="startDate"
              [(ngModel)]="addAcademicYearTemplate.start_date" bsDatepicker style="border-radius: 4px;" />

          </div>
        </div>
        <div class="c-lg-2 c-md-2 c-sm-2" style="margin-right: -2rem;">
          <div class="field-wrapper datePickerBox" [ngClass]="{'has-value':addAcademicYearTemplate.end_date!=''}">
            <label for="academicYear">End Date
              <span class="text-danger">*</span>
            </label>
            <input type="text" class="form-ctrl" readonly="true" name="academicYear" id="academicYear"
              [(ngModel)]="addAcademicYearTemplate.end_date" bsDatepicker style="border-radius: 4px;" />

          </div>
        </div>
        <div class="c-lg-3 c-md-3 c-sm-3" style="margin-top:1%;">
          <div class="pull-left create-cancel-small">
            <aside class="pull-left create-cancel-small">
              <button class="btn fullBlue" (click)="addAcademicYearDetails()" id="addAcademicYearBtn">Add</button>
            </aside>
          </div>
        </div>
      </div>
    </section>
    <!-- <section>
      <app-basic-table [headers]="headerSetting" [displayData]="academicTableList" [tableSetting]="tableSetting"
        [rowColumnSetting]="rowColumns" (editView)='editFee($event)' (viewView)='studentsAssigned($event)'>

    </section> -->
    <section>
      <div id="divSlotTable">
        <div class="table-scroll-wrapper">
          <div class="table table-responsive">
            <table class="tableBodyScroll">
              <thead>
                <tr>
                  <th style="text-align: left;">
                    Id
                  </th>
                  <th style="text-align: left;">
                    Academic Year
                  </th>
                  <th>
                    Description
                  </th>
                  <th>
                    Start Date
                  </th>
                  <th>
                    End Date
                  </th>
                  <th>
                    Added Date
                  </th>
                  <th>
                    Is Default
                  </th>
                  <th>
                    Action
                  </th>
                </tr>
              </thead>
              <tbody
                [ngStyle]="{'max-height':varJson.createNewAcademicYear == true ? '68vh' : '74vh','min-height':varJson.createNewAcademicYear == true ? '68vh' : '74vh' }">
                <tr id="row{{i}}" class="displayComp" *ngFor="let row of academicTableList; let i = index; trackBy: i;">
                  <td style="text-align: left;">
                    {{i + 1}}
                  </td>

                  <td class="view-comp" style="text-align: left;">
                    {{row.inst_acad_year}}
                  </td>
                  <td class="edit-comp">
                    <div class="field-wrapper">
                      <input type="text" class="form-ctrl editCellInput" [(ngModel)]="row.inst_acad_year" name="label"
                        id="txtRowInst">
                    </div>
                  </td>
                  <td class="view-comp">
                    {{row.desc}}
                  </td>
                  <td class="edit-comp">
                    <div class="field-wrapper">
                      <input type="text" class="form-ctrl editCellInput" [(ngModel)]="row.desc" name="label"
                        id="txtRowDesc">
                    </div>
                  </td>

                  <td class="view-comp">
                    {{row.start_date | date:'dd-MMM-yyyy'}}
                  </td>
                  <td class="edit-comp edit">
                    <div class="field-wrapper has-Value">
                      <input type="text" value="" class="form-ctrl editCellInput" name="createdDate" readonly="true"
                        [(ngModel)]="row.start_date" bsDatepicker id="txtRowStartDate">
                    </div>
                  </td>
                  <td class="view-comp edit">
                    {{row.end_date | date:'dd-MMM-yyyy'}}
                  </td>
                  <td class="edit-comp">
                    <div class="field-wrapper has-value">
                      <input type="text" value="" class="form-ctrl editCellInput" name="endDate" readonly="true"
                        [(ngModel)]="row.end_date" bsDatepicker id="rowEndDate">
                    </div>
                  </td>
                  <td class="view-comp">
                    {{row.created_date | date:'dd-MMM-yyyy'}}
                  </td>
                  <td class="edit-comp">
                    <div class="field-wrapper has-value">
                      <input type="text" value="" class="form-ctrl editCellInput" name="endDate" readonly="true"
                        [(ngModel)]="row.created_date" bsDatepicker id="rowCreatedYear">
                    </div>
                  </td>
                  <td class="view-comp">
                    <span *ngIf="row.default_academic_year == 0">No</span>
                    <span *ngIf="row.default_academic_year == 1">Yes</span>
                  </td>
                  <td class="edit-comp">
                    <div class="field-wrapper has-value">
                      <select id="issearchable" class="form-ctrl" name="issearchable"
                        [(ngModel)]="row.default_academic_year" style="margin: auto">
                        <option value="1">Yes</option>
                        <option value="0">No</option>
                      </select>
                    </div>
                  </td>
                  <td class="view-comp">
                    <i class="fa fa-pencil" title="Edit" style="color: #0084f6;margin-right: 4px;" aria-hidden="true"
                      (click)="editRowTable(row, i)" id="aEditRow"></i>
                    <i class="fa fa-trash" title="Delete" style="color: red;" aria-hidden="true"
                      (click)="deleteAcademicYear(row)" id="aDeleteAcademic"></i>
                    <!-- <a class="anchorTagCursor" (click)="editRowTable(row, i)" id="aEditRow">Edit</a> -->
                    <!-- <a class="anchorTagCursor" (click)="deleteAcademicYear(row)" id="aDeleteAcademic">Delete</a> -->
                  </td>
                  <td class="edit-comp">
                    <i class="fa fa-floppy-o" title="Save" style="color: blue;margin-right: 4px;" aria-hidden="true"
                      (click)="saveAcademicYearInformation(row , i)" id="saveAcademic"></i>
                    <i class="fa fa-times" title="Cancel" style="color: red;" aria-hidden="true"
                      (click)="cancelEditRow(i)" id="cancelBtn"></i>
                    <!-- <a class="anchorTagCursor" (click)="saveAcademicYearInformation(row , i)" id="saveAcademic"> Save
                    </a>
                    <a class="anchorTagCursor anchorTag" (click)="cancelEditRow(i)" id="cancelBtn"> Cancel </a> -->
                  </td>
                </tr>
                <tr *ngIf="academicTableList.length ==0">
                  <td class="col-new" colspan="8" style="color: black;font-weight: 600">
                    No Academic Year List Available
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
    <!-- Paginator Here -->
    <div class="row filter-res pagination" style="width: 100%;"
      [ngStyle]="{'margin-top':varJson.createNewAcademicYear == true ? '2px' : '4px','margin-bottom':varJson.createNewAcademicYear == true ? '-10px' : '-20px' }">
      <div class="c-lg-12 c-md-12 c-sm-12 align-right">
        <pagination (goPage)="fetchTableDataByPage($event)" (goNext)="fetchNext()" (goPrev)="fetchPrevious()"
          [pagesToShow]="10" [page]="varJson.PageIndex" [perPage]="varJson.studentdisplaysize" [sizeArr]="sizeArr"
          [count]="varJson.totalRow" (sizeChange)="updateTableBatchSize($event)">
        </pagination>
      </div>
    </div>
  </section>

</div>