<div class="middle-section clearFix">
  <aside class="middle-full" style="padding: 1%">
      <h1 class="pull-left" style="padding-bottom: 10px">
          <a routerLink="/view/fee">
            Fees 
        </a>
        <i style="font-family: 'FontAwesome';" class="fas fa-angle-right"></i>
           Data-setup
      </h1>
    <section class="middle-main clearFix report-box" style="padding: 0">

        <div class="course-menu-section-container">
            <div class="course-menu-item" routerLink="./fee-type">
              <div class="menu-title">
                <img src="./assets/images/fee/Fee_types.svg" alt="fee types">
                <span>Fee Type</span>
              </div>
              <div class="menu-description">
                <span></span>
              </div>
            </div>

            <div class="course-menu-item" routerLink="./fee-template">
              <div class="menu-title">
                <img src="./assets/images/fee/Fee_template.svg" alt="fee template">
                <span>Fee Template</span>
              </div>
              <div class="menu-description">
                <span></span>
              </div>
            </div>

            <div class="course-menu-item" routerLink="./discount-reason">
              <div class="menu-title">
                <img src="./assets/images/fee/discount_reason.svg" alt="discount reason">
                <span> Discount Reason</span>
              </div>
              <div class="menu-description">
                <span></span>
              </div>
            </div>


            </div>
    </section>
  </aside>
</div>