<div class="page-content">
    <div class="head_padding">
      <div class="w98">
        <div class="page_heading">
          <p>Sale Item</p>
        </div>
      </div>
    </div>
    <form  #myForm="ngForm" autocomplete="off">
      <div class="w98 flex">
        <div class="div_11">
          <div class="heading1">
            <p>Sale</p>
          </div>
         
              <div class="pt102">
                  <select class="select wid100" name="user_role" name="user_role" id="user_role"
                  (change)="getUserAgainstRole($event.target.value)">
                     <option>Role<span class="astrik">*</span></option>
                     <option value="{{data.role_id}}" *ngFor="let data of roleAllData">{{data.role_name}}</option>
                   </select>
              </div>
                 <div class="pt102">
                  <select class="select wid100" name="user_id" id="user_id">
                    <option>User<span class="astrik">*</span></option>
                    <option value="{{datas.user_id}}" *ngFor="let datas of userALLdata">{{datas.name}}</option>
                  </select>
              </div>
                 <div class="pt102">
                   <input type="text" class="input wid100" name="reference_number" id="reference_number" placeholder="Refrence No.">
              </div>
               <div class="pt102">
                <input type="Date" class="input wid100" name="purchase_date" placeholder="Date*"
          [(ngModel)]="model.purchase_date" #purchase_date="ngModel"
          (change)="validateFutureDate($event)" required>
              </div>
                 <div class="pt102">
                   <select class="select wid100">
                    <option>Payment Status*</option>
                    <option value="Due">Due</option>
                    <option value="Partial"> Partial</option>
                    <option value="Partial">Paid</option>
                  </select>
              </div>
              <div class="pt102">
                <input type="File" class="input wid100" name="billImageFile" placeholder="Date*" name="billImageFile"
                [disabled]="bill_image_url!=''&& isedit" id="billImageFile" style="margin-top:8px;"
                [(ngModel)]="model.bill_image_url" accept=".gif, .jpg, .png, .doc,.svg,.pdf,.csv|image/*">
              </div>
              <div class="pt102">
                <textarea class="input wid100 textarea1" name="description" id="description" placeholder="Description"
                [(ngModel)]="model.description"></textarea>
              </div>
        </div>
       <div  class="div_2">
          <div class="heading1 ">
            <p>Sale Item</p>
          </div>
            <div class="pt102">
                  <select class="select sel1 mr10" id="category_id" name="category_id"
                  (change)="getItemAgainstCat($event.target.value)">
                    <option value="">Category*</option>
                    <option value="{{data.category_id}}" *ngFor="let data of categoryAllData">{{data.category_name}}</option>
                  </select>
                   <select class="select sel1 mr10" id="item_id" name="item_id">
                    <option value="">Item*</option>
                    <option value="{{data.item_id}}" *ngFor="let data of itemArray">{{data.item_name}}</option>
                  </select>
            </div>
           <div class="sale_add">
              <div class="tablehead">
              <div>
                Item
              </div>
              <div>
                Sale Type
              </div>
              <div>
                Unit Price
              </div>
              <div>
                Units
              </div>
              <div>
                Subtotal
              </div>
              <div>
                Actions
              </div>
            </div>
            <div class="tablebody">
              <div>
                Abc
              </div>
              <div>
                <select class="input wid80" name="sale_type" id="sale_type">
                  <option value="Paid" selected>Paid</option>
                  <option value="Free">Free</option>
                </select>
              </div>
              <div>
               <input type="text" name="unit_price" id ="unit_price" class="input wid80">
              </div>
              <div>
                <input type="text" name="quantity"  id="quantity" class="input wid80">
              </div>
              <div>
                212211
              </div>
              <div>
                <a href="" class="mr10"><img src="../../../../assets/img1/edit.svg" title="Edit" class="group18"></a>
                 <a href=""><img src="../../../../assets/img1/delete.svg" title="Delete" class="group18"></a>
              </div>
            </div>
            <div class="tablebody">
              <div>
                Abc
              </div>
              <div>
               <input type="text" name="" class="input wid80">
              </div>
              <div>
               <input type="text" name="" class="input wid80">
              </div>
              <div>
                <input type="text" name="" class="input wid80">
              </div>
              <div>
                212211
              </div>
              <div>
                <a href="" class="mr10"><img src="../../../../assets/img1/edit.svg" title="Edit" class="group18"></a>
                 <a href=""><img src="../../../../assets/img1/delete.svg" title="Delete" class="group18"></a>
              </div>
            </div>
            <div class="tabletotal">
              <div>
                
              </div>
               <div>
                
              </div>
              <div>
               Total
              </div>
              <div>
                15
              </div>
              <div>
                3333.00
              </div>
              <div>
              </div>
            </div>
           </div>
       </div>
      </div>
      </form>
       <div class="white bottom_button bottom_pagignation">
        <div class="display w98">
          <div></div>
          <div>
            <button class="blue_button">Save</button>
          </div>
        </div>
      <!-- pagignation div -->
        <div class=" flex w98">
          <div class="w20">
            <p>Showing <span>1</span> to <span>100</span> of <span>831</span></p>
          </div>
          <div class="w10">
            <p>Total <span>9</span> Pages</p>
          </div>
          <div class="w40">
            <p>Records per Page  
              <select>
              <option>9</option>
              </select>
            </p>
          </div>
          <div class="w30" >
           <span> <p>Previous <a><span class="active_circle number" >1</span></a> <a><span class="number">2</span></a> <a><span class="number">3</span></a> <a><span class="next">Next</span></a></p></span>
          </div>
        </div>
    </div>
     
          <!-- use image only when page is empty,table body class element will not be present -->

</div> 
  <div class="modal" id="addpayModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" >Add Payment</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <div class="flex">
            <div class="sec1">
              <div class="pt10">
                  <input type="Date" class="input wid100" name="" placeholder="Date*">
              </div>
              <div class="pt10">
                  <select class="select wid100">
                    <option>Payment Method*</option>
                  </select>
              </div>
              <div class="pt10">
                  <input type="File" class="input wid100" name="" placeholder="Date*">
              </div>
            </div>
            <div class="sec2">
              <div class="pt10">
                  <input type="text" class="input wid100" name="" placeholder="Refrence No.">
              </div>
              <div class="pt10">
                  <input type="text" class="input wid100" name="" placeholder="Amount*">
              </div>
             
            </div>
          </div>
          <div class="pt10">
            <button class="right blue_button">Save</button>
          </div>
        </div>        
      </div>
    </div>
  </div>
  
