<!DOCTYPE html>
<html>
<head>
	<title>DEMO</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <meta charset="utf-8"> 
	<meta content="width=device-width, initial-scale=1" name="viewport" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
   </head>
<body>
	<!-- header -->
	<!-- <header >
		<div class="header">
      <div class="header-left">
        <div id="show-sidebar" class="btn btn-sm btn-dark">
          <i class="fas fa-bars"></i>
        </div>
    <input type="text" class="header-input" name="" placeholder="Student/Enquiry/Contact">
      </div>
			<div class="header-right" >
				<span><img src=""  class="m20 head_img"></span>
				<span><img src="" class="m20 head_img"></span>
				<span><img src="" s class="m20 head_img"></span>
        <span><img src="" s class="m20 head_img"></span>
			</div>
		</div>
	</header> -->

<div class="page-wrapper" >
  <!-- <nav id="sidebar" class="sidebar-wrapper" >
    <div class="sidebar-content" >
    	 <div class="sidebar-brand">
          <a href="#">Kakade Career academey</a>
        </div>        
        <ul class="icons">
            <li>
              <a href="">
              <img src="img/home1.png" >
              <p >Home</p></a>
            </li>
             <li>
              <a href="">
              <img src="img/Dashboard.png" >
              <p >Dashboard</p></a>
            </li>
            <li class="dropdown">
              <div >
                  <a href="" class="dropbtn">
              <img src="img/Leads.png" >
              <p >Lead</p><i class="fa fa-angle-right"></i>

              </a>
                  <div class="dropdown-content">
                    <a href="#">Set Up</a>
                    <a href="#">Add Enquiry</a>
                    <a href="#">Manage Enquiry</a>
                    <a href="#">Add campaign</a>
                     <a href="#">Manage campaign</a>
                    
                  </div>
               </div>
              
            </li>
            <li>
              <a href="">
              <img src="img/Student.png" >
              <p >Student</p>
              </a>
            </li>
            <li class="dropdown">
              <div >
                  <a href="" class="dropbtn">
                   <img src="img/Classes.png" >
                    <p >Classes</p><i class="fa fa-angle-right"></i>
                  </a>
                  <div class="dropdown-content">
                    <a href="#">Manage Products</a>
                    <a href="#">Registered Users</a>
                    <a href="#">Manage Offers </a>
                  </div>
               </div>
            </li>
               <li class="dropdown">
              <div >
                  <a href="" class="dropbtn">
                    <img src="img/OfflineExam.png">
                    <p>Offline Exam</p><i class="fa fa-angle-right"></i>
                  </a>
                  <div class="dropdown-content">
                    <a href="#">Manage Products</a>
                    <a href="#">Registered Users</a>
                    <a href="#">Manage Offers </a>
                  </div>
               </div>
            </li>
            <li class="dropdown">
              <div >
                  <a href="" class="dropbtn">
                    <img src="img/StudyM.png" >
                    <p >Study Material</p><i class="fa fa-angle-right"></i>
                  </a>
                  <div class="dropdown-content">
                    <a href="#">Monitoring Dashboard</a>
                    <a href="#">Data Setup</a>
                    <a href="#">Permanent History </a>
                     <a href="#">Manage Cheques</a>
                  </div>
               </div>
            </li>
            <li class="dropdown">
              <div >
                  <a href="" class="dropbtn">
                    <img src="img/fEES.png" >
                    <p >Fees</p><i class="fa fa-angle-right"></i>
                  </a>
                  <div class="dropdown-content">

                    <a href="#">Set Up</a>
                    <a href="#">Payment History</a>
                    <a href="#">Manage Cheques </a>
                     <a href="#">Monitoring Dashboard</a>
                  </div>
               </div>
            </li>
             <li>
              <a href="">
              <img src="img/icons.png">
              <p>Live Classes</p>
              </a>
            </li>
            <li class="dropdown">
              <div >
                  <a href="" class="dropbtn">
                   <img src="img/eSTORE.png" >
                    <p >Estore</p><i class="fa fa-angle-right"></i>
                  </a>
                  <div class="dropdown-content">
                    <a href="#">Manage Products</a>
                    <a href="#">Registered Users</a>
                    <a href="#">Manage Offers </a>
                  </div>
               </div>
            </li>
            <li>
              <a href="">
              <img src="img/Onlineexam.png" >
              <p>Online exam</p>
              </a>
            </li>
            <li class="dropdown">
              <div >
                  <a href="" class="dropbtn">
                   <img src="img/Library.png" >
                    <p >Library</p><i class="fa fa-angle-right"></i>
                  </a>
                  <div class="dropdown-content">
                    <a href="#">Setup</a>
                    <a href="#">Issue Books</a>
                    <a href="#">Return Books</a>
                    <a href="#">Add New Book</a>
                    <a href="#">Report</a>
                    <a href="#">Dash Board</a>
                  </div>
               </div>
            </li>
            <li class="dropdown">
              <div >
                  <a href="" class="dropbtn">
                   <img src="img/Expenses.png" >
                    <p >Expense</p><i class="fa fa-angle-right"></i>
                  </a>
                  <div class="dropdown-content">
                    <a href="#">Data Setup</a>
                    <a href="#">Manage Expense</a>
                    <a href="#">Manage Income </a>
                  </div>
               </div>
            </li>
            <li>
              <a href="">
              <img src="img/Reports.png" >
              <p>Report</p>
              </a>
            </li>
            <li>
              <a href="">
              <img src="img/Group237.png" >
              <p>Asset Management</p>
              </a>
            </li>
        </ul>
        <p class="power">Powered By <span class="proctur40">Proctur 4.0</span></p>
    </div>
  </nav> -->
  <!-- sidebar-wrapper end -->
  <main class="page-content">
   <div class="head_padding">
      <div class="w98">
        <div class="page_heading">
          <p>Fees</p>
        </div>
        <!-- Nav tabs -->
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#fee_types">Fee Types</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#structure">Fee Structure</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#discount">Discount Reason</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="w98">
      <div class="tab-content">
        <div id="fee_types" class="tab-pane active">
          <div class="padding1">
            <input type="" class="input mr10" name="" placeholder="Fee Type*">
             <input type="" class="input mr10" name="" placeholder="Description">
             <input type="" class="input mr10" name="" placeholder="Tax  (in %)">
            <button class="blue_button">Add</button>
          </div>
          <div class="fee_types">
            <div class="table_heading">
              <div>Fee Type</div>
              <div>Fee Type Description</div>
              <div>Tax(%)<span title="Enable Tax" class="info">i</span></div>
              <div>Action</div>
            </div>
            <div class="table_body">
              <div>Addmission Fee</div>
              <div>Addmission</div>
              <div>12</div>
              <div><a data-toggle="modal" data-target="#feetypesModal"><img src=""></a></div>
            </div>
            <div class="table_body">
              <div>Tution Fee</div>
              <div>Tution</div>
              <div>12</div>
              <div><img src=""></div>
            </div>
            <div class="table_body">
              <div>Library Fee</div>
              <div>Library</div>
              <div>12</div>
              <div><img src=""></div>
            </div>
             <div class="table_body">
              <div>Transport Fee</div>
              <div>Transport</div>
              <div>12</div>
              <div><img src=""></div>
            </div>
          </div>
         <!--  <div class="dummy_text">
            <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs.</p>
          </div> -->
        </div>
         <div id="structure" class="tab-pane">
          <div class="padding1">
              <input type="text" class="input magnifying-glass" name="" placeholder="Search">
              
               <a href="new.html"> <button class="blue_button right">New Structure</button></a>
             
          </div>
         <!--  <div class="feestruc">
            <div class="table_heading">
              <div>Template Name</div>
              <div>Total Fees(Inc. all taxes)</div>
              <div>Student Assigned</div>
              <div>Action</div>
            </div>
            <div>
              <span class="position">
                <p class="text">No Fee Structure<br> Available</p>
                <button class="blue_button ">New Structure</button>
              </span>
              <div class="center">
                <img src="img/filter_img.png" class="img-fluid">
              </div>
            </div>
          </div> -->
          <div class="tution">
            <div class="table_heading">
              <div>Template Name</div>
              <div>Standard</div>
              <div class="flex">
                <div class="right wid50" ><span class="right">Total Fees</span></div>
                <div class="light wid50" ></div>
              </div>
              
              <div>Students Assigned</div>
              <div>Action</div>
            </div>
            <div class="table_body">
              <div>6th</div>
              <div>Abc</div>
              <div class="flex">
                <div class="right wid50" ><span class="right">258000</span></div>
                <div class="light wid50" ><span class="left"></span></div>
              </div>
             
              <div><a href="" class="students_assigned" data-toggle="modal" data-target="#myModal">4</a></div>
              <div>
                <a class="mr10"><img src=""></a>
                <a class="mr10"><img src=""></a>
                <a ><img src=""></a>
              </div>
            </div>
          </div>
        </div>
         <div id="discount" class="tab-pane">
          <div class="padding1">
            <input type="" class="input w450" name="" placeholder="Add Discount Reason">
            <button class="blue_button">Add</button>
          </div>
          <div class="discount">
            <div class="table_heading">
              <div>Reason</div>
              <div>Created Date</div>
              <div>Action</div> 
            </div>
            <div class="table_body">
              <div>Grammar</div>
              <div>21-09-20</div>
              <div>
              <a data-toggle="modal" data-target="#discountModal"> 
              <img src="">
              </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
   <div class="w98">
      <!-- pagignation div -->
    <div class="bottom_pagignation flex w98">
      <div class="w20">
        <p>Showing <span>1</span> to <span>100</span> of <span>831</span></p>
      </div>
      <div class="w10">
        <p>Total <span>9</span> Pages</p>
      </div>
      <div class="w40">
        <p>Records per Page  
          <select>
          <option>9</option>
          </select>
        </p>
      </div>
      <div class="w30" >
       <span> <p>Previous <a><span class="active_circle number" >1</span></a> <a><span class="number">2</span></a> <a><span class="number">3</span></a> <a><span class="next">Next</span></a></p></span>
      </div>
    </div>
   </div>
 </main>  
  <div class="modal" id="feetypesModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" >Edit Fee Types</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <div>
            <div><input type="" name="" class="input w100" placeholder="Fee*"></div>
            <div class="padding1"><input type="" name="" class="input w100" placeholder="Fee Type Description*"></div>
            <div class="padding1">
              <select class="w100 select">
                <option>Country</option>
              </select>
            </div>
            <div><input type="" name="" class="input w100" placeholder="Fee Amount"></div>
            <div class="padding1"><input type="" name="" class="input w100" placeholder="Tax(in %)"></div>
            <div class="padding1">
              <span class="right">
                <button class="white_button">
                  Cancel
                </button>
                <button class="blue_button mr10">
                  Save
                </button>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
   <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" >Students Assigned</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
            <div class="student">
            <div class="table_heading">
              <div>Student Id</div>
              <div>Student Name</div>
            </div>
            <div class="table_body">
              <div>PCR2092</div>
              <div>Ashish</div>
            </div>
          </div>     
        </div>        
      </div>
    </div>
  </div>
  <div class="modal" id="discountModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" >Edit Discount Reason</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <textarea placeholder="Reason" class="input"></textarea>
          <div class="padding1">
              <span class="right">
                <button class="white_button">
                  Cancel
                </button>
                <button class="blue_button mr10">
                  Save
                </button>
              </span>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- page-wrapper -->

<script type="text/javascript">
  $("#show-sidebar").click(function() {
    if($(".page-wrapper").hasClass('toggled')){
      $(".page-wrapper").removeClass("toggled");
    } else {
      $(".page-wrapper").addClass("toggled");
    }
  });
</script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>