<div class="page-content">
  <div class="head_padding">
    <div class="w98">
      <div class="page_heading pageheadingspace">
        <p>Fees</p>
      </div>
      <!-- Nav tabs -->
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" (click)="toggle('fee_types')" data-toggle="tab" href="#fee_types"
            [ngClass]="(activeSession == 'fee_types') ? 'active' : ''">Fee Types</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" (click)="toggle('structure')" href="#structure"
            [ngClass]="(activeSession == 'structure') ? 'active' : ''">Fee Structure</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" (click)="toggle('discount')" href="#discount"
            [ngClass]="(activeSession == 'discount') ? 'active' : ''">Discount Reason</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="w98">
    <div class="tab-content">
      <div id="fee_types" class="tab-pane active">
        <div class="padding1">
          <input type="" class="input mr10" name="fee_type" [(ngModel)]="addNewFee.fee_type" placeholder="Fee Type*">
          <input type="" class="input mr10" name="fee_type_desc" [(ngModel)]="addNewFee.fee_type_desc"
            placeholder="Description">
          <input type="" class="input mr10" name="fee_type_tax" *ngIf="is_tax_enabled"
            [(ngModel)]="addNewFee.fee_type_tax" placeholder="Tax  (in percentage)">
          <button class="blue_button" (click)="createFeeType()">Add</button>
        </div>
        <div class="fee_types">
          <div class="table_heading">
            <div>Fee Type</div>
            <div>Fee Type Description</div>
            <div *ngIf="is_tax_enabled">Tax(%) <span title="Enable Tax" class="info">i</span></div>
            <div>Action</div>
          </div>
          <div *ngFor="let data of feeTypeList">
            <div class="table_body">
              <div>{{data.fee_type}}</div>
              <div>{{data.fee_type_desc}}</div>
              <div *ngIf="is_tax_enabled">{{data.fee_type_tax}}</div>
              <div><a data-toggle="modal" (click)="editFeeTypes(data)"><img src="../../../../../assets/images/Edit.svg"
                    class="size22" title="Edit"></a></div>
            </div>
          </div>
        </div>
      </div>
        </div>
  </div>
 <div class="w98">
    <div class="bottom_pagignation flex w98">
      <div class="w20">
        <p>Showing <span>1</span> to <span>100</span> of <span>831</span></p>
      </div>
      <div class="w10">
        <p>Total <span>9</span> Pages</p>
      </div>
      <div class="w40">
        <p>Records per Page
          <select>
            <option>9</option>
          </select>
        </p>
      </div>
      <div class="w30">
        <span>
          <p>Previous <a><span class="active_circle number">1</span></a> <a><span class="number">2</span></a> <a><span
                class="number">3</span></a> <a><span class="next">Next</span></a></p>
        </span>
      </div>-->
    </div>
  </div> 
</div>
<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Students Assigned</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="student">
          <div class="table_heading">
            <div>Student Id</div>
            <div>Student Name</div>
          </div>
          <div class="table_body">
            <div>PCR2092</div>
            <div>Ashish</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="feetypesModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edit Fee Types</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div>
          <div><input type="" name="fee_type" [(ngModel)]="addNewFee.fee_type" class="input w100" placeholder="Fee*">
          </div>
          <div class="padding1"><input type="" name="fee_type_desc" [(ngModel)]="addNewFee.fee_type_desc"
              class="input w100" placeholder="Fee Type Description*"></div>
          <div class="padding1"><input type="" name="fee_type_tax" *ngIf="is_tax_enabled"
              [(ngModel)]="addNewFee.fee_type_tax" class="input w100" placeholder="Tax(in %)"></div>
          <div class="padding1">
            <span class="right">
              <button class="white_button mr10" (click)="clearData()">
                Cancel
              </button>
              <button class="blue_button" (click)="updateFeeType()">
                Save
              </button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="discountModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edit Discount Reason</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <textarea placeholder="Reason" class="input"></textarea>
        <div class="padding1">
          <span class="right">
            <button class="white_button mr10">
              Cancel
            </button>
            <button class="blue_button ">
              Save
            </button>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>