.wrap-data {

  height: 88vh; 
  overflow-y: scroll;
  overflow-x: none;

  ::-webkit-scrollbar {
    display: block !important;
    width: 7px;
    height: 7px;
  }
}

#addDiv {
  text-align: right;
  position: absolute;
  right: 30px;
  top: -3rem;

  .btn_addecourse {
    padding: 8px;
    border-radius: 13px;
    color: #fff;
    background: #2680eb;
    font-weight: 600;
    font-size: 12px;
  }
}

.icons:hover{
  color: #2680eb;
}

.ecourse-item {
  padding: 1em;

  .ecourse-card {
    border-radius: 4px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    border: solid 1px #cedff3;
    background-color: #ffffff;
    height: 100%;
    cursor: pointer;

    &:hover {
      .head {
        background: #b1ccec;
      }
    }

    .head {
      text-align: center;
      padding: .8em .6em;
      background-color: #cedff3;
      font-weight: bold;
      color: #3f2e2e;
      height: 60px;
      overflow: hidden;
    }

    .body {
      padding: .6em .8em;
      height: 15em;

      ul {
        padding-left: 1.4em;

        li {
          padding: .2em 0;
          font-size: .9em;
          color: #212c34;
        }
      }

      ul {
        list-style: none;
      }

      ul li::before {
        content: "\2022";
        color: #85bdff;
        font-weight: bold;
        display: inline-block;
        width: 1em;
        margin-left: -1em;
      }
    }
  }
}



.ga-modal-wrapper {
  right: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  background: rgba(136, 136, 136, 0.6);
  z-index: 999;

  .ga-modal-container {
    display: flex;
    overflow-y: auto;
    height: 100%;

    .ga-modal {
      margin: auto;
      background: #fff;
      border: 2pt solid #fff;
      border-radius: .2em;
      box-shadow: 0 2pt 3pt #999;
      min-width: 30%;
      max-width: 35%;
      .ga-modal-head {
        padding: .5em 1em;
        border-bottom: 1pt solid #ddd;
        font-weight: bold;
        text-align: center;
      }

      .ga-modal-body {
        padding: 1em;
        text-align: center;
        padding-top:0px;
      }
    }
  }
}

.btn-ga-white {
  // padding: .2em .8em;
      padding: .1em .6em;
  height: auto;
  box-shadow: 1pt 1pt 0 #f1f1f1;
  color: #555;

  &:hover {
    color: #07f;
  }

  &:focus {
    outline: none;
  }

  &:active {
    box-shadow: none;
    color: #fff;
    background: #0084f6;
    border: 1px solid #0084f6;
  }
}

.model_body_div {
  .field-wrapper{
    label{
      color: #3e3d4a;
      font-weight: 600;
    }
    .dropdown-div {
      .dropdown {
        width: 100%;
        height: 30px;
        border: 1px solid #ddd;
        border-radius: 4px;
      }
    }
  }        
}


.field-wrapper{
  position: relative;
  padding-top: 10px;
  text-align: LEFT;
  padding: 20px 20px 0px 20px;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 0px;
  padding-left: 20px;
}