<div class="row" style="display: flex;">
  <div class="col-md-3 ecourse-item">
    <div class="ecourse-card">
      <div class="head">
        RRB - Para Medical
      </div>
      <div class="body">
        <ul>
          <li>Videos</li>
          <li>Notes</li>
          <li>Assignements</li>
          <li>Images</li>
          <li>eBooks</li>
          <li>Audio Notes</li>
          <li>Previous Year Question Papers</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-md-3 ecourse-item">
    <div class="ecourse-card">
      <div class="head">
        Bank PO & Clerical Railways (RRB)
      </div>
      <div class="body">
        <ul>
          <li>Videos</li>
          <li>Notes</li>
          <li>Assignements</li>
          <li>Images</li>
          <li>eBooks</li>
          <li>Audio Notes</li>
          <li>Previous Year Question Papers</li>
        </ul>
      </div>
    </div>
  </div>
</div>