<div class="container form-main">
<div class="row">
    <div class="col-md-8 container standard">
        <div class="row">
           <div class="col-md-6">
               <h4>Add New Enquiry</h4>
            </div>
           <div class="col-md-6" style="margin-top:10px">
               <button md-button color="primary">Pay Registration Fees</button>
               <button md-button color="primary">Add Bulk Enquiry</button>
            </div>
        </div>
        <hr>
        <div class="row">
         <form>
             
         </form>
        </div>
    </div>
    <div class="col-md-4 official"></div>
</div>
</div>