.btn-round{
    border-radius: 10em;
    line-height: 1.6;
}


.basic-info-footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1pt solid #f3f3f3;
    padding: 0.5em 0.8em;
    background: #fff;
    box-shadow: 0pt -2pt 6pt #e6e6e6;
    z-index: 5;
    .btn-round{
        padding: 0.2em 1em;
        border-radius: 2em;
        margin: 0.2em;
    }
}

.btn-collapse{
    background: #fff;
    border: 1pt solid #607D8B;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    margin-right: 0.5em;
    &.btn-open:before{
        content: '+';
        line-height: 1;
        font-weight: bold;
        font-size: 1.5em;
        margin-left: -0.2em;
        color: #607D8B;
    }
    &.btn-close:before{
        content: '-';
        line-height: 0.7;
        font-weight: bold;
        font-size: 2em;
        margin-left: -0.1em;
        color: #607D8B;
    }
}

.subjects-nav-bar{
    padding: 0.8em 1em;
    border-top: 1pt solid #ddd;
    margin-top: 1em;
    .btn-tab{
        border: 1pt solid #ddd;
        margin-right: 0.4em;
    }
}

.checkbox-cell{
    max-width: 5%;
    padding: 0;
    text-align: center;
}
.content-name-cell{
    max-width: 40%;
}
.stats-cell{
    font-size: 0.85em;
    color: #666;
    margin: auto;
    span{
        margin-right: 0.4em;
        display: inline-block;
    }
}
.stats-cell{
    font-size: 0.85em;
    color: #666;
    margin: auto;
    span{
        margin-right: 0.4em;
        display: inline-block;
    }
}
.topic-row{
    .stats-cell{
        color: #005ac1;
    }
}
.content-row{
    .stats-cell{
        color: #00695f;
    }
}
.btn-add-topic{
    display: none;
}

.singleton-row{
    border-top: 1pt solid #ddd;
    &:hover{
        background: #e8f9ff;
        cursor: default;
        .btn-add-topic{
            display: block;
        }
    }
    .table-cell{
        padding: 0.2em;
    }
}

.d-none{
    display: none;
    opacity: 0;
    transition: display 0s 2s, opacity 2s linear;
}

.content-table{
    border: 1pt solid #ddd;
    .head{
        background: #fafafa;
        .table-cell{
            .table-cell{
                padding: 0.2em;
                &:nth-child(2){
                    padding-left: 0em !important;
                }
            }
        }
    }
    .table-body{
        .master-table-row{
            .topic-row{
                .table-cell{
                    &:nth-child(2){
                        padding-left: 0em !important;
                        font-weight: bold;
                        color: #005ac1;
                    }
                }
            }
            .content-type-row{
                .table-cell{
                    &:nth-child(2){
                        padding-left: 0em !important;
                        color: #777;
                    }
                }
            }
            .content-row{
                .table-cell{
                    &:nth-child(2){
                        padding-left: 0em !important;
                        color: #00695f;
                    }
                }
            }
            /* -- First Level Child Row -- */
            .child-table-row{
                .topic-row{
                    .table-cell{
                        &:nth-child(2){
                            padding-left: 1.7em !important;
                        }
                    }
                }
                .content-type-row{
                    .table-cell{
                        &:nth-child(2){
                            padding-left: 1.7em !important;
                        }
                    }
                }
                .content-row{
                    .table-cell{
                        &:nth-child(2){
                            padding-left: 1.7em !important;
                            color: #00695f;
                        }
                    }
                }
                /* -- Second Level Child Row -- */
                .child-table-row{
                    .topic-row{
                        .table-cell{
                            &:nth-child(2){
                                padding-left: 3.5em !important;
                            }
                        }
                    }
                    .content-type-row{
                        .table-cell{
                            &:nth-child(2){
                                padding-left: 3.5em !important;
                            }
                        }
                    }
                    .content-row{
                        .table-cell{
                            &:nth-child(2){
                                padding-left: 3.5em !important;
                            }
                        }
                    }
                    /* -- Third Level Child Row -- */
                    .child-table-row{
                        .topic-row{
                            .table-cell{
                                &:nth-child(2){
                                    padding-left: 5.3em !important;
                                }
                            }
                        }
                        .content-type-row{
                            .table-cell{
                                &:nth-child(2){
                                    padding-left: 5.3em !important;
                                }
                            }
                        }
                        .content-row{
                            .table-cell{
                                &:nth-child(2){
                                    padding-left: 3.5em !important;
                                }
                            }
                        }
                        /* -- Fourth Level Child Row -- */
                        .child-table-row{
                            .topic-row{
                                .table-cell{
                                    &:nth-child(2){
                                        padding-left: 7.2em !important;
                                    }
                                }
                            }
                            .content-type-row{
                                .table-cell{
                                    &:nth-child(2){
                                        padding-left: 7.2em !important;
                                    }
                                }
                            }
                            .content-row{
                                .table-cell{
                                    &:nth-child(2){
                                        padding-left: 5.3em !important;
                                    }
                                }
                            }
                            /* -- Fifth Level Child Row -- */
                            .child-table-row{
                                .topic-row{
                                    .table-cell{
                                        &:nth-child(2){
                                            padding-left: 9em !important;
                                        }
                                    }
                                }
                                .content-type-row{
                                    .table-cell{
                                        &:nth-child(2){
                                            padding-left: 9em !important;
                                        }
                                    }
                                }
                                .content-row{
                                    .table-cell{
                                        &:nth-child(2){
                                            padding-left: 7.2em !important;
                                        }
                                    }
                                }
                                /* -- Sixth Level Child Row -- */
                                .child-table-row{
                                    .topic-row{
                                        .table-cell{
                                            &:nth-child(2){
                                                padding-left: 10.8em !important;
                                            }
                                        }
                                    }
                                    .content-type-row{
                                        .table-cell{
                                            &:nth-child(2){
                                                padding-left: 10.8em !important;
                                            }
                                        }
                                    }
                                    .content-row{
                                        .table-cell{
                                            &:nth-child(2){
                                                padding-left: 9em !important;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        
    }
}