<div class="container-fluid product-wrapper p-0">
    <div class="row m-0 pt-3 pb-3">
        <div class="col-md-8" style="padding-left: 0;">
            <section class="middle-top clearFix bulk-header">
                <div>
                    <h1 class="pull-left">
                        <a routerLink="/view/e-store/home" style="padding:0px; ">
                            eStore
                        </a>
                        <i style="font-family: 'FontAwesome';" class="fas fa-angle-right"></i>
                        <a routerLink="/view/e-store/website-configuration/images" style="padding:0px; ">
                            Website Configuration
                        </a>
                        <i style="font-family: 'FontAwesome';" class="fas fa-angle-right"></i>
                        <span>Slider</span>
                    </h1>
                </div>
            </section>
        </div>
    </div>
</div>
<router-outlet></router-outlet>

