<section class="middle-section">
  <div class="leads-menu-section-container">
    <div class="leads-menu-item" routerLink="/view/expense/setup">
      <div class="menu-title">
        <img src="./assets/images/leads/data-setup.svg" alt="data setup">
        <span>Data Setup</span>
      </div>
      <div class="menu-description">
        <span></span>
      </div>
    </div>
    <div class="leads-menu-item" routerLink="/view/expense/manage-expense">
      <div class="menu-title">
        <img src="./assets/images/leads/add-campaign.svg" alt="campaign">
        <span>Manage Expense</span>
      </div>
      <div class="menu-description">
        <span></span>
      </div>
    </div>
    <div class="leads-menu-item" routerLink="/view/expense/manage-income">
      <div class="menu-title">
        <img src="./assets/images/leads/manage-campaign.svg" alt="campaign">
        <span>Manage Income</span>
      </div>
      <div class="menu-description">
        <span></span>
      </div>
    </div>
    <div class="leads-menu-item" routerLink="/view/expense/report">
      <div class="menu-title">
        <img src="./assets/images/leads/add-enquiry.svg" alt="add enquiry">
        <span>Report</span>
      </div>
      <div class="menu-description">
        <span></span>
      </div>
    </div>
  </div>
</section>
