.row {
  margin: 0;
}

a {
  text-decoration: none;
  i {
    color: black;
    font-family: 'FontAwesome';
  }
}

.text-headline {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: .6em;
  margin-top: 0.6em;
}

.btn-wide-blue {
  background: #2680eb;
  color: #fff;
  border-radius: 2px;
  box-shadow: none;
  border: 0;
  width: 100%;
  margin: 0;
}

.file-mgr-sidebar {
  .sidecard {
    box-shadow: 0 1pt 3pt 0 rgba(0, 0, 0, 0.16);
    border-radius: 2px;
    margin: 1em 0;
    padding: .5em 0;
    cursor: default;
    background: white;

    ul {
      li {
        padding: .4em .6em;
        cursor: pointer;
        font-weight: bold;

        &:hover {
          background: #cedff3;
        }
      }
    }

    .wrap {
      padding: .4em .6em;
      display: inline-block;

      h4 {
        font-weight: bold;
        margin-bottom: .5em;
      }

      .progress-bar {
        background: #e8e8e8;
        height: 4px;
        width: 100%;
        margin: .2em 0;
        border: 0;
        border-radius: 2px;

        .progress-stat {
          background: #2680eb;
          width: 79%;
          height: 4px;
        }
      }
    }
  }
}

.file-mgr-wrapper {
  .file-mgr-breadcrumb {
    border-bottom: 1pt solid #ddd;
    padding: .5em 0;
    margin-bottom: .8em;
    cursor: pointer;
  }

  .file-mgr-body {
    padding: 0;
  }
}

a.breadcrums{
  color: black !important;
  font-size: 12px;
}
.usage{
  color: #bfc2c4 !important;
}

.mainDiv{
  background-color: #f5f5f5;
    height: 100vw;
}

.qInfoIcon {
  width: 15px !important;
    height: 15px !important;
    color: #0084f6 !important;
    border: 1px solid #0084f6 !important;
    border-radius: 50% !important;
    padding: 0px 1px !important;
    margin-left: 3px !important;
    font-size: 12px !important;
    line-height: 14px !important;
    font-weight: bolder !important;
  width: 20px;
  margin-left: 5px;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 50%;
  display: block;
  text-align: center;
  box-sizing: border-box;
  line-height: 20px;
  font-weight: 600;
  font-size: 12px;
  cursor: pointer;
  box-shadow: 0px 0px 1px 0px #ccc inset;
  color: #888;
  transition: all 0.2s linear;
}


.tooltip-box-field {
  width: 150px;
  white-space: nowrap;
  min-height: 41px;
  line-height: 18px;
  padding: 5px 5px;
  overflow: visible;
  color: black;
  visibility: hidden;
  font-weight: bold;
  &.lg {
      width: 200px;
      white-space: nowrap;
      // min-height: 50px;
      line-height: 20px;
      padding: 5px 5px;
  }
  &.sm {
      width: 100px;
      white-space: nowrap;
      min-height: 40px;
      padding: 5px 5px;
  }
}