.box .box-header > .fa, .box .box-header > .glyphicon, .box .box-header > .ion, .box .box-header .box-title {
    display: inline-block;
    padding: 15px;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    float: left;
    cursor: default;
    color: #FFFFFF;
    font-family: "OpenSans Regular";
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}