<div class="page-content">
    <div class="page_heading">
        <div class="w98">
            <span> Purchase Asset</span>
            <span class="right"><button class="btn blue_button" data-toggle="modal" 
                    data-target="#modelforpurchase">Add
                    Purchase </button></span>
        </div>
    </div>
    <div class="w98">
        <div class="padding1">
            <input type="text" class="input glass" placeholder="search" #search [(ngModel)]="searchParams"
                name="searchParams" (keyup)="searchDatabase()">
            <span class="rights">
                <a><img src="assets/images/assets/Group354.svg" class="mr10"></a>
                <a  (click)="exportToExcel()"><img src="assets/images/assets/Group353.svg"  class="mr10"></a>
                <a ><img src="assets/images/assets/2.svg" class="mr10"></a>
                <a (click)="downloadPdf()" ><img src="assets/images/assets/document.svg" class="mr10" ></a>
            </span>
        </div>
        <app-basic-table [headers]="headerSetting" [displayData]="staticPageData" [tableSetting]="tableSetting"
            [rowColumnSetting]="rowColumns" (editView)='editRow($event)' (deleteView)='deleteRow($event)'>
        </app-basic-table>
        <div style="padding-top: 9px;">
            <pagination (goPage)="fetchTableDataByPage($event)" (goNext)="fetchNext()" (goPrev)="fetchPrevious()"
                [pagesToShow]="10" [page]="pageIndex" [perPage]="displayBatchSize" [sizeArr]="sizeArr"
                [count]="totalRecords" (sizeChange)="updateTableBatchSize($event)">
            </pagination>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modelforpurchase" data-backdrop="static" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body" style="height: 380px;">
                    <h4 class="modal-title" style="margin-top:10px;margin-left:35px;">Purchase Asset </h4>
                    <form id="form1" #assePurchaseForm="ngForm" autocomplete="off">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <select class="form-control" name="supplier_id" id="supplier_id"
                                    [(ngModel)]="model.supplier_id" required #supplier_id="ngModel"
                                    (ngModelChange)="getCategoryData($event)">
                                    <option value="">Vendor *</option>
                                    <option value="{{data.id}}" *ngFor="let data of vendorAllData">
                                        {{data.supplier_name}}</option>
                                </select>
                                <span class="help-block" *ngIf="supplier_id.invalid && supplier_id.touched">Please
                                    select Vendor</span>
                            </div>
                            <div class="form-group col-md-6">
                                <select class="form-control" name="category_id" id="category_id"
                                    [(ngModel)]="model.category_id" (ngModelChange)="getassets($event)"
                                    required #category_id="ngModel">
                                    <option value="">Category Name *</option>
                                    <option value="{{data.category_ids}}" *ngFor="let data of categorydata">
                                        {{data.category_names_string}}</option>
                                </select>
                                
                               
                            </div>
                           
                        </div>
                        
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <select class="form-control" name="asset_id" id="asset_id" [(ngModel)]="model.asset_id"
                                  required #asset_id="ngModel">
                                    <option value="">Asset *</option>
                                    <option value="{{data.id}}" *ngFor="let data of assetAllData">
                                        {{data.asset_name}}</option>
                                </select>
                                <span class="help-block" *ngIf="asset_id.invalid && asset_id.touched">Please
                                    select Asset </span>
                            </div>
                            <div class="form-group col-md-6">
                                <select class="form-control" name="purchased_by_user_id" id="purchased_by_user_id"
                                    [(ngModel)]="model.purchased_by_user_id" (ngModelChange)="getUserData($event)"
                                    required #purchased_by_user_id="ngModel">
                                    <option value="">Purchased By *</option>
                                    <option value="{{data.user_id}}" *ngFor="let data of purchaseby">
                                        {{data.name}}</option>
                                </select>
                                <span class="help-block"
                                    *ngIf="purchased_by_user_id.invalid && purchased_by_user_id.touched">Purchased By
                                    is
                                    Mandatory Field</span>
                            </div>
                            
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6" >

                                <input type="text" class="form-control" id="inputPassword4" placeholder="Quantity *"
                                    [(ngModel)]="model.quantity" name="quantity"
                                    onkeypress=" return (event.charCode >= 48 && event.charCode <= 57)" required
                                    #quantity="ngModel">
                                <span class="help-block" *ngIf="quantity.invalid && quantity.touched">Quantity
                                    is
                                    Mandatory Field</span>
                            </div>
                            <div class="form-group col-md-6">
                                <select class="form-control" name="unit" id="unit" [(ngModel)]="model.unit" required
                                    #unit="ngModel">
                                    <option value="">Unit *</option>
                                    <option>Kg</option>
                                    <option> Piece</option>
                                    <option>Other</option>

                                </select>
                                <span class="help-block" *ngIf="unit.invalid && unit.touched">Unit
                                    is
                                    Mandatory Field</span>
                            </div>
                           

                        </div>
                        <div class="form-row">
                            
                                <div class="field-wrapper col-md-6" style="margin-top: 0px;">
                                    <input type="text" class="form-control" id="purchase_amount" name="purchase_amount"
                                        placeholder="Purchase Price *" [(ngModel)]="model.purchase_amount"
                                        onkeypress=" return (event.charCode >= 48 && event.charCode <= 57)" required
                                        #purchase_amount="ngModel">
                                    <span class="help-block"
                                        *ngIf="purchase_amount.invalid && purchase_amount.touched">Purchase
                                        Price
                                        is
                                        Mandatory Field</span>
                                </div>
                                <div class="field-wrapper col-md-6 datePickerBox" style="margin-top: 0px;">
                                    <input type="text" class="form-ctrl" bsDatepicker readonly="false"
                                        name="purchase_date" [(ngModel)]="model.purchase_date" class="form-control"
                                        placeholder="Purchase Date *" id="purchase_date" required
                                       >
                                </div>
                                
                      </div>
                        <div class="form-row">
                            <div class="field-wrapper col-md-6 datePickerBox" style="margin-top: 20px;">
                                <input type="text" class="form-ctrl" bsDatepicker readonly="false"
                                    name="service_date" [(ngModel)]="model.service_date" class="form-control"
                                    placeholder="Service Date" id="service_date" #service_date="ngModel">
                            </div>
                            <div class="field-wrapper col-md-6 datePickerBox" style="margin-top: 20px;">
                                <input type="text" class="form-ctrl" bsDatepicker readonly="false" name="expiry_date"
                                    [(ngModel)]="model.expiry_date" class="form-control" placeholder="Expiry Date"
                                    id="expiry_date">
                            </div>
                          
                        </div>
                        <div class="form-row">
                           <div class="field-wrapper col-md-6" style="margin-top: 15px;">
                                <input type="file" name="billImageFile" [disabled]="bill_image_url!=''&& isedit"
                                    class="form-control" placeholder="upload file" id="billImageFile"
                                    style="margin-top:8px;" [(ngModel)]="bill_image_url" accept=".gif, .jpg, .png, .doc,.svg,.pdf,.csv|image/*">
                            </div>
                            <div class="col-md-6" *ngIf="isedit && bill_image_url !='' && bill_image_url!=null">
                                <ul>
                                    <li>Bill Copy</li>
                                    <li (click)="clearFile()"><i class="fa fa-trash" style="color:red;"></i>
                                    </li>
                                    <li>
                                        <a href="{{bill_image_url}}" target="_blank"><i class="fa fa-download"
                                                style="color:#064d0f;"></i> </a>
                                    </li>
                                </ul>

                            </div>
                        </div>
                        
                    </form>
                </div>

                <div style="text-align:center;margin-bottom: 15px;">
                    <span > <button type="button"
                            class="btns blue_button cancel" data-dismiss="modal"
                            (click)="cancel(false)">Cancel</button></span>
                    <span > <button type="submit" class="btns blue_button"
                            (click)="saveAssetPurchaseData(model)" *ngIf="!isedit">Purchase Asset</button></span>
                    <span > <button type="submit" class="btns blue_button" *ngIf="isedit"
                            (click)="saveAssetPurchaseData()">Update
                        </button></span>

                </div>
            </div>

        </div>
    </div>