<div class="row">
  <div class="col-md-12 text-headline">
    <a routerLink="/view/activity/dashboard">
      Activity
    </a> 
    &gt;
    <span>ECourse File Manager</span>
  </div>
</div>

<div class="row">
  <div class="col-md-2 file-mgr-sidebar">
    <div>
      <button class="btn btn-wide-blue">Upload File</button>
    </div>

    <div class="sidecard">
      <ul>
        <li>eCourse</li>
        <li>Recent</li>
      </ul>
    </div>

    <div class="sidecard">
      <div class="wrap">
        <h4>Download Usage</h4>
        <p class="small">1GB used of 10GB</p>
        <div class="progress-bar">
          <div class="progress-stat"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-10 file-mgr-wrapper">
    <div class="row">
      <div class="col-md-12 file-mgr-breadcrumb">
        <h2>eCourse</h2>
      </div>

      <div class="col-md-12 file-mgr-body">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

