<div class="mainDiv">
<div class="row" >
  <div class="col-md-12 text-headline">
    <a routerLink="/view/activity/dashboard">
      Activity
    </a>
    &gt;
    <span> Study Materials</span>
  </div>
</div>

<div class="row" >
  <div class="col-md-2 file-mgr-sidebar" style="margin-top: .6em;">
    <div>
      <button class="btn btn-wide-blue" (click)="toggleFileUploadModal()">Upload File</button>
    </div>

    <!-- <div class="sidecard">
      <ul>
        <li class="btn-wide-blue">E-Course</li>
      </ul>
    </div> -->

    <div class="sidecard">
      <div class="wrap">
        <h4>Download Usage</h4>
        <p class="small usage" >{{_fservice.storageData.uploaded_size | number :'.2-2'}} GB used of {{_fservice.storageData.storage_allocated | number:'.2-2'}}
          GB</p>
        <div class="progress-bar">
          <div class="progress-stat" [ngStyle]="{'width': _fservice.storageData.width+'%'}"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-10 file-mgr-wrapper">
    <div class="row">
      <div class="col-md-12 file-mgr-breadcrumb">
        <h2>
          <a  class="breadcrums" (click)="gotoPageData(route)" *ngFor="let route of _http.routeList ;let i = index">
            {{route.name}}
            <i class="fas fa-angle-right" *ngIf=" i < (_http.routeList.length-1) "></i>
          </a>
        </h2>
      </div>

      <div class="col-md-12 file-mgr-body">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
</div>

<app-upload-file></app-upload-file>