@import "./src/assets/css/style.scss";
@import "./src/assets/css/wrapper.scss";
@import "./src/assets/css/common/common.scss";
@import "./src/assets/css/common/grid.scss";
@import "./src/assets/css/common/variables.scss";
.setting-footer {
    margin-right: 1%;
    margin-top: 5px;
    float: right;
}

.setting-full {
    padding: 15px;
    max-height: 500px;
    overflow: hidden;
     ::-webkit-scrollbar {
        display: block;
    }
    .row {
        margin: 0px 5px;
    }
    .setting-left {
        padding: 15px;
        max-height: 500px;
        overflow-x: hidden;
        overflow-y: auto;
        ul {
            padding: 15px 10px;
            li {
                line-height: 50px;
                border-radius: 5px;
                font-size: 20px;
                font-weight: 600;
                background: white;
                span {
                    margin-left: 20px;
                    a {
                        color: #0084f6;
                    }
                }
                &.active {
                    background: #0084f6;
                    span {
                        margin-left: 20px;
                        a {
                            color: white;
                        }
                    }
                }
                &:hover {
                    background: #0084f6;
                    span {
                        margin-left: 20px;
                        a {
                            color: white;
                        }
                    }
                }
            }
        }
    }
    .setting-right {
        padding: 15px;
        .general-wrapper {
            max-height: 450px;
            overflow-x: hidden;
            overflow-y: scroll;
            .row {
                h3 {
                    padding-left: 15px;
                    padding-top: 10px;
                }
                p {
                    margin: 5px 15px;
                    font-style: italic;
                }
            }
        }
        .plan-wrapper {
            padding: 15px;
            max-height: 450px;
            overflow-x: hidden;
            overflow-y: scroll;
            .row {
                h3 {
                    padding-left: 15px;
                    padding-top: 10px;
                }
                p {
                    margin: 5px 15px;
                    font-style: italic;
                }

                table{
                    margin-top: 10px;
                }
            }
        }
        .account-wrapper {
            max-height: 450px;
            overflow-x: hidden;
            overflow-y: scroll;
            .row {
                h3 {
                    padding-left: 15px;
                    padding-top: 10px;
                }
                p {
                    margin: 5px 15px;
                    font-style: italic;
                }
            }
        }
        .app-details-wrapper {
            padding: 15px;
            .row {
                h3 {
                    padding-left: 15px;
                    padding-top: 10px;
                }
                p {
                    margin: 5px 15px;
                    font-style: italic;
                }
            }
        }
        .images-wrapper {
            padding: 15px;
            .row {
                margin: 0px 5px;
                margin-top: 10px;
                margin-bottom: 10px;
            }
        }
    }
}

.middle-section {
    padding: 5px 15px;
    width: 100%;
    box-sizing: border-box;
}

.showDivClass {
    display: '';
}

.hideDivClass {
    display: none;
}

.extraMarginTen {
    margin-top: 10px !important;
    margin-bottom: 10px;
}

////// Turn off spinner
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.borderClass {
    border-top: 0.1px solid #f1f1f1;
    margin-top: 20px;
}