@import "./src/assets/css/style.scss";
@import "./src/assets/css/wrapper.scss";
@import "./src/assets/css/common/common.scss";
@import "./src/assets/css/common/grid.scss";
@import "./src/assets/css/common/variables.scss";
.setting-footer {
    margin-right: 1%;
    margin-top: 5px;
    float: right;
}

.setting-full {
    padding: 15px;
    max-height: 500px;
    overflow: hidden;
     ::-webkit-scrollbar {
        display: block;
    }
    .row {
        margin: 0px 5px;
    }
    .setting-left {
        padding: 15px;
        max-height: 500px;
        overflow-x: hidden;
        overflow-y: auto;
        ul {
            padding: 15px 10px;
            li {
                line-height: 50px;
                border-radius: 5px;
                font-size: 20px;
                font-weight: 600;
                background: white;
                span {
                    margin-left: 20px;
                    a {
                        color: #0084f6;
                    }
                }
                &.active {
                    background: #0084f6;
                    span {
                        margin-left: 20px;
                        a {
                            color: white;
                        }
                    }
                }
                &:hover {
                    background: #0084f6;
                    span {
                        margin-left: 20px;
                        a {
                            color: white;
                        }
                    }
                }
            }
        }
    }
    .setting-right {
        padding: 15px;
        .sms-setting-wrapper {
            max-height: 380px;
            overflow-x: hidden;
            overflow-y: scroll;
            border: 1px solid #777;
            padding: 2px 0px 1px 2px;
            table {
                thead {
                    tr {
                        th {
                            text-align: left;
                        }
                    }
                }
                tbody {
                    tr {
                        td {
                            &:first-child {
                                padding-left: 15px;
                            }
                            text-align: left;
                        }
                    }
                }
            }
        }
        .examReportWrapper {
            padding: 15px;
            .row {
                margin: 0px 5px;
                .checkbox-bundle-wrapper {
                    margin-top: 10px;
                    margin-bottom: 10px;
                }
                .rank-wrapper {
                    margin-top: 10px;
                    margin-bottom: 10px;
                }
            }
        }
        .fee-content-wrapper {
            padding: 15px;
            .row {
                margin: 0px 5px;
                margin-top: 10px;
                margin-bottom: 10px;
            }
            .content-scroll {
                max-height: 380px;
                overflow-x: hidden;
                overflow-y: scroll;
                border: 1px solid #777;
                .row {
                    margin: 0px 5px;
                    margin-top: 10px;
                    margin-bottom: 10px;
                }
            }
        }
        .report-content-wrapper {
            padding: 15px;
            .row {
                margin: 0px 5px;
                margin-top: 10px;
                margin-bottom: 10px;
            }
        }
        .misc-content-wrapper {
            padding: 15px;
            .row {
                margin: 0px 5px;
                margin-top: 10px;
                margin-bottom: 10px;
            }
        }
    }
}

.middle-section {
    padding: 5px 15px;
    width: 100%;
    box-sizing: border-box;
}

.showDivClass {
    display: '';
}

.hideDivClass {
    display: none;
}

.extraMarginTen {
    margin-top: 10px;
    margin-bottom: 10px;
}

////// Turn off spinner
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}