
<section class="middle-section">
  <!-- course module -->
  <section class="header-section"> 
      <div>
          <div class="header-title">
              <span >Online Exam</span>
            </div>
      </div>  
    </section>
  <div class="course-menu-section-container" >
    <div class="course-menu-item" *ngIf="jsonFlag.showExamDesk" routerLink="/view/online-exam/examcourse">
      <div class="menu-title">
        <img src="./assets/images/online-exam/exam_desk.svg" alt="examDesk course assignment">
        <span>ExamDesk Course Assignment</span>
      </div>
      <div class="menu-description">
        <span> Data setup your academic year, faculties, classrooms, etc</span>
      </div>
    </div>
  </div>
</section>