
<section class="middle-section">
  <!-- course module -->
  <section class="header-section"> 
      <div>
          <div class="header-title">
              <span >Online Exam</span>
            </div>
      </div>  
    </section>
  <div class="course-menu-section-container" >
    <div class="course-menu-item" *ngIf="jsonFlag.showExamDesk" routerLink="/view/online-exam/examcourse">
      <div class="menu-title">
        <img src="./assets/images/online-exam/exam_desk.svg" alt="examDesk course assignment">
        <span>ExamDesk Course Assignment</span>
      </div>
      <div class="menu-description">
        <span> Data setup your academic year, faculties, classrooms, etc</span>
      </div>
    </div>

    <div class="course-menu-item"*ngIf="jsonFlag.isShowEcourseMapping" routerLink="/view/online-exam/ecoursemapping">
      <div class="menu-title">
        <img src="./assets/images/activity/ecourse.svg" alt="">
        <span>E-course Mapping</span>
      </div>
      <div class="menu-description">
        <span *ngIf="!jsonFlag.isProfessional">Create E-courses and assign multiple standards to the E-courses.</span>
        <span *ngIf="jsonFlag.isProfessional">Create E-courses and assign multiple batches to the E-courses</span>
      </div>
    </div>
  </div>
</section>