<div class="middle-section clearFix code-wrapper">
  <section class="middle-top mb0 clearFix">
    <h1 class="pull-left" style="padding-left:7px;">
      Add Fee Template
    </h1>
  </section>

  <section class="middle-main clearFix">

    <section class="filler-setcion">

      <div class="row">
        <div class="c-sm-4 c-md-4 c-lg-4">
          <div class="form-wrapper  has-value">
            <label for="templateName">Template Name
              <span style="color: red">*</span>
            </label>
            <input type="text" class="side-form-ctrl" [(ngModel)]="addNewTemplate.template_name" name="templateName">
          </div>
        </div>
        <div class="c-sm-4 c-md-4 c-lg-4">
          <div class="form-wrapper has-value">
            <label for="feeAmount">Fee Amount
              <span style="color: red">*</span>
            </label>
            <input type="number" min="0" class="side-form-ctrl" [(ngModel)]="addNewTemplate.fee_amount" name="feeAmount">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="c-sm-4 c-md-4 c-lg-4">
          <div class="form-wrapper has-value">
            <label for="masterCourse">Master Course</label>
            <select id="masterCourseDdn" class="side-form-ctrl" [(ngModel)]="addNewTemplate.master_course_name" name="masterCourse" (ngModelChange)="onMasterCourseSelection()">
              <option value="-1"></option>
              <option *ngFor="let opt of masterCourseList" [value]="opt.master_course">
                {{opt.master_course}}
              </option>
            </select>
          </div>
        </div>

        <div class="c-sm-4 c-md-4 c-lg-4">
          <div class="form-wrapper has-value">
            <label for="CourseDdn">Course</label>
            <select id="CourseDdn" class="side-form-ctrl" name="CourseDdn" [(ngModel)]="addNewTemplate.course_id">
              <option value="-1"></option>
              <option *ngFor="let opt of CourseList.coursesList" [value]="opt.course_id">
                {{opt.course_name}}
              </option>
            </select>
          </div>
        </div>

        <div class="c-sm-4 c-md-4 c-lg-4 checkBoxAllignment">
          <div class="field-checkbox-wrapper">
            <input type="checkbox" id="" name="checkbx" [(ngModel)]="feeStructure.is_default_template" class="form-checkbox">
            <label for="checkbx">Is Default Template</label>
          </div>
        </div>
      </div>

      <div class="row">

        <div class="c-sm-4 c-md-4 c-lg-4">
          <div class="form-wrapper has-value">
            <label for="taxType">Tax Type</label>
            <select id="" class="side-form-ctrl" name="taxType" [(ngModel)]="addNewTemplate.tax_type" (click)="onTaxTypeChanges()">
              <option value="1">Tax Out Of Scope</option>
              <option *ngIf="enableTaxOptions == '1'" value="2">Total Fee Including Tax</option>
              <option *ngIf="enableTaxOptions == '1'" value="3">Total Fee Excluding Tax</option>
            </select>

          </div>
        </div>

        <div class="c-sm-4 c-md-4 c-lg-4 checkBoxAllignment">
          <div class="field-checkbox-wrapper">
            <input type="checkbox" id="" name="checkbx" [disabled]="addNewTemplate.apply_tax == true && addNewTemplate.tax_type != 1"
              [(ngModel)]="addNewTemplate.apply_tax" class="form-checkbox">
            <label for="checkbx">Apply Tax ({{feeStructure.registeredServiceTax}}%)</label>
          </div>
        </div>
      </div>

      <div class="row spanSection">

        <div class="c-sm-4 c-md-4 c-lg-4">
          <span>Tax Amount (Rs) : {{addNewTemplate.tax_amount}}</span>
        </div>

        <div class="c-sm-4 c-md-4 c-lg-4">
          <span>Total Fees (Rs) : {{addNewTemplate.total_fee}}</span>
        </div>

      </div>

      <div class="row">
        <div class="c-sm-4 c-md-4 c-lg-4">
          <div class="form-wrapper has-value">
            <label for="installment">Total Number of Installment
              <span style="color: red">*</span>
            </label>
            <input type="number" min="0" class="side-form-ctrl" name="installment" [(ngModel)]="addNewTemplate.installmentCount">
          </div>
        </div>
      </div>

      <div class="row">
        <button class="btn" (click)="createInstallment()">Create Installment</button>
      </div>

    </section>

    <hr>

    <section class="installment-section" *ngIf="showDetails">

      <section class="installmentSection">
        <h3 style="margin-bottom:10px;">Manage Installments</h3>
        <div class="table-scroll-wrapper">
          <div class="table table-responsive">
            <table>
              <thead>
                <tr>
                  <th> # </th>
                  <th>Trigger Date</th>
                  <th>No.(Days/Months)</th>
                  <th>Fees Amount (Rs)</th>
                  <th>Tax (Rs)</th>
                  <th>Fees Amount (Incl Tax)(Rs)</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of installMentTable; let i= index ; trackBy : index">
                  <td>
                    {{i + 1}}
                  </td>
                  <td>
                    <div class="form-wrapper">
                      <select [(ngModel)]="row.day_type" style="background: transparent" class="side-form-ctrl">
                        <option value="1">Date Of Joining</option>
                        <option value="2">No of days after DOJ</option>
                        <option value="3">No of Month after DOJ</option>
                      </select>
                    </div>
                  </td>
                  <td>
                    <div class="form-wrapper">
                      <input type="number" min="0" class="editCellInput" [(ngModel)]="row.days" name="label" class="side-form-ctrl">
                    </div>
                  </td>
                  <td>
                    <div class="field-wrapper">
                      <input type="number" min="0" [readonly]="addNewTemplate.tax_type != '3'" class="editCellInput" [(ngModel)]="row.initial_fee_amount"
                        (ngModelChange)="userChangedInitialAmount(row ,$event)" name="label">
                    </div>
                  </td>
                  <td>
                    <div class="field-wrapper">
                      <input type="number" min="0" readonly="true" class="editCellInput" [ngModel]='row.tax' name="label">
                    </div>
                  </td>
                  <td>
                    <div class="form-wrapper">
                      <input type="number" min="0" [readonly]="addNewTemplate.tax_type == '3'" class="editCellInput" (ngModelChange)="userChangedAmountTotalAmount(row ,$event)"
                        [(ngModel)]="row.totalAmount" name="label" class="side-form-ctrl">
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <span style="margin-top:20px;">* Sum of final amount should match with defined fee amount.</span>
      </section>
      <hr>
      <section class="additionalFeeSection">
        <h3>Edit Additional Fees</h3>

        <div class="row">
          <div class="c-sm-2 c-md-2 c-lg-2">
            <div class="form-wrapper has-value">
              <label for="row.category_id">Select Fee Type</label>
              <select id="" class="side-form-ctrl" style="background: transparent" [(ngModel)]="additionalInstallment.fee_type" (ngModelChange)="onAdditionalFeeSelection($event)"
                name="row.category_id">
                <option *ngFor="let opt of otherFeetype; let i= index ; trackBy : index" [value]="opt.id">
                  {{opt.value}}
                </option>
              </select>

            </div>
          </div>

          <div class="c-sm-2 c-md-2 c-lg-2">
            <div class="form-wrapper has-value">
              <label for="row.category_id">Trigger Date</label>
              <select id="" class="side-form-ctrl" style="background: transparent" [(ngModel)]="additionalInstallment.day_type" name="row.category_id">
                <option value="1">Date Of Joining</option>
                <option value="2">No of days after DOJ</option>
                <option value="3">No of Month after DOJ</option>
              </select>

            </div>
          </div>

          <div class="c-sm-2 c-md-2 c-lg-2">
            <div class="form-wrapper has-value">
              <label for="slotNew"> No. (Days/Months)
              </label>

              <input type="number" min="0" class="side-form-ctrl" [(ngModel)]="additionalInstallment.days" name="slotNew">


            </div>
          </div>
          <div class="c-sm-2 c-md-2 c-lg-2">
            <div class="form-wrapper has-value">
              <label for="slotNew">Fee Amount
              </label>
              <input type="number" min="0" class="side-form-ctrl" [(ngModel)]="additionalInstallment.initial_fee_amount" name="slotNew">

            </div>
          </div>
          <div class="c-sm-2 c-md-2 c-lg-2">
            <div class="form-wrapper has-value">
              <label for="slotNew">Tax Applicable (%)
              </label>
              <input type="number" min="0" style="background: transparent" disabled class="side-form-ctrl" [(ngModel)]="additionalInstallment.service_tax"
                name="slotNew">

            </div>
          </div>
          <div class="c-sm-2 c-md-2 c-lg-2" style="margin-top:20px;">
            <img src="assets/images/plus.png" (click)="addAdditionalInst()" alt="Add" style="vertical-align: -webkit-baseline-middle;">
          </div>
        </div>

        <div class="table-scroll-wrapper">
          <div class="table table-responsive">
            <table>
              <thead>
                <tr>
                  <th>Fee Type </th>
                  <th>Trigger Date</th>
                  <th>No.(Days/Months)Due Date</th>
                  <th>Amount</th>
                  <th>Tax</th>
                  <th>Fee Amount Incl Tax</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of otherInstList; let i= index ; trackBy : index">
                  <td>
                    {{row.fee_type_name}}
                  </td>
                  <td>
                    <div class="form-wrapper">
                      <select [(ngModel)]="row.day_type" style="background: transparent" class="side-form-ctrl">
                        <option value="1">Date Of Joining</option>
                        <option value="2">No of days after DOJ</option>
                        <option value="3">No of Month after DOJ</option>
                      </select>
                    </div>
                  </td>
                  <td>
                    <div class="form-wrapper">
                      <input type="number" min="0" class="editCellInput" [(ngModel)]="row.days" name="label" class="side-form-ctrl">
                    </div>
                  </td>
                  <td>
                    <div class="field-wrapper">
                      <input type="number" min="0" readonly="true" class="editCellInput" [(ngModel)]="row.initial_fee_amount" name="label">
                    </div>
                  </td>
                  <td>
                    <div class="field-wrapper">
                      <input type="number" min="0" readonly="true" class="editCellInput" [ngModel]='row.fees_amount - row.initial_fee_amount' name="label">
                    </div>
                  </td>
                  <td>
                    <div class="form-wrapper">
                      <input type="number" min="0" class="editCellInput" (ngModelChange)="userChangeAdditionalFeeAmount(row , $event)" [(ngModel)]="row.fees_amount"
                        name="label" class="side-form-ctrl">
                    </div>
                  </td>
                  <td>
                    <a style="cursor: pointer" (click)="deleteAdditionalRow(row , i)">Delete</a>
                  </td>
                </tr>
                <tr *ngIf="otherInstList.length == 0">
                  <td colspan="7">
                    No Additional Installment
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </section>

      <section class="btnGroup pull-right">
        <button (click)="createFeeTemplate()" class="btn">Create</button>
        <button routerLink="/fee" class="btn">Back</button>
      </section>

    </section>

  </section>

</div>