.table-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  .heading-container {
    background: #e0eaec;
    display: flex;
    flex-direction: row;
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    padding: 10px;
    border: 1px solid #ccc;
    .heading-item {
      width: 20%;
    }
  }
  .value-outer-container {
    display: flex;
    flex-direction: column;
    .value-container {
      display: flex;
      flex-direction: row;
      text-align: left;
      padding: 10px;
      font-size: 12px;
      border: 1px solid #ccc;
      border-top: none;
      .value-item {
        width: 20%;
      }
    }
    .no-records{
      display: flex;
      justify-content: center;
      padding: 10px;
      font-size: 14px;
      font-weight: 600;
      border: 1px solid #ccc;
      border-top: none;
    }
  }

}
