<proctur-popup [sizeWidth]="'medium'">

  <span class="closePopup pos-abs fbold show" (click)="closeSearchArea()" close-button>
    <svg _ngcontent-c11="" class="artdeco-icon" focusable="false" height="24px" preserveAspectRatio="xMinYMin meet" viewBox="0 0 24 24" width="24px" x="0" y="0">
      <path _ngcontent-c11="" class="large-icon" d="M20,5.32L13.32,12,20,18.68,18.66,20,12,13.33,5.34,20,4,18.68,10.68,12,4,5.32,5.32,4,12,10.69,18.68,4Z" style="fill: currentColor"></path>
    </svg>
  </span>

  <h2 popup-header>Found {{searchResult.length}} Records</h2>

  <div class="hideHorizontalScroll" popup-content>

    <section class="">
      <section *ngIf="resultStat == 0">
        <ul>
          <li>
            <h6>
              <span>
                <div class="skeleton">
                </div>
              </span>
            </h6>
          </li>
          <li>
            <h6>
              <span>
                <div class="skeleton">
                </div>
              </span>
            </h6>
          </li>
        </ul>
      </section>

      <section>
        <!-- Result-->
        <ul class="sdb search-item" *ngIf="searchResult.length != 0">
          <li *ngIf="studentResult.length != 0">
            <h5>
              <span>
                In Students
              </span>
            </h5>
            <ul class="in-student-list">
              <li *ngFor="let student of studentResult">
                <ul class="holder">
                  <li>
                    <a (click)="studentSelected(student)">
                      <img src="" alt="" />
                      <span class="sdb-right">
                        <label>
                          <strong>{{student.name}}</strong>
                        </label>
                        <span>
                          +91 {{student.phone}} | Enrolment ID : {{student.displayId}}
                        </span>
                      </span>
                    </a>
                  </li>
                  <li>
                    <a *ngIf="hasStudent" class="markers" (click)="performAction('studentEdit', student)">
                      Edit Student
                    </a>
                    <a *ngIf="hasStudent" class="markers" (click)="performAction('studentFee', student)">
                      Manage Fee
                    </a>
                    <a *ngIf="hasStudent" class="markers" (click)="performAction('studentInventory', student)">
                      Manage Inventory
                    </a>
                    <a *ngIf="hasStudent" class="markers hide" (click)="performAction('studentLeave', student)">
                      Mark Leave
                    </a>
                    <a *ngIf="hasStudent" class="markers hide" (click)="performAction('studentDelete', student)">
                      Delete
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li *ngIf="enquiryResult.length != 0">
            <h5>
              <span>
                In Enquiry
              </span>
            </h5>
            <ul class="in-student-list">
              <li *ngFor="let enquiry of enquiryResult">
                <ul class="holder">
                  <li>
                    <a (click)="enquirySelected(enquiry)">
                      <img src="" alt="" />
                      <span class="sdb-right">
                        <label>
                          <strong>{{enquiry.name}}</strong>
                        </label>
                        <span>
                          +91 {{enquiry.phone}} | Enrolment ID : {{enquiry.displayId}}
                        </span>
                      </span>
                    </a>
                  </li>
                  <li>
                    <a *ngIf="hasEnquiry" class="markers" (click)="performAction('enquiryEdit',enquiry)">
                      Edit Enquiry
                    </a>
                    <a *ngIf="hasEnquiry" class="markers hide" (click)="performAction('enquiryDelete')">
                      Delete Enquiry
                    </a>
                    <a *ngIf="hasEnquiry" class="markers" (click)="performAction('enquiryUpdate',enquiry)">
                      Update Enquiry
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>

      </section>
    </section>

  </div>

</proctur-popup>
