<div class="page-content">
    <div class="page_heading">
        <div class="w98 tab">
            <span *ngIf="is_asset" class="asset-title">Assets</span>
            <span *ngIf="is_asset_cat" class="asset-title">Asset Category</span>
            <div>
            <span class="tab1" [ngClass]="is_asset ? 'inactive' : 'active' ">
                <b
                    (click)="toggle(false)">Asset
                    category</b></span>
            <span><b class="tab2 " [ngClass]="is_asset_cat ? 'inactive' : 'active' "
                    (click)="toggle(true)">Asset
                </b></span>

            <span class="right"><button class="blue_button" data-toggle="modal" data-target="#myModalforcat"
                    *ngIf="is_asset_cat" (click)="cancel(false)">Add
                    Asset Category</button></span>
            <span class="right"><button class="blue_button" data-toggle="modal" data-target="#myModalforasset"
                    *ngIf="is_asset" (click)="cancel(false)">Add
                    Asset</button></span>
                </div>
        </div>
    </div>
    <!--flex for asset category data-->
    <div class="w98">
        <div class="padding1">
            <input type="text" class="input glass" placeholder="search" #search [(ngModel)]="searchParams"
                name="searchParams" (keyup)="searchDatabase()" *ngIf="is_asset">
            <span class="right">
                <a href=""><img src="assets/images/assets/Group354.svg" class="mr10"></a>
                <a href=""><img src="assets/images/assets/Group353.svg" class="mr10"></a>
                <a href=""><img src="assets/images/assets/2.svg" class="mr10"></a>
                <a href=""><img src="assets/images/assets/document.svg" class="mr10"></a>
            </span>
        </div>

        <!--table for asset category-->
        <app-basic-table [headers]="headerSetting" [displayData]="assetcategoryData" [tableSetting]="tableSetting"
            [rowColumnSetting]="rowColumns" (editView)='editRow($event)' (deleteView)='deleteRow($event)'
            (viewView)="viewRow($event)" *ngIf="is_asset_cat">
        </app-basic-table>
        <div style="padding-top: 9px;">
            <!--table for asset view-->

            <app-basic-table [headers]="headerSettingForAsset" [displayData]="staticPageData"
                [tableSetting]="tableSettingForAsset" [rowColumnSetting]="rowColumnForAsset"
                (editView)='editAssetRow($event)' (deleteView)='deleteAssetRow($event)'
                (viewView)="viewAssetRow($event)" *ngIf="is_asset">
            </app-basic-table>
            <div style="padding-top: 9px;">
                <pagination (goPage)="fetchTableDataByPage($event)" (goNext)="fetchNext()" (goPrev)="fetchPrevious()"
                    [pagesToShow]="10" [page]="pageIndex" [perPage]="displayBatchSize" [sizeArr]="sizeArr"
                    [count]="totalRecords" (sizeChange)="updateTableBatchSize($event)" *ngIf="is_asset">
                </pagination>
            </div>
        </div>

    </div>
    <!--model for asset category-->
    <div class="modal fade" id="myModalforcat" data-backdrop="static" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content" style="height: 250px;">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" (click)="cancel(false)">&times;</button>
                    <h4 class="title-model"> Assets Category</h4>
                    <form id="form1" #assetcat="ngForm" autocomplete="off">
                        <div ngModelGroup="categoryDetails" #categoryDetails='ngModelGroup'>
                            <div class="form-group" [class.has-error]="categoryCode.invalid && categoryCode.touched">
                                <input type="text" class="form-control" name="category_code" id="category_code"
                                    placeholder="Category ID *" [(ngModel)]="category_model.category_code"
                                    #categoryCode="ngModel" required>
                            </div>
                            <span class="help-block" *ngIf="!categoryCode.valid && categoryCode.touched">
                                Category ID is mandatory.
                            </span>
                            <div class="form-group" [class.has-error]="categoryNmae.invalid && categoryNmae.touched">
                                <input type="text" class="form-control" name="category_name" id="category_name"
                                    placeholder="Category Name*" [(ngModel)]="category_model.category_name"
                                    #categoryNmae="ngModel" required>
                            </div>
                            <span class="help-block" *ngIf="!categoryDetails.valid && categoryDetails.touched">
                                Category name mandatory.
                            </span>
                        </div>
                        <div style="margin-top: 10px;">
                            <span class="right"> <button type="button" class="btns blue_button cancel"
                                    data-dismiss="modal" (click)="cancel()">cancel</button></span>
                            <span class="right"> <button type="submit" class="btns blue_button"
                                    (click)="saveCategoryDetails(category_model)" *ngIf="!isedit">
                                    Add Category</button></span>
                            <span class="right"> <button type="submit" class="btns blue_button" *ngIf="isedit"
                                    (click)="updateAssetCategory(category_model)">
                                    Update </button></span>
                        </div>
                    </form>
                </div>

            </div>

        </div>
    </div>
    <!--model for add asset -->
    <div class="modal fade" data-backdrop="static" id="myModalforasset" role="dialog">
        <div class="modal-dialog">
            <div>
                <div class="modal-bodyAseet">
                    <h4 class="models titles" style="margin-left:20px;margin-top:25px !important;"
                        (click)="cancel(false)"> Assets</h4>
                    <form id="form1" #assetaddForm="ngForm" autocomplete="off">
                        <div class="form-group">
                            <input type="text" class="form-control" name="asset_code" id="asset_code"
                                placeholder="Asset ID *" [(ngModel)]="model.asset_code" #asset_code="ngModel" required>
                            <span class="help-block" *ngIf="asset_code.invalid && asset_code.touched">Asset ID is
                                required</span>
                        </div>
                        <div class="form-group">
                            <select class="form-control" name="category_id" id="category_id"
                                [(ngModel)]="model.category_id">
                                <option value="">Category Name*</option>
                                <option value="{{data.id}}" *ngFor="let data of assetcategoryData">
                                    {{data.category_name}}</option>
                            </select>

                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="asset_name" id="asset_name"
                                placeholder="Asset Name* " [(ngModel)]="model.asset_name" #asset_name="ngModel"
                                required>
                            <span class="help-block" *ngIf="asset_name.invalid && asset_name.touched">Asset Name is
                                Required</span>
                        </div>
                        <div class="form-group">

                            <input type="text" class="form-control" name="quantity" id="quantity"
                                placeholder=" Number Of Assets* " [(ngModel)]="model.quantity"
                                onkeypress=" return (event.charCode >= 48 && event.charCode <= 57)" #quantity="ngModel"
                                required>
                            <span class="help-block" *ngIf="quantity.invalid && quantity.touched">Number Of Assets is
                                Required</span>

                        </div>
                        <div class="form-group">
                            <select class="form-control" [(ngModel)]="model.asset_condition" name="asset_condition"
                                id="asset_condition" required #asset_condition="ngModel">
                                <option value="" selected>Asset Condition*</option>
                                <option>New</option>
                                <option>Used</option>
                            </select>
                            <span class="help-block" *ngIf="asset_condition.invalid && asset_condition.touched">asset
                                condition mandatory</span>
                        </div>

                        <!--<select class="form-control" [(ngModel)]="model.location_ids" name="location_ids"
                                id="location_ids" required #location_ids="ngModel" required>
                                <option value="" selected>Asset Location *</option>
                                <option value="{{data.id}}" *ngFor="let data of locationData">
                                    {{data.location_name}}
                                </option>
                            </select>-->

                        <div class="form-group multiselect">
                            <ng-multiselect-dropdown placeholder="Location *" [(ngModel)]="model.location_ids"
                                [data]="locationData" [settings]="moderatorSettingsforasset" name="model.location_ids">
                            </ng-multiselect-dropdown>
                        </div>

                        <!--<select class="form-control" [(ngModel)]="model.location_ids" name="location_ids"
                                id="location_ids" required #location_ids="ngModel" required>
                                <option value="" selected>Asset Location *</option>
                                <option value="{{data.id}}" *ngFor="let data of locationData">
                                    {{data.location_name}}
                                </option>
                            </select>-->

                        <div class="form-group">
                            <span class="right"> <button type="submit" class="btns blue_button cancel"
                                    (click)="cancel()" data-dismiss="modal">Cancel</button></span>
                            <span class="right"> <button type="submit" class="btns blue_button"
                                    (click)="saveAssetDetails(model)" *ngIf="!isedit">Add
                                    Asset</button></span>
                            <span class="right"> <button type="submit" class="btns blue_button"
                                    (click)="updateAssetDetails(model)" *ngIf="isedit">Update
                                    Asset</button></span>
                        </div>
                    </form>
                </div>

            </div>

        </div>