<section class="activity-page">
    <section class="clearFix row">
        <div class="activity-left">
            <div class="act-bottom clearfix">
                <ul class="actb-wrapper">
                    <li class="schedule-state">

                        <div>
                            <div class="schedule-bottom">
                                <ul class="sche-head">
                                    <li>
                                        <div class="field-checkbox-wrapper" style="background: transparent;">
                                            <input #headerCheckbox type="checkbox" value="" name="check" [checked]="isAllChecked()" (change)="selectAllRows($event)"
                                                class="form-checkbox">
                                            <label></label>
                                        </div>
                                    </li>
                                    <li *ngFor="let map of columnMaps" (click)="requestSort(map.primaryKey)" [ctStyleCell]="getStyle(map.primaryKey, '')">
                                        {{ map.header }}
                                    </li>
                                </ul>
                                <div class="schedule-scroller">
                                    <ul class="ul-body ct-ongoing" *ngFor="let record of records; let i = index;" [class.selected]="i == selectedRow">
                                        <li>
                                            <div class="field-checkbox-wrapper" style="background: transparent;">
                                                <input type="checkbox" name="recordcb[]" value="" name="check" class="rowCheckbox form-checkbox" [(ngModel)]="record.uiSelected"
                                                    (ngModelChange)="rowCheckboxChange(record)">
                                                <label></label>
                                            </div>
                                        </li>
                                        <li *ngFor="let map of columnMaps" [ctStyleCell]="getStyle(map.primaryKey,record[map.access(record)])" (click)="userRowClicked($event, i, record)">
                                            {{ record[map.access(record)] | formatCell:map.primaryKey }}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</section>

<!-- <table class="table">
    <thead>
        <tr>
            <th>
                <div class="field-checkbox-wrapper" style="background: transparent;">
                    <input #headerCheckbox type="checkbox" value="" name="check" [checked]="isAllChecked()" (change)="selectAllRows($event)"
                        class="form-checkbox">
                    <label>asdf</label>
                </div>
            </th>
            <th style="cursor: pointer;" *ngFor="let map of columnMaps" (click)="requestSort(map.primaryKey)" [ctStyleCell]="getStyle(map.primaryKey, '')">{{ map.header }}</th>
        </tr>
    </thead>
    <tbody *ngIf="records.length != 0">
        <tr *ngFor="let record of records; let i = index;" [class.selected]="i == selectedRow">
            <td>
                <div class="field-checkbox-wrapper" style="background: transparent;">
                    <input type="checkbox" name="recordcb[]" value="" name="check" class="rowCheckbox form-checkbox" [(ngModel)]="record.uiSelected"
                        (ngModelChange)="rowCheckboxChange(record)">
                    <label>asdf</label>
                </div>
            </td>
            <td style="cursor:pointer;" *ngFor="let map of columnMaps" [ctStyleCell]="getStyle(map.primaryKey,record[map.access(record)])"
                (click)="userRowClicked($event, i, record)">
                {{ record[map.access(record)] | formatCell:map.primaryKey }}
            </td>
        </tr>
    </tbody>
    <tbody *ngIf="records.length == 0 && dataStatus === 1">
        <tr *ngFor="let dummy of dummyArr">
            <td>
                <div class="skeleton">
                </div>
            </td>
            <td *ngFor="let c of columnMaps">
                <div class="skeleton">
                </div>
            </td>
        </tr>
    </tbody>
    <tbody *ngIf="records.length == 0 && dataStatus === 2">
        <tr>
            <td colspan='11'>
                <label style="font-size: 16px;font-weight: 600;">No Records Found</label>
            </td>
        </tr>
    </tbody>
</table> -->