<section class="middle-section">
  <section class="header-section">
    <div>
      <div class="header-title">
        <h2>
          <a routerLink="/view/{{type}}" style="color: #0084f6;">
            {{ type | titlecase }}
          </a>
          <i style="font-family: 'FontAwesome';" class="fas fa-angle-right"></i> Data Archiving
        </h2>
      </div>
    </div>
  </section>
  <div class="course-menu-section-container">

      <div class="course-menu-item" *ngIf="isProfessional"  routerLink="./batches">
        <div class="menu-title">
          <img src="./assets/images/course/create-course.svg" alt="create course">
          <span>  Archive Batches</span>
        </div>
        <div class="menu-description">
          <span>  Select and archive the old batches</span>
        </div>
      </div>
      <div class="course-menu-item" *ngIf="isProfessional" routerLink="./batchesArchivedReport">
        <div class="menu-title">
          <img src="./assets/images/course/create-course.svg" alt="create course">
          <span>  Archived Batch Report</span>
        </div>
        <div class="menu-description">
          <span>  Report of old archived batches</span>
        </div>
      </div>

    <div class="course-menu-item" *ngIf="!isProfessional" routerLink="./courses">
      <div class="menu-title">
        <img src="./assets/images/course/create-course.svg" alt="create course">
        <span>  Archive Courses</span>
      </div>
      <div class="menu-description">
        <span>  Select and archive the old courses</span>
      </div>
    </div>

    <div class="course-menu-item" *ngIf="!isProfessional" routerLink="./coursesArchivedReport">
      <div class="menu-title">
        <img src="./assets/images/course/create-course.svg" alt="create course">
        <span>Archived Course Report</span>
      </div>
      <div class="menu-description">
        <span> Report of old archived courses</span>
      </div>
    </div>

  </div>
</section>