<section class="middle-top clearFix">
    <div class="row">
        <h1 class="pull-left">
            Zendesk
        </h1>
    </div>

</section>

<section class="middle-main clearFix" id="middleMain">
    <div class="add-new-enquiry-form accordian-section">


        <div class="field-wrapper">
            <label for="phone">Subject</label>
            <input type="text" value="" class="form-ctrl" [(ngModel)]= "payload.Ticket.Subject"/>
        </div>


        <div class="field-wrapper">
            <label for="phone">Description</label>
            <input type="text" value=""  class="form-ctrl"/>
        </div>


        <div class="field-wrapper">
            <label for="phone">Institute Id</label>
            <input type="text" value="" id="phone" class="form-ctrl"/>
        </div>

        <div class="field-wrapper">
            <label for="phone">Institute Name</label>
            <input type="text" value="" class="form-ctrl" />
        </div>

        <div class="field-wrapper">
            <label for="phone">Email Id</label>
            <input type="text" value="" id="phone" class="form-ctrl"/>
        </div>


        <div class="field-wrapper">
            <label for="phone">Issue</label>
            <input type="text" value="" class="form-ctrl"/>
        </div>
         <div>
        <button class="btn fullBlue btnclass pull-right" (click)="posterData()">Save</button>
    </div>

    </div>
</section>