<div class="page-content">
    <div class="page_heading">
        <div class="w98">
            <span>Vendor</span>
            <span class="right"><button class="blue_button" data-toggle="modal" (click)="isedit=false"
                    data-target="#modelforvendor" (click)="cancel(false)">Add
                    Vendor</button></span>
        </div>
    </div>
    <div class="w98">
        <div class="padding1">
            <input type="text" class="input glass" placeholder="search" #search [(ngModel)]="searchParams"
                name="searchParams" (keyup)="searchDatabase()">
            <span class="right">
                <a href=""><img src="assets/images/assets/Group354.svg" class="mr10"></a>
                <a href=""><img src="assets/images/assets/Group353.svg" class="mr10"></a>
                <a href=""><img src="assets/images/assets/2.svg" class="mr10"></a>
                <a href=""><img src="assets/images/assets/document.svg" class="mr10"></a>
            </span>
        </div>
        <app-basic-table [headers]="headerSetting" [displayData]="staticPageData" [tableSetting]="tableSetting"
            [rowColumnSetting]="rowColumns" (editView)='editRow($event)' (deleteView)='deleteRow($event)'
            (viewView)="viewRow($event)">
        </app-basic-table>
        <div style="padding-top: 9px;">
            <pagination (goPage)="fetchTableDataByPage($event)" (goNext)="fetchNext()" (goPrev)="fetchPrevious()"
                [pagesToShow]="10" [page]="pageIndex" [perPage]="displayBatchSize" [sizeArr]="sizeArr"
                [count]="totalRecords" (sizeChange)="updateTableBatchSize($event)">
            </pagination>
        </div>
        <!--model for-vendor-->
        <div class="modal fade" id="modelforvendor" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">

                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal"
                            (click)="cancel(false)">&times;</button>
                        <h4 class="title-model">Add Vendor</h4>
                        <form id="form1" #addVendorForm="ngForm" autocomplete="off">
                            <div ngModelGroup="locationdetails" #Locationdata='ngModelGroup'>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="supplier_name" id="supplier_name"
                                        placeholder="Supplier Name* " [(ngModel)]="model.supplier_name"
                                        #supplier_name="ngModel" required>
                                </div>
                                <div class="form-group" [class.has-error]="email_id.invalid && email_id.touched">
                                    <input type="text" class="form-control" name="email_id" id="email_id"
                                        placeholder="Email Id * " [(ngModel)]="model.email_id" #email_id="ngModel" email
                                        required>
                                </div>
                                <span class="help-block" *ngIf="!Locationdata.valid && Locationdata.touched">
                                    supplier Name and Email Id is Mandatory.
                                </span>
                            </div>
                            <div class="form-group" [class.has-error]="mobile_no.invalid && mobile_no.touched">
                                <input type="text" class="form-control" name="mobile_no" id="mobile_no"
                                    placeholder=" Contact Number * " [(ngModel)]="model.mobile_no" #mobile_no="ngModel"
                                    required onkeypress=" return (event.charCode >= 48 && event.charCode <= 57)"
                                    maxlength="10">
                                <span class="help-block" *ngIf="!mobile_no.valid && mobile_no.touched">
                                    Only Enter 10 digit mobile numbers
                                </span>
                            </div>
                            <div>
                                <textarea type="text" class="form-control" name="address" id="address"
                                    placeholder="Address *" [(ngModel)]="model.address" #address="ngModel" required>
                        </textarea>
                                <span class="help-block" *ngIf="!address.valid && address.touched">
                                    Location is Mandatory.
                                </span>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="contact_person_name"
                                    id="contact_person_name" placeholder="Contact Person * "
                                    [(ngModel)]="model.contact_person_name" #contact_person_name="ngModel" required>
                                <span class="help-block"
                                    *ngIf="!contact_person_name.valid && contact_person_name.touched">
                                    Contact Person Name is Mandatory.
                                </span>
                            </div>
                            <div class="form-group multiselect">
                                <ng-multiselect-dropdown placeholder="Category Name *" [(ngModel)]="model.category_id"
                                    [data]="assetcategoryData" [settings]="moderatorSettings" name="category_id"
                                    (ngModelChange)="getAssetsForSelectedCat($event)">
                                </ng-multiselect-dropdown>
                            </div>
                            <div class="form-group multiselect">
                                <ng-multiselect-dropdown placeholder="Asset Provide *" [(ngModel)]="model.asset_ids"
                                    [data]="assetAllData" [settings]="moderatorSettingsforasset" name="model.asset_ids">
                                </ng-multiselect-dropdown>
                            </div>
                        </form>
                        <div>
                            <span class="right"> <button type="button" class="btns blue_button" data-dismiss="modal"
                                    (click)="cancel(false)">cancel</button></span>
                            <span class="right"> <button type="submit" class="btns blue_button"
                                    (click)="saveVendorDetails(model)" *ngIf="!isedit">
                                    Add Vendor</button></span>
                            <span class="right"> <button type="submit" class="btns blue_button"
                                    (click)="updateVendorDetails(model)" *ngIf="isedit">
                                    Update </button></span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>