<div class="middle-section clearFix" id="enquiryList" [ngBusy]="{busy: busy, message: 'Loading...', delay: 100, maxDuration: 1000}"
  (click)="inputClicked($event)">

  <section class="middle-top clearFix custom-comp-header">

    <div class="row">

      <h1 class="pull-left">
        Add Form Field
      </h1>

      <aside class="pull-right">
      </aside>
    </div>

  </section>


  <section class="middle-main clearFix">

    <div class="row">
      <div class="clearFix add-edit">
        <a (click)="toggleNewComponentVisisbility()">
          <i id="addComponent-icon" style="border:none;">+</i>
          <span>Add New Field</span>
        </a>
      </div>
    </div>
    <!-- Add New Custom Component Form Here -->
    <div class="row createcomponent-wrapper" *ngIf="isNewComponent">

      <div class="c-lg-4">
        <div class="field-wrapper" [ngClass]="{'has-value': createCustomComponentForm.label != ''}">
          <input type="text" class="form-ctrl" [(ngModel)]="createCustomComponentForm.label" name="label" >
          <label for="label">Label*</label>
        </div>
      </div>

      <div class="c-lg-4">
        <div class="field-wrapper" [ngClass]="{'has-value': createCustomComponentForm.type != '' }">
          <select id="" class="form-ctrl" [(ngModel)]="createCustomComponentForm.type" name="opt.data_value" >
            <option value=""></option>
            <option *ngFor="let opt of componentShell" [value]="opt.data_key">
              {{opt.data_value}}
            </option>
          </select>
          <label for="">Type*</label>
        </div>
      </div>

      <div class="c-lg-4">
        <div class="field-wrapper" [ngClass]="{'has-value': createCustomComponentForm.prefilled_data != ''}">
          <input type="text" class="form-ctrl" [(ngModel)]="createCustomComponentForm.prefilled_data" name="prefilledData" >
          <label for="prefilledData">Prefilled Data (Non-Empty And Separated By ,)</label>
        </div>
      </div>

      <div class="c-lg-4">
        <div class="field-wrapper" [ngClass]="{'has-value': createCustomComponentForm.description != ''}">
          <input type="text" class="form-ctrl" [(ngModel)]="createCustomComponentForm.description" name="description" >
          <label for="description">Description</label>
        </div>
      </div>

      <div class="c-lg-4">
        <div class="field-wrapper" [ngClass]="{'has-value': createCustomComponentForm.is_required != ''}">
          <select id="isrequired" class="form-ctrl" name="isrequired" [(ngModel)]="createCustomComponentForm.is_required" >
            <option value="Y">Yes</option>
            <option value="N" selected>No</option>
          </select>
          <label for="isrequired">Is Required</label>
        </div>
      </div>

      <div class="c-lg-4">
        <div class="field-wrapper" [ngClass]="{'has-value': createCustomComponentForm.is_searchable != ''}">
          <select id="issearchable" class="form-ctrl" name="issearchable" [(ngModel)]="createCustomComponentForm.is_searchable" >
            <option value="Y">Yes</option>
            <option value="N" selected>No</option>
          </select>
          <label for="issearchable">Is Searchable</label>
        </div>
      </div>

      <div class="c-lg-4">
        <div class="field-wrapper" [ngClass]="{'has-value': createCustomComponentForm.sequence_number != ''}">
          <input type="text" class="form-ctrl" OnlyNumber="true" maxlength="3" [(ngModel)]="createCustomComponentForm.sequence_number"
            name="sequencenumber" >
          <label for="sequencenumber">Sequence (Numerals Only)</label>
        </div>
      </div>

      <div class="c-lg-4">
        <div class="field-wrapper" [ngClass]="{'has-value': createCustomComponentForm.comp_length != ''}">
          <input type="text" class="form-ctrl" OnlyNumber="true" [(ngModel)]="createCustomComponentForm.comp_length" name="complength"
            >
          <label for="complength">Max- Length (Numerals Only)</label>
        </div>
      </div>

      <div class="c-lg-4">
        <div class="field-wrapper" [ngClass]="{'has-value': createCustomComponentForm.defaultValue != ''}">
          <input type="text" class="form-ctrl" [(ngModel)]="createCustomComponentForm.defaultValue" name="defVal" >
          <label for="defVal">Default Value</label>
        </div>
      </div>

      <div class="c-lg-4">
        <div class="field-wrapper" [ngClass]="{'has-value': createCustomComponentForm.is_external != ''}">
          <select id="isexternal" class="form-ctrl" name="isexternal" [(ngModel)]="createCustomComponentForm.is_external" >
            <option value="Y">Yes</option>
            <option value="N" selected>No</option>
          </select>
          <label for="isexternal">Is External</label>
        </div>
      </div>

      <div class="c-lg-12 c-md-12 c-sm-12 c-xs-12">
        <aside class="pull-right create-cancel-small">
          <input type="button" value="Cancel" (click)="toggleNewComponentVisisbility()" class="btn cancle">
          <input type="button" value="Create" (click)="addNewCustomComponent()" class="btn fullBlue">
        </aside>
      </div>

    </div>

    <!-- Custom Component Table Here -->
    <div class="custom-comp-tablewrapper">
      <div class="table-responsive">
        <table>
          <thead>
            <tr>
              <th>Label</th>
              <th>Type</th>
              <th>Prefilled Data</th>
              <th>Description</th>
              <th>Is Required</th>
              <th>Is Searchable</th>
              <th>Sequence</th>
              <th>Max Length</th>
              <th>Action</th>
            </tr>
          </thead>

          <tbody>

            <tr [id]='comp.label + comp.component_id' class="displayComp" *ngFor="let comp of userCreatedComponent">

              <td class="view-comp">{{comp.label}}</td>
              <td class="edit-comp ">
                <div class="field-wrapper">
                  <input type="text" class="form-ctrl" [(ngModel)]="comp.label" name="label">
                </div>
              </td>

              <td class="view-comp">{{comp.type|checkBoxConverter}}</td>
              <td class="edit-comp ">
                <div class="field-wrapper">
                  <select id="" class="form-ctrl" name="opt.data_value" [(ngModel)]="comp.type">
                    <option *ngFor="let opt of componentShell" [value]="opt.data_key">
                      {{opt.data_value}}
                    </option>
                  </select>
                </div>
              </td>


              <td class="view-comp">{{comp.prefilled_data}}</td>
              <td class="edit-comp ">
                <div class="field-wrapper">
                  <input type="text" class="form-ctrl" name="prefilledData" [(ngModel)]="comp.prefilled_data">
                </div>
              </td>

              <td class="view-comp">{{comp.description}}</td>
              <td class="edit-comp ">
                <div class="field-wrapper">
                  <input type="text" class="form-ctrl" name="description" [(ngModel)]="comp.description">
                </div>
              </td>

              <td class="view-comp">{{comp.is_required}}</td>
              <td class="edit-comp ">
                <div class="field-wrapper">
                  <select id="" class="form-ctrl" name="isrequired" [(ngModel)]="comp.is_required">
                    <option value="Y" [attr.selected]="comp.is_required == 'Y'? '': null">Y</option>
                    <option value="N" [attr.selected]="comp.is_required == 'Y'? '': null">N</option>
                  </select>
                </div>
                <!-- <div class="field-checkbox-wrapper">
                  <input type="checkbox" value="" class="form-checkbox" name="isrequired" [(ngModel)]="comp.is_required" [checked]="comp.is_required == 'Y'? true: false">
                  <label for="isrequired"></label>
                </div>
               -->
              </td>

              <td class="view-comp">{{comp.is_searchable}}</td>
              <td class="edit-comp ">
                <div class="field-wrapper">
                  <select id="" class="form-ctrl" name="is_searchable" [(ngModel)]="comp.is_searchable">
                    <option value="Y" [attr.selected]="comp.is_searchable == 'Y'? '': null">Y</option>
                    <option value="N" [attr.selected]="comp.is_searchable == 'Y'? '': null">N</option>
                  </select>
                </div>
                <!-- <div class="field-checkbox-wrapper">
                  <input type="checkbox" value="" class="form-checkbox" name="issearchable" [(ngModel)]="comp.is_searchable" [attr.checked]="comp.is_searchable">
                  <label for="issearchable"></label>
                </div> -->
              </td>

              <td class="view-comp">{{comp.sequence_number}}</td>
              <td class="edit-comp ">
                <div class="field-wrapper">
                  <input type="text" class="form-ctrl" OnlyNumber="true" maxlength="3" name="sequencenumber" [(ngModel)]="comp.sequence_number">
                </div>
              </td>

              <td class="view-comp">{{comp.comp_length}}</td>
              <td class="edit-comp ">
                <div class="field-wrapper">
                  <input type="text" class="form-ctrl" OnlyNumber="true" name="complength" [(ngModel)]="comp.comp_length">
                </div>
              </td>

              <td class="custom-table-action view-comp">
                <ul>
                  <li>
                    <a (click)="editRow(comp)">Edit</a>
                  </li>
                  <li>
                    <a (click)="deleteRow(comp)">Delete</a>
                  </li>
                </ul>
              </td>
              <td class="custom-table-action edit-comp ">
                <ul>
                  <li>
                    <a (click)="cancelEditRow(comp)">Cancel</a>
                  </li>
                  <li>
                    <a (click)="updateRow(comp)">Update</a>
                  </li>
                </ul>
              </td>

            </tr>

          </tbody>

        </table>
      </div>
    </div>
    <!--  -->
  </section>

  <proctur-popup>

    <span class="closePopup pos-abs fbold show" id="popupCloseBtn" close-button>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="9310 2185 16 16">
        <g id="Group_1228" data-name="Group 1228" transform="translate(8298 1888)">
          <g id="Group_1213" data-name="Group 1213" transform="translate(34.189 -7.77)">
            <line id="Line_274" data-name="Line 274" class="cls-1" y2="19.798" transform="translate(992.81 305.77) rotate(45)" />
            <line id="Line_275" data-name="Line 275" class="cls-1" x1="19.798" transform="translate(978.81 305.77) rotate(45)" />
          </g>
          <rect id="Rectangle_686" data-name="Rectangle 686" style="stroke:none;" class="cls-2" width="16" height="16" transform="translate(1012 297)"
          />
        </g>
      </svg>
    </span>

    <h2 popup-header>Edit Field</h2>

    <div class="row updatecomponent-wrapper" popup-content>
 
      <div class="c-lg-4">
        <div class="field-wrapper" [ngClass]="{'has-value': editCustomComponentForm.label != ''}">
          <input type="text" class="form-ctrl" [(ngModel)]="editCustomComponentForm.label" name="label">
          <label for="label">Label*</label>
        </div>
      </div>

      <div class="c-lg-4">
        <div class="field-wrapper" [ngClass]="{'has-value': editCustomComponentForm.type != '' }">
          <select id="" class="form-ctrl" [(ngModel)]="editCustomComponentForm.type" name="opt.data_value" >
            <option value=""></option>
            <option *ngFor="let opt of componentShell" [value]="opt.data_key">
              {{opt.data_value}}
            </option>
          </select>
          <label for="">Type*</label>
        </div>
      </div>

      <div class="c-lg-4">
        <div class="field-wrapper" [ngClass]="{'has-value': editCustomComponentForm.prefilled_data != ''}">
          <input type="text" class="form-ctrl" [(ngModel)]="editCustomComponentForm.prefilled_data" name="prefilledData" >
          <label for="prefilledData">Prefilled Data (Non-Empty And Separated By ,)</label>
        </div>
      </div>

      <div class="c-lg-4">
        <div class="field-wrapper" [ngClass]="{'has-value': editCustomComponentForm.description != ''}">
          <input type="text" class="form-ctrl" [(ngModel)]="editCustomComponentForm.description" name="description" >
          <label for="description">Description</label>
        </div>
      </div>

      <div class="c-lg-4">
        <div class="field-wrapper" [ngClass]="{'has-value': editCustomComponentForm.is_required != ''}">
          <select id="isrequired" class="form-ctrl" name="isrequired" [(ngModel)]="editCustomComponentForm.is_required" >
            <option value="Y">Yes</option>
            <option value="N" selected>No</option>
          </select>
          <label for="isrequired">Is Required</label>
        </div>
      </div>

      <div class="c-lg-4">
        <div class="field-wrapper" [ngClass]="{'has-value': editCustomComponentForm.is_searchable != ''}">
          <select id="issearchable" class="form-ctrl" name="issearchable" [(ngModel)]="editCustomComponentForm.is_searchable" >
            <option value="Y">Yes</option>
            <option value="N" selected>No</option>
          </select>
          <label for="issearchable">Is Searchable</label>
        </div>
      </div>

      <div class="c-lg-4">
        <div class="field-wrapper" [ngClass]="{'has-value': editCustomComponentForm.sequence_number != ''}">
          <input type="text" class="form-ctrl" OnlyNumber="true" maxlength="3" [(ngModel)]="editCustomComponentForm.sequence_number"
            name="sequencenumber" >
          <label for="sequencenumber">Sequence (Numerals Only)</label>
        </div>
      </div>

      <div class="c-lg-4">
        <div class="field-wrapper" [ngClass]="{'has-value': editCustomComponentForm.comp_length != ''}">
          <input type="text" class="form-ctrl" OnlyNumber="true" [(ngModel)]="editCustomComponentForm.comp_length" name="complength"
            >
          <label for="complength">Max- Length (Numerals Only)</label>
        </div>
      </div>

      <div class="c-lg-4">
        <div class="field-wrapper" [ngClass]="{'has-value': editCustomComponentForm.defaultValue != ''}">
          <input type="text" class="form-ctrl" [(ngModel)]="editCustomComponentForm.defaultValue" name="defVal" >
          <label for="defVal">Default Value</label>
        </div>
      </div>

      <div class="c-lg-4">
        <div class="field-wrapper" [ngClass]="{'has-value': editCustomComponentForm.is_external != ''}">
          <select id="isexternal" class="form-ctrl" name="isexternal" [(ngModel)]="editCustomComponentForm.is_external" >
            <option value="Y">Yes</option>
            <option value="N" selected>No</option>
          </select>
          <label for="isexternal">Is External</label>
        </div>
      </div>
    </div>

    <div class="" popup-footer>
      <div class="clearfix">
        <aside class="pull-right popup-btn">
          <input type="button" value="Cancel" class="btn">
          <input type="button" value="Update Field" class="fullBlue btn">
        </aside>
      </div>
    </div>

  </proctur-popup>

</div>