<div class="main_div">
  <div>
    <div class="settings">
      <span>
        <img src="../../../../assets/img/settings.svg">
        <span class="position">  Settings</span>
      </span>
    </div>
    <ul class="menu">
      <li class="selected"><a>SMS Configuration</a></li>
  
    </ul>
  </div>
  <div>
    <div class="flex1">
      <div>
        <span class="ellipse">G</span><span class="blue_line"></span>
      </div>
      <div>
        <p class="blue_settings">
          SMS Configuration
        </p>
      </div>
    </div>
    <div class="flex11">
      <div>
        <label for="gatewayName">Gateway Name<span class="danger">*</span></label>
      </div>
      <div>
        <input type="text" id="gateway_name" disabled name="gateway_name"[(ngModel)]=" smsGatewatModel.gateway_name" placeholder="gateway name..">
      </div>
    </div>       
        <div class="flex111">
          <div class="w25">
          <label for="userName">Username<span class="danger">*</span></label>
          </div>
      
          <div class="w25">
          <input type="text" id="userName" name="transaction_username" [(ngModel)]=" smsGatewatModel.transaction_username" placeholder="user name..">
        </div>

        <div class="w25">
          <label for="password">Password <span class="danger">*</span></label>
       
        </div>
       <div class="w25">  
        <input type="password" id="lname" name="transaction_password" [(ngModel)]=" smsGatewatModel.transaction_password" placeholder="password..">
        </div>

      </div>
      
        <div class="flex11">
          <div>
            <label for="smsId">SMS Sender ID<span class="danger">*</span></label>
          </div>
          <div class="w25">
            <input type="text" id="smsId" name="sender_id" [(ngModel)]=" smsGatewatModel.sender_id" placeholder="Sender id..">
          </div>
          </div>
          <div class="flex11">
              <div >
                <label for="brandName">Brand Name<span class="danger">*</span></label>
              </div>
              <div>
                <input type="text" id="brandName" name="brand_name" [(ngModel)]=" smsGatewatModel.brand_name" placeholder="brand name..">
              </div>
            </div>
  
              <div class="flex111">
                <div></div>
              <div >
                <label class="checkbox" style="margin-left:-10px;"> 
  
                  <span class="checkbox__input">
                    
  
                    <input type="checkbox" disabled name="checked" [(ngModel)]="smsGatewatModel.is_active" >
                    <span class="checkbox__control">
                     <svg viewBox='0 0 24 24' aria-hidden="true" focusable="false">
                        <path fill='none' stroke='currentColor' d='M1.3 12.91l6.37 6.37L22.79 4.59' /></svg>
                    </span>
                    
                  </span>
                </label>
              
              
                </div>
                <div><label for="ative" style="margin-left:-10px;">Is&nbsp;Active</label></div>
              </div>
                
              <div>
                <div class="col-25">
                  <label for="smsId">Important note</label>
                </div>
                <div class="col-75">
                 <p class="para"> If is active checkbox <mark class="mrk">Disable</mark> then SMS will be deliver from PROCTUR sender id and with same brand name.</p>&nbsp;
                  <p class="para">If is active checkbox <mark class="mrk">Enable</mark> then take all the details from Proctur side or raise a ticket for username and password.</p>
  
                </div>
              </div> 
  
              <div >              
                <div class="space">
                  <p for="dlt"><mark class="mrk1">Dlt process steps</mark></p> 
                 <p class="para">As per Telecom Regulatory TRAI guidelines, for sending SMS, each SMS has to be registered with DTL platform. We have been observing that some of our clients are not able to send SMS. To facilitate extended service to Proctur’s clients, We have come up with option 1 as an extended process.
                  <p class="para"><b>Option 1</b> -For immediate sending SMS, clients can use Sender Id as “PRCTUR”, but in this case brand name will be Proctur, for each SMS.</p>
                  <p class="para">• The option 1 is valid for a limited period only till your SMS Content Templates separately approved from DLT.
                    <p class="para"> • This is New process introduced by TRAI. We are also making efforts to smoothen the process from Proctur end .</p>
                      <p class="para"><b>Option 2- </b>Institute who are looking for SMS delivery with their own brand name. Please download the document. https://bit.ly/2RjEcUs and follow the process.</p>

  
                </div>
  
              </div>
              
  
             
  

              </div>
  <!-- </div> -->
</div>


<div class="display">
  <div></div>
  <div >
   
  
    <button class="blue_button" (click)="createSMSgateway()"*ngIf="!iscreated" >Save Setting</button>
    <button class="blue_button" (click)="updateSMSgateway()" *ngIf="iscreated" >Update Setting</button>


   
  </div>  
</div>