<overlay-menu *ngIf="isMenuVisible"></overlay-menu>

<!-- <core-header (changePassword)="changePasswordPopUp($event)" (enquiryUpdateAction)="updateEnquiryPopUp($event)" (hideSearchPopup)="searchViewMore($event)"
    (searchViewMore)="searchViewMore($event)"></core-header> -->


<!-- <core-sidednav (changePassword)="changePasswordPopUp($event)" (enquiryUpdateAction)="updateEnquiryPopUp($event)" (hideSearchPopup)="searchViewMore($event)"
    (searchViewMore)="searchViewMore($event)"></core-sidednav> -->

<app-side-bar (changePassword)="changePasswordPopUp($event)" (enquiryUpdateAction)="updateEnquiryPopUp($event)" (hideSearchPopup)="searchViewMore($event)"
    (searchViewMore)="searchViewMore($event)"></app-side-bar>

<router-outlet></router-outlet>

<!-- Change Password Popup Component -->

<app-change-password *ngIf="changePasswordComp" [institute_id]="institute_id" (close)="closeChangePasswordPopup($event)"></app-change-password>


<!-- Enquiry update popup -->

<app-enquiry-update-popup *ngIf="enquiryUpdateComp" [enqData]="enquiryInfo" (closePopUp)="closeEnquiryPopUp($event)"></app-enquiry-update-popup>

<!-- Global Search View More Component  -->

<app-global-search-popup *ngIf="isSearchMoreComp" [eventData]="searchMoreData" (closeViewMorePopUp)="closeViewMorePopUp($event)"
    (enquiryUpdateAction)="updateEnquiryPopUp($event)"></app-global-search-popup>
