<div class="middle-section clearFix">

  <div class="coming-soon-wrapper">
    <div class="logo">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/312465/Moby-08.svg" />
    </div>
    <div class="wave-wrapper">
      <div class="wave">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/312465/Moby%20Wave_White%20Fill.svg" />
      </div>
      <div class="cover-up"></div>
    </div>
    <div class="text">Something big is coming</div>
    <img class="wave-break" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/312465/Moby%20Wave_White%20Fill.svg" />
    <img class="logo-text" src="./assets/images/proctur.png" />
    <div class="copyright">&copy; EduSpace Technologies 2017</div>
  </div>

</div>