<div class="main-wrapper" >
    <core-header class="hide">
    </core-header>
    
    <div id="middleWrapper">
        <main>
            <loaders-css [loader]="'ball-scale-ripple-multiple'" class="app-loader-wrapper" 
            [loaderClass]="'blueRipple'" *ngIf="isRippleLoad">
            </loaders-css>
            <core-sidednav class="hide">
            </core-sidednav>
            <section class="middle-section clearFix">
                <div>
                <toaster-container [toasterconfig]="config"></toaster-container>
                </div>
                <router-outlet>
                </router-outlet>
            </section>
        </main>
    </div>
</div>