$pull-L: left;
$pull-R: right;
$pull-none: none;
$full-width: 100%;
$border-box: border-box;
$border-color: #deeaee;
$bg-white: #fff;
$error-color: #ff0000;
$common-blue: #0084f6;
$primary-color: #333;
$border-common:#eaeaeb;

/* ===============================header colors=======================*/

$header-bg:#0060A3;
$header-border:#eaeaeb;
$leftMenuBg:#fafafa;
$leftMenuHoverBg:#0084f6;
$leftMenuTextHoverColor:#fff;
$redBtn:#f44336;
$borderccc:#ccc;
$lightBlue:#eff7ff;
$tableHeadingBgColor: #004a7e;