<!-- <div class="row m-0 mb-4 filters-box">
  <div class="col-md-3">
    <select name="" class="form-control form-control-sm">
      <option>Select Exam</option>
      <option>SSC CGL</option>
      <option>SSC CHSL</option>
    </select>
  </div>
  <div class="col-md-3">
    <select name="" class="form-control form-control-sm">
      <option>Select Subject</option>
      <option>SSC CGL</option>
      <option>SSC CHSL</option>
    </select>
  </div>
  <div class="col-md-6">
    <button class="btn btn-primary btn-sm btn-round">Add</button>
  </div>
</div> -->


<div class="row m-0 pt-0 product-list-wrapper ">
  <div class="col-md-12 table-wrapper p-0 ">
    <table class="table product-table">
      <thead class="product-table-head">
        <tr>
          <th width="5%">
            <div class="field-checkbox-wrapper">
              <input type="checkbox" class="form-checkbox" [(ngModel)]="selectAll"
                (ngModelChange)="selectAllDetails($event)" name="has_mock_tests" id="mock_test"> <label
                for="ch2"></label>
            </div>
          </th>
          <th width="45%" style="text-align: left;">Content</th>
          <th width="10%">Marks</th>
          <th class="text-center">Questions</th>
          <th class="text-center">Time</th>
          <th class="text-center">Difficulty</th>
        </tr>
      </thead>
      <tbody class="product-table-body">
        <tr *ngFor="let test of testlist; let i = index">
          <td>
            <div class="field-checkbox-wrapper">
              <input type="checkbox" class="form-checkbox" [checked]="test.isChecked" [(ngModel)]="test.isChecked"
                (ngModelChange)="selectVlaue($event)" [id]="'ch'+index">
                <label [for]="'ch'+index"></label>
            </div>
          </td>
          <td style="text-align: left;"> 
            <label >{{test.test_name}}</label>
          </td>
          <td>  {{test.total_marks}}</td>
          <td>
            {{test.total_question}}
          </td>
          <td>
            {{test.duration}}
          </td>
          <td class="text-center">
            {{test.difficulty_title}}
          </td>
        </tr>

        <ng-container *ngIf="testlist.length < 1">
          <tr>
            <td colspan="7">No Records Found</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
<div class="row basic-info-footer">
  <div class="col text-center">
    <button class="btn btn-outline-danger btn-round" (click)="gotoBack()">Cancel</button>
    <button class="btn btn-primary btn-round" (click)="gotoNext()">Save & Next</button>
  </div>

</div>