
.subjects-nav-bar{
    padding: 0.8em 1em;
    border-top: 1pt solid #ddd;
    margin-top: 1em;
    .btn-tab{
        border: 1pt solid #ddd;
        margin-right: 0.4em;
    }
}

.basic-info-footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1pt solid #f3f3f3;
    padding: 0.5em 0.8em;
    background: #fff;
    box-shadow: 0pt -2pt 6pt #e6e6e6;
    z-index: 5;
    .btn-round{
        padding: 0.2em 1em;
        border-radius: 2em;
        margin: 0.2em;
    }
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}   

.product-list-wrapper {
    padding: 1em;
  }
  .table {
    td,
    th {
      padding: 1.2em .6em !important;
      vertical-align: middle;
    }
  }
  
  .product-table {
    border-collapse: separate;
    border-spacing: 0 .8em;
  
    .product-table-head {
      background: #fff;
  
      tr {
        border: 0;
        cursor: default;
  
        th {
          border: 0;
          padding: .2em .6em;
          color: #999;
          font-weight: normal;
          border-top: 0;
        }
      }
    }
  
    .product-table-body {
      tr {
        box-shadow: 0 0 2pt #b9b9b9;
        border-radius: .2em;
  
        td {
          padding: .6em;
          font-size: 1em;
          border-top: 0;
        }
      }
    }
  }