<!-- <div>
    <div class="w98 p-15">
        <nav aria-label="breadcrumb ">
            <ol class="breadcrumb arr-right">
                <li style="color: #0084f6;" class="breadcrumb-item "><a routerLink="/view/course">Fees</a></li>
                <li class="breadcrumb-item "><a>Setup</a></li>
            </ol>
        </nav>
        <ul class="nav main-shadow">
            <li class="nav-item">
                <a class="nav-link" (click)="toggle('fee_types')" [ngClass]="(activeSession == 'fee_types') ? 'active' : ''" data-toggle="tab" >Fee Type</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="toggle('fee_structure')" [ngClass]="(activeSession == 'fee_structure') ? 'active' : ''" data-toggle="tab" >Fee Structure</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="toggle('fee_discount')" [ngClass]="(activeSession == 'fee_discount') ? 'active' : ''" data-toggle="tab" >Fee Discount</a>
            </li>
            </ul>
    </div>
    
    
  </div> -->
  <router-outlet></router-outlet>