<section class="middle-section clearFix" [ngBusy]="{busy: busy, message: 'Loading...', backdrop: false, delay: 100, maxDuration: 1000}">
    <aside class="middle-full row">

        <!--====================================middle Top section==========================-->
        <section class="middle-top mb0 clearFix">
            <h1 class="pull-left">
                Student List
            </h1>
            <aside class="pull-right">
                <input type="button" value="Add New Enquiry" class="btn" routerLink="/enquiry/addEnquiry">
                <input type="button" value="Add Student" class="btn" routerLink="/student/add">
            </aside>
        </section>
        <!--====================================middle <Main> section==========================-->
        <section class="middle-main clearFix" id="studentList">


            <section class="common-search-filter" id="searchFilter">
                <div class="filter-search">
                    <!-- Advanced Filter -->
                    <div class="filter-box clearFix">
                        <div class="c-lg-6 c-md-6 c-sm-6">
                            <div class="search-filter-wrapper">
                                <input type="text" class="normal-field" value="" placeholder="Search Student Name/Contact No.">
                                <input type="button" class="normal-btn fullBlue btn" value="Search">
                            </div>
                        </div>

                        <div class="c-lg-6 c-md-6 c-sm-6">
                            <div class="filter-right">
                                <input type="button" class="btn showFilterBtn" value="Filter" (click)="openAdvancedFilter()">
                                <a class="closeFilter" *ngIf="advancedFilter" (click)="closeAdvancedFilter()">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="3712 291 16 16">
                                        <g id="Group_1214" data-name="Group 1214" transform="translate(2700 -6)">
                                            <g id="Group_1213" data-name="Group 1213" transform="translate(34.189 -7.77)">
                                                <line id="Line_274" data-name="Line 274" class="cls-1" y2="19.798" transform="translate(992.81 305.77) rotate(45)"></line>
                                                <line id="Line_275" data-name="Line 275" class="cls-1" x1="19.798" transform="translate(978.81 305.77) rotate(45)"></line>
                                            </g>
                                            <rect id="Rectangle_686" data-name="Rectangle 686" style="stroke: none;" class="cls-2" width="16" height="16" transform="translate(1012 297)"></rect>
                                        </g>
                                    </svg>
                                    Close Advance Filter
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="filter-fields" *ngIf="advancedFilter">
                        <div class="row">
                            <div class="c-lg-3 c-md-3 c-sm-3">
                                <div class="field-wrapper customSelectWrapper">
                                    <select id="sStandard" class="form-ctrl" studentInput>
                                        <option></option>
                                        <option>Male</option>
                                    </select>
                                    <label for="sStandard">Select Standard</label>
                                </div>
                            </div>
                            <div class="c-lg-3 c-md-3 c-sm-3">
                                <div class="field-wrapper customSelectWrapper">
                                    <select id="masterCource" class="form-ctrl" studentInput>
                                        <option></option>
                                        <option>Male</option>
                                        <option>Male</option>
                                        <option>Male</option>
                                        <option>Male</option>
                                    </select>
                                    <label for="masterCource">Master Cource</label>
                                </div>
                            </div>
                            <div class="c-lg-3 c-md-3 c-sm-3">
                                <div class="field-wrapper customSelectWrapper">
                                    <select id="sCourse" class="form-ctrl" studentInput>
                                        <option></option>
                                        <option>Course</option>
                                    </select>
                                    <label for="sCourse">Course</label>
                                </div>
                            </div>
                            <div class="c-lg-3 c-md-3 c-sm-3">
                                <div class="radio-options">
                                    <div class="field-radio-wrapper">
                                        <input type="radio" value="" name="sFilter" class="form-radio" id="active">
                                        <label for="active">Active</label>
                                    </div>
                                    <div class="field-radio-wrapper">
                                        <input type="radio" value="" name="sFilter" class="form-radio" id="Inactive">
                                        <label for="Inactive">Inactive</label>
                                    </div>
                                    <div class="field-radio-wrapper">
                                        <input type="radio" value="" name="sFilter" class="form-radio" id="both">
                                        <label for="both">both</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="c-lg-3 c-md-3 c-sm-3">
                                <div class="field-wrapper customSelectWrapper">
                                    <select id="icustom" class="form-ctrl" studentInput>
                                        <option></option>
                                        <option>Male</option>
                                    </select>
                                    <label for="icustom">Institutional/Custom2</label>
                                </div>
                            </div>
                            <div class="c-lg-3 c-md-3 c-sm-3">
                                <div class="field-wrapper customSelectWrapper">
                                    <select id="eno" class="form-ctrl" studentInput>
                                        <option></option>
                                        <option>Enrollment No</option>
                                    </select>
                                    <label for="eno">Enrollment No.</label>
                                </div>
                            </div>
                            <div class="c-lg-3 c-md-3 c-sm-3">
                                <input type="button" class="btn filterSearchBtn redBtn" value="Search Now">
                            </div>
                        </div>
                    </div>

                </div>
            </section>



            <section class="search-data">


                <!-- Data Download and Export Options Here -->
                <div class="row class filter-res">
                    <div class="c-lg-6 c-md-6 c-sm-6">
                        <label>Showing 1 to 6 of 215 Students</label>
                    </div>
                    <div class="c-lg-6 c-md-6 c-sm-6 align-right">
                        <ul class="export-print">
                            <li class="report-icon">
                                Student Report
                            </li>
                            <li class="">

                            </li>
                            <li class="export-icon">
                                Export
                            </li>
                        </ul>
                    </div>
                </div>


                <!-- Student  Table  Here-->
                <div class="row">
                    <div class="c-lg-12 c-md-12 c-sm-12">
                        <div class="table table-responsive student-table">
                            <table class="align-center">
                                <thead>
                                    <tr>
                                        <th>
                                            <div class="field-checkbox-wrapper">
                                                <input type="checkbox" value="" [(ngModel)]="isAllSelected" (ngModelChange)="toggleSelectAll($event)" name="check" class="form-checkbox">
                                                <label>asdf</label>
                                            </div>
                                        </th>
                                        <th>
                                            <label>
                                                Student ID
                                            </label>
                                        </th>
                                        <th>
                                            <label>
                                                Student Name
                                            </label>
                                        </th>
                                        <th>
                                            <label>
                                                Contact No.
                                            </label>
                                        </th>
                                        <th>
                                            <label>
                                                Joining Date
                                            </label>
                                        </th>
                                        <th>
                                            <label>
                                                Standard/Class
                                            </label>
                                        </th>
                                        <th>
                                            <label>
                                                Parent Contact No.
                                            </label>
                                        </th>
                                        <th>
                                            <label>
                                                Cources Assigned
                                            </label>
                                        </th>
                                        <th>
                                            <label>

                                            </label>
                                        </th>
                                        <th>
                                            <label>

                                            </label>
                                        </th>
                                        <th>
                                            <label>
                                                Note
                                            </label>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr [id]="row +i" class="" *ngFor="let row of studentDataSource; let i of index" (click)="rowclicked(row, i)">
                                        <td>
                                            <div class="field-checkbox-wrapper">
                                                <input type="checkbox" [(ngModel)]="row.isSelected" name="check" class="tbodycheck form-checkbox">
                                                <label>sdf</label>
                                            </div>
                                        </td>
                                        <td>
                                            <label>
                                                {{row.data.student_id}}
                                            </label>
                                        </td>
                                        <td>
                                            <label>
                                                <a href="javascript:void(0)">
                                                    {{row.data.student_name}}
                                                </a>
                                            </label>
                                        </td>
                                        <td>
                                            <label>
                                                {{row.data.student_phone}}
                                            </label>
                                        </td>
                                        <td>
                                            <label>
                                                {{row.data.doj}}
                                            </label>
                                        </td>
                                        <td>
                                            <label>
                                                {{row.data.student_class}}
                                            </label>
                                        </td>
                                        <td>
                                            <label>
                                                {{row.data.parent_phone}}
                                            </label>
                                        </td>
                                        <td>
                                            <label>
                                                <a href="javascript:void(0)">
                                                    {{row.data.noOfBatchesAssigned}}
                                                </a>
                                            </label>
                                        </td>
                                        <td>
                                            <label>
                                                <a>Edit</a>
                                            </label>
                                        </td>
                                        <td>
                                            <label>
                                                <a>Delete</a>
                                            </label>
                                        </td>
                                        <td>
                                            <div class="tooltip-table pos-rel">
                                                <a href="javascript:void(0)">
                                                    <i class="fa fa-sticky-note-o" aria-hidden="true"></i>
                                                </a>
                                                <div class="tooltip-box">
                                                    Any comments/notes to be mentioned over here
                                                </div>
                                            </div>

                                        </td>
                                        <td>
                                            <label>

                                            </label>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


            </section>
        </section>

    </aside>
</section>