<div class="container-fluid product-group-wrapper">
    <div class="row m-0 pt-2 pb-3 action-bar">
      <div class="col-md-8 col-sm-8">
        <section class="middle-top clearFix bulk-header">
          <div>
            <h1 class="pull-left">
              <a routerLink="/view/products" style="padding:0px; ">
                Product
              </a>
              <i style="font-family: 'FontAwesome';" class="fas fa-angle-right"></i>
               <span> Manage Groups</span>
            </h1>
          </div>      
        </section>      
      </div>
      <div class="col-md-4 col-sm-4 text-right m-auto">
        <button class="btn  btn-product btn-sm" (click)="openAddEditModal(0)" data-toggle="modal" data-backdrop="static" data-target="#addEditGroupModal">New Group <span class="add-icon"></span></button>
      </div>
    </div>
  
    <div class="row m-0">
      <div class="col-md-12">
        <table class="table data-table">
          <thead>
            <tr>
              <th width="10%">PGID</th>
              <th>PG Name</th>
              <th class="text-center">Status</th>
              <th width="20%">Action</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngIf="groupList.length > 0">
              <tr *ngFor="let item of groupList" >
                <td>{{item.product_group_id}}</td>
                <td>
                  <p class="mb-1 text-bold">{{item.title}}</p>
                  <p class="text-gray text-small mb-0">{{item.tagline}}</p>
                </td>
                <td class="text-center">
                  <span class="text-active" *ngIf="item.is_active == 1">Active</span>
                  <span class="text-inactive" *ngIf="item.is_active == 0">Inactive</span>
                  <button class="btn-link btn-xs text-small text-secondary" style="border: none;" (click)="changeStatus(item.product_group_id)">
                    <i class="fa fa-exchange"></i>
                  </button>
                </td>
                <td>
                  <button class="btn btn-outline-primary btn-sm" (click)="openAddEditModal(item.product_group_id)" >Edit</button>
                  &nbsp;
                  <button class="btn btn-outline-danger btn-sm" (click)="deleteGroupModal(item.product_group_id)">Delete</button>
                </td>
              </tr>
            </ng-container>
  
            <ng-container *ngIf="groupList.length < 1">
              <tr >
                <td colspan="4">No Records Found</td>
              </tr>
            </ng-container>
            
            <ng-container *ngIf="groupListLoading">
              <tr >
                <td colspan="4" class="text-center">
                  <i class="fa fa-spinner"></i>&nbsp; Loading...
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
      <div class="col-md-12" style="text-align: right;"  *ngIf="(groupList.length > 0) && !groupListLoading">
        <span class="float-left">{{groupList.length}} of {{total_items}} items</span>
        <button class="btn btn-light btn-sm float-right" *ngIf="groupList.length < total_items" (click)="loadMoreItems()">Load More</button>
      </div>
    </div>
  </div>
  
  
  
  <!-- Add/Edit Group -->
  <div class="modal fade" id="addEditGroupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header" >
          <h5 class="modal-title" style="font-weight: 600;font-size: 16px;" id="exampleModalLongTitle">{{groupForm.operation}} Group</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form (submit)="addEditGroup()">
            <div class="form-group" style="font-weight: 600;">
              <label>Group Name</label>
              <input type="hidden" [(ngModel)]="groupForm.product_group_id" name="product_group_id">
              <input type="text" [(ngModel)]="groupForm.title" name="title" class="form-control form-control-sm" placeholder="Group Name">
            </div>
            <div class="form-group" style="font-weight: 600;">
              <label>Tagline</label>
              <textarea  [(ngModel)]="groupForm.tagline" name="tagline" class="form-control form-control-sm" placeholder="One or two lines sentences to describe your product group."></textarea>
            </div>
            <div class="form-group text-right m-0">
              <button type="button" class="btn  btn_popup" data-dismiss="modal">Cancel</button>
              &nbsp;
              <button type="submit" class="btn btn-primary btn_popup ">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  
  
  <!-- Delete Group -->
  <div class="modal fade" id="deleteGroupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body text-center">
          <div class="form-group">
            <p class="lead">Do you want to delete <B>"{{deleteItem.title}}"</B>?</p>
          </div>
          <div class="form-group m-0">
            <button type="button" class="btn btn-light btn-sm" data-dismiss="modal">Cancel</button>
            &nbsp;
            <button type="submit" class="btn btn-danger btn-sm" (click)="confirmDelete(deleteItem.product_group_id)">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>