.product-group-wrapper {
  padding: .8em;
}

.btn-product {
  border-radius: 1.2em;
  padding-left: .8em;
  padding-right: .8em;
}

.btn-light {
  border-color: #bdbdbd !important;
  padding: .4em .6em;
  font-size: .8em;
  line-height: 1;
  color: #212529 !important;
  background-color: #f8f9fa;

  &:hover {
    color: #212529;
    background-color: #e2e6ea;
    border-color: #dae0e5;
  }
}

.btn-outline-danger {
  color: indianred;
  background-color: #fff;
  border-color: indianred;

  &:hover {
    color: #fff;
    background-color: #ac2925;
    border-color: #761c19;
  }
}

.btn-outline-primary {
  color: #007bff;
  background-color: #fff;
  border-color: #007bff;

  &:hover {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
  }
}

.text-active {
  color: darkgreen;
}

.text-inactive {
  color: darkred;
}

.text-bold {
  font-weight: 600;
}


.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn_popup{
  padding: .4em .6em;
  /* font-size: .8em; */
  line-height: 1;
  color: #212529 ;
  background-color: #f8f9fa
}
.modal-header .close {
  margin-top: -25px;
}

.btn-product{
  
  color: #fff;
  background-color: #0066b7;
  &:hover{
    background-color: #007bff;
  
  }
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  border: 1pt solid #ddd;

  //#0066b7
  thead {
    background: #eaeaea;
    th {
      vertical-align: bottom;
      border-bottom: 2px solid #dee2e6;
      background: #eaeaea;
    }
  }
}

.action-bar {
  .form-el-width {
    max-width: 25%;
    display: inline-block;
    margin: .4em;
    vertical-align: middle;
  }

  .add-icon {
    font-size: 1.2em;
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: -2px;
    margin-left: 4px;
    border-radius: 100%;
    color: #fff;

    &:before {
      content: '+';
    }
  }
}
