<loaders-css [loader]="'ball-scale-ripple-multiple'" class="app-loader-wrapper" [loaderClass]="'blueRipple'" *ngIf="isRippleLoad">
</loaders-css>
<section class="middle-section clearFix" [ngBusy]="{busy: busy, message: 'Loading...', delay: 100, maxDuration: 1000}">
  <section class="cal-view">
    <aside class="boxPadding15">
      <!-- ==================================================================================== -->
      <!-- ==================================================================================== -->
      <!-- ========================== Header Section ========================================== -->
      <section class="middle-top clearFix">
        <h1 class="pull-left">
          Class Schedule
        </h1>
        <aside class="pull-right">
          <input type="button" value="Create Class" class="btn">
          <input type="button" value="Create Exam" class="btn">
        </aside>
      </section>
      <!-- ==================================================================================== -->
      <!-- ==================================================================================== -->
      <!-- ========================== Body Section ============================================ -->
      <section class="schedule-class-box">
        <!-- ==================================================================================== -->
        <!-- ==================================================================================== -->
        <!-- ========================== Search bar ============================================== -->
        <section class="common-search-filter">
          <div class="filter-search">
            <div class="filter-box clearFix">
              <div class="row">
                <div class="c-lg-12 c-md-12 c-sm-12">
                  <div class="search-filter-wrapper" *ngIf="isProfessional">
                    <div class="c-lg-3 c-md-3 c-sm-3">
                      <div class="field-wrapper" [ngClass]="{'has-value': fetchMasterBatchModule.standard_id != '-1'}">
                        <select id="smc" class="form-ctrl" [(ngModel)]="fetchMasterBatchModule.standard_id" (ngModelChange)="updateSubjectList($event)">
                          <option value="-1"></option>
                          <option [value]="std.standard_id" *ngFor="let  std of courseModelStdList">
                            {{std.standard_name}}
                          </option>
                        </select>
                        <label for="smc">Select Master Course</label>
                      </div>
                    </div>
                    <div class="c-lg-3 c-md-3 c-sm-3">
                      <div class="field-wrapper" [ngClass]="{'has-value': fetchMasterBatchModule.subject_id != '-1'}">
                        <select id="sc" class="form-ctrl" [(ngModel)]="fetchMasterBatchModule.subject_id" (ngModelChange)="filterSubjectBatches($event)">
                          <option value="-1"></option>
                          <option [value]="subject.subject_id" *ngFor="let subject of courseModelSubList">
                            {{subject.subject_name}}
                          </option>
                        </select>
                        <label for="sc">Select Course</label>
                      </div>
                    </div>
                    <div class="c-lg-3 c-md-3 c-sm-3">
                      <div class="field-wrapper" [ngClass]="{'has-value': fetchMasterBatchModule.batch_id != '-1'}">
                        <select id="bn" class="form-ctrl" [(ngModel)]="fetchMasterBatchModule.batch_id" (ngModelChange)="batchUpdated($event)">
                          <option value="-1"></option>
                          <option [value]="batch.batch_id" *ngFor="let batch of courseModelBatchList">
                            {{batch.batch_name}}
                          </option>
                        </select>
                        <label for="bn">Select Batch Name</label>
                      </div>
                    </div>
                    <div class="c-lg-3 c-md-3 c-sm-3">
                      <input type="button" class="fullBlue btn" value="Enter" (click)="submitMasterBatch()">
                    </div>
                  </div>
                  <div class="search-filter-wrapper" *ngIf="!isProfessional">
                    <div class="row" style="margin-left:15px">
                      <div class="c-lg-3 c-md-3 c-sm-3">
                        <div class="field-wrapper" [ngClass]="{'has-value': fetchMasterCourseModule.master_course != '-1'}">
                          <select id="smc" class="form-ctrl" [(ngModel)]="fetchMasterCourseModule.master_course" (ngModelChange)="updateCourseList($event)">
                            <option value="-1"></option>
                            <option [value]="master.master_course" *ngFor="let  master of masterCourse">
                              {{master.master_course}}
                            </option>
                          </select>
                          <label for="smc">Select Master Course</label>
                        </div>
                      </div>
                      <div class="c-lg-3 c-md-3 c-sm-3">
                        <div class="field-wrapper" [ngClass]="{'has-value': fetchMasterCourseModule.course_id != '-1'}">
                          <select id="sc" class="form-ctrl" [(ngModel)]="fetchMasterCourseModule.course_id" (ngModelChange)="onCourseListSelection($event)">
                            <option value="-1"></option>
                            <option [value]="course.course_id" *ngFor="let course of courseList">
                              {{course.course_name}}
                            </option>
                          </select>
                          <label for="sc">Select Course</label>
                        </div>
                      </div>
                      <div class="c-lg-3 c-md-3 c-sm-3">
                        <div class="field-wrapper datePickerBox" [ngClass]="{'has-value': (fetchMasterCourseModule.requested_date != 'Invalid date' && fetchMasterCourseModule.requested_date != '' )}">
                          <input type="text" value="" id="csd" class="form-ctrl bsDatepicker" [(ngModel)]="fetchMasterCourseModule.requested_date"
                            readonly="true" name="csd" bsDatepicker>
                          <label for="csd">Class Schedule Date *</label>
                          <span class="date-clear" name="csdc" (click)="fetchMasterCourseModule.requested_date = ''">clear</span>
                        </div>
                      </div>
                      <div class="c-lg-3 c-md-3 c-sm-3">
                        <input type="button" class="fullBlue btn" value="Enter" (click)="submitMasterCourse()">
                      </div>
                    </div>
                    <div class="row" *ngIf="courseStartDate" style="margin-top:10px;margin-left:15px">
                      <div class="c-lg-3 c-md-3 c-sm-3">
                        <label>Course Duration</label>
                      </div>
                      <div class="c-lg-3 c-md-3 c-sm-3">
                        <span>Start Date: {{courseStartDate}}</span>
                      </div>
                      <div class="c-lg-3 c-md-3 c-sm-3">
                        <span>End Date: {{courseEndDate}}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- ==================================================================================== -->
        <!-- ==================================================================================== -->
        <!-- ========================== View Type List/Calendar ================================= -->
        <section class="schedule-class" *ngIf="isClassFormFilled">
          <div class="row">
            <div class="c-lg-7 c-sm-7 c-md-7 c-xs-12">
              <div class="schedule-class-left">
                <label>Schedule Class</label>
              </div>
            </div>
            <div class="c-lg-5 c-sm-5 c-md-5 c-xs-12 align-right">
              <!-- <input type="button" value="Calendar View fullBlue" class="btn fullBlue">
                <input type="button" value="List View" class="btn "> -->
            </div>
          </div>
        </section>
        <!-- ==================================================================================== -->
        <!-- ==================================================================================== -->
        <!-- ========================== View Type List/Calendar ================================= -->
        <section class="classSchedule-Add" *ngIf="isClassFormFilled">
          <!-- <div class="row">
            <div class="c-lg-4 c-sm-4 c-md-4 c-xs-12">
              <div class="field-wrapper has-value">
                <select id="class_freq" class="form-ctrl" [(ngModel)]="selectedClassFrequency" (ngModelChange)="updateClassFrequency($event)">
                  <option [value]="freq.data_key" *ngFor="let freq of classFrequency">
                    {{freq.data_value}}
                  </option>
                </select>
                <label for="class_freq">Class Schedule Frequency</label>
              </div>
            </div>
            <div class="c-lg-3 c-sm-3 c-md-3 c-xs-6">
              <fieldset>
                <legend>Start Time</legend>
                <div class="time-picker">
                  <div class="field-wrapper hour" [ngClass]="{'has-value': timepicker.universalStartTime.hour != ''}">
                    <select id="uniStartHour" class="form-ctrl ng-valid ng-touched ng-dirty" [(ngModel)]="timepicker.universalStartTime.hour"
                      name="uniStartHour">
                      <option *ngFor="let hour of hourArr" [value]="hour">
                        {{hour}}
                      </option>
                    </select>
                    <label for="uniStartHour">Hour</label>
                  </div>
                  <div class="field-wrapper minute" [ngClass]="{'has-value': timepicker.universalStartTime.minute != ''}">
                    <select id="uniStartMinute" class="form-ctrl ng-valid ng-touched ng-dirty" [(ngModel)]="timepicker.universalStartTime.minute"
                      name="uniStartMinute">
                      <option *ngFor="let minute of minArr" [value]="minute">
                        {{minute}}
                      </option>
                    </select>
                    <label for="uniStartMinute">Minute</label>
                  </div>
                  <div class="field-wrapper meridian" [ngClass]="{'has-value': timepicker.universalStartTime.meridian != ''}">
                    <select id="uniStartHour" class="form-ctrl ng-valid ng-touched ng-dirty" [(ngModel)]="timepicker.universalStartTime.meridian"
                      name="uniStartHour">
                      <option *ngFor="let meridian of meridianArr" [value]="meridian">
                        {{meridian}}
                      </option>
                    </select>
                    <label for="uniStartHour">Meridian</label>
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="c-lg-3 c-sm-3 c-md-3 c-xs-6">
              <fieldset>
                <legend>
                  End Time
                </legend>
                <div class="time-picker">
                  <div class="field-wrapper hour" [ngClass]="{'has-value': timepicker.universalEndTime.hour != ''}">
                    <select id="uniEndHour" class="form-ctrl ng-valid ng-touched ng-dirty" [(ngModel)]="timepicker.universalEndTime.hour" name="uniEndHour">
                      <option *ngFor="let hour of hourArr" [value]="hour">
                        {{hour}}
                      </option>
                    </select>
                    <label for="uniEndHour">Hour</label>
                  </div>
                  <div class="field-wrapper minute" [ngClass]="{'has-value': timepicker.universalEndTime.minute != ''}">
                    <select id="uniEndMinute" class="form-ctrl ng-valid ng-touched ng-dirty" [(ngModel)]="timepicker.universalEndTime.minute"
                      name="uniEndMinute">
                      <option *ngFor="let minute of minArr" [value]="minute">
                        {{minute}}
                      </option>
                    </select>
                    <label for="uniEndMinute">Minute</label>
                  </div>
                  <div class="field-wrapper meridian" [ngClass]="{'has-value': timepicker.universalEndTime.meridian != ''}">
                    <select id="uniEndHour" class="form-ctrl ng-valid ng-touched ng-dirty" [(ngModel)]="timepicker.universalEndTime.meridian"
                      name="uniEndHour">
                      <option *ngFor="let meridian of meridianArr" [value]="meridian">
                        {{meridian}}
                      </option>
                    </select>
                    <label for="uniEndHour">Meridian</label>
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="c-lg-2 c-sm-4 c-md-4 c-xs-12">
              <input type="button" value="Apply" class="btn redBtn" (click)="applySelectedFrequency()">
            </div>
          </div> -->

          <div class="row">
            <div class="pull-left">

            </div>
            <div class="pull-right">
              <button class="btn" (click)="copyCourseSchedule()">Copy Course Schedule</button>
              <button class="btn" (click)="cancelCourseSchedule()">Cancel</button>
              <button class="btn" (click)="sendReminder()">Send Reminder</button>
            </div>
          </div>
          <div class="row">
            <div class="field-wrapper c-sm-2 c-md-2 c-lg-2">
              <select id="tsesesese" class="form-ctrl" name="row.subject_id" [(ngModel)]="addClassDetails.subject_id">
                <option value="-1"> </option>
                <option *ngFor="let opt of subjectListDataSource" [value]="opt.subject_id">
                  {{opt.subject_name}}
                </option>
              </select>
              <label for="row.subject_id">Subject Name</label>
            </div>
            <div class="time-picker c-sm-2 c-md-2 c-lg-2">
              <div class="field-wrapper has-value">
                <select id="hour" class="form-ctrl ng-valid ng-touched ng-dirty" [(ngModel)]="addClassDetails.start_hour" name="hour" style="background: transparent">
                  <option *ngFor="let hour of hourArr" [value]="hour">
                    {{hour}}
                  </option>
                </select>
                <label for="hour">Hour</label>
              </div>
              <div class="field-wrapper has-value">
                <select id="minute" class="form-ctrl ng-valid ng-touched ng-dirty" [(ngModel)]="addClassDetails.start_minute" name="minute"
                  style="background: transparent">
                  <option *ngFor="let minute of minArr" [value]="minute">
                    {{minute}}
                  </option>
                </select>
                <label for="minute">Minute</label>
              </div>
              <div class="field-wrapper has-value">
                <select id="hour" class="form-ctrl ng-valid ng-touched ng-dirty" [(ngModel)]="addClassDetails.start_meridian" name="meridian"
                  style="background: transparent">
                  <option *ngFor="let meridian of meridianArr" [value]="meridian">
                    {{meridian}}
                  </option>
                </select>
                <label for="meridian">Meridian</label>
              </div>
            </div>

            <div class="time-picker c-sm-2 c-md-2 c-lg-2">
              <div class="field-wrapper has-value">
                <select id="hour" class="form-ctrl ng-valid ng-touched ng-dirty" [(ngModel)]="addClassDetails.end_hour" name="hour" style="background: transparent">
                  <option *ngFor="let hour of hourArr" [value]="hour">
                    {{hour}}
                  </option>
                </select>
                <label for="hour">Hour</label>
              </div>
              <div class="field-wrapper has-value">
                <select id="minute" class="form-ctrl ng-valid ng-touched ng-dirty" [(ngModel)]="addClassDetails.end_minute" name="minute"
                  style="background: transparent">
                  <option *ngFor="let minute of minArr" [value]="minute">
                    {{minute}}
                  </option>
                </select>
                <label for="minute">Minute</label>
              </div>
              <div class="field-wrapper has-value">
                <select id="hour" class="form-ctrl ng-valid ng-touched ng-dirty" [(ngModel)]="addClassDetails.end_meridian" name="meridian"
                  style="background: transparent">
                  <option *ngFor="let meridian of meridianArr" [value]="meridian">
                    {{meridian}}
                  </option>
                </select>
                <label for="meridian">Meridian</label>
              </div>
            </div>

            <div class="field-wrapper c-sm-2 c-md-2 c-lg-2">
              <select id="" class="form-ctrl" name="row.category_id" [(ngModel)]="addClassDetails.teacher_id">
                <option value="-1"></option>
                <option *ngFor="let opt of teacherListDataSource" [value]="opt.teacher_id">
                  {{opt.teacher_name}}
                </option>
              </select>
              <label for="row.category_id">Teacher Name</label>
            </div>

            <div class="field-wrapper c-sm-2 c-md-2 c-lg-2">
              <input type="textbox" class="form-ctrl" name="label" [(ngModel)]="addClassDetails.desc">
              <label for="label">Description</label>
            </div>

            <div class="field-wrapper c-sm-2 c-md-2 c-lg-2">
              <input type="text" class="form-ctrl" name="label" [(ngModel)]="addClassDetails.roomNo">
              <label for="label">Room No</label>
            </div>

            <div class="c-sm-2 c-md-2 c-lg-2">
              <select id="" class="form-ctrl" name="row.category_id" [(ngModel)]="addClassDetails.customListData" style="background: transparent;">
                <option *ngFor="let opt of customListDataSource">
                  {{opt}}
                </option>
              </select>
              <label for="row.category_id">Class Type</label>

              <i (click)="addClassSchedule()" class="fal fa-plus-circle" style="font-family: FontAwesome ;font-size: 19px;"></i>
            </div>

          </div>
          <div class="table-wrapper">
            <div class="table-scroll-wrapper">
              <div class="table table-responsive">
                <table>
                  <thead>
                    <tr>
                      <th>
                        Subject
                        <span style="color:red">*</span>
                      </th>
                      <th>
                        Start Time
                        <span style="color:red">*</span>
                      </th>
                      <th>
                        End Time
                        <span style="color:red">*</span>
                      </th>
                      <th>
                        Select Tutor
                        <span style="color:red">*</span>
                      </th>
                      <th>
                        Class Description
                      </th>
                      <th>
                        Room No.
                      </th>
                      <th>
                        Class Type
                      </th>
                      <th>

                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr id="row{{i}}" *ngFor="let row of classScheduleArray; let i= index ; trackBy : index">
                      <td>
                        {{row.subject_name}}
                      </td>
                      <td>
                        {{row.start_time}}
                      </td>
                      <td>
                        {{row.end_time}}
                      </td>
                      <td>
                        <select id="" class="form-ctrl" name="row.category_id" [(ngModel)]="row.teacher_id">
                          <option value="-1"></option>
                          <option *ngFor="let opt of teacherListDataSource" [value]="opt.teacher_id">
                            {{opt.teacher_name}}
                          </option>
                        </select>
                      </td>
                      <td>
                        <div class="field-wrapper">
                          <input type="text" class="form-ctrl editCellInput" [(ngModel)]="row.class_desc" name="label">
                        </div>
                      </td>
                      <td>
                        <div class="field-wrapper">
                          <input type="text" class="form-ctrl editCellInput" [(ngModel)]="row.room_no" name="label">
                        </div>
                      </td>

                      <td>
                        <select id="" class="form-ctrl" name="row.category_id" [(ngModel)]="row.custom_class_type">
                          <option *ngFor="let opt of customListDataSource">
                            {{opt}}
                          </option>
                        </select>
                      </td>

                      <td>

                        <select *ngIf="(row.class_schedule_id != 0)" id="" class="form-ctrl" name="row.category_id" (change)="weeklyScheduleChange($event , row)">
                          <option value="1">Does Not Repeat</option>
                          <option value="2">Select Dates</option>
                          <option value="3">Custom Recurrence</option>
                        </select>

                        <i class="fas fa fa-trash" style="font-size: 19px;font-family: FontAwesome;" (click)="removeRowFromSchedule(i , row)"></i>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="row">
            <button class="btn" (click)="saveCourseSchedule()">Save</button>
          </div>
        </section>
        <!-- ==================================================================================== -->
        <!-- ==================================================================================== -->
        <!-- ========================== View Type List/Calendar ================================= -->
        <section class="classSchedule-Table" *ngIf="isClassFormFilled">
          <div class="row">
            <div class="table-scroll-wrapper">
              <div class="table table-responsive">

              </div>
            </div>
          </div>
        </section>
        <!-- ==================================================================================== -->
        <!-- ==================================================================================== -->
        <!-- ========================== Day/Weekly/Mothly ========================================== -->
        <!-- <section class="view-tab" *ngIf="isClassFormFilled">
            <ul class="clearFix">
              <li>
                <a href="#" class="btn fullBlue">Day view</a>
              </li>
              <li>
                <a href="javascript:void(0)" class="btn">Weekly view</a>
              </li>
              <li>
                <a href="#" class="btn">Monthly view</a>
              </li>
            </ul>
          </section> -->
        <!-- ==================================================================================== -->
        <!-- ==================================================================================== -->
        <!-- ========================== Week Span ========================================== -->
        <!-- <section class="view-c-detail" *ngIf="isClassFormFilled">
            <div class="row">
              <div class="c-lg-2 c-md-2 c-sm-2 vcd-l">
                <label>May /
                  <strong>Jun</strong>
                </label>
              </div>
              <div class="c-lg-8 c-md-8 c-sm-8 align-center  vcd-l date-arrow">
                <div>
                  <span class="">01 Jun - 07 Jun 2017</span>
                </div>
              </div>
              <div class="c-lg-2 c-md-2 c-sm-2 align-right filter-search">
                <ul class="export-print pull-right">
                  <li class="print-icon">Print Time Table</li>
                </ul>
              </div>
            </div>
          </section> -->
        <!-- ==================================================================================== -->
        <!-- ==================================================================================== -->
        <!-- ========================== Weeks Tabs and Navigator ================================ -->
        <!-- <section class="calender-course clearFix" *ngIf="isClassFormFilled">
            <div class="cal-left c-control"></div>
            <ul>
              <li class="active">
                <div class="calender-class-detail">
                  <div class="pull-left">
                    <span class="c-date">01</span>
                  </div>
                  <div class="pull-right">
                    <span class="exam-is"></span>
                    <span class="class-cancel blue">x</span>
                  </div>
                </div>
              </li>
              <li>
                <div class="calender-class-detail">
                  <div class="pull-left">
                    <span class="c-date">01</span>
                  </div>
                  <div class="pull-right">
                    <span class="exam-is"></span>
                    <span class="class-cancel blue">x</span>
                  </div>
                </div>
              </li>
              <li>
                <div class="calender-class-detail">
                  <div class="pull-left">
                    <span class="c-date">01</span>
                  </div>
                  <div class="pull-right">
                    <span class="exam-is"></span>
                    <span class="class-cancel blue">x</span>
                  </div>
                </div>
              </li>
              <li>
                <div class="calender-class-detail">
                  <div class="pull-left">
                    <span class="c-date">01</span>
                  </div>
                  <div class="pull-right">
                    <span class="exam-is"></span>
                    <span class="class-cancel blue">x</span>
                  </div>
                </div>
              </li>
              <li>
                <div class="calender-class-detail">
                  <div class="pull-left">
                    <span class="c-date">01</span>
                  </div>
                  <div class="pull-right">
                    <span class="exam-is"></span>
                    <span class="class-cancel blue">x</span>
                  </div>
                </div>
              </li>
              <li>
                <div class="calender-class-detail">
                  <div class="pull-left">
                    <span class="c-date">01</span>
                  </div>
                  <div class="pull-right">
                    <span class="exam-is"></span>
                    <span class="class-cancel blue">x</span>
                  </div>
                </div>
              </li>
              <li>
                <div class="calender-class-detail">
                  <div class="pull-left">
                    <span class="c-date">01</span>
                  </div>
                  <div class="pull-right">
                    <span class="exam-is"></span>
                    <span class="class-cancel blue">x</span>
                  </div>
                </div>
              </li>
              <li>
                <div class="calender-class-detail">
                  <div class="pull-left">
                    <span class="c-date">01</span>
                  </div>
                  <div class="pull-right">
                    <span class="exam-is"></span>
                    <span class="class-cancel blue">x</span>
                  </div>
                </div>
              </li>
              <li>
                <div class="calender-class-detail">
                  <div class="pull-left">
                    <span class="c-date">01</span>
                  </div>
                  <div class="pull-right">
                    <span class="exam-is"></span>
                    <span class="class-cancel blue ">x</span>
                  </div>
                </div>
              </li>
            </ul>
            <div class="cal-right c-control"></div>
          </section> -->
        <!-- ==================================================================================== -->
        <!-- ==================================================================================== -->
        <!-- ========================== Class Schedule Table ==================================== -->
        <!-- <section class="clearFix calender-view1" *ngIf="isClassFormFilled">
            <div class="table-responsive">
              <table>
                <tbody>
                  <tr>
                    <th>Type</th>
                    <th>Subject</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Teacher</th>
                    <th>Topic</th>
                    <th>Home Work</th>
                    <th width="100">Status</th>
                    <th width="115">Action</th>
                  </tr>
                </tbody>
                <tbody class="table-accor-head active">
                  <tr>
                    <td colspan="9">
                      <div class="accordian-heading">
                        <h4 class="clearFix">
                          <span class="close-accor">-</span>
                          <span class="open-accor">+</span>
                          <span class="date-c">01 March 2017</span>
                          <span class="pull-right delete-icon">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                          </span>
                          <span class="pull-right mail-notification"></span>
                        </h4>
                      </div>
                    </td>
                  </tr>
                </tbody>
                <tbody class="table-accor-view">
                  <tr>
                    <td>Regular</td>
                    <td>Maths</td>
                    <td>10:00 Am</td>
                    <td>10:00 Am</td>
                    <td>Ankita</td>
                    <td>Geometry ...</td>
                    <td>Exercise No.2</td>
                    <td>
                      <span class="tick-mark1"></span>
                    </td>
                    <td>
                      <div class="action-box">
                        <span class="mail-notification"></span>
                        <span class="reschedule-icon"></span>
                        <span class="delete-btn">
                          <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </span>
                        <span class="edit-icon"></span>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Regular</td>
                    <td>Maths</td>
                    <td>10:00 Am</td>
                    <td>10:00 Am</td>
                    <td>Ankita</td>
                    <td>Geometry ...</td>
                    <td>Exercise No.2</td>
                    <td>
                      <span class="tick-mark1"></span>
                    </td>
                    <td>
                      <div class="action-box">
                        <span class="mail-notification"></span>
                        <span class="reschedule-icon"></span>
                        <span class="delete-btn">
                          <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </span>
                        <span class="edit-icon"></span>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Regular</td>
                    <td>Maths</td>
                    <td>10:00 Am</td>
                    <td>10:00 Am</td>
                    <td>Ankita</td>
                    <td>Geometry ...</td>
                    <td>Exercise No.2</td>
                    <td>
                      <span class="tick-mark1"></span>
                    </td>
                    <td>
                      <div class="action-box">
                        <span class="mail-notification"></span>
                        <span class="reschedule-icon"></span>
                        <span class="delete-btn">
                          <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </span>
                        <span class="edit-icon"></span>
                      </div>
                    </td>
                  </tr>
                </tbody>
                <tbody class="table-accor-head">
                  <tr>
                    <td colspan="9">
                      <div class="accordian-heading">
                        <h4 class="clearFix">
                          <span class="close-accor">-</span>
                          <span class="open-accor">+</span>
                          <span class="date-c">01 March 2017</span>
                          <span class="pull-right delete-icon">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                          </span>
                          <span class="pull-right mail-notification"></span>
                        </h4>
                      </div>
                    </td>
                  </tr>
                </tbody>
                <tbody class="table-accor-head">
                  <tr>
                    <td colspan="9">
                      <div class="accordian-heading">
                        <h4 class="clearFix">
                          <span class="close-accor">-</span>
                          <span class="open-accor">+</span>
                          <span class="date-c">01 March 2017</span>
                          <span class="pull-right delete-icon">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                          </span>
                          <span class="pull-right mail-notification"></span>
                        </h4>
                      </div>
                    </td>
                  </tr>
                </tbody>
                <tbody class="table-accor-head">
                  <tr>
                    <td colspan="9">
                      <div class="accordian-heading">
                        <h4 class="clearFix">
                          <span class="close-accor">-</span>
                          <span class="open-accor">+</span>
                          <span class="date-c">01 March 2017</span>
                          <span class="pull-right delete-icon">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                          </span>
                          <span class="pull-right mail-notification"></span>
                        </h4>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="fullwidth clearFix ledgend-footer">
              <label class="pull-left">Ledgend</label>
              <div class="pull-left">
                <span class="class-is"></span>Class</div>
              <div class="pull-left">
                <span class="exam-is"></span>Exam</div>
              <div class="pull-left">
                <span class="class-cancel blue">x</span>Cancelled Class</div>
              <div class="pull-left">
                <span class="class-cancel yellow">x</span>Cancelled Exam</div>
            </div>
          </section> -->
        <!-- ==================================================================================== -->
        <!-- ==================================================================================== -->
        <!-- ========================== Footer Section ========================================== -->
      </section>
      <!-- ==================================================================================== -->
      <!-- ==================================================================================== -->
    </aside>
  </section>
</section>



<!-- //////////////////////////////////POPUP///////////////////////////////// -->
<!-- //////////////////////////////////POPUP///////////////////////////////// -->
<!-- //////////////////////////////////POPUP///////////////////////////////// -->
<!-- //////////////////////////////////POPUP///////////////////////////////// -->
<!-- //////////////////////////////////POPUP///////////////////////////////// -->

<section id="popup" class="popupWrapper fadeIn" *ngIf="showPopUpRecurence">
  <div class="popup pos-abs popup-body-container">
    <div class="popup-wrapper pos-rel">
      <span class="closePopup pos-abs fbold show" id="popupCloseBtn" (click)="closePopup()">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="9310 2185 16 16">
          <g id="Group_1228" data-name="Group 1228" transform="translate(8298 1888)">
            <g id="Group_1213" data-name="Group 1213" transform="translate(34.189 -7.77)">
              <line id="Line_274" data-name="Line 274" class="cls-1" y2="19.798" transform="translate(992.81 305.77) rotate(45)" />
              <line id="Line_275" data-name="Line 275" class="cls-1" x1="19.798" transform="translate(978.81 305.77) rotate(45)" />
            </g>
            <rect id="Rectangle_686" data-name="Rectangle 686" style="stroke:none;" class="cls-2" width="16" height="16" transform="translate(1012 297)"
            />
          </g>
        </svg>
      </span>
      <div class="popup-content">
        <h2>Custom Recurrence</h2>

        <div class="row extraMargin">
          <div class=" c-sm-6 c-md-6 c-lg-6">
            <fieldset>
              <legend style="color: #0084f6;">Start Time</legend>
              <div class="time-picker">
                <div class="field-wrapper has-value">
                  <select id="hour" class="form-ctrl ng-valid ng-touched ng-dirty" [(ngModel)]="selctedScheduledClass.startTime.hour" name="hour"
                    style="background: transparent">
                    <option *ngFor="let hour of hourArr" [value]="hour">
                      {{hour}}
                    </option>
                  </select>
                  <label for="hour">Hour</label>
                </div>
                <div class="field-wrapper has-value">
                  <select id="minute" class="form-ctrl ng-valid ng-touched ng-dirty" [(ngModel)]="selctedScheduledClass.startTime.minute
                    " name="minute " style="background: transparent ">
                    <option *ngFor="let minute of minArr " [value]="minute ">
                      {{minute}}
                    </option>
                  </select>
                  <label for="minute ">Minute</label>
                </div>
                <div class="field-wrapper has-value ">
                  <select id="hour " class="form-ctrl ng-valid ng-touched ng-dirty " [(ngModel)]="selctedScheduledClass.startTime.meridian
                    " name="meridian " style="background: transparent ">
                    <option *ngFor="let meridian of meridianArr " [value]="meridian ">
                      {{meridian}}
                    </option>
                  </select>
                  <label for="meridian ">Meridian</label>
                </div>
              </div>
            </fieldset>
          </div>
          <div class=" c-sm-6 c-md-6 c-lg-6 ">
            <fieldset>
              <legend style="color: #0084f6; ">End Time</legend>
              <div class="time-picker ">
                <div class="field-wrapper has-value ">
                  <select id="hour " class="form-ctrl ng-valid ng-touched ng-dirty " [(ngModel)]="selctedScheduledClass.endTime.hour
                    " name="hour " style="background: transparent ">
                    <option *ngFor="let hour of hourArr " [value]="hour ">
                      {{hour}}
                    </option>
                  </select>
                  <label for="hour ">Hour</label>
                </div>
                <div class="field-wrapper has-value ">
                  <select id="minute " class="form-ctrl ng-valid ng-touched ng-dirty " [(ngModel)]="selctedScheduledClass.endTime.minute
                    " name="minute " style="background: transparent ">
                    <option *ngFor="let minute of minArr " [value]="minute ">
                      {{minute}}
                    </option>
                  </select>
                  <label for="minute ">Minute</label>
                </div>
                <div class="field-wrapper has-value ">
                  <select id="hour " class="form-ctrl ng-valid ng-touched ng-dirty " [(ngModel)]="selctedScheduledClass.endTime.meridian
                    " name="meridian " style="background: transparent ">
                    <option *ngFor="let meridian of meridianArr " [value]="meridian ">
                      {{meridian}}
                    </option>
                  </select>
                  <label for="meridian ">Meridian</label>
                </div>
              </div>
            </fieldset>
          </div>
        </div>

        <div class="row extraMargin ">
          <h3>Repeat On</h3>
        </div>

        <div id="divWeekDays " class="row extraMargin side-circles ">
          <span id="idSunday-7 " class="l-circle l-text " (click)="onWeekDaysSelection($event) " title="Sunday ">S</span>
          <span id="idMonday-1 " class="l-circle l-text " (click)="onWeekDaysSelection($event) " title="Monday ">M</span>
          <span id="idTuesday-2 " class="l-circle l-text " (click)="onWeekDaysSelection($event) " title="Tuesday ">T</span>
          <span id="idWednesday-3 " class="l-circle l-text " (click)="onWeekDaysSelection($event) " title="Wednesday ">W</span>
          <span id="idThursday-4 " class="l-circle l-text " (click)="onWeekDaysSelection($event) " title="Thursday ">T</span>
          <span id="idFriday-5 " class="l-circle l-text " (click)="onWeekDaysSelection($event) " title="Friday ">F</span>
          <span id="idSaturday-6 " class="l-circle l-text " (click)="onWeekDaysSelection($event) " title="Saturday ">S</span>
        </div>

        <div class="row extraMargin ">
          <h3>Ends</h3>
        </div>

        <div class="row extraMargin ">

          <div class="radio-options ">
            <div class="row extraMargin ">
              <div class="field-radio-wrapper c-sm-6 c-md-6 c-lg-6 ">
                <input type="radio " name="sFilter " class="form-radio " (click)="radioButtonClick($event) " value="false
                    " id="idCourseEndDate ">
                <label for="active ">Course End Date</label>
              </div>
              <!-- <div class="c-sm-3 c-md-3 c-lg-3 "> -->
              <div class="field-wrapper datePickerBox c-sm-3 c-md-3 c-lg-3 " [ngClass]="{ 'disabled': customRec.radioEndDate.radioEndDateSelection==false } ">
                <input type="text " value=" " readonly="true " [(ngModel)]="customRec.radioEndDate.radioDate " class="form-ctrl
                    bsDatepicker " name="endDate " bsDatepicker>
              </div>
              <!-- </div> -->
            </div>
            <div class="row extraMargin ">
              <div class="field-radio-wrapper c-sm-6 c-md-6 c-lg-6 ">
                <input type="radio " name="sFilter " class="form-radio " value="false " (click)="radioButtonClick($event)
                    " id="idOn ">
                <label for="active ">On</label>
              </div>
              <div class="c-sm-3 c-md-3 c-lg-3 " [ngClass]="{ 'disabled': customRec.radioOn.radioONSelection==false } ">
                <div class="field-wrapper datePickerBox ">
                  <input type="text " value=" " readonly="true " [(ngModel)]="customRec.radioOn.radioOnDate " class="form-ctrl
                    bsDatepicker " name="endDate " bsDatepicker>
                </div>
              </div>
            </div>
            <div class="row extraMargin ">
              <div class="field-radio-wrapper c-sm-6 c-md-6 c-lg-6 ">
                <input type="radio " name="sFilter " class="form-radio " (click)="radioButtonClick($event) " value="false
                    " id="idAfter ">
                <label for="active ">After</label>
              </div>
              <div class="field-wrapper c-sm-3 c-md-3 c-lg-3 ">
                <input type="number " [readonly]="customRec.radioAfter.radioAfterSelection==false" #idSlot class="form-ctrl
                    halfwidth " name="slotNew " [(ngModel)]="customRec.radioAfter.occurenceValue ">
              </div>
              <span>occurrences</span>
            </div>
          </div>
        </div>

        <div>
          <button class="btn pull-right " (click)="saveCustomRecurrences() ">Save</button>
        </div>

      </div>
    </div>
  </div>
</section>


<!-- //////////////////////////////////////// Select Dates///////////////////////////////////////////// -->
<!-- //////////////////////////////////////// Select Dates///////////////////////////////////////////// -->
<!-- //////////////////////////////////////// Select Dates///////////////////////////////////////////// -->
<!-- //////////////////////////////////////// Select Dates///////////////////////////////////////////// -->
<!-- //////////////////////////////////////// Select Dates///////////////////////////////////////////// -->

<section id="popup " class="popupWrapper fadeIn " *ngIf="showPopUp ">
  <div class="popup pos-abs popup-body-container ">
    <div class="popup-wrapper pos-rel ">
      <span class="closePopup pos-abs fbold show " id="popupCloseBtn " (click)="closePopup() ">
        <svg xmlns="http://www.w3.org/2000/svg " viewBox="9310 2185 16 16 ">
          <g id="Group_1228 " data-name="Group 1228 " transform="translate(8298 1888) ">
            <g id="Group_1213 " data-name="Group 1213 " transform="translate(34.189 -7.77) ">
              <line id="Line_274 " data-name="Line 274 " class="cls-1 " y2="19.798 " transform="translate(992.81 305.77)
                    rotate(45) " />
              <line id="Line_275 " data-name="Line 275 " class="cls-1 " x1="19.798 " transform="translate(978.81 305.77)
                    rotate(45) " />
            </g>
            <rect id="Rectangle_686 " data-name="Rectangle 686 " style="stroke:none; " class="cls-2 " width="16
                    " height="16 " transform="translate(1012 297) " />
          </g>
        </svg>
      </span>
      <div class="popup-content ">
        <h2>Select Dates for Class</h2>

        <div class="row extraMargin ">
          <div class="table-scroll-wrapper ">
            <div class="table table-responsive ">
              <table style="width:50% ">
                <thead>
                  <tr>
                    <th>
                      Schedule Date
                    </th>
                    <th>
                      Action
                    </th>
                    <th>

                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <div class="field-wrapper datePickerBox " style="width:50% ">
                        <input type="text " value=" " readonly="true " [(ngModel)]="addDates.selectedDate " class="form-ctrl
                    bsDatepicker " name="endDate " bsDatepicker>
                      </div>
                    </td>
                    <td>
                      <i class="far fa fa-plus-square " (click)="addDateToArray() " style="font-size: 19px; font-family:
                    FontAwesome " alt="Add " title="Add "></i>
                    </td>
                    <td>

                    </td>
                  </tr>
                  <tr *ngFor="let row of selectedDateArray; let i=index ; trackBy : index ">
                    <td>
                      {{row.selectedDate}}
                    </td>
                    <td>
                      <i class="fas fa fa-trash " (click)="removeDateToArray(i, row) " style="font-size: 19px; font-family:
                    FontAwesome; " alt="Remove " title="Remove "></i>
                    </td>
                    <td>
                      {{row.error}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="row extraMargin ">
          <h3>Edit Selected Schedule</h3>
        </div>

        <div class="row extraMargin ">
          <div class="row extraMargin ">
            <div class="field-wrapper c-sm-2 c-md-2 c-lg-2 ">
              <select id="tsesesese " class="form-ctrl " name="row.subject_id " [(ngModel)]="selctedScheduledClass.subject_id ">
                <option value="-1 "> </option>
                <option *ngFor="let opt of subjectListDataSource " [value]="opt.subject_id ">
                  {{opt.subject_name}}
                </option>
              </select>
              <label for="row.subject_id ">Subject Name</label>
            </div>
            <div class="time-picker c-sm-2 c-md-2 c-lg-2 ">
              <div class="field-wrapper has-value ">
                <select id="hour " class="form-ctrl ng-valid ng-touched ng-dirty " [(ngModel)]="selctedScheduledClass.startTime.hour
                    " name="hour " style="background: transparent ">
                  <option *ngFor="let hour of hourArr " [value]="hour ">
                    {{hour}}
                  </option>
                </select>
                <label for="hour ">Hour</label>
              </div>
              <div class="field-wrapper has-value ">
                <select id="minute " class="form-ctrl ng-valid ng-touched ng-dirty " [(ngModel)]="selctedScheduledClass.startTime.minute
                    " name="minute " style="background: transparent ">
                  <option *ngFor="let minute of minArr " [value]="minute ">
                    {{minute}}
                  </option>
                </select>
                <label for="minute ">Minute</label>
              </div>
              <div class="field-wrapper has-value ">
                <select id="hour " class="form-ctrl ng-valid ng-touched ng-dirty " [(ngModel)]="selctedScheduledClass.startTime.meridian
                    " name="meridian " style="background: transparent ">
                  <option *ngFor="let meridian of meridianArr " [value]="meridian ">
                    {{meridian}}
                  </option>
                </select>
                <label for="meridian ">Meridian</label>
              </div>
            </div>

            <div class="time-picker c-sm-2 c-md-2 c-lg-2 ">
              <div class="field-wrapper has-value ">
                <select id="hour " class="form-ctrl ng-valid ng-touched ng-dirty " [(ngModel)]="selctedScheduledClass.endTime.hour
                    " name="hour " style="background: transparent ">
                  <option *ngFor="let hour of hourArr " [value]="hour ">
                    {{hour}}
                  </option>
                </select>
                <label for="hour ">Hour</label>
              </div>
              <div class="field-wrapper has-value ">
                <select id="minute " class="form-ctrl ng-valid ng-touched ng-dirty " [(ngModel)]="selctedScheduledClass.endTime.minute
                    " name="minute " style="background: transparent ">
                  <option *ngFor="let minute of minArr " [value]="minute ">
                    {{minute}}
                  </option>
                </select>
                <label for="minute ">Minute</label>
              </div>
              <div class="field-wrapper has-value ">
                <select id="hour " class="form-ctrl ng-valid ng-touched ng-dirty " [(ngModel)]="selctedScheduledClass.endTime.meridian
                    " name="meridian " style="background: transparent ">
                  <option *ngFor="let meridian of meridianArr " [value]="meridian ">
                    {{meridian}}
                  </option>
                </select>
                <label for="meridian ">Meridian</label>
              </div>
            </div>

            <div class="field-wrapper c-sm-2 c-md-2 c-lg-2 ">
              <select id=" " class="form-ctrl " name="row.category_id " [(ngModel)]="selctedScheduledClass.teacher_id ">
                <option value="-1 "></option>
                <option *ngFor="let opt of teacherListDataSource " [value]="opt.teacher_id ">
                  {{opt.teacher_name}}
                </option>
              </select>
              <label for="row.category_id ">Teacher Name</label>
            </div>

            <div class="field-wrapper c-sm-2 c-md-2 c-lg-2 ">
              <input type="textbox " class="form-ctrl " name="label " [(ngModel)]="selctedScheduledClass.class_desc ">
              <label for="label ">Description</label>
            </div>

            <div class="field-wrapper c-sm-2 c-md-2 c-lg-2 ">
              <input type="text " class="form-ctrl " name="label " [(ngModel)]="selctedScheduledClass.room_no ">
              <label for="label ">Room No</label>
            </div>

            <div class="c-sm-2 c-md-2 c-lg-2 ">
              <select id=" " class="form-ctrl " name="row.category_id " style="background: transparent; " [(ngModel)]="selctedScheduledClass.custom_class_type ">
                <option *ngFor="let opt of customListDataSource ">
                  {{opt}}
                </option>
              </select>
              <label for="row.category_id ">Class Type</label>
            </div>

          </div>
        </div>

        <div>
          <button class="btn pull-right " (click)="saveSelectedDateSchedule() ">Save</button>
        </div>

      </div>
    </div>
  </div>
</section>