<div class="middle-section clearFix courseAdd">

  <section class="middle-top mb0 clearFix" style="margin-bottom: 10px;">
    <h1 class="pull-left">
      Add Course
    </h1>
  </section>

  <section class="middle-main clearFix">
    <div class="clearFix add-edit">
      <a (click)="toggleCreateNewSlot()">
        <i id="showAddBtn" class="addBtnClass">+</i>
        <i id="showCloseBtn" style="display:none" class="closeBtnClass">-</i>
        <span>Create Master Course</span>
      </a>
    </div>
    <div *ngIf="divCreateNewCourse" class="create-standard-form wrapperForm">
      <div class="row" style="margin-left:20px">
        <div class="c-lg-3 c-md-3 c-sm-3">
          <div class="field-wrapper" [ngClass]="{'has-value' : newCourseAdd.master_course_name != ''}">
            <label for="idMasterCourse">Master Course
              <span style="color:red">*</span>
            </label>
            <input type="text" id="idMasterCourse" #masterCourseInput name="masterCourse" [(ngModel)]="newCourseAdd.master_course_name"
              class="form-ctrl" />

          </div>
        </div>
        <div class="c-lg-3 c-md-3 c-sm-3">
          <div class="field-wrapper" [ngClass]="{'has-value' : newCourseAdd.standard_id != '-1'}">
            <label for="idStandardName">Standard Name
              <span style="color:red">*</span>
            </label>
            <select id="idStandardName" #standardNameDDn class="form-ctrl" [(ngModel)]="newCourseAdd.standard_id">
              <option value="-1"></option>
              <option *ngFor="let opt of standardNameList" [value]="opt.standard_id">
                {{opt.standard_name}}
              </option>
            </select>

          </div>
        </div>
        <div class="c-lg-3 c-md-3 c-sm-3">
          <input type="button" value="Go" class="btn fullBlue" style="margin-top: 10px" (click)="btnGoClickCreateCourse()">
        </div>
      </div>

      <aside class="pull-left asideWrapper" style="padding-bottom: 10px; width:20%">
        <div *ngIf="(subjectList.length > 0)" style="margin-left: 30px;padding:0px 10px 10px 10px;">
          <div class="field-wrapper" [ngClass]="{'has-value': courseDetails.course_name != ''}" style="width:80%">
            <label for="masterCourse">Course Name
              <span style="color:red">*</span>
            </label>
            <input type="text" name="masterCourse" id="masterCourse" [(ngModel)]="courseDetails.course_name" class="form-ctrl" />

          </div>

          <div class="field-wrapper datePickerBox" [ngClass]="{'has-value': courseDetails.start_Date != ''}" style="width:80%">
            <label for="startDate">Start Date
              <span style="color:red">*</span>
            </label>
            <input type="text" value="" readonly="true" class="form-ctrl bsDatepicker" [(ngModel)]="courseDetails.start_Date" name="startDate"
              id="startDate" bsDatepicker>

            <!-- <span class="date-clear" name="followupdate" (click)="clearAddEnquiryDate('startDatePicker')">clear</span> -->
          </div>
          <div class="field-wrapper datePickerBox" [ngClass]="{'has-value': courseDetails.end_Date != ''}" style="width:80%">
            <label for="endDate">End Date
              <span style="color:red">*</span>
            </label>
            <input type="text" value="" readonly="true" class="form-ctrl bsDatepicker" [(ngModel)]="courseDetails.end_Date" name="endDate"
              bsDatepicker id="endDate">

            <!-- <span class="date-clear" name="followupdate" (click)="clearAddEnquiryDate('endDatePicker')">clear</span> -->
          </div>
          <div [ngClass]="{'hideVisibility' : examGradeFeature == 0}" class="field-checkbox-wrapper" style="margin-top: 7px">
            <input type="checkbox" id="allow" value="" [(ngModel)]="courseDetails.allow_exam_grades" name="allow" class="form-checkbox">
            <label for="allow">Allow Exam Grades</label>
          </div>
        </div>
      </aside>
      <aside class="pull-right asideWrapper" style="width: 80%;">
        <div *ngIf="(subjectList.length > 0)" class="asideTableWrapper" style="margin-right: 15px; border-top: 1px solid #d8d8d8;border-top: 1px solid #d8d8d8;">
          <table class="tableDiv adderTable">
            <thead>
              <tr>
                <th>
                  Allocate Subject
                </th>
                <th>
                  Subject Name
                </th>
                <th>
                  Allocate Faculty
                </th>
              </tr>
            </thead>
            <tbody class="subjectListTableTbody">
              <tr *ngFor="let row of subjectList ; let i= index; trackBy: index">
                <td>
                  <div class="field-checkbox-wrapper">

                    <input id="{{row.subject_id}}" [(ngModel)]="row.uiSelected" (ngModelChange)="tableCheckBox(row , i)" type="checkbox" value=""
                      class="form-checkbox">
                    <label for="{{row.subject_id}}"></label>

                  </div>
                </td>
                <td>
                  {{row.subject_name}}
                </td>
                <td>
                  <div style="width: 70%;" class="field-wrapper">
                    <select class="form-ctrl" [(ngModel)]="row.selected_teacher" (ngModelChange)="onTeacherSelection($event , row)">
                      <option value="-1"></option>
                      <option *ngFor="let opt of activeTeachers" [value]="opt.teacher_id">
                        {{opt.teacher_name}}
                      </option>
                    </select>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div *ngIf="(subjectList.length > 0)" style="margin: 0px 15px 0px 0px;">
          <button style="margin: 7px;" class="btn pull-right" (click)="addDataToTable()">Add</button>
        </div>
      </aside>
    </div>
  </section>

  <section *ngIf="mainArrayForTable.length" style="margin-top: 15px;">
    <div style="padding-left: 20px;padding-right: 20px;">
      <table>
        <thead>
          <tr>
            <th style="width:20%">
              Course Name
            </th>
            <th style="width:20%">
              Start Date
            </th>
            <th style="width:20%">
              End Date
            </th>
            <th *ngIf="examGradeFeature == '1'" style="width:20%">
              Grade
            </th>
            <th style="width:20%">
              Action
            </th>
          </tr>
        </thead>
        <tbody>
          <tr id="row{{i}}" *ngFor="let row of mainArrayForTable; let i= index ; trackBy:index">
            <td colspan="6">
              <div>
                <table>
                  <tbody>
                    <tr style="text-align: right">
                      <td style="width:20%">
                        <span>
                          {{row.course_name}}
                        </span>
                      </td>
                      <td style="width:20%">
                        <span>
                          {{row.start_Date}}
                        </span>
                      </td>
                      <td style="width:20%">
                        <span>
                          {{row.end_Date}}
                        </span>
                      </td>
                      <td *ngIf="examGradeFeature == '1'" style="width:20%">
                        <span *ngIf='(row.allow_exam_grades == true)'>Yes</span>
                        <span *ngIf='(row.allow_exam_grades != true)'>No</span>
                      </td>
                      <td>
                        <!-- {{row.subjectListArray.subject_name}} -->
                      </td>
                      <td id="viewComp{{i}}" class="viewComp" style="width:20%">
                        <a style="cursor:pointer" (click)="editRowFromTable(row , i)">Edit</a>
                        <a style="cursor:pointer" (click)="removeRowFromTable(row , i)">Delete</a>
                      </td>
                      <td id="editComp{{i}}" class="editComp" style="display:none ; width:20%">
                        <a style="cursor:pointer" (click)="updateDataOfNestedTable(row, i)">Update</a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div id="show{{i}}" class="nestedTable nestedTableHide">
                <aside style="width:20%" class="pull-left leftform">
                  <div style="padding: 20px 10px 10px 10px;">
                    <div class="field-wrapper" style="background: transparent" [ngClass]="{'has-value': nestedTableForm.course_name != ''}">

                      <input type="text" style="background: transparent" name="masterCourse" [(ngModel)]="nestedTableForm.course_name" id="masterCourse"
                        class="form-ctrl" (focus)="inputClickedCheck($event)" />
                      <label for="masterCourse">Course Name
                        <span style="color:red">*</span>
                      </label>
                    </div>
                    <div class="field-wrapper" style="background: transparent" [ngClass]="{'has-value': nestedTableForm.start_Date != ''}">

                      <input type="text" value="" style="background: transparent" readonly="true" class="form-ctrl bsDatepicker" [(ngModel)]="nestedTableForm.start_Date"
                        name="startDate" bsDatepicker (focus)="inputClickedCheck($event)" id="startDate">
                      <label for="startDate">Start Date
                        <span style="color:red">*</span>
                      </label>
                      <!-- <span class="date-clear" name="followupdate" (click)="clearAddEnquiryDate('startDatePicker')">clear</span> -->
                    </div>
                    <div class="field-wrapper" style="background: transparent" [ngClass]="{'has-value': courseDetails.end_Date != ''}">

                      <input type="text" value="" style="background: transparent" readonly="true" class="form-ctrl bsDatepicker" [(ngModel)]="nestedTableForm.end_Date"
                        name="endDate" bsDatepicker (focus)="inputClickedCheck($event)" id="endDate">
                      <label for="endDate">End Date
                        <span style="color:red">*</span>
                      </label>
                      <!-- <span class="date-clear" name="followupdate" (click)="clearAddEnquiryDate('endDatePicker')">clear</span> -->
                    </div>
                    <div *ngIf="examGradeFeature == 0" class="field-checkbox-wrapper" style="background: transparent;margin-top: 25px;width: 100%;text-align: left;">

                      <input type="checkbox" value="" [(ngModel)]="nestedTableForm.allow_exam_grades" name="allow" class="form-checkbox" id="allow">
                      <label for="allow">Allow Exam Grades</label>
                    </div>
                  </div>
                </aside>
                <aside style="width:80%;max-height: 200px;" class="pull-right asideMainWrapper">
                  <div class="asideWrapperNested">
                    <table class="nestedTableAsideWrapper">
                      <thead>
                        <tr>
                          <th>
                            Allocate Subject
                          </th>
                          <th>
                            Subject Name
                          </th>
                          <th>
                            Allocate Faculty
                          </th>
                        </tr>
                      </thead>
                      <tbody class="subjectListTableTbody">
                        <tr *ngFor="let row of nestedTableDataSource ; let i= index; trackBy: index">
                          <td>
                            <div class="field-checkbox-wrapper">

                              <input id="{{row.subject_id}}" [(ngModel)]="row.uiSelected" type="checkbox" value="" class="form-checkbox">
                              <label for="{{row.subject_id}}"></label>
                            </div>
                          </td>
                          <td>
                            {{row.subject_name}}
                          </td>
                          <td>
                            <div style="width: 70%;" class="field-wrapper">
                              <select class="form-ctrl" [(ngModel)]="row.selected_teacher">
                                <option value="-1"></option>
                                <option *ngFor="let opt of activeTeachers" [value]="opt.teacher_id">
                                  {{opt.teacher_name}}
                                </option>
                              </select>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </aside>

              </div>

            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>

  <div class="pull-right" style="margin-top: 10px;">
    <button class="btn" routerLink="/course/courselist">Cancel</button>
    <button id="btnSave" *ngIf="(mainArrayForTable.length>0)" class="btn fullBlue" (click)="submitCourseDetails()">Save Course</button>
  </div>

</div>