<div class="middle-section clearFix">
  <div class="box" id="login-center-block">
    <div id="header">
      <div id="cont-lock">
        Proctur
      </div>
      <div id="bottom-head">
        <h1 id="logintoregister"></h1>
      </div>
    </div>
    <form>
      <div class="group">
        <input class="inputMaterial" type="text" [(ngModel)]="loginDataForm.alternate_email_id" name="alternate_email_id" id="emailid"
          #emailid="ngModel" required>
        <div *ngIf="emailid.invalid && (emailid.dirty || emailid.touched)" class="alert alert-danger">
          <div *ngIf="emailid.errors.required">
            Username/Email is required.
          </div>
        </div>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Username</label>
      </div>
      <div class="group">
        <input class="inputMaterial" type="password" [(ngModel)]="loginDataForm.password" name="password" 
        #password="ngModel" required>
        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
          <div *ngIf="password.errors.required">
            Password is required.
          </div>
        </div>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Password</label>
      </div>
      <button [disabled]="loading" id="buttonlogintoregister" (click)="loginViaServer()" class="btn btn-primary">Login</button>
      <img *ngIf="loading" src="" />
    </form>
  </div>
</div>