*{
    margin: 0px;
  }
  body{
    font-family: 'Open Sans', sans-serif;
  }
  
  .w98{
   width: 96%;
   margin: 0px auto;
  }
  
  
  .right{
    float: right;
  }
  .input{
    width: 100%;
    margin: 8px 0;
    padding: 8px 5px;
    border: 1px solid #F0EDED;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 13px;
    font-weight: 400;
    border-radius: 4px;
    color: #323C47;
    background-color: #F4F3F8;
    text-indent: 4px;
  }
  
  .header-input::placeholder {
    padding-left: 10px;
  }
  .main-shadow{
      box-shadow: 0px 7px 5px -3px rgba(0,0,0,0.1);
      -webkit-box-shadow: 0px 7px 5px -3px rgba(0,0,0,0.1);
      -moz-box-shadow: 0px 7px 5px -3px rgba(0,0,0,0.1);
      padding-bottom: 15px;
  }
  .mr10{
      margin-right: 10px;
  }
  .magnifying-glass{
    background-image: url('/assets/img/Vector1.png');
    background-repeat: no-repeat;
    background-position:left center;
    text-indent: 5px;
  }
  a:hover { 
    text-decoration: none; 
  } 
  .shadow{
   box-shadow:  0px 15px 10px -15px #111; 
  -webkit-box-shadow:  0px 15px 10px -15px #111; 
  -moz-box-shadow:  0px 15px 10px -15px #111; 
  margin: 8px 0px;
  }
  
  .page_heading{
    color: #334D6E;
    font-weight: 700;
    font-size: 16px;
    padding: 10px 0px;
  }
  
  .blue_button {
    background-color: #109CF1;
    color: white;
    padding: 7px 20px;
    font-size: 13px;
    border: 1px solid #109CF1;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
  }
  .cancel{
    background-color: #fff;
    color:#109CF1;
    padding: 7px 20px;
    font-size: 13px;
    border:1px solid #109CF1;
    border-radius: 5px;
    font-weight: 600;
    margin-right: 10px;
  }
  .w100{
    width: 100%;
  }
  
  
  .text-indent{
  text-indent: 20px;
  }
  .filter{
    background-color: #fff;
    color:#109CF1;
    padding: 7px 20px;
    font-size: 13px;
    border:1px solid #CACACA;
    border-radius: 5px;
    font-weight: 600;
    margin-top: 9px;
  }
  .filter img,.blue_button img{
    padding-left: 10px;
  }
  .mt-9{
  margin-top: 9px;
  }
  /*dropdown for more*/
  
  .dropdown1 {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content1 {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 100px;
    left: 0px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    font-weight: 400;
    font-size: 12px;
    z-index: 1;
    color: #3B4752;
  }
  
  .dropdown-content1 a {
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content1 a:hover {background-color: #ddd;}
  
  .dropdown1:hover .dropdown-content1 {display: block;}
  
  .drop-shadow{
    box-shadow: 0px 8px 8px -4px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0px 8px 8px -4px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 8px 8px -4px rgba(0,0,0,0.1);
  }
  
  .table_heading{
    display: flex;
    justify-content: space-between;
    background-color: #EEF1F4;
    padding: 11px 10px;
    border-radius: 5px;
  }
  .table_heading>div{
    width: calc(100% - 10px / 8);
  font-weight: 600;
  font-size: 12px;
  text-align: center;
  }
  .table_heading>div:first-child{
    width: 10px;
  text-align: center;
  }
  .table_row{
    display: flex;
    color: #323C47;
    justify-content: space-between;
    padding: 16px 10px;
    border-radius: 5px;
    margin: 10px 0px;
     box-shadow: 0px 4px 7px 1px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0px 4px 7px 1px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 4px 7px 1px rgba(0,0,0,0.1);
  padding-bottom: 0px;
  }
  .table_row>div{
    width: calc(100% - 10px / 8);
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    color: #6B5D5D;
  }
  .table_row>div:first-child{
    width: 10px;
  text-align: center;
  }
  .photo{
    height: auto;
    width: 40px;
    position: relative;
    top: -10px;
    border-radius: 50%;
  }
  .pl-10{
    padding-left: 10px
  }
  
  .input:focus {
    border: none;
     outline:1px solid #F0EDED;
  }
  button:focus{
    outline: none;
  }
  
      .containerc {
        margin-top: 25px;
      }
      .input{
        background-color: #fff;
      }
      .pl-10{
    padding-left: 10px
  }
  .input-select1{
    width: 100%;
    margin: 8px 0;
    padding: 7px 0px;
    border: 1px solid #F0EDED;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 13px;
    font-weight: 400;
    border-radius: 4px;
    background-color: #fff;
    color: #323C47;
    text-indent: 5px;
  }
  .top{
    position: absolute;
    top: 15px;
  }
  .red {
      color: #F11D10;
  }
  .wid20{
      width: 157px;
  }
  .checkbox {
    display: grid;
    grid-template-columns: min-content auto;
    grid-gap: 0.5em;
    font-size: 2rem;
    color: var(--color);
}
.checkbox__input input {
    opacity: 0;
    width: 0em;
    height: 0em;
  }
.checkbox__control {
  display: inline-grid;
  width: 0.5em;
  height: 0.5em;
  border-radius: 0.1em;
border: 1px solid #BBB2B2;
;
}
.checkbox__input {
  display: grid;
  grid-template-areas: "checkbox";
}
.checkbox__control svg {
    color:  #119CF1;
  transition: transform 0.1s ease-in 25ms;
  transform: scale(0);
  transform-origin: bottom left;
}
.checkbox__input input:checked
 + .checkbox__control svg {
  transform: scale(1);
}