@import "./src/assets/css/style.scss";
@import "./src/assets/css/wrapper.scss";
@import "./src/assets/css/common/common.scss";
@import "./src/assets/css/common/grid.scss";
@import "./src/assets/css/common/variables.scss";
.middle-section {
    padding: 5px 15px;
    width: 100%;
    box-sizing: border-box;
}

.note-wrapper {
    background: #d8d8d8;
    h3 {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    ul {
        li {
            margin-top: 5px;
        }
    }
}

.add-edit {
    margin-bottom: 15px;
    margin-top: 15px;
    i {
        border: 1px solid $common-blue;
        display: inline-block;
        width: 17px;
        height: 17px;
        border-radius: 50%;
        line-height: 16px;
        text-align: center;
        font-size: 17px;
        vertical-align: middle;
        margin-right: 4px;
    }
    span {
        display: inline-block;
    }
    .expend-box {
        i {
            line-height: 12px;
            font-size: 22px;
        }
    }
    a {
        cursor: pointer;
    }
}

.create-standard-form {
    margin: 10px 0;
    padding: 10px 20px 20px;
    background: #efefef;
    border-top: 1px solid #d8d8d8;
    .form-ctrl {
        background: transparent;
        border-bottom: solid 1px #cccccc;
    }
}

.closeBtnClass {
    line-height: 11px !important;
}