<div>
  <h2 style="text-align: center;">
    Device 1
  </h2>
  <hr style="border:2px solid blue; border-radius: 56px;margin:10px 10px 0px 10px;">

  <div class="pulsate" style="display: inline-block;">
    <div class="icon">
      <img src="assets/images/biomatric-icon.png" style="width:100%; color:red;">
    </div>
  </div>

  <div style="display: inline-block; color:black;">
    <ul *ngFor="let i of biometricData">
      <li>
        {{i.deviceFName}}
      </li>
      <li>
        {{i.deviceLocation}}
      </li>
    </ul>
  </div>
</div>