<div class="clearFix" style="padding-left: 15px;padding-right: 15px;">
    <section class="header-section">
        <div>
            <div class="header-title">
                <span> eStore</span>
                <i style="font-family: 'FontAwesome';color: black;" class="fas fa-angle-right"></i>
                <a routerLink="/view/e-store/website-configuration/images" style="padding:0px; ">
                    Website Configuration
                </a>
                <i style="font-family: 'FontAwesome';color: black;" class="fas fa-angle-right"></i>
                <a routerLink="/view/e-store/website-configuration/faq/home" style="padding:0px; ">
                    FAQ
                </a>
                <i style="font-family: 'FontAwesome';color: black;" class="fas fa-angle-right"></i>
                <span style="color: black;">FAQ QA</span>
            </div>
        </div>
    </section>
</div>
<router-outlet></router-outlet>