.employee-sidebar {
    padding: 10px 0px;
    max-height: 75vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.closebtn {
    float: right;
    color: black;
}

.header-section {
    padding: 10px 10px;
    border-bottom: 1px solid #c7c7c7;
    .row {
        display: flex;
    }
    .profile-pic {
        width: 40%;
    }
    .user-info {
        width: 55%;
        margin: auto;
        span {
            font-size: 15px;
            font-weight: 600;
        }
    }
    .btn-group {
        display: flex;
        margin: auto;
        i {
            margin: 0px 5px;
        }
    }
}

.info-section {
    margin-top: 10px;
    .row {
        margin: 0px 0px;
    }
    .field-wrapper {
        .form-ctrl {
            width: 200px;
            height: auto;
            padding: 0.2em 0.8em;
        }
    }
    .educational-details {
        margin-top: 10px;
    }
    .leave-mangement {
        margin-top: 10px;
        .row {
            padding-top: 10px;
        }
        .applied-leaves {
            label {
                padding-left: 20px;
            }
        }
    }
    .educational-details {
        margin-top: 10px;
        .row {
            padding-top: 10px;
        }
    }
}

.btn-group {
    .small-btn {
        padding: 0px 5px;
        height: 20px;
        margin-right: 5px;
    }
}