<div class="employee-sidebar">

  <a href="javascript:void(0)" class="closebtn" (click)="closeSideBar($event)">
    <svg viewBox="0 0 24 24" width="24px" height="24px" x="0" y="0" preserveAspectRatio="xMinYMin meet" class="artdeco-icon"
      focusable="false">
      <path d="M20,5.32L13.32,12,20,18.68,18.66,20,12,13.33,5.34,20,4,18.68,10.68,12,4,5.32,5.32,4,12,10.69,18.68,4Z" class="large-icon"
        style="fill: currentColor"></path>
    </svg>
  </a>

  <div class="header-section">
    <div class="row">
      <div class="profile-pic pull-left">
        <proctur-image [containerWidth]="containerWidth" [isSidenav]="true" [serverImg]="displayImage" [readonly]="true" [defaultImg]="'assets/images/student_icon.png'">
        </proctur-image>
      </div>
      <div class="user-info pull-right">
        <div class="row">
          <span>#{{employeeData.user_id}}</span>
        </div>
        <div class="row">
          <span>{{employeeData.emp_name}}</span>
        </div>
        <div class="row">
          <span>{{employeeData.designation_name}}</span>
        </div>
      </div>
    </div>

    <div class="btn-group">
      <i class="edit-icon" aria-hidden="true" title="Edit"></i>
      <i class="fa fa-id-card-o" aria-hidden="true"></i>
    </div>

  </div>

  <div class="info-section">
    <div class="basic-details">
      <h3>Basic Details</h3>

      <div class="row">
        <div class="field-wrapper">
          <label for="name">Name
            <span style="color:red">*</span>
          </label>
          <input type="text" class="form-ctrl" [(ngModel)]="employeeData.emp_name" name="name">
        </div>
      </div>

      <div class="row">
        <div class="field-wrapper">
          <label for="contNumber">Contact Number
            <span style="color:red">*</span>
          </label>
          <input type="text" maxlength="10" class="form-ctrl" [(ngModel)]="employeeData.phone_pro" name="contNumber">
        </div>
      </div>

    </div>
  </div>

</div>