<div class="employee-sidebar">

  <a href="javascript:void(0)" class="closebtn" (click)="closeSideBar($event)">
    <svg viewBox="0 0 24 24" width="24px" height="24px" x="0" y="0" preserveAspectRatio="xMinYMin meet" class="artdeco-icon"
      focusable="false">
      <path d="M20,5.32L13.32,12,20,18.68,18.66,20,12,13.33,5.34,20,4,18.68,10.68,12,4,5.32,5.32,4,12,10.69,18.68,4Z" class="large-icon"
        style="fill: currentColor"></path>
    </svg>
  </a>

  <div class="header-section">
    <div class="row">
      <div class="profile-pic pull-left">
        <proctur-image [containerWidth]="containerWidth" [isSidenav]="true" [serverImg]="displayImage" [readonly]="true" [defaultImg]="'assets/images/student_icon.png'">
        </proctur-image>
      </div>
      <div class="user-info pull-right">
        <div class="row">
          <span>#{{employeeData.user_id}}</span>
        </div>
        <div class="row">
          <span>{{employeeData.emp_name}}</span>
        </div>
        <div class="row">
          <span>{{employeeData.designation_name}}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="info-section">
    <div class="basic-details">
      <h3>Basic Details</h3>

      <div class="row">
        <div class="field-wrapper">
          <label for="name">Employee Manager
            <span style="color:red">*</span>
          </label>
          <input type="text" class="form-ctrl" [(ngModel)]="employeeData.emp_name" name="name">
        </div>
      </div>

      <div class="row">
        <div class="field-wrapper">
          <label for="name">Email ID
            <span style="color:red">*</span>
          </label>
          <input type="text" class="form-ctrl" [(ngModel)]="employeeData.emp_name" name="name">
        </div>
      </div>

      <div class="row">
        <div class="field-wrapper">
          <label for="contNumber">Contact Number
            <span style="color:red">*</span>
          </label>
          <input type="text" maxlength="10" class="form-ctrl" [(ngModel)]="employeeData.phone_pro" name="contNumber">
        </div>
      </div>

      <div class="row">
        <div class="field-wrapper">
          <label for="name">Address
            <span style="color:red">*</span>
          </label>
          <input type="text" class="form-ctrl" [(ngModel)]="employeeData.emp_name" name="name">
        </div>
      </div>

    </div>

    <div class="leave-mangement">
      <h3>Leaves</h3>

      <div class="row">
        <label>Privilege Leave : </label>
        <span>5</span>
      </div>

      <div class="row">
        <label>Casual Leave : </label>
        <span>5</span>
      </div>

      <div class="row">
        <label>Approved Leave : </label>
        <span>5</span>
      </div>

      <div class="row">
        <label>Unapproved Leave : </label>
        <span>5</span>
      </div>

      <div class="row">
        <div class="applied-leaves">
          <label class="pull-left">20-6-2018 : </label>
          <div class="btn-group pull-right">
            <button class="btn small-btn fullBlue">Approve</button>
            <button class="btn small-btn fullBlue">Reject</button>
          </div>
        </div>
      </div>


    </div>

    <div class="educational-details">
      <h3>Professional Qualification</h3>

      <div class="row">
        <label>Highest Qualification</label>
        <span>5</span>
      </div>

      <div class="row">
        <label>Year Of Experience</label>
        <span>5</span>
      </div>

      <div class="row">
        <label>Highest Qualification</label>
        <span>5</span>
      </div>

    </div>
  </div>

</div>