<div class="container-fluid product-wrapper p-0">
  <div class="row m-0 pt-3 pb-3" style="border-bottom: 1pt solid #ddd;padding-bottom:10px">
    <div class="col-md-8">
      <section class="middle-top clearFix bulk-header">
        <div>
          <h1 class="pull-left">
            <a routerLink="/view/e-store/home" style="padding:0px; ">
              eStore
            </a>
            <i style="font-family: 'FontAwesome';" class="fas fa-angle-right"></i>
            <span> Product Details </span>
          </h1>
        </div>
      </section>
    </div>
    <div class="col-md-4 col-sm-4 text-right m-auto">
      <button class="btn btn-product pr-btn" routerLink="/view/e-store/create">
        <i class="fa fa-plus" style="color: white;" aria-hidden="true"></i>
        New Product</button>
    </div>
  </div>
  <div class="row m-0 action-bar">
    <div class="col-md-12 col-sm-12 container" style="width: 100%;display: flex; flex-wrap: wrap;">

      <!-- <div class="form-group field-wrapper form-el-width">
        <label class="text-bold">eCourse</label>
        <select [(ngModel)]="filter.by.ecourseId" class="form-ctrl">
          <option value="-1">All</option>
        </select>
      </div> -->

      <div class="form-group field-wrapper form-el-width">
        <label class="text-bold">Status</label>
        <select [(ngModel)]="filter.by.status" class="form-ctrl">
          <option value=10>Draft</option>
          <option value=20>Ready </option>
          <option value=30>Published</option>
          <option value=40>Unpublished</option>
          <option value=50>Closed</option>
        </select>
      </div>

      <div class="form-group field-wrapper form-el-width">
        <label class="text-bold">Is Paid</label>
        <select [(ngModel)]="filter.by.isPaid" class="form-ctrl">
          <option value="true">Yes</option>
          <option value="false">No</option>
        </select>
      </div>

      <div class="form-group field-wrapper form-el-width datePickerBox">
        <label class="text-bold">Sales From Date</label>
        <input type="text" value="" id="FromDate" class="form-ctrl bsDatepicker dateFormat"
          [(ngModel)]="filter.between.from" name="FD" bsDatepicker readonly="true" />
      </div>

      <div class="form-group field-wrapper form-el-width datePickerBox">
        <label class="text-bold">Sales To Date</label>
        <input type="text" value="" id="ToDate" class="form-ctrl bsDatepicker dateFormat"
          [(ngModel)]="filter.between.to" name="FD" bsDatepicker readonly="true" />
      </div>
      <div class="form-group field-wrapper form-el-width datePickerBox">
        <label class="text-bold">Publish Date</label>
        <input type="text" value="" id="publishDate" class="form-ctrl bsDatepicker dateFormat"
          [(ngModel)]="filter.by.publishDate" name="FD" bsDatepicker readonly="true"/>
      </div>

      <button class="btn pr-btn btn-product btn_go" [disabled]="isRippleLoad" (click)="filterData()" style="height: 35px;margin-top: 25px;">GO</button>
      <!-- <button class="btn pr-btn btn-product btn_go" >Clear Filter</button> -->
      <!-- <button type="button" name="button" (click)="Clearfilter()" style="color: red; cursor: pointer;">Clear Filter</button> -->
      <span (click)="Clearfilter()" style="color: red;cursor: pointer;margin-top: 35px;margin-left: 1em;">Clear Filter</span>
    </div>
  </div>


  <div class="row m-0 pt-0 product-list-wrapper">
    <section style="margin-top: 10px;padding: 10px;">
      <div class="table-container">
        <div class="heading-container" style="margin-bottom: 10px;">
          <!-- <div class="heading-item" style="width: 10%;">
            <div class="field-checkbox-wrapper">
              <input type="checkbox" class="form-checkbox" [checked]="jsonKeys.selectAll"  (change)="toggleAllCheckBox($event)" id="ch2">
              <label for="ch2"></label>
            </div>
          </div> -->
          <div class="heading-item th" style="width: 5%;padding: .2em .6em;">
            <span>ID</span>
          </div>
          <div class="heading-item th" style="width: 5%;padding: .2em .6em;">
            <span>#</span>
          </div>
          <div class="heading-item th" style="width: 13%;text-align: left;">
            <span>Product Name</span>
          </div>
          <div class="heading-item th" style="width: 20%;text-align: left;">
            <span>E-course</span>
          </div>
          <div class="heading-item th" style="width: 7%;">
            <span>Status</span>
          </div>
          <div class="heading-item th" style="width: 8%;">
            <span>Sale Start Date</span>
          </div>
          <div class="heading-item th" style="width: 8%;">
            <span>Sale End Date</span>
          </div>
          <div class="heading-item th" style="width: 8%;">
            <span>Publish Date</span>
          </div>
          <div class="heading-item th" style=" width: 8%;">
            <span>Update Date</span>
          </div>
          <div class="heading-item th" style="width: 5%;">
            <span>Type</span>
          </div>
          <div class="heading-item th" style="width: 5%;text-align: right;">
            <span>Price</span>
          </div>
          <div class="heading-item th" style="width: 8%;">
            <span>Action</span>
          </div>
        </div>
        <div class="value-outer-container" style="border: none;" *ngIf="productList?.length > 0">
          <div class="value-container dataContiner" *ngFor="let item of productList;let i= index"
            [ngClass]="{'adv_prod_border': item.is_advance_product==1,'normal_prod_border': item.is_advance_product==0}">
            <!-- <div class="value-item" style="width: 10%;">
              <div class="field-checkbox-wrapper">
                <input type="checkbox" class="form-checkbox" [checked]="item.isSelected" [(ngModel)]="item.isSelected" (ngModelChange)="isAllSelected($event,item)" id="ch2">
                <label for="ch2"></label>
              </div>
            </div> -->
            <div class="value-item td" style="width: 5%;">
              <span>
                {{i+1}}</span>
            </div>
            <div class="value-item td" style="width: 5%">
              <span>
                <img alt="product" class="profile_img"
                  [src]="item.logo_url==null?'https://cdn.vox-cdn.com/thumbor/30bQJLedP0p2KHehrHJyPc2dZ5A=/0x0:600x579/920x0/filters:focal(0x0:600x579):format(webp):no_upscale()/cdn.vox-cdn.com/uploads/chorus_asset/file/16019250/log_2048.png':item.logo_url"
                  title="{{item.title}}">
              </span>
            </div>
            <div class="value-item td" style="text-align: left;width: 13%;">
              <span>
                <label title="{{item.title}}">
                  {{ (item.title.length > 15) ? (item.title | slice:0:15) + '...' : item.title }}
                  <span *ngIf="item.product_user_type == '2'">(For Student)</span>
                  <span *ngIf="item.product_user_type == '4'">(For Open User)</span>
                  <span *ngIf="item.product_user_type == '8'">(For Both)</span>
                  <span *ngIf="item.product_user_type == '16'">(For Offline)</span>
                </label>
              </span>
            </div>
            <div class="value-item td" style="width: 20%;text-align: left;">
              <span class="ecourse-list" *ngFor="let  ecourse of item.product_ecourse_maps">
                {{ecourse.course_type}}
              </span>
            </div>
            <div class="value-item td" style="width: 7%;">
              <span *ngIf="item.status == 10" class="text-primary">Draft</span>
              <span *ngIf="item.status == 20" class="text-warning">Ready</span>
              <span *ngIf="item.status == 30" style="color: green;font-weight: 600;">Published</span>
              <span *ngIf="item.status == 40" class="text-secondary">Unpublished</span>
              <span *ngIf="item.status == 50" style="color: orangered;">Closed</span>
            </div>
            <div class="value-item td" style="width: 8%;">
              <p class="m-0 text-bold">{{convertUTCDateToLocalDate(item.sales_from_date)}}</p>
            </div>
            <div class="value-item td" style="width: 8%;">
              <p class="m-0 text-bold">{{convertUTCDateToLocalDate(item.sales_to_date)}}</p>
            </div>
            <div class="value-item td" style="width: 8%;">
              <p class="m-0 text-bold">{{ (!item.publish_date)? '-' :convertUTCDateToLocalDate(item.publish_date)}}</p>
            </div>
            <div class="value-item td" style="width: 8%;">
              <p class="m-0 text-bold">{{convertUTCDateToLocalDate(item.updated_date)}}</p>
            </div>
            <div class="value-item td" style="width: 5%;padding-left: 20px;">
              <span *ngIf="item.price <= 0" class="text-active text-bold freeProduct">Free</span>
              <span *ngIf="item.price > 0" class="text-bold paidProduct">
                Paid</span>
            </div>
            <div class="value-item td" style="width: 5%;display: flex;justify-content: flex-end;margin-top: 12px;">
              <span class="text-bold">
                <i class="fa fa-inr"></i> &nbsp;{{item.price}}
              </span>
            </div>
            <div class="value-item td" style="width: 8%;">
              <div class="dropdown dropleft" *ngIf="item.status!=50">
                <button class="btn btn-light btn-xs dropdown-toggle" type="button" (click)="toggleActionMenu($event)"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-caret-left" aria-hidden="true"></i> &nbsp; Action
                </button>
                <div class="dropdown-menu horizontal-menu" aria-labelledby="actionMenu">
                  <a class="dropdown-item" *ngIf="item.status < 30 ||(item.is_advance_product&& item.status== 30) "
                    [routerLink]="['/view/e-store/create/'+item.entity_id+'/basic']">Edit</a>
                  <a class="dropdown-item" *ngIf="item.status < 30 "
                    (click)="actionProductModal('delete', item.entity_id)">Delete</a>
                  <a class="dropdown-item" (click)="actionProductModal('ready', item.entity_id)"
                    *ngIf="item.status == 10">Ready</a>
                  <a class="dropdown-item" (click)="actionProductModal('publish', item.entity_id)"
                    *ngIf="item.status == 20">Publish</a>
                  <a class="dropdown-item" (click)="actionProductModal('unpublish', item.entity_id)"
                    style="border: none;" *ngIf="item.status == 30">Unpublished</a>
                  <a class="dropdown-item" (click)="showAssignStudentPopup(item)" *ngIf="item.status == 30">Assign
                    Student</a>
                  <a class="dropdown-item" (click)="actionProductModal('close', item.entity_id)" style="border: none;"
                    *ngIf="item.status == 40">Closed</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="value-outer-container" style="text-align: center;padding-top: 5%;font-weight: 600;"
          *ngIf="productList?.length < 1 && !productListLoading">
          <div *ngIf="!isRippleLoad"> No data found </div>
        </div>
      </div>
    </section>

    <div class="row filter-res pagination" #pager id="pager" style="width: 100%;">
      <div class="c-lg-12 c-md-12 c-sm-12 align-right">
        <pagination (goPage)="fectchTableDataByPage($event)" (goNext)="fetchNext()" (goPrev)="fetchPrevious()"
          [pagesToShow]="10" [page]="varJson.PageIndex" [perPage]="varJson.displayBatchSize" [sizeArr]="varJson.sizeArr"
          (sizeChange)="updateTableBatchSize($event)" [count]="varJson.total_items">
        </pagination>
      </div>
    </div>
  </div>
</div>


<!-- Delete/Publish Product Modal -->
<div class="modal fade" id="actionProductModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="max-width: 600px;">
      <div class="modal-body text-center">
        <div class="form-group">
          <p class="lead">{{deleteItem.textTitle}}</p>
        </div>
        <div class="form-group m-0">
          <button type="submit" class="btn btn-primary btn-sm" [disabled]="isRippleLoad"
            (click)="confirmAction(deleteItem.operation, deleteItem.entity_id)">Yes</button>
              &nbsp;
          <button type="button" class="btn btn-sm" data-dismiss="modal">No</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="assignStudent" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog" style="    margin-top: 5%;margin-left: 30%;width: 700px;" role="document">
    <div class="modal-content" style="max-width: 700px;">
      <div class="modal-body">
        <div>
          <span style="font-weight: 600;margin-bottom: 10px;">{{product_details_for_student.title}} </span>
          <span style="float: right;font-weight: 600;font-size: 16px;cursor: pointer;" (click)="closePopup()">X</span>
        </div>
        <div class="row" style="margin:0;margin-bottom: 10px;border-bottom: 1px solid #eee;" *ngIf="!isProfessional">
          <div class="form-group field-wrapper form-el-width" style="width: 40%;float: left;margin-right: 5%;">
            <label class="text-bold">Master Course</label>
            <select [(ngModel)]="master_course_name" class="form-ctrl" (change)="getCourseDetails($event.target.value)">
              <option value="">Select</option>
              <option *ngFor="let masterCourse of masterCourseDetails.master_course_name_list" title="{{masterCourse}}"
                value="{{masterCourse}}">
                {{ (masterCourse?.length > 20) ? (masterCourse | slice:0:20) + '...' : masterCourse }}

              </option>
            </select>
          </div>
          <div class="form-group field-wrapper form-el-width" style="width: 40%;float: left;">
            <label class="text-bold"> Course</label>
            <select [(ngModel)]="course_id" class="form-ctrl">
              <option value="">Select</option>
              <option *ngFor="let course of courseDetails" title="{{course.course_name}}" [value]="course.course_id">
                {{ (course.course_name?.length > 20) ? (course.course_name | slice:0:20) + '...' : course.course_name }}
              </option>
            </select>
          </div>
          <button class="btn btn-primary btn-product btn_go"
            style="margin-bottom: 0;margin-top: 26px;margin-left: 2%;float: left;" [disabled]="isRippleLoad"
            (click)="studentDataOnMasterCourse()">Go</button>
          <button class="btn btn-primary btn-product btn_go" style="margin-bottom: 0;margin-top: 23px;margin-left: 5px;"
            [disabled]="isRippleLoad" (click)="clearStudentFilter()">Clear</button>
        </div>

        <div class="row" style="margin:0" *ngIf="isProfessional">
          <div class="form-group field-wrapper form-el-width" style="width: 26%;float: left;margin-right: 3%;">
            <label class="text-bold">Master Course</label>
            <select [(ngModel)]="master_course_name" class="form-ctrl"
              (change)="getSubjectDetails($event.target.value)">
              <option value="">Select</option>
              <option *ngFor="let masterCourse of masterCourseDetails.standard_list"
                title="{{masterCourse.standard_name}}" value="{{masterCourse.standard_id}}">
                {{ (masterCourse.standard_name?.length > 20) ? (masterCourse.standard_name | slice:0:20) + '...' : masterCourse.standard_name }}

              </option>
            </select>
          </div>
          <div class="form-group field-wrapper form-el-width" style="width: 26%;float: left;margin-right: 3%;">
            <label class="text-bold"> Course</label>
            <select [(ngModel)]="course_id" class="form-ctrl">
              <option value="">Select</option>
              <option *ngFor="let course of courseDetails.subjectLi" title="{{course.subject_name}}"
                [value]="course.subject_id">
                {{ (course.subject_name?.length > 20) ? (course.subject_name | slice:0:20) + '...' : course.subject_name }}
              </option>
            </select>
          </div>

          <div class="form-group field-wrapper form-el-width" style="width: 26%;float: left;">
            <label class="text-bold"> Batch</label>
            <select [(ngModel)]="batch_id" class="form-ctrl">
              <option value="">Select</option>
              <option *ngFor="let course of courseDetails.batchLi" title="{{course.batch_name}}"
                [value]="course.batch_id">
                {{ (course.batch_name?.length > 20) ? (course.batch_name | slice:0:20) + '...' : course.batch_name }}
              </option>
            </select>
          </div>
          <button class="btn btn-primary btn-product btn_go"
            style="margin-bottom: 0;margin-top: 26px;margin-left: 2%;float: left;" [disabled]="isRippleLoad"
            (click)="studentDataOnMasterCourse()">Go</button>
          <button class="btn btn-primary btn-product btn_go" style="margin-bottom: 0;margin-top: 23px;margin-left: 5px;"
            [disabled]="isRippleLoad" (click)="clearStudentFilter()">Clear</button>
        </div>

        <div class="row" style="margin:0">
          <div class="c-lg-3 c-md-3 c-sm-3" style="float: right;padding-right: 0;">
            <div class="field-checkbox-wrapper" style="margin-bottom: 0;">
              <input type="checkbox" class="form-checkbox" [checked]="notifyToStudents" [(ngModel)]="notifyToStudents"
                id="notifyToStudents">
              <label for="notifyToStudents">Notify To Students</label>
            </div>
          </div>
        </div>
        <!-- <div class="field-checkbox-wrapper" style="float: left;margin-bottom: 15px;">
          <input type="checkbox" [checked]="activeStudents" (ngModelChange)="getAllActiveStudents()" [(ngModel)]="activeStudents" class="form-checkbox" id="ch3">
          <label for="ch3">All Active Students</label>
        </div>         -->
        <section style="margin-top: 10px;margin-bottom: 6%;">
          <div class="table-container" style="margin-bottom: 10px;">
            <div class="heading-container">
              <div class="heading-item" style="width: 10%;">
                <span>
                  <div class="field-checkbox-wrapper">
                    <input type="checkbox" class="form-checkbox" [checked]="isAllChecked()"
                      [(ngModel)]="jsonKeys.selectAll" (change)="toggleAllCheckBox()" id="ch2">
                    <label for="ch2"></label>
                  </div>
                </span>
              </div>
              <div class="heading-item" style="text-align: left;">
                <span>Student Name</span>
              </div>
              <div class="heading-item" style="width: 25%;">
                <span>Contact No.</span>
              </div>
              <div class="heading-item" style="width: 35%;">
                <span>Status</span>
              </div>
            </div>
            <div class="value-outer-container" *ngIf="studentDetails?.length!=0">
              <div class="value-container" *ngFor="let data of studentDetails;let i= index">
                <div class="value-item" style="width: 10%;">
                  <div class="field-checkbox-wrapper">
                    <input type="checkbox" class="form-checkbox" [disabled]="data.is_product_already_purchased"
                      [checked]="data.isSelected" [(ngModel)]="data.isSelected" [id]="'checkbox-'+i">
                    <label [for]="'checkbox-'+i"></label>
                  </div>
                </div>
                <div class="value-item" style="text-align: left;">
                  <span
                    title="{{data.student_name}}">{{(data.student_name.length > 80) ? (data.student_name | slice:0:80) + '...' : data.student_name}}</span>
                </div>
                <div class="value-item" style="width: 25%;padding-left: 1%;">
                  {{(data.phone != '') ? (data.phone) : '-'}}
                </div>
                <div class="value-item" style="width: 35%;padding-left: 1%;">
                  <span *ngIf="data.is_product_already_purchased" style="color: green;font-weight: 600;">Assigned</span>
                  <span *ngIf="!data.is_product_already_purchased" style="color: red;font-weight: 600;">Not
                    Assigned</span>
                </div>
              </div>
            </div>
            <div class="value-outer-container" style="text-align: center;padding-top: 5%;font-weight: 600;"
              *ngIf="studentDetails?.length==0">
              <div *ngIf="!isRippleLoad"> No data found </div>
            </div>
          </div>
          <div class="row" style="margin: 0;display: -webkit-box;-webkit-box-align: center;">
            <div class="c-lg-10 c-md-10 c-sm-10">
              <span>Total Students: {{studentDetails?.length}} </span>
            </div>
            <div class="c-lg-2 c-md-2 c-sm-2" style="padding-right: 0;">
              <button class="btn btn-primary btn-product btn_go" style="margin-bottom: 0;float: right;"
                [disabled]="isRippleLoad" (click)="assignStudentToProduct()">Assign</button>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
