<div class="container-fluid product-wrapper p-0">
  <div class="row m-0 pt-3 pb-3" style="border-bottom: 1pt solid #ddd;padding-bottom:10px">
    <div class="col-md-8">
      <section class="middle-top clearFix bulk-header">
        <div>
          <h1 class="pull-left">
            <a routerLink="/view/e-store/home" style="padding:0px; ">
              eStore
            </a>
            <i style="font-family: 'FontAwesome';" class="fas fa-angle-right"></i>
            <span> Product Details </span>
          </h1>
        </div>
      </section>
    </div>
    <div class="col-md-4 col-sm-4 text-right m-auto">
      <button class="btn btn-primary btn-product " routerLink="/view/e-store/create">New Product</button>
    </div>
  </div>
  <div class="row m-0 action-bar">
    <div class="col-md-12 col-sm-12 container">

      <div class="form-group field-wrapper form-el-width datePickerBox">
        <label class="text-bold">Sales From Date</label>
        <input type="text" value="" id="FromDate" class="form-ctrl bsDatepicker dateFormat" [(ngModel)]="filter.between.from" name="FD"
          bsDatepicker readonly="true" />
      </div>

      <div class="form-group field-wrapper form-el-width datePickerBox">
        <label class="text-bold">Sales To Date</label>
        <input type="text" value="" id="ToDate" class="form-ctrl bsDatepicker dateFormat" [(ngModel)]="filter.between.to" name="FD"
          bsDatepicker readonly="true" />
      </div>
      <div class="form-group field-wrapper form-el-width datePickerBox">
        <label class="text-bold">Publish Date</label>
        <input type="text" value="" id="publishDate" class="form-ctrl bsDatepicker dateFormat" [(ngModel)]="filter.by.publishDate"
          name="FD" bsDatepicker readonly="true" />
      </div>

      <div class="form-group field-wrapper form-el-width">
        <label class="text-bold">Product</label>
        <select [(ngModel)]="filter.by.title" class="form-ctrl" (change)="getPublishedDate($event.target.value)">
          <option *ngFor="let product of productDetails" title="{{product.title}}" [value]="product.title">
            {{ (product.title.length > 30) ? (product.title | slice:0:30) + '...' : product.title }}

          </option>
        </select>
      </div>
      <div class="form-group field-wrapper form-el-width">
        <label class="text-bold">Status</label>
        <select [(ngModel)]="filter.by.status" class="form-ctrl">
          <option value=10>Draft</option>
          <option value=20>Ready </option>
          <option value=30>Published</option>
          <option value=40>Unpublished</option>
          <option value=50>Closed</option>
        </select>
      </div>

      <div class="form-group field-wrapper form-el-width">
        <label class="text-bold">Product Type</label>
        <select [(ngModel)]="filter.by.productType" class="form-ctrl">
          <option value="-1">Both</option>
          <option value="1">Advance</option>
          <option value="0">Normal</option>
        </select>
      </div>
      <div class="form-group field-wrapper form-el-width">
        <label class="text-bold">Is Paid</label>
        <select [(ngModel)]="filter.by.isPaid" class="form-ctrl">
          <option value="true">True</option>
          <option value="false">False</option>
        </select>
      </div>

      <div class="form-group field-wrapper form-el-width" *ngIf="filter.by.isPaid=='true'">
        <label class="text-bold">Minimum Price
          <span class="text-danger">*</span>
        </label>
        <input type="text" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" id="minPrice" class="form-ctrl" [(ngModel)]="filter.by.minPrice"
          name="minPrice" />
      </div>

      <div class="form-group field-wrapper form-el-width" *ngIf="filter.by.isPaid=='true'">
        <label class="text-bold">Maximum Price
          <span class="text-danger">*</span>
        </label>
        <input type="text" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" id="maxPrice" class="form-ctrl" [(ngModel)]="filter.by.maxPrice"
          name="maxPrice" />
      </div>


      <!-- 
      <div class="form-group field-wrapper form-el-width">
        <label class="text-bold">E-course</label>
        <select [(ngModel)]="filter.ecourse_id" class="form-ctrl" (ngModelChange)="getSubjectList()">
          <option value="-1" selected>Select E-course</option>
          <option *ngFor="let course of ecourseList" [value]="course.course_type_id">
            <span
              title="{{course.course_type}}">{{ (course.course_type.length > 50) ? (course.course_type | slice:0:50) + '...' : course.course_type}}</span>
          </option>
        </select>
      </div> -->

      <!-- <div class="form-group field-wrapper form-el-width">
        <label class="text-bold">Standard</label>
        <select [(ngModel)]="filter.standard_id" class="form-ctrl" (ngModelChange)="getSubjectList()" name="cc" id="cc">
          <option value="-1" disabled selected>Select Standard</option>
          <option *ngFor="let std of standardList" [value]="std.exam_id">{{std.standard_name}}</option>
        </select>
      </div> -->

      <!-- <div class="form-group  field-wrapper form-el-width">
        <label class="text-bold">Subject</label>
        <select [(ngModel)]="filter.subject_id" class="form-ctrl" name="cc" id="cc">
          <option value="-1" selected>Select Subject</option>
          <option *ngFor="let sub of subjectsList" [value]="sub.subject_id">
            <span
              title="{{sub.subject_name}}">{{ (sub.subject_name.length > 50) ? (sub.subject_name | slice:0:50) + '...' : sub.subject_name }}</span>
          </option>

        </select>
      </div> -->

      <button class="btn btn-primary btn-product btn_go" [disabled]="auth.isRippleLoad.getValue()" (click)="filterData()">GO</button>
      <button class="btn btn-primary btn-product btn_go" [disabled]="auth.isRippleLoad.getValue()" (click)="Clearfilter()">Clear Filter</button>

    </div>
  </div>


  <div class="row m-0 pt-0 product-list-wrapper">
    <div class="col-md-12 table-wrapper p-0" style="height: 430px;overflow-y: scroll;">
      <table class="table product-table">
        <thead class="product-table-head">
          <tr >
            <!-- <th width="5%">
              <div class="field-checkbox-wrapper">
                <input type="checkbox" class="form-checkbox" [checked]="jsonKeys.selectAll"  (change)="toggleAllCheckBox($event)" id="ch2">
                <label for="ch2"></label>
              </div>
            </th> -->
            <th width="5%" >ID</th>
            <th width="5%">#</th>
            <th width="10%" class="text-left" style="text-align: left">Product Name</th>
            <th class="text-left">E-course</th>
            <th class="text-center">Status</th>
            <th class="text-center">Sale Start Date</th>
            <th class="text-center">Sale End Date</th>
            <th width="8%" class="text-center">Publish Date</th>
            <th width="8%" class="text-center">Update Date</th>
            <th width="5%" class="text-center">Status</th>
            <th width="5%" class="text-right">Price</th>
            <th width="8%" class="text-center">Action</th>
          </tr>
        </thead>
        <tbody class="product-table-body">
          <tr *ngFor="let item of productList;let i= index">
            <!-- <td>
                <div class="field-checkbox-wrapper">
                    <input type="checkbox" class="form-checkbox" [checked]="item.isSelected" [(ngModel)]="item.isSelected" (ngModelChange)="isAllSelected($event,item)" id="ch2">
                    <label for="ch2"></label>
                  </div>
            </td> -->
            <!-- <td>
              <img src="assets/images/file_manager/image.svg" style="height: 25px;;" class="img-responsive"
                alt="product image">
              [src]="item.product_image" 
            </td> -->
            <td [ngClass]="{'adv_prod_border': item.is_advance_product==1,'normal_prod_border': item.is_advance_product==0}">{{i+1}}</td>
            <td>
              <span>
                <img alt="product" class="profile_img" [src]="item.logo_url==null?'https://cdn.vox-cdn.com/thumbor/30bQJLedP0p2KHehrHJyPc2dZ5A=/0x0:600x579/920x0/filters:focal(0x0:600x579):format(webp):no_upscale()/cdn.vox-cdn.com/uploads/chorus_asset/file/16019250/log_2048.png':item.logo_url"
                  title="{{item.title}}">
              </span>
            </td>
            <td style="text-align: left">
              <label title="{{item.title}}">
                {{ (item.title.length > 20) ? (item.title | slice:0:20) + '...' : item.title }}
              </label>
            </td>
            <td style="width:20%;text-align: left;">
              <span class="ecourse-list" *ngFor="let  ecourse of item.product_ecourse_maps">
                {{ecourse.course_type}}
              </span>
            </td>
            <td class="text-center text-bold">
              <span *ngIf="item.status == 10" class="text-primary">Draft</span>
              <span *ngIf="item.status == 20" class="text-warning">Ready</span>
              <span *ngIf="item.status == 30" class="text-success">Published</span>
              <span *ngIf="item.status == 40" class="text-secondary">Unpublished</span>
              <span *ngIf="item.status == 50" class="text-secondary">Closed</span>
            </td>
            <td class="text-center">
              <p class="m-0 text-bold">{{convertUTCDateToLocalDate(item.sales_from_date)}}</p>
              <!-- , HH:mm -->
            </td>
            <td class="text-center">
              <p class="m-0 text-bold">{{convertUTCDateToLocalDate(item.sales_to_date)}}</p>
            </td>
            <td class="text-center">
              <p class="m-0 text-bold">{{ (!item.publish_date)? '-' :convertUTCDateToLocalDate(item.publish_date)}}</p>
            </td>
            <td class="text-center">
              <p class="m-0 text-bold">{{convertUTCDateToLocalDate(item.updated_date)}}</p>
            </td>
            <td class="text-center">
              <span *ngIf="item.price <= 0" class="text-active text-bold">Free</span>
              <span *ngIf="item.price > 0" class="text-bold">
                Paid</span>
            </td>
            <td class="text-right">
              <span class="text-bold">
                <i class="fa fa-inr"></i> &nbsp;{{item.price}}</span>
            </td>
            <!-- <td class="text-center">
                  20 <i class="fas fa-users"></i>
              </td> -->
            <td class="text-center">
              <div class="dropdown dropleft" *ngIf="item.status!=50">
                <button class="btn btn-light btn-xs dropdown-toggle" type="button" (click)="toggleActionMenu($event)" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-caret-left" aria-hidden="true"></i> &nbsp; Action
                </button>
                <div class="dropdown-menu horizontal-menu" aria-labelledby="actionMenu">
                  <a class="dropdown-item" *ngIf="item.status < 30 ||(item.is_advance_product&& item.status== 30) " [routerLink]="['/view/e-store/create/'+item.entity_id+'/basic']">Edit</a>
                  <a class="dropdown-item" *ngIf="item.status < 30 " (click)="actionProductModal('delete', item.entity_id)">Delete</a>
                  <a class="dropdown-item" (click)="actionProductModal('ready', item.entity_id)" *ngIf="item.status == 10">Ready</a>
                  <a class="dropdown-item" (click)="actionProductModal('publish', item.entity_id)" *ngIf="item.status == 20">Publish</a>
                  <a class="dropdown-item" (click)="actionProductModal('unpublish', item.entity_id)" style="border: none;" *ngIf="item.status == 30">Unpublished</a>
                  <a class="dropdown-item" (click)="actionProductModal('close', item.entity_id)" style="border: none;" *ngIf="item.status == 40">Closed</a>
                </div>
              </div>
            </td>
          </tr>

          <ng-container *ngIf="productList?.length < 1 && !productListLoading">
            <tr>
              <td colspan="12">No Records Found</td>
            </tr>
          </ng-container>

          <ng-container *ngIf="productListLoading">
            <tr>
              <td colspan="8" class="text-center">
                <i class="fa fa-spinner"></i>&nbsp; Loading...
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>

    <div class="row filter-res pagination" #pager id="pager" style="width: 100%;">
      <div class="c-lg-12 c-md-12 c-sm-12 align-right">
        <pagination (goPage)="fectchTableDataByPage($event)" (goNext)="fetchNext()" (goPrev)="fetchPrevious()" [pagesToShow]="10"
          [page]="varJson.PageIndex" [perPage]="varJson.displayBatchSize" [sizeArr]="varJson.sizeArr" (sizeChange)="updateTableBatchSize($event)"
          [count]="varJson.total_items">
        </pagination>
      </div>
    </div>
  </div>
</div>


<!-- Delete/Publish Product Modal -->
<div class="modal fade" id="actionProductModal" tabindex="-1" role="dialog" 
  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="max-width: 600px;">
      <div class="modal-body text-center">
        <div class="form-group">
          <p class="lead">{{deleteItem.textTitle}}</p>
        </div>
        <div class="form-group m-0">
          <button type="button" class="btn btn-sm" data-dismiss="modal">No</button>
          &nbsp;
          <button type="submit" class="btn btn-primary btn-sm" [disabled]="auth.isRippleLoad.getValue()" (click)="confirmAction(deleteItem.operation, deleteItem.entity_id)">Yes</button>
        </div>
      </div>
    </div>
  </div>
</div>