

  .error-popup-msg {
    align-items: center;
    display: flex;
    position: fixed;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
  }
  
  .error-lib-popup{
    background-color: #fff;
    border: 1px solid #555;
    border-radius: 5px;
    box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.75);
    min-width: 400px;
    max-width: 500px;
    min-height: 100px;
    max-height: 200px;
    margin: 0 auto;
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: left;
    z-index: 5010;
  }
  
  .error-lib-header {
    background-color: #FFF;
    color: #e42a2a;
    padding: 10px;
    position: relative;
    font-size: 14px;
    font-weight: normal;
  }
  
  .error-lib-title {
    margin: 0;
    &:before{
      content: '(!)  ';
    }
  }
  
  .error-lib-close {
    background-color: transparent;
    border: none;
    height: 44px;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 44px;
  }
  
  .error-lib-close-icon {
    color: #000;
    font-size: 20px;
    &:before {
      content: "\f00d";
      font-family: 'FontAwesome';
    }
  }
  
  .error-lib-body {
    background-color: #fff;
    border-radius: 0 0 5px 5px;
    color: #e42a2a;
    font-size: 18px;
    font-weight: normal;
    padding: 5px 10px;
    text-align: center;
  }
  
  .error-lib-message {
    text-align: left;
  }
  
  .error-lib-button {
    background-color: #fff;
    border: 1px solid grey;
    border-top-left-radius: 30%;
    border-bottom-left-radius: 30%;
    border-top-right-radius: 30%;
    border-bottom-right-radius: 30%;
    color: #000;
    font-size: 18px;
    font-weight: bolder;
    margin: 0 auto;
    min-height: 30px;
    max-height: 35px;
    min-width: 120px;
    padding: 7px;
    
    &:hover {
      background-color: grey;
      color: #fff;
      cursor: pointer;
    }
  }