<div class="error-popup-msg">
  <div class="error-lib-popup">
    
    <div class="error-lib-header">
      <h2 class="error-lib-title" tabindex="0">We have encountered an error</h2>
      <button class="error-lib-close">
        <span class="error-lib-close-icon" aria-label="none"></span>
      </button>
    </div>
    
    <div class="error-lib-body">
      <p class="error-lib-message">Error Message to be displayed here</p>
      <button class="error-lib-button">Fix this </button>
    </div>
  </div>
</div>