.middle-section {
    padding: 5px 15px;
    width: 100%;
    box-sizing: border-box;
}

.nestedTableHide {
    display: none;
}

.nestedTableShow {
    display: '';
}

.disableDatePicker {
    pointer-events: none;
}

.nested-Table-Show-Wrapper {
    max-height: 200px;
    overflow: hidden;
    .subjectList-table-wrapper {
        max-height: 180px;
        overflow-x: hidden;
        overflow-y: scroll;
    }
     ::-webkit-scrollbar {
        display: block;
        width: 7px;
        height: 7px;
    }
}