<div class="middle-section clearFix">
  <section class="middle-top mb0 clearFix" style="margin: 10px 0px;">
    <h1 class="pull-left">
      <a routerLink="/course/courselist">Course</a> / Edit <u> {{selectedCourseDetails.master_course}}</u>
    </h1>
  </section>

  <section style="padding: 5px;" class="middle-main clearFix">

    <div class="row" style="margin: 10px 0px;">
      <div class="c-lg-3 c-md-3 c-sm-3">
        <div class="field-wrapper has-value">
          <input type="text" id="idMasterCourse" [(ngModel)]="selectedCourseDetails.master_course
          " name="masterCourse" class="form-ctrl" />
          <label for="masterCourse">Master Course
            <span style="color:red">*</span>
          </label>
        </div>
      </div>
      <div class="c-lg-3 c-md-3 c-sm-3">
        <div class="field-wrapper has-value">
          <select id="idStanadardName" class="form-ctrl" disabled="true" [(ngModel)]="selectedCourseDetails.standard_id">
            <option *ngFor="let opt of standardNameList" [value]="opt.standard_id">
              {{opt.standard_name}}
            </option>
          </select>
          <label for="item">Standard Name
          </label>
        </div>
      </div>
    </div>

    <div class="tableSection">
      <div>
        <table>
          <thead>
            <tr style="line-height: 25px;">
              <th style="width: 100px;"></th>
              <th style="width:25%">
                Course Name
              </th>
              <th style="width:25%">
                Start Date
              </th>
              <th style="width:25%">
                End Date
              </th>
              <th style="width:25%">
                Allow Exam Grades
              </th>
            </tr>
          </thead>
          <tbody>
            <tr id="row{{i}}" *ngFor="let row of mainTableDataSource; let i= index ; trackBy:index">
              <td style="padding: 0px;" colspan="5">
                <div id="show{{i}}" class="nestedTable nested-Table-Show-Wrapper">
                  <div class="row" style="margin: 0px 0px;">
                    <table>
                      <tbody>
                        <tr>
                          <td style="width: 100px;">
                            <h4 class="clearFix" (click)="openSubjectTable(i)">
                              <!-- <span class="close-accor">-</span> -->
                              <span id="spani{{i}}" class="open-accor">+</span>
                            </h4>
                          </td>
                          <td>
                            <div class="field-wrapper has-value">
                              <input type="text" name="masterCourse" style="background: transparent" [(ngModel)]="mainTableDataSource[i].course_name" class="form-ctrl"
                                (focus)="inputClickedCheck($event)" />
                              <!-- <label for="masterCourse">Course Name
                                <span style="color:red">*</span>
                              </label> -->
                            </div>
                          </td>
                          <td>
                            <div class="field-wrapper">
                              <input type="text" value="" readonly="true" style="background: transparent" [ngClass]="{disableDatePicker : addEnableDisableClass(mainTableDataSource[i]) }"
                                [(ngModel)]="mainTableDataSource[i].start_date" class="form-ctrl bsDatepicker" name="startDate"
                                bsDatepicker (focus)="inputClickedCheck($event)">
                            </div>
                          </td>
                          <td>
                            <div class="field-wrapper has-value">
                              <input type="text" value="" readonly="true" style="background: transparent" class="form-ctrl bsDatepicker" [(ngModel)]="mainTableDataSource[i].end_date"
                                name="endDate" bsDatepicker (focus)="inputClickedCheck($event)">
                            </div>
                          </td>
                          <td>
                            <div class="field-checkbox-wrapper" style="margin-top: 25px;">
                              <input type="checkbox" value="" style="background: transparent" [(ngModel)]="mainTableDataSource[i].is_exam_grad_feature"
                                name="allow" class="form-checkbox">
                              <label for="allow">Allow Exam Grades</label>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div id="sub{{i}}" class="tableWrapper hide subjectList-table-wrapper">
                    <table>
                      <thead>
                        <tr>
                          <th>
                            Allocate Subject
                          </th>
                          <th>
                            Subject Name
                          </th>
                          <th>
                            Allocate Teacher
                          </th>
                          <th>

                          </th>
                        </tr>
                      </thead>
                      <tbody class="subjectListTableTbody">
                        <tr *ngFor="let row of mainTableDataSource[i].batchesList ; let y= index; trackBy: index">
                          <td>
                            <div class="field-checkbox-wrapper">
                              <input id="{{row.subject_id}}" [(ngModel)]="row.uiSelected" type="checkbox" value="" class="form-checkbox">
                              <label for="{{row.subject_id}}"></label>
                            </div>
                          </td>
                          <td>
                            {{row.subject_name}}
                          </td>
                          <td>
                            <select class="form-ctrl" [(ngModel)]="row.selected_teacher">
                              <option value="-1"></option>
                              <option *ngFor="let opt of activeTeachers" [value]="opt.teacher_id">
                                {{opt.teacher_name}}
                              </option>
                            </select>
                          </td>
                          <td>
                            <a *ngIf="(row.isAssigned == 'N')" (click)="deleteSubjectRow(row, i , y)">Delete</a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div style="margin-top: 10px">
      <button class="btn btnred" routerLink='/course/courselist'>Cancel</button>
      <button class="btn fullblue" (click)="updateEditedDetails()">Update Details</button>
      <button class="btn fullblue" (click)="addRowToMainTable()">Add More</button>
    </div>

  </section>

</div>