.middle-section {
    padding: 5px 15px;
    width: 100%;
    box-sizing: border-box;
}

.nestedTableHide {
    display: none;
}

.nestedTableShow {
    display: '';
}

.disableDatePicker {
    pointer-events: none;
}