<div class="bg-img">
  <div class="middle-section clearFix">

    <div class="auth-page-header">
      <div class="row proctur-logo">
        <div class="c-lg-6">
          <img class="logo" src="./assets/images/logoProctur.png" alt="Logo" height="">
        </div>
        <div class="c-lg-6" style="padding-top:10px;">
          <h5>New to Proctur?
            <input type="button" value="Get Advice" (click)="openGetAdvice()" class="fullBlue btn login-btn">
          </h5>
        </div>
      </div>
    </div>
    <div class="box">
      <!-- Login Marketing Data DIV Start -->
      <div class="login-wrapper">
        <div class="row">
          <div class="c-lg-8 detailslog" style="padding: 30px;min-height: 380px;">

            <div class="second-left-div-wrapper row">
              <h2>Accept Fees Using Online Payments </h2>
            </div>
            <div class="left-p-div">
              <p>Instant transfer. Ease of access. Secured and hassle free mode of payment!</p>
            </div>

            <div class="second-left-div-wrapper row">
              <h2>Introducing Smart Enquiry Management </h2>
              <div class="left-p-div">
                <p>Add enquiries instantly with our easy to understand interface.</p>
              </div>
            </div>

            <div class="second-left-div-wrapper row">
              <h2>Easy Student Admission And Course Management </h2>
              <div class="left-p-div">
                <p>Manage student admmission, fee and courses on the go.</p>
              </div>
            </div>

          </div>
          <div class="c-lg-4">
          </div>
        </div>
        <div class="footer-wrapper row">
          <hr>
        </div>
        <!-- Contact Login Wrapper -->
        <div class="row footer-contact-wrapper">
          <div class="c-xs-1">
            <i class="fa fa-phone call-icon"></i>
          </div>
          <div class="c-xs-6">
            <p>
              CALL FOR SUPPORT
              <br>
              <span>9971831677</span>
            </p>
          </div>
          <div class="c-xs-5"></div>
        </div>
      </div>
      <!-- Login Marketing Data DIV END -->
    </div>
    <!-- Login Box -->
    <div class="login-box">
      <div class="login-form-wrapper">
        <div class="row">
          <h2>Login to Dashboard</h2>
        </div>
        <div class="row" *ngIf="isLoginView">
          <div class="field-wrapper has-value" [ngClass]="{'has-value': loginDataForm.alternate_email_id != ''}">
            <input class="form-ctrl" type="text" [(ngModel)]="loginDataForm.alternate_email_id" name="alternate_email_id" id="emailid"
              autofocus #emailid="ngModel" required authInput (keyup.enter)="loginViaServer()">
            <div *ngIf="emailid.invalid && (emailid.dirty || emailid.touched || no_email_found)" class="alert invalid-alert">
              <div *ngIf="emailid.errors.required">
                Please enter valid Email ID/Mobile number
              </div>
            </div>
            <label for="emailid">Enter your Mobile or Email</label>
          </div>
          <div class="row" style="margin:0;">
            <div class="field-wrapper has-value password" [ngClass]="{'has-value': loginDataForm.password != ''}">
              <input class="form-ctrl" type="password" [(ngModel)]="loginDataForm.password" name="password" id="password" #password="ngModel"
                autofocus required authInput (keyup.enter)="loginViaServer()">
              <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert invalid-alert">
                <div *ngIf="password.errors.required">
                  Please enter Password
                </div>
              </div>
              <label for="password">Password</label>
            </div>
          </div>
          <div class="row">
            <div class="forgot-password" (click)="forgotPassword()">
              <a style="cursor:pointer">Forgot Password?</a>
            </div>
          </div>
          <div class="row" style="text-align:center">
            <div class="login-field-btn">
              <input type="button" value="Secure Login" (click)="loginViaServer()" class="fullBlue btn login-btn">
            </div>
          </div>
          <div class="row agreement-row">
            <p>
              By signing in you agree to our
              <a style="cursor:pointer" href="http://www.proctur.com/privacypolicy.html" target="_blank">Privacy Policy</a> and
              <a style="cursor:pointer" href="http://www.proctur.com/terms&amp;conditions.html" target="_blank">terms of use</a>.
            </p>
          </div>
        </div>
        <!-- Show Insititue List -->
        <div class="row" *ngIf="!isLoginView && isInstituteListPop">
          <div class="field-wrapper" style="margin:0;">
            <p>You are registered with multiple Institutes, Kindly select one to Continue</p>
          </div>
          <div class="field-wrapper insititute-field-wrapper">
            <h2 class="insititue-list-header">Login to</h2>
          </div>
          <div class="insititue-field-wrapper">
            <div class="row" *ngFor="let institute of instituteListArr">
              <div class="field-institute-wrapper" (click)="alternateLoginMultiInstituteData(institute.userId, institute.institute_id)">
                {{institute.institute_name}}
              </div>
            </div>
          </div>
        </div>
        <!-- Show Insititute List End -->
        <!-- Show User List -->
        <div class="row" *ngIf="!isLoginView && isUserListPop">
          <div class="field-wrapper" style="margin:0;">
            <p>You are registered with multiple Roles, Kindly select one to Continue</p>
          </div>
          <div class="field-wrapper insititute-field-wrapper">
            <h2 class="insititue-list-header">Login as</h2>
          </div>
          <div class="insititue-field-wrapper">
            <div class="row" *ngFor="let user of userListArr">
              <div class="field-institute-wrapper" (click)="alternateLoginMultiUserData(user.userID,user.user_role,user.institute_id)">
                {{user.userType}}
              </div>
            </div>
          </div>
        </div>
        <!-- Show User List End -->
        <!-- OTP verification Start -->
        <div class="row" *ngIf="!isLoginView && OTPVerificationPopUp">
          <div class="field-wrapper insititute-field-wrapper">
            <h2 class="insititue-list-header" style="padding-right:20px;">Enter One Time Password</h2>
          </div>
          <div class="field-wrapper" style="margin:0;">
            <p>One Time Password (OTP) has been sent to your mobile ******{{otpVerificationPhoneNumber}}, please enter the same
              here to login.</p>
          </div>
          <div class="form-type1">
            <div class="field-wrapper has-value">
              <input type="text" value="" class="form-ctrl" [(ngModel)]="otpVerificationInfo.otp_code" maxlength="4" name="otpData" id="otpData"
                #otpData="ngModel" enquiryInput required/>
              <div *ngIf="otpData.invalid && (otpData.dirty || otpData.touched)" class="alert invalid-alert">
                <div *ngIf="otpData.errors.required">
                  Please enter OTP.
                </div>
              </div>
              <label for="otpData">OTP</label>
            </div>
          </div>
          <div class="row" *ngIf="counter != 0">
            <div class="forgot-password" style="margin-right:18%;">
              <a style="cursor:pointer">Resend in 00:{{countDown | async}}</a>
            </div>
          </div>
          <div class="row" *ngIf="counter == 0">
            <div class="forgot-password" style="margin-right:18%;">
              <a style="cursor:pointer" (click)="alternateLoginOTPRegenerate()">Resend?</a>
            </div>
          </div>
          <div class="row" style="text-align:center; margin-top:2%;">
            <div class="login-field-btn">
              <input type="button" value="VERIFY" (click)="alternateLoginOTPVerification()" class="fullBlue btn">
            </div>
          </div>
        </div>
        <!-- OTP verification End -->
      </div>
    </div>

  </div>
</div>