<div class="bg-img">
  <div class="middle-section clearFix">

    <div class="auth-page-header">
      <div class="row proctur-logo">
        <div class="c-lg-6">
          <img class="logo" [src]="dynamicImgSrc" alt="Logo" height="" *ngIf="isProcturVisible">
        </div>
        <div class="c-lg-6" style="padding-top:10px;">
          <h5 *ngIf="isProcturVisible">New to Proctur?
            <input type="button" value="Get Advice" (click)="openGetAdvice()" class="fullBlue btn login-btn">
          </h5>
        </div>
      </div>
    </div>
    <div #viewChange>
      <!-- Login Marketing Data DIV Start -->
      <div class="login-wrapper">
        <div class="row">
          <div class="c-xs-8">
            <ul class="social-icons" *ngIf="isProcturVisible">
              <li>
                <a href="https://www.facebook.com/proctur" class="social-icon" target="_blank">
                  <i class="icons fab fa-facebook-square"></i>
                </a>
              </li>

              <li>
                <a href="https://twitter.com/proctur_in" class="social-icon" target="_blank">
                  <i class="icons fab fa-twitter-square"></i>
                </a>
              </li>

              <li>
                <a href="https://bit.ly/2t4XFbM" class="social-icon" target="_blank">
                  <i class="icons fab fa-youtube-square"></i>
                </a>
              </li>
              <li>
                <a href="https://www.instagram.com/proctur3300/" class="social-icon" target="_blank">
                  <i class="icons fab fa-instagram"></i>
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/company/proctur" class="social-icon" target="_blank">
                  <i class="icons fab fa-linkedin-square"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="c-xs-4"></div>
        </div>
        <div class="row">
          <div class="c-lg-8 detailslog">
            <div style="margin-top: 25px;" class="second-left-div-wrapper row">
              <h2>Accept Fees Using Online Payments </h2>
              <div class="left-p-div">
                <p>Instant transfer. Ease of access. Secured and hassle free mode of payment!</p>
              </div>
            </div>

            <div class="second-left-div-wrapper row">
              <h2>Introducing Smart Enquiry Management </h2>
              <div class="left-p-div">
                <p>Add enquiries instantly with our easy to understand interface.</p>
              </div>
            </div>

            <div class="second-left-div-wrapper row">
              <h2>Easy Student Admission And Course Management </h2>
              <div class="left-p-div">
                <p>Manage student admmission, fee and courses on the go.</p>
              </div>
            </div>

          </div>
          <div class="c-lg-4">
          </div>
        </div>
        <div class="footer-wrapper row">
          <hr>
        </div>
        <!-- Contact Login Wrapper -->
        <div class="row footer-contact-wrapper">
          <div class="c-xs-6">
            <div class="c-xs-1">
              <i class="fa fa-phone call-icon" *ngIf="isProcturVisible"></i>
            </div>
            <div style="margin-left: 10px;" class="c-xs-4 cursor-point">
              <p *ngIf="isProcturVisible">
                CALL FOR SUPPORT
                <br>
                <span>9971831677</span>
                <br>
                <span>9953366316</span>
              </p>
            </div>
            <div class="c-xs-2">
              <a href="https://play.google.com/store/apps/details?id=com.proctur.adminV2" target="_blanks">
                <img src="./assets/images/gapps1.png" alt="Proctur Andriod Mobile Application for Coaching Institutes" *ngIf="isProcturVisible">
              </a>
            </div>
            <div class="c-xs-2">
              <a href="https://itunes.apple.com/us/app/proctur/id1217766789?ls=1&mt=8" target="_blanks">
                <img src="./assets/images/gapps2.png" alt="Proctur iOS Mobile Application for Coaching Institutes" *ngIf="isProcturVisible">
              </a>
            </div>
            <div class="c-xs-3">

            </div>
          </div>
          <div class="c-xs-6"></div>
        </div>
      </div>
      <!-- Login Marketing Data DIV END -->
    </div>
    <!-- Login Box -->
    <div class="login-box">
      <div class="login-form-wrapper">
        <div class="row">
          <h2>Login to Dashboard</h2>
        </div>
        <div class="row" *ngIf="isLoginView">
          <div class="field-wrapper has-value" [ngClass]="{'has-value': loginDataForm.alternate_email_id != ''}">
            <input class="form-ctrl" type="text" [(ngModel)]="loginDataForm.alternate_email_id" name="alternate_email_id" id="emailid"
              placeholder="Enter your Mobile or Email" #emailid="ngModel" required authInput (keyup.enter)="loginViaServer()">
            <div *ngIf="emailid.invalid && (emailid.dirty || emailid.touched || no_email_found)" class="alert invalid-alert">
              <div *ngIf="emailid.errors.required">
                Please enter valid Email ID/Mobile number
              </div>
            </div>
            <label for="emailid"></label>
          </div>
          <div class="row" style="margin:0;">
            <div class="field-wrapper has-value password" [ngClass]="{'has-value': loginDataForm.password != ''}">
              <input class="form-ctrl" type="password" [(ngModel)]="loginDataForm.password" name="password" id="password" #password="ngModel"
                placeholder="Password" required authInput (keyup.enter)="loginViaServer()">
              <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert invalid-alert">
                <div *ngIf="password.errors.required">
                  Please enter Password
                </div>
              </div>
              <label for="password"></label>
            </div>
          </div>
          <div class="row">
            <div class="forgot-password" (click)="forgotPassword()">
              <a style="cursor:pointer">Forgot Password?</a>
            </div>
          </div>
          <div class="row" style="text-align:center">
            <div class="login-field-btn">
              <input type="button" value="Secure Login" id="btnSecureLogin" (click)="loginViaServer()" class="fullBlue btn login-btn">
            </div>
          </div>
          <div class="row agreement-row" [ngStyle]="!isProcturVisible && {'visibility':'hidden'}">
            <p>
              By signing in you agree to our
              <a style="cursor:pointer" href="http://www.proctur.com/privacypolicy.html" target="_blank">Privacy Policy</a> and
              <a style="cursor:pointer" href="http://www.proctur.com/terms&amp;conditions.html" target="_blank">terms of use</a>.
            </p>
          </div>
        </div>
        <!-- Show Insititue List -->
        <div class="row" *ngIf="!isLoginView && isInstituteListPop">
          <div class="field-wrapper" style="margin:0;">
            <p>You are registered with multiple Institutes, Kindly select one to Continue</p>
          </div>
          <div class="field-wrapper insititute-field-wrapper">
            <h2 class="insititue-list-header">Login to</h2>
          </div>
          <div class="insititue-field-wrapper">
            <div class="row" *ngFor="let institute of instituteListArr">
              <div class="field-institute-wrapper" (click)="alternateLoginMultiInstituteData(institute.userId, institute.institute_id)">
                {{institute.institute_name}}
              </div>
            </div>
          </div>
        </div>
        <!-- Show Insititute List End -->
        <!-- Show User List -->
        <div class="row" *ngIf="!isLoginView && isUserListPop">
          <div class="field-wrapper" style="margin:0;">
            <p>You are registered with multiple Roles, Kindly select one to Continue</p>
          </div>
          <div class="field-wrapper insititute-field-wrapper">
            <h2 class="insititue-list-header">Login as</h2>
          </div>
          <div class="insititue-field-wrapper">
            <div class="row" *ngFor="let user of userListArr">
              <div class="field-institute-wrapper" (click)="alternateLoginMultiUserData(user.userID,user.user_role,user.institute_id)">
                {{user.userType}}
              </div>
            </div>
          </div>
        </div>
        <!-- Show User List End -->
        <!-- OTP verification Start -->
        <div class="row" *ngIf="!isLoginView && OTPVerificationPopUp">
          <div class="field-wrapper insititute-field-wrapper">
            <h2 class="insititue-list-header" style="padding-right:20px;">Enter One Time Password</h2>
          </div>
          <div class="field-wrapper" style="margin:0;">
            <p>One Time Password (OTP) has been sent to your mobile ******{{otpVerificationPhoneNumber}}, please enter the same
              here to login.</p>
          </div>
          <div class="form-type1">
            <div class="field-wrapper has-value">
              <input type="text" value="" class="form-ctrl" [(ngModel)]="otpVerificationInfo.otp_code" maxlength="4" name="otpData" id="otpData"
                #otpData="ngModel" enquiryInput required/>
              <div *ngIf="otpData.invalid && (otpData.dirty || otpData.touched)" class="alert invalid-alert">
                <div *ngIf="otpData.errors.required">
                  Please enter OTP.
                </div>
              </div>
              <label for="otpData">OTP</label>
            </div>
          </div>
          <div class="row" *ngIf="counter != 0">
            <div class="forgot-password" style="margin-right:18%;">
              <a style="cursor:pointer">Resend in 00:{{countDown | async}}</a>
            </div>
          </div>
          <div class="row" *ngIf="counter == 0">
            <div class="forgot-password" style="margin-right:18%;">
              <a style="cursor:pointer" (click)="alternateLoginOTPRegenerate()">Resend?</a>
            </div>
          </div>
          <div class="row" style="text-align:center; margin-top:2%;">
            <div class="login-field-btn">
              <input type="button" value="VERIFY" (click)="alternateLoginOTPVerification()" class="fullBlue btn">
            </div>
          </div>
        </div>
        <!-- OTP verification End -->
      </div>
    </div>

  </div>
</div>