<div #backgroundChange [ngClass]="{'hide':_commService.show_loader.getValue()=='student_login'}">
  <div class="middle-section clearFix" >

    <div class="auth-page-header" *ngIf="isProcturVisible">
      <div class="row proctur-logo">
        <div class="c-lg-6" [ngStyle]="dynamicImgSrc == ''  && {'visibility':'hidden'}">
          <img class="logo" [src]="dynamicImgSrc" alt="Logo" height="">
        </div>
        <div class="c-lg-6" style="padding-top:10px;">
          <h5 *ngIf="isProcturVisible">New to Proctur?
            <input type="button" value="Get Advice" (click)="openGetAdvice()" class="fullBlue btn login-btn">
          </h5>
        </div>
      </div>
    </div>

    <div class="auth-page-virtual" *ngIf="!isProcturVisible">
      <div class="row proctur-logo">
        <div class="c-lg-6" [ngStyle]="dynamicImgSrc == ''  && {'visibility':'hidden'}">
          <img class="logo" [src]="dynamicImgSrc" alt="Logo" height="">
        </div>
      </div>
    </div>
    <div class="box" *ngIf="isProcturVisible">
      <!-- Login Marketing Data DIV Start -->
      <div class="login-wrapper" *ngIf="isProcturVisible">
        <div class="row">
          <div class="c-xs-8">
            <ul class="social-icons">
              <li class="procturSiliconDiv">
                <a href="https://education.siliconindia.com/others/institution/education-apps-2019-proctur-cid-11246.html" style="cursor: pointer;"
                  target="_blank">
                  <span style="font-size: 18px;">Proctur</span>
                  <span> is now featured in</span>&nbsp;
                  <img src="../../../../assets/images/proctur_silicon.png" class="procturSiliconImg">
                </a>
              </li>
            </ul>
          </div>
          <div class="c-xs-4"></div>
        </div>
        <div class="row">
          <div class="c-lg-8 detailslog">
            <div style="margin-top: 25px;" class="second-left-div-wrapper row">
              <h2>Accept Fees Using Online Payments </h2>
              <div class="left-p-div">
                <p>Instant transfer. Ease of access. Secured and hassle free mode of payment!</p>
              </div>
            </div>

            <div class="second-left-div-wrapper row">
              <h2>Introducing Smart Enquiry Management </h2>
              <div class="left-p-div">
                <p>Add enquiries instantly with our easy to understand interface.</p>
              </div>
            </div>

            <div class="second-left-div-wrapper row">
              <h2>Easy Student Admission And Course Management </h2>
              <div class="left-p-div">
                <p>Manage student admmission, fee and courses on the go.</p>
              </div>
            </div>

          </div>
          <div class="c-lg-4">
          </div>
        </div>
        <div class="footer-wrapper row">
          <hr style="margin: 0;">
        </div>
        <!-- Contact Login Wrapper -->
        <div class="row footer-contact-wrapper">
          <div class="c-xs-6">
            <div class="c-xs-1">
              <i class="fa fa-phone call-icon"></i>
            </div>
            <div style="margin-left: 10px;" class="c-xs-4 cursor-point">
              <p>
                CALL FOR SUPPORT
                <br>
                <span>9971839153</span>
                <br>
                <span>9953366316</span>
              </p>
            </div>
            <!-- <div class="c-xs-2">
              <a href="https://play.google.com/store/apps/details?id=com.proctur.adminV2" target="_blanks">
                <img src="./assets/images/gapps1.png" alt="Proctur Andriod Mobile Application for Coaching Institutes">
              </a>
            </div>
            <div class="c-xs-2">
              <a href="https://itunes.apple.com/us/app/proctur-admin/id1352882235" target="_blanks">
                <img src="./assets/images/gapps2.png" alt="Proctur iOS Mobile Application for Coaching Institutes">
              </a>
            </div> -->
            <div class="c-xs-3">

            </div>
          </div>
          <div class="c-xs-6"></div>
          <div class="row">
            <div class="c-xs-8">
              <ul class="social-icons">
                <li>
                  <a href="https://www.facebook.com/proctur" class="social-icon" target="_blank">
                    <i class="icons fab fa-facebook-square"></i>
                  </a>
                </li>

                <li>
                  <a href="https://twitter.com/proctur_in" class="social-icon" target="_blank">
                    <i class="icons fab fa-twitter-square"></i>
                  </a>
                </li>

                <li>
                  <a href="https://bit.ly/2t4XFbM" class="social-icon" target="_blank">
                    <i class="icons fab fa-youtube-square"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.instagram.com/proctur3300/" class="social-icon" target="_blank">
                    <i class="icons fab fa-instagram"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/company/proctur" class="social-icon" target="_blank">
                    <i class="icons fab fa-linkedin-square"></i>
                  </a>
                </li>
              </ul>
            </div>
            <div class="c-xs-4"></div>
          </div>
        </div>
      </div>
      <!-- Login Marketing Data DIV END -->
    </div>
    <!-- Login Box -->
    <div #virtualStyle>
      <div class="login-form-wrapper">
        <div class="row">
          <h2 *ngIf="!isGuestUserCourse">Login to Dashboard </h2>
          <h2 *ngIf="isGuestUserCourse">Select your courses</h2>
        </div>
        <div class="row" *ngIf="isLoginView &&(!isGuestUserCourse)">
          <div class="field-wrapper has-value">
            <input class="form-ctrl" type="text" [(ngModel)]="loginDataForm.alternate_email_id" name="alternate_email_id" id="emailid"
              placeholder="Enter your Mobile or Email" #emailid="ngModel" required (keyup.enter)="loginViaServer()">
            <div *ngIf="emailid.invalid && (emailid.dirty || emailid.touched || no_email_found)" class="alert invalid-alert">
              <div *ngIf="emailid.errors.required">
                Please enter valid Email ID/Mobile number
              </div>
            </div>
            <label for="emailid"></label>
          </div>
          <div class="row" style="margin:0;">
            <div class="field-wrapper has-value password">
              <input class="form-ctrl" type="password" [(ngModel)]="loginDataForm.password" name="password" id="password" #password="ngModel"
                placeholder="Password" required (keyup.enter)="loginViaServer()">
              <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert invalid-alert">
                <div *ngIf="password.errors.required">
                  Please enter Password
                </div>
              </div>
              <label for="password"></label>
            </div>
          </div>
          <div class="row">
            <div class="forgot-password" (click)="forgotPassword()">
              <a style="cursor:pointer">Forgot Password?</a>
            </div>
          </div>
          <div class="row" style="text-align:center" *ngIf="isGuestUser">
            <div class="login-field-btn">

              <p class="user-ex">
                If you don't have account ?
                <a routerLink="/guest/register" style="font-weight: 600;"> &nbsp;&nbsp; Register here</a>
              </p>
            </div>
          </div>
          <div class="row" style="text-align:center">
            <div class="login-field-btn">
              <input type="button" value="Secure Login" id="btnSecureLogin" (click)="loginViaServer()" class="fullBlue btn login-btn">
              <p class="user-ex">
                For best user experience use Google Chrome Browser
              </p>
            </div>
          </div>

          <div class="row agreement-row" *ngIf="isProcturVisible">
            <p>
              By signing in you agree to our
              <a style="cursor:pointer" href="https://proctur.com/policy/index.html" target="_blank">Privacy Policy</a> and
              <a style="cursor:pointer" href="https://proctur.com/terms/index.html" target="_blank">terms of use</a>.
            </p>
          </div>
        </div>
        <!-- Show Insititue List -->
        <div class="row" *ngIf="!isLoginView && isInstituteListPop">
          <div class="field-wrapper" style="margin:0;">
            <p>You are registered with multiple Institutes, Kindly select one to Continue</p>
          </div>
          <div class="insititue-field-wrapper">
            <div class="row" *ngFor="let institute of instituteListArr">
              <div class="field-institute-wrapper" (click)="alternateLoginMultiInstituteData(institute.userId, institute.institute_id)">
                {{institute.institute_name}}
              </div>
            </div>
          </div>
        </div>
        <!-- Show Insititute List End -->
        <!-- Show User List -->
        <div class="row" *ngIf="!isLoginView && isUserListPop">
          <div class="field-wrapper" style="margin:0;">
            <p>You are registered with multiple Roles, Kindly select one to Continue</p>
          </div>
          <div class="field-wrapper insititute-field-wrapper">
            <h2 class="insititue-list-header">Login as</h2>
          </div>
          <div class="insititue-field-wrapper">
            <div class="row" *ngFor="let user of userListArr">
              <div class="field-institute-wrapper" (click)="alternateLoginMultiUserData(user.userID,user.user_role,user.institute_id)">
                {{user.userType}}
              </div>
            </div>
          </div>
        </div>
        <!-- Show User List End -->
        <!-- OTP verification Start -->
        <div class="row" *ngIf="!isLoginView && OTPVerificationPopUp">
          <div class="field-wrapper insititute-field-wrapper">
            <h2 class="insititue-list-header" style="padding-right:20px;">Enter One Time Password</h2>
          </div>
          <div class="field-wrapper" style="margin:0;">
            <p>One Time Password (OTP) has been sent to your mobile and/or email, please enter the same here to login.</p>
          </div>
          <div class="form-type1">
            <div class="field-wrapper has-value">
              <label>OTP</label>
              <input type="text" value="" class="form-ctrl" [(ngModel)]="otpVerificationInfo.otp_code" maxlength="4" name="otpData" id="otpData"
                #otpData="ngModel" enquiryInput required style="margin-top: 18px;">
              <div *ngIf="otpData.invalid && (otpData.dirty || otpData.touched)" class="alert invalid-alert">
                <div *ngIf="otpData.errors.required">
                  Please enter OTP.
                </div>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="counter != 0">
            <div class="forgot-password" style="margin-right:18%;">
              <a style="cursor:pointer">Resend in 00:{{countDown | async}}</a>
            </div>
          </div>
          <div class="row" *ngIf="counter == 0">
            <div class="forgot-password" style="margin-right:18%;">
              <!-- <span style="cursor:pointer" (click)="alternateLoginOTPRegenerate()">Resend</span> -->
              <a style="cursor:pointer" (click)="alternateLoginOTPRegenerate()">Resend?</a>
            </div>
          </div>
          <div class="row" style="text-align:center; margin-top:2%; margin-bottom: 15px;">
            <div class="login-field-btn">
              <input type="button" value="VERIFY" (click)="alternateLoginOTPVerification()" class="fullBlue btn">
            </div>
          </div>
        </div>
        <!-- OTP verification End -->

        <!-- Show User List -->
        <div class="row" *ngIf="isGuestUserCourse">
          <div class="insititue-field-wrapper pull-left" style="margin-left: 4rem;overflow-y: scroll;height: 250px;">
            <table>
              <tbody>
                <tr *ngFor="let data of courses ; let i=index" style="border: unset;">
                  <td class="checkBoxCss" style="border: unset;
                  padding: 5px 0px">
                    <div class="field-checkbox-wrapper pull-left">
                      <input type="checkbox" class="form-checkbox" [checked]="data.checked" (change)="toggleCheckbox($event,data)" [id]="'checkbox-'+i">
                      <label [for]="'checkbox-'+i"></label>
                      <p style="    display: block; color:#0084f6;
                      margin: 10px;     margin-bottom: 0px;">{{data.course_type}}</p>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>

          </div>
          <!-- Show User List End -->
        </div>
        <div class="row text-center" *ngIf="isGuestUserCourse">
          <div class="login-field-btn">
            <input type="button" value="Select" id="btnSecureLogin" class="fullBlue btn " (click)="updateCourseforGuestUser()">
            <input type="button" value="Cancel" id="btnSecureLogin" class="btn" (click)="gotoStudentPortal()">
          </div>
        </div>
      </div>

    </div>
  </div>
