<section class="middle-section clearFix">

  <section class="" id="studentFlow">
    <!-- =====================  Form Navigations================= -->
    <section class="student-tab">
      <ul class="nav-tab">
        <li id="li-one" class="active">
          <div class="navigator" id="studentForm-icon" (click)="switchToView($event.target.id)">
            <span id="studentForm-icon">1</span>
            <p id="studentForm-icon">Personal Details</p>
          </div>
        </li>
        <li class="" id="li-two">
          <div class="navigator" id="kyc-icon" (click)="switchToView($event.target.id)">
            <span id="kyc-icon">2</span>
            <p id="kyc-icon">KYC Details</p>
          </div>
        </li>
        <li class="" id="li-three">
          <div class="navigator" id="feeDetails-icon" (click)="switchToView($event.target.id)">
            <span id="feeDetails-icon">3</span>
            <p id="feeDetails-icon">Fee Details</p>
          </div>
        </li>
        <li class="" id="li-four">
          <div class="navigator" id="inventory-icon" (click)="switchToView($event.target.id)">
            <span id="inventory-icon">4</span>
            <p id="inventory-icon">Inventory</p>
          </div>
        </li>
      </ul>
    </section>

    <!-- ========Student Main Enquiry Form ====================== -->
    <section class="student-flow-wrapper boxPadding15" id="studentForm">

      <!-- Form Header -->
      <section class="middle-top clearFix">
        <h1 class="pull-left">
          Personal Details
        </h1>
        <aside class="pull-right">
          <div class="need-help">
            <div class="questionInfo">
              <span class="qInfoIcon">?</span>
              <div class="tooltip-box-field">
                Show-Why and when to quick Add Student
              </div>
            </div>
            <a style="cursor:pointer">Need help?</a>
          </div>
        </aside>
      </section>

      <!-- Main Enquiry Form -->
      <section class="clearFix student-flow  row" id="studentFlow">
        <aside class="pull-left middle-left">
          <div class="form-type1">
            <div class="field-wrapper">
              <input type="text" value="" class="form-ctrl" studentInput id="sName" [(ngModel)]="studentAddFormData.student_name" maxlength="50"
                pattern="[a-zA-Z .]+[a-zA-Z .]+" #sname="ngModel" required>
              <label for="sName">Student Name*</label>
              <div *ngIf="sname.invalid && (sname.dirty || sname.touched)" class="alert alert-danger">
                <div *ngIf="sname.errors.required">
                  name is required.
                </div>
                <div *ngIf="sname.errors.pattern">
                  name cannot have special characters or numbers.
                </div>
              </div>
            </div>
            <div class="field-wrapper">
              <input type="text" value="" id="cNumber" class="form-ctrl" studentInput [(ngModel)]="studentAddFormData.student_phone" maxlength="10"
                minlength="10" #cNumber="ngModel" pattern="[789][0-9]{9}" required/>
              <label for="cNumber">Contact Number*</label>
              <div *ngIf="cNumber.invalid && (cNumber.dirty || cNumber.touched)" class="alert alert-danger">
                <div *ngIf="cNumber.errors.required">
                  phone number is required.
                </div>
                <div *ngIf="cNumber.errors.pattern">
                  Please enter a valid number.
                </div>
              </div>
            </div>
            <div class="field-wrapper">
              <input type="text" value="" id="sEmail" class="form-ctrl" studentInput [(ngModel)]="studentAddFormData.student_email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                #sEmail="ngModel" required/>
              <label for="sEmail">Email ID</label>
              <div *ngIf="sEmail.invalid && (sEmail.dirty || sEmail.touched)" class="alert alert-danger">
                <div *ngIf="sEmail.errors.required">
                  email ID is required.
                </div>
                <div *ngIf="sEmail.errors.pattern">
                  Please enter a valid email ID.
                </div>
              </div>
            </div>
            <div class="field-wrapper customSelectWrapper">
              <select id="userGender" class="form-ctrl" studentInput [(ngModel)]="studentAddFormData.student_sex">
                <option></option>
                <option>Male</option>
                <option>Female</option>
              </select>
              <label for="userGender">Gender</label>
            </div>
            <div class="field-wrapper">
              <input type="text" value="" id="parentName" class="form-ctrl" studentInput [(ngModel)]="studentAddFormData.parent_name" maxlength="50"
                pattern="[a-zA-Z .]+[a-zA-Z .]+" #parentName="ngModel">
              <label for="parentName">Parent Name</label>
              <div *ngIf="parentName.invalid && (parentName.dirty || parentName.touched)" class="alert alert-danger">
                <div *ngIf="parentName.errors.pattern">
                  name cannot have special characters or numbers.
                </div>
              </div>
            </div>
            <div class="field-wrapper">
              <input type="text" value="" id="parentContactNo" class="form-ctrl" studentInput [(ngModel)]="studentAddFormData.parent_phone"
                maxlength="10" minlength="10" pattern="[789][0-9]{9}" #parentContactNo="ngModel" />
              <label for="parentContactNo">Parent Contact Number</label>
              <div *ngIf="parentContactNo.invalid && (parentContactNo.dirty || parentContactNo.touched)" class="alert alert-danger">
                <div *ngIf="parentContactNo.errors.pattern">
                  Please enter a valid number.
                </div>
              </div>
            </div>
            <div class="field-wrapper">
              <input type="text" value="" id="parentEmail" class="form-ctrl" studentInput [(ngModel)]="studentAddFormData.parent_email"
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" #parentEmail="ngModel">
              <label for="parentEmail">Parent Email ID</label>
              <div *ngIf="parentEmail.invalid && (parentEmail.dirty || parentEmail.touched)" class="alert alert-danger">
                <div *ngIf="parentEmail.errors.pattern">
                  Please enter a valid email ID.
                </div>
              </div>
            </div>
            <div class="more-detail">
              <a style="cursor:pointer" (click)="toggleAdditionalBasicDetails()">+ &nbsp; Add Additional Details</a>
            </div>
          </div>

          <div class="form-type2" *ngIf="additionalBasicDetails">
            <h2>Additional Details</h2>
            <div class="field-wrapper datePickerBox">
              <input type="text" value="" id="sdob" class="form-ctrl" studentInput [(ngModel)]="studentAddFormData.dob" #sdob="ngModel"
                required>
              <label for="sdob">Date of Birth</label>
              <div *ngIf="sdob.invalid && (sdob.dirty || sdob.touched)" class="alert alert-danger">
                <div *ngIf="sdob.errors.required">
                  Date of Birth is required.
                </div>
              </div>
            </div>
            <div class="field-wrapper">
              <input type="text" value="" id="currentAdd" [(ngModel)]="studentAddFormData.student_curr_addr" class="form-ctrl" studentInput>
              <label for="currentAdd">Current Address Line1</label>
            </div>
            <!-- <div class="field-wrapper">
              <input type="text" value="" id="currentAdd2" class="form-ctrl" studentInput>
              <label for="currentAdd2">Current Address Line2</label>
            </div> -->
            <div class="field-wrapper">
              <input type="text" value="" id="guardianName" class="form-ctrl" studentInput maxlength="50" pattern="[a-zA-Z .]+[a-zA-Z .]+"
                [(ngModel)]="studentAddFormData.guardian_name" #guardianName="ngModel" />
              <label for="guardianName">Guardian Name</label>
              <div *ngIf="guardianName.invalid && (guardianName.dirty || guardianName.touched)" class="alert alert-danger">
                <div *ngIf="guardianName.errors.pattern">
                  name cannot have special characters or numbers.
                </div>
              </div>
              <div class="questionInfo pos-rel">
                <span class="qInfoIcon">?</span>
                <div class="tooltip-box-field">
                  Show-Why and when to quick Add Student
                </div>
              </div>
            </div>
            <div class="field-wrapper">
              <input type="text" value="" id="guardianContact" class="form-ctrl" studentInput maxlength="10" minlength="10" [(ngModel)]="studentAddFormData.guardian_phone"
                pattern="[789][0-9]{9}" #guardianContact="ngModel">
              <label for="guardianContact">Guardian Contact Number</label>
              <div *ngIf="guardianContact.invalid && (guardianContact.dirty || guardianContact.touched)" class="alert alert-danger">
                <div *ngIf="guardianContact.errors.pattern">
                  numbers cannot have special characters or alphabets.
                </div>
              </div>
              <div class="questionInfo pos-rel">
                <span class="qInfoIcon">?</span>
                <div class="tooltip-box-field">
                  Show-Why and when to quick Add Student
                </div>
              </div>
            </div>
            <div class="field-wrapper">
              <input type="text" value="" id="guardianEmail" class="form-ctrl" studentInput pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                [(ngModel)]="studentAddFormData.guardian_email" #guardianEmail="ngModel" />
              <label for="guardianEmail">Guardian Email Id</label>
              <div *ngIf="guardianEmail.invalid && (guardianEmail.dirty || guardianEmail.touched)" class="alert alert-danger">
                <div *ngIf="guardianEmail.errors.pattern">
                  please enter a valid email ID.
                </div>
              </div>
            </div>
            <div class="field-wrapper">
              <input type="text" value="" [ngModel]="studentAddFormData.comments" id="addCommentNote" class="form-ctrl" studentInput>
              <label for="addCommentNote">Add Comment Note</label>
            </div>
          </div>
        </aside>
        
        <aside class="pull-right middle-right" id="studentRightSideBar">
          
          
          <div class="common-right-section">
            <h4>
              <strong>Enquiry Details</strong>
            </h4>
            <section class="shadow-box clearfix">
              <div class="last-added-info">
                <ul>
                  <li>
                    <span class="last-user-name">
                      <strong>Last Added Name -</strong>
                      <dfn>Shani Maurya</dfn>
                    </span>
                    <span class="view-details">
                      <a href="#">View details</a>
                    </span>
                  </li>
                  <li>
                    <span class="last-Enquiry-no">
                      <strong>Enquiry No. -</strong>
                      <dfn>1020</dfn>
                    </span>

                  </li>
                  <li>
                    <span class="status">
                      <strong>Status -</strong>
                      <strong>
                        <dfn class="admitted-status">Open</dfn>
                      </strong>
                    </span>

                  </li>
                </ul>
              </div>
            </section>
          </div>


          <!-- Enquiry Details official use-->
          <section class="enquiry-detail common-right-section">
            <h4>
              <strong>Administration Details</strong> (Official Use)</h4>
            <div class="box-shadow-lite">
              <div class="field-wrapper">
                <input type="text" value="" id="doj" class="form-ctrl unstyled-calendar" studentInput onfocus="(this.type='date')" onfocusout="(this.type='text')"
                  [(ngModel)]="studentAddFormData.doj" />
                <label for="doj">Date of Joining</label>
                <span class="follow-up-date-icon">
                  <img src="../../../../assets/images/calendar.svg" alt="" />
                </span>
              </div>
              <div class="field-wrapper">
                <select id="schoolStitution" [(ngModel)]="studentAddFormData.school_name" class="form-ctrl" studentInput>
                  <option></option>
                  <option [value]="institute.school_id" *ngFor="let institute of instituteList">
                    {{institute.school_name}}
                  </option>
                </select>
                <label for="schoolStitution">School/Institution</label>
                <span class="open-accor">+</span>
              </div>
              <div class="field-wrapper">
                <select id="standard" [(ngModel)]="studentAddFormData.student_class" class="form-ctrl" studentInput>
                  <option></option>
                  <option [value]="standard.standard_id" *ngFor="let standard of standardList">
                    {{standard.standard_name}}
                  </option>
                </select>
                <label for="standard">Standards</label>
              </div>
              <div class="field-wrapper">
                <input type="text" [ngModel]="assignedBatch" class="form-ctrl" studentInput />
                <label for="assignCourses">Assign Courses</label>
              </div>
              <div class="map-courses">
                <a style="cursor:pointer" (click)="openAssignBatch()">
                  <strong>Map Courses</strong>
                </a>
              </div>
            </div>

          </section>
        </aside>
      </section>
      <section class="middle-bottom clearFix">
        <div class="pull-left">
          <div class="field-checkbox-wrapper">
            <input type="checkbox" value="" [ngModel]="quickAddStudent" (ngModelChange)="addStudentNow($event)" class="form-checkbox"
              id="quickAddStudent">
            <label for="quickAddStudent">Quick Add Student</label>
            <div class="questionInfo pos-rel">
              <span class="qInfoIcon">?</span>
              <div class="tooltip-box-field">
                Show-Why and when to quick Add Student
              </div>
            </div>
          </div>
        </div>
        <aside class="pull-right">
          <input type="button" value="Cancel" class="btn cancle">
          <input type="button" id="form-continue" value="Save and Continue" class="btn redBtn" (click)="navigateTo('kyc')">
          <input type="button" id="form-submit" value="Submit" class="btn hide redBtn">
        </aside>
      </section>
    </section>

    <!-- ======================KYC Form========================== -->
    <section class="student-flow-wrapper" id="kyc">
      <section class="kyc-section ">
        <section class="middle-top clearFix">
          <h1 class="pull-left">
            KYC Details
          </h1>
          <aside class="pull-right">
            <div class="need-help">
              <div class="questionInfo">
                <span class="qInfoIcon">?</span>
              </div>
              <a href="#">Need help?</a>
            </div>
          </aside>
        </section>
      </section>
      <section class="clearFix student-flow row " id="studentFlow">
        <aside class="pull-left middle-left">
          <div class="form-type1">
            <div class="field-wrapper">
              <input type="text" value="" id="adhar" class="form-ctrl" studentInput>
              <label for="adhar">Adhar Number*</label>
            </div>
            <div class="field-wrapper">
              <input type="text" value="" id="enroll" class="form-ctrl" studentInput>
              <label for="enroll">Enrollment No*</label>
            </div>
            <div class="field-wrapper">
              <input type="text" value="" id="otherInfo1" class="form-ctrl" studentInput>
              <label for="otherInfo1">Other Info</label>
            </div>
            <div class="field-wrapper">
              <input type="text" value="" id="otherInfo2" class="form-ctrl" studentInput>
              <label for="otherInfo2">Other Info</label>
            </div>
            <div class="field-wrapper">
              <input type="text" value="" id="otherInfo3" class="form-ctrl" studentInput>
              <label for="otherInfo3">Other Info</label>
            </div>
            <div class="field-wrapper">
              <input type="text" value="" id="otherInfo4" class="form-ctrl" studentInput>
              <label for="otherInfo4">Other Info</label>
            </div>
            <div class="field-wrapper">
              <input type="text" value="" id="otherInfo5" class="form-ctrl" studentInput>
              <label for="otherInfo5">Other Info</label>
            </div>
          </div>

        </aside>
      </section>
      <section class="middle-bottom clearFix ">
        <div class="pull-left">
          <input type="button" value="Back" class="btn" (click)="navigateTo('studentForm')">
        </div>
        <aside class="pull-right">
          <input type="button" value="Cancel" class="btn cancle">
          <input type="button" id="form-continue" value="Save and Continue" class="btn redBtn" (click)="navigateTo('feeDetails')">
          <input type="button" id="form-submit" value="Submit" class="btn hide redBtn">
        </aside>
      </section>
    </section>


    <!-- =============== Fee Details =============================== -->
    <section class="student-flow-wrapper" id="feeDetails">
      <section class="fee-detail">
        <section class="middle-top clearFix">
          <h1 class="pull-left">
            Fee Details
          </h1>
          <aside class="pull-right">
            <div class="need-help">
              <div class="questionInfo">
                <span class="qInfoIcon">?</span>
              </div>
              <a href="#">Need help?</a>
            </div>
          </aside>
        </section>
      </section>

      <section class="clearFix fee-detail row" id="feedetail">
        <aside class="pull-left middle-left">
          <div class="form-type1 fee-box">
            <h2>Define Fee Schedule</h2>
            <div class="field-wrapper customSelectWrapper">
              <select id="feeStructure" class="form-ctrl" studentInput>
                <option></option>
                <option>Fee Structure*</option>
                <option>feeStructure1</option>
              </select>
              <label for="feeStructure">Fee Structure*</label>
            </div>
            <div class="field-wrapper datePickerBox">
              <input type="text" value="" id="effectiveDate" class="form-ctrl" studentInput>
              <label for="effectiveDate">Effective Date*</label>
            </div>
            <input type="button" value="Apply" class="btn fullBlue">
          </div>
          <a href="#" class="next">Next</a>
        </aside>
        <aside class="pull-left middle-left">
          <div class="form-type2 fee-box">
            <h2>Manage Installments</h2>
            <div class="field-wrapper">
              <input type="text" value="" id="mtotal" class="form-ctrl" studentInput>
              <label for="mtotal">Total Amount (Rs)*</label>
            </div>
            <div class="field-wrapper">
              <input type="text" value="" id="tDiscount" class="form-ctrl" studentInput>
              <label for="tDiscount">Total Discount (Rs)*</label>
            </div>
            <div class="field-wrapper">
              <input type="text" value="" id="discountReason" class="form-ctrl" studentInput>
              <label for="discountReason">Discount Reason</label>
              <div class="questionInfo">
                <span class="qInfoIcon">?</span>
              </div>
            </div>
            <div class="field-wrapper">
              <input type="text" value="" id="noInstallment" class="form-ctrl" studentInput>
              <label for="noInstallment">No of Installments*</label>
            </div>
            <div class="apply-tax">
              <div class="field-checkbox-wrapper">
                <input type="checkbox" value="" class="form-checkbox" id="applyTax">
                <label for="applyTax">Apply Tax(18%)</label>
              </div>
            </div>
            <input type="button" value="Create Installment" class="btn fullBlue">
          </div>
          <a href="#" class="prev">Previous</a>
          <a href="#" class="next">Next</a>
        </aside>
      </section>
    </section>

    <!-- =============== Inventory =============================== -->
    <section class="student-flow-wrapper" id="inventory">
      <!--===========================================allocation inventory item===========================-->
      <section class="clearFix allocation row" id="allocationInventoryItem">

        <aside class="middle-full">
          <section class="middle-top clearFix">
            <h1 class="pull-left">
              Inventory
            </h1>
            <aside class="pull-right">
              <div class="need-help">
                <div class="questionInfo">
                  <span class="qInfoIcon">?</span>
                </div>
                <a href="#">Need help?</a>
              </div>
            </aside>
          </section>
          <div class="form-type1 fee-box">
            <h2>allocation Inventory Item</h2>
            <div class="field-wrapper customSelectWrapper">
              <select id="allItem" class="form-ctrl" studentInput>
                <option></option>
                <option>Fee Structure*</option>
                <option>feeStructure1</option>
              </select>
              <label for="allItem">Items*</label>

            </div>
            <p>Available Items: 2</p>
            <div class="field-wrapper">
              <input type="text" value="" id="units" class="form-ctrl" studentInput>
              <label for="units">Unites*</label>
            </div>
            <!--<div class="fee-detail">      
                             <input type="button" value="Apply" class="btn fullBlue">
                         </div>-->
          </div>
          <section class="middle-bottom clearFix ">
            <div class="pull-left">
              <input type="button" value="Back" class="btn">
            </div>
            <aside class="pull-right">
              <input type="button" value="Cancel" class="btn cancle">
              <input type="button" value="Skip" class="btn cancle">
              <input type="button" value="Submit" class="btn redBtn">
            </aside>
          </section>
        </aside>
      </section>

      <!--===========================================allocation inventory item===========================-->
      <section class="clearFix helpDetail row" id="helpDetail">
        <aside class="middle-full">
          <section class="middle-top clearFix">
            <h1 class="pull-left">
              Help Details
            </h1>
          </section>
          <section class="done-section">
            <span class="close-btns">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="9310 2185 16 16">
                <g id="Group_1228" data-name="Group 1228" transform="translate(8298 1888)">
                  <g id="Group_1213" data-name="Group 1213" transform="translate(34.189 -7.77)">
                    <line id="Line_274" data-name="Line 274" class="cls-1" y2="19.798" transform="translate(992.81 305.77) rotate(45)"></line>
                    <line id="Line_275" data-name="Line 275" class="cls-1" x1="19.798" transform="translate(978.81 305.77) rotate(45)"></line>
                  </g>
                  <rect id="Rectangle_686" data-name="Rectangle 686" class="cls-2" width="16" height="16" transform="translate(1012 297)"></rect>
                </g>
              </svg>
            </span>
            <p>Here you will get details of how to go about using this form</p>
            <input type="button" value="Done" class="btn fullBlue" />
          </section>
        </aside>
      </section>

    </section>

  </section>

  <!-- =============== Inventory =============================== -->

  <student-pop-up [hidden]="!isAssignBatch">
    <span class="closePopup pos-abs fbold show" id="popupCloseBtn" (click)="closeBatchAssign()" close-button>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="9310 2185 16 16">
        <g id="Group_1228" data-name="Group 1228" transform="translate(8298 1888)">
          <g id="Group_1213" data-name="Group 1213" transform="translate(34.189 -7.77)">
            <line id="Line_274" data-name="Line 274" class="cls-1" y2="19.798" transform="translate(992.81 305.77) rotate(45)" />
            <line id="Line_275" data-name="Line 275" class="cls-1" x1="19.798" transform="translate(978.81 305.77) rotate(45)" />
          </g>
          <rect id="Rectangle_686" data-name="Rectangle 686" style="stroke:none;" class="cls-2" width="16" height="16" transform="translate(1012 297)"
          />
        </g>
      </svg>
    </span>

    <h2 popup-header>Batch Assignment</h2>

    <div class="fee-install-table" popup-content>
      <div class="table-responsive">
        <table>
          <thead>
            <tr>
              <th></th>
              <th>Batch Name</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Batch Assign Date</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let batch of batchList">
              <td>
                <div class="inst-no">
                  <div class="field-checkbox-wrapper">
                    <input type="checkbox" value="" class="form-checkbox">
                    <label></label>
                  </div>
                </div>
              </td>
              <td>{{batch.batch_name}}</td>
              <td>{{batch.start_date}}</td>
              <td>{{batch.end_date}}</td>
              <td>
                <div class="field-wrapper datePickerBox">
                  <input type="text" value="" id="assigndate" class="form-ctrl" onfocus="(this.type='date')" onfocusout="(this.type='text')" studentInput>
                  <label for="assigndate">Assign Date</label>
                </div>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="" popup-footer>
      <div class="clearfix">
        <aside class="pull-right popup-btn">
          <input type="button" value="Cancel" class="btn" (click)="closeBatchAssign()">
          <input type="button" value="Assign" class="redBtn btn" (click)="assignBatch()">
        </aside>
      </div>
    </div>
  </student-pop-up>

</section>