<div class="sidebar-wrapper">

    <div class="header-row">
        <div class="student-details-wrapper">
            <ul>
                <li style="border-top: none;">
                    <h3>#{{rowData.student_disp_id}}</h3>
                </li>
                <li style="border-top: none;">
                    <h4>{{rowData.student_name}}</h4>
                </li>
                <li style="border-top: none;text-overflow: ellipsis;cursor:pointer;" (click)="emitNotes($evnent)">
                    <h5>
                        <i style="font-family: FontAwesome;" class="fa fa-sticky-note" aria-hidden="true"></i>
                        {{studentDetails.comments}}
                    </h5>
                </li>
            </ul>
        </div>
        <div class="profile-details-wrapper">
            <div class="profile-wrapper">
                <proctur-image [containerWidth]="containerWidth" [isSidenav]="true" [serverImg]="studentServerImage" [readonly]="readonly" [defaultImg]="'assets/images/student_icon.png'">
                </proctur-image>
            </div>
        </div>
    </div>

    <div class="row">

        <button aria-expanded="true" class="dropdown-trigger" (click)="openMenu()">
            <span class="svg-icon-wrap">
                <span class="visually-hidden"></span>
                <div aria-hidden="true" type="ellipsis-horizontal-icon">
                    <svg viewBox="0 0 24 24" width="24px" height="24px" x="0" y="0" preserveAspectRatio="xMinYMin meet" class="artdeco-icon"
                        focusable="false">
                        <path d="M2,10H6v4H2V10Zm8,4h4V10H10v4Zm8-4v4h4V10H18Z" class="large-icon" style="fill: currentColor"></path>
                    </svg>
                </div>
            </span>
        </button>

        <div class="dd-list-container" *ngIf="showMenu">
            <div class="dropdown-list">
                <div class="dd-list-inner">
                    <ul class="actions-menu">

                        <li class="action-item" (click)="emitEdit($event)">
                            <a class="">
                                <img src="./assets/images/edit_details.svg" height="10" width="20">Edit Student
                            </a>
                        </li>

                        <li class="action-item" (click)="emitDelete($event)">
                            <a class="">
                                <img src="./assets/images/delete_entry.svg" height="10" width="20">Delete Student
                            </a>
                        </li>

                        <li class="action-item" (click)="emitLeave($event)">
                            <a class="">
                                <i style="font-family: FontAwesome;margin-right: 15px;margin-left: 8px;" class="fas fa-exclamation" aria-hidden="true"></i>Mark Leave
                            </a>
                        </li>

                        <li class="action-item" (click)="emitEditLeave($event)">
                            <a class="enq-act enq-act--five">
                                <img src="./assets/images/reciept_preview.svg" height="10" width="20">Manage Fee
                            </a>
                        </li>

                        <li class="action-item" routerLink="/inventory">
                            <a>
                                <i class="icon" id="li7" style="margin-right: 5px;">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="-29 421 28 24" id="li7" style="height: 15px;width: 20px;">
                                        <g id="Group_1182" data-name="Group 1182" transform="translate(-46 -16)">
                                            <g id="Group_1171" data-name="Group 1171" transform="translate(0)">
                                                <ellipse id="Ellipse_24" data-name="Ellipse 24" class="cls-1" cx="3.333" cy="10" rx="3.333" ry="10" transform="translate(28 439)"
                                                />
                                                <ellipse id="Ellipse_25" data-name="Ellipse 25" class="cls-1" cx="3.333" cy="10" rx="3.333" ry="10" transform="matrix(0.5, -0.866, 0.866, 0.5, 21, 446.876)"
                                                />
                                                <ellipse id="Ellipse_26" data-name="Ellipse 26" class="cls-1" cx="3.333" cy="10" rx="3.333" ry="10" transform="matrix(0.5, 0.866, -0.866, 0.5, 38.32, 441.124)"
                                                />
                                            </g>
                                            <rect id="Rectangle_674" data-name="Rectangle 674" class="cls-2" width="28" height="24" transform="translate(17 437)" />
                                        </g>
                                    </svg>
                                </i>
                                Manage Inventory
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="acc-wrapper">
        <ul>
            <li #one class="">
                <div class="row lihead" (click)="toggleAccordian('one')">
                    <i></i>
                    <h2>Basic Details</h2>
                </div>
                <section>
                    <div class="detail-wrapper">
                        <div class="form-wrapper c-xs-12">
                            <div class="field-wrapper" style="padding-top: 25px;">
                                <label *ngIf="isProfessional" style="top: 0px;" for="Batches">Batches</label>
                                <label *ngIf="!isProfessional" style="top: 0px;" for="Batches">Courses</label>
                                <textarea rows="1" cols="1" style="height: 85px;border: solid 2px rgba(53, 53, 53, 0.26);padding: 5px; background: #efefef"
                                    readonly="true" id="Batches" name="Batches" class="form-ctrl" [(ngModel)]="rowData.batchesAssigned">
                                </textarea>
                            </div>
                        </div>
                        <div class="form-wrapper c-xs-12">
                            <label for="dob">Date Of Birth</label>
                            <input readonly="true" class="side-form-ctrl" [(ngModel)]="studentDetails.dob" type="text" name="dob">
                        </div>
                        <div class="form-wrapper c-xs-12">
                            <label for="doj">Date Of Admission</label>
                            <input readonly="true" class="side-form-ctrl" [(ngModel)]="studentDetails.doj" type="text" name="doj">
                        </div>
                        <div class="form-wrapper c-xs-12">
                            <label for="doj">Student Email</label>
                            <input readonly="true" class="side-form-ctrl" [(ngModel)]="studentDetails.student_email" type="text" name="email">
                        </div>
                        <div class="form-wrapper c-xs-12">
                            <label for="ParentName">Parent Name</label>
                            <input readonly="true" class="side-form-ctrl" [(ngModel)]="studentDetails.parent_name" type="text" name="ParentName">
                        </div>
                        <div class="form-wrapper c-xs-12">
                            <label for="ParentPhone">Parent Phone</label>
                            <input readonly="true" class="side-form-ctrl" [(ngModel)]="studentDetails.parent_phone" type="text" name="ParentPhone">
                        </div>
                        <div class="form-wrapper c-xs-12">
                            <label for="ParentEmail">Parent Email</label>
                            <input readonly="true" class="side-form-ctrl" [(ngModel)]="studentDetails.parent_email" type="text" name="ParentEmail">
                        </div>

                        <!-- <div class="form-wrapper c-xs-12">
                            <label for="GuardianName">Guardian Name</label>
                            <input readonly="true" class="side-form-ctrl" [(ngModel)]="studentDetails.guardian_name" type="text" name="Guardian Name">
                        </div>
                        <div class="form-wrapper c-xs-12">
                            <label for="GuardianPhone">Guardian Phone</label>
                            <input readonly="true" class="side-form-ctrl" [(ngModel)]="studentDetails.guardian_phone" type="text" name="GuardianPhone">
                        </div>
                        <div class="form-wrapper c-xs-12">
                            <label for="Guardian Email"></label>
                            <input readonly="true" class="side-form-ctrl" [(ngModel)]="studentDetails.guardian_email" type="text" name="Guardian Email">
                        </div>
                        <div class="form-wrapper c-xs-12">
                            <label for="SchoolName">School Name</label>
                            <input readonly="true" class="side-form-ctrl" [(ngModel)]="studentDetails.school_name" type="text" name="SchoolName">
                        </div>
                        <div class="form-wrapper c-xs-12">
                            <label for="student_class">Student Class</label>
                            <input readonly="true" class="side-form-ctrl" [(ngModel)]="studentDetails.student_class" type="text" name="student_class">
                        </div> -->
                        <div class="form-wrapper c-xs-12">
                            <label for="Address">Address</label>
                            <input readonly="true" class="side-form-ctrl" [(ngModel)]="studentDetails.student_curr_addr" type="text" name="Address">
                        </div>
                    </div>
                </section>
            </li>

            <li #two class="liclosed">
                <div class="row lihead" (click)="toggleAccordian('two')">
                    <i></i>
                    <h2>Other Details</h2>
                </div>
                <section>
                    <div class="detail-wrapper" *ngFor="let custom of customComponent">
                        <div class="form-wrapper c-xs-12">
                            <label for="{{custom.label}}">{{custom.label}}</label>
                            <input readonly="true" class="side-form-ctrl" [(ngModel)]="custom.enq_custom_value" type="text" name="{{custom.label}}">
                        </div>
                    </div>
                </section>
            </li>

        </ul>
    </div>

</div>