<div class="sidebar-wrapper">

    <div class="row header-row">
        <div class="c-lg-3 c-md-3 c-sm-3 pull-left">
            <div class="profile-wrapper">
                <div class="no-img">
                    <div class="image-disp" #imgDisp>
                    </div>
                </div>
            </div>
        </div>
        <div class="c-lg-9 c-md-9 c-sm-9 pull-right student-details">
            <ul>
                <li style="border-top: none;">
                    <h3></h3>
                </li>
                <li style="border-top: none;">

                </li>
            </ul>
        </div>

    </div>

    <div class="acc-wrapper">
        <ul>
            <li>
                <input type="checkbox" checked>
                <i></i>
                <h2>Update Enquiry</h2>
                <section>


                </section>
            </li>
            <li>
                <input type="checkbox" checked>
                <i></i>
                <h2>Previous Comments</h2>
                <section>

                </section>
            </li>
            <li>
                <input type="checkbox" checked>
                <i></i>
                <h2>Basic Details</h2>
                <section>

                </section>
            </li>
            <li>
                <input type="checkbox" checked>
                <i></i>
                <h2>Other Details</h2>
                <section>

                </section>
            </li>
        </ul>
    </div>

</div>