<div class="sidebar-wrapper">

    <div class="row header-row">
        <div class="c-lg-1 c-md-1 c-sm-1 pull-left">
        </div>
        <div class="c-lg-2 c-md-2 c-sm-2 pull-left">
            <div class="profile-wrapper">
                <proctur-image [containerWidth]="containerWidth" [serverImg]="studentServerImage" [readonly]="readonly" [defaultImg]="'assets/images/studentblue.png'">
                </proctur-image>
            </div>
        </div>
        <div class="c-lg-9 c-md-9 c-sm-9 pull-right student-details">
            <ul>
                <li style="border-top: none;">
                    <h3>{{rowData.student_name}}</h3>
                </li>
                <li style="border-top: none;">
                    {{rowData.student_disp_id}}
                </li>
                <li style="border-top: none;text-overflow: ellipsis;cursor:pointer;" (click)="emitNotes($evnent)">
                    <a>
                        <i style="font-family: FontAwesome;" class="fa fa-sticky-note" aria-hidden="true"></i> {{rowData.comments}}</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="row button-bar" style="padding-left: 25px;">
        <div class="enq-act-main">
            <a class="enq-act enq-act--one" (click)="emitEdit($event)">
                <img src="./assets/images/edit_details.svg" height="10" width="20">
                <div class="tooltip">Edit Student</div>
            </a>

            <a class="enq-act enq-act--three">
                <img src="./assets/images/delete_entry.svg" height="10" width="20" (click)="emitDelete($event)">
                <div class="tooltip">Delete Student</div>
            </a>

            <a class="enq-act enq-act--four">
                <img src="./assets/images/convert_student.svg" height="10" width="20">
                <div class="tooltip">Mark Leave</div>
            </a>

            <a class="enq-act enq-act--five">
                <img src="./assets/images/reciept_preview.svg" height="10" width="20">
                <div class="tooltip">Manage PDC</div>
            </a>

        </div>
    </div>

    <div class="acc-wrapper">
        <ul>
            <li>
                <input type="checkbox" checked>
                <i></i>
                <h2>Basic Details</h2>
                <section>
                    <div class="row">
                        <div class="c-lg-6 c-md-6 c-sm-6">
                            Batches:
                        </div>
                        <div class="c-lg-6 c-md-6 c-sm-6">
                            {{rowData.batchesAssigned}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="c-lg-6 c-md-6 c-sm-6">
                            Date Of Birth:
                        </div>
                        <div class="c-lg-6 c-md-6 c-sm-6">
                            {{rowData.dob}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="c-lg-6 c-md-6 c-sm-6">
                            Date Of Joining:
                        </div>
                        <div class="c-lg-6 c-md-6 c-sm-6">
                            {{rowData.doj}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="c-lg-6 c-md-6 c-sm-6">
                            Parent Name:
                        </div>
                        <div class="c-lg-6 c-md-6 c-sm-6">
                            {{rowData.parent_name}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="c-lg-6 c-md-6 c-sm-6">
                            Parent Phone:
                        </div>
                        <div class="c-lg-6 c-md-6 c-sm-6">
                            {{rowData.parent_phone}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="c-lg-6 c-md-6 c-sm-6">
                            Parent Email:
                        </div>
                        <div class="c-lg-6 c-md-6 c-sm-6">
                            {{rowData.parent_email}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="c-lg-6 c-md-6 c-sm-6">
                            Guardian Name:
                        </div>
                        <div class="c-lg-6 c-md-6 c-sm-6">
                            {{rowData.guardian_name}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="c-lg-6 c-md-6 c-sm-6">
                            Guardian Phone:
                        </div>
                        <div class="c-lg-6 c-md-6 c-sm-6">
                            {{rowData.guardian_phone}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="c-lg-6 c-md-6 c-sm-6">
                            Guardian Email:
                        </div>
                        <div class="c-lg-6 c-md-6 c-sm-6">
                            {{rowData.guardian_email}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="c-lg-6 c-md-6 c-sm-6">
                            School Name:
                        </div>
                        <div class="c-lg-6 c-md-6 c-sm-6">
                            {{rowData.school_name}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="c-lg-6 c-md-6 c-sm-6">
                            student_class:
                        </div>
                        <div class="c-lg-6 c-md-6 c-sm-6">
                            {{rowData.student_class}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="c-lg-6 c-md-6 c-sm-6">
                            Address:
                        </div>
                        <div class="c-lg-6 c-md-6 c-sm-6">
                            {{rowData.student_curr_addr}}
                        </div>
                    </div>
                </section>
            </li>
            <li>
                <input type="checkbox" checked>
                <i></i>
                <h2>Other Details</h2>
                <section>
                    <div class="row" *ngFor="let custom of customComponent">
                        <div class="c-lg-6 c-md-6 c-sm-6">
                            {{custom.label}}:
                        </div>
                        <div class="c-lg-6 c-md-6 c-sm-6">
                            {{custom.enq_custom_value}}
                        </div>
                    </div>
                </section>
            </li>
            <!-- <li>
                <input type="checkbox" checked>
                <i></i>
                <h2>Fee Status</h2>
                <section>

                </section>
            </li>
            <li>
                <input type="checkbox" checked>
                <i></i>
                <h2>Inventory Status</h2>
                <section>

                </section>
            </li> -->
        </ul>
    </div>

</div>