<div class="middle-section clearFix">
  <section class="middle-top mb0 clearFix">
    <h1 class="pull-left">
      Academic Year List
    </h1>
  </section>

  <section class="middle-main clearFix">

    <div class="clearFix add-edit">
      <a (click)="toggleCreateNewAcademicYear()">
        <i id="showAddBtn" class="addBtnClass">+</i>
        <i id="showCloseBtn" class="closeBtnClass" style="display:none;">-</i>
        <span>Add Academic Year</span>
      </a>
    </div>
    <section class="clearFix create-standard-form" *ngIf="createNewAcademicYear">
      <div class="row create-standard-field">

        <div class="c-lg-2 c-md-2 c-sm-2">
          <div class="field-wrapper" [ngClass]="{'has-value': addAcademicYearTemplate.inst_acad_year!=''}">
            <label for="academicYear">Academic Year
              <span>*</span>
            </label>
            <input type="text" class="form-ctrl" name="academicYear" id="academicYear" [(ngModel)]="addAcademicYearTemplate.inst_acad_year">


          </div>
        </div>
        <div class="c-lg-2 c-md-2 c-sm-2">
          <div class="field-wrapper" [ngClass]="{'has-value':addAcademicYearTemplate.desc!=''}">
            <label for="academicYearDescription">Academic Year Description
              <span>*</span>
            </label>
            <input type="text" class="form-ctrl" name="academicYearDescription" id="academicYearDescription" [(ngModel)]="addAcademicYearTemplate.desc">

          </div>
        </div>
        <div class="c-lg-2 c-md-2 c-sm-2">
          <div class="field-wrapper  datePickerBox" [ngClass]="{'has-value':addAcademicYearTemplate.start_date!=''}">
            <label for="startDate">Start Date
              <span>*</span>
            </label>
            <input type="text" class="form-ctrl" readonly="true" name="startDate" id="startDate" [(ngModel)]="addAcademicYearTemplate.start_date"
              bsDatepicker/>

          </div>
        </div>
        <div class="c-lg-2 c-md-2 c-sm-2">
          <div class="field-wrapper datePickerBox" [ngClass]="{'has-value':addAcademicYearTemplate.end_date!=''}">
            <label for="academicYear">End Date
              <span>*</span>
            </label>
            <input type="text" class="form-ctrl" readonly="true" name="academicYear" id="academicYear" [(ngModel)]="addAcademicYearTemplate.end_date"
              bsDatepicker/>

          </div>
        </div>
        <div class="c-lg-3 c-md-3 c-sm-3" style="margin-top:1%;">
          <div class="pull-left create-cancel-small">
            <aside class="pull-left create-cancel-small">
              <button class="btn fullBlue" (click)="addAcademicYearDetails()">Add</button>
            </aside>
          </div>
        </div>
      </div>
    </section>
    <div id="divSlotTable">
      <div class="table-scroll-wrapper">
        <div class="table table-responsive">
          <table>
            <thead>
              <tr>
                <th>
                  Id
                </th>
                <th>
                  Academic Year
                </th>
                <th>
                  Description
                </th>
                <th>
                  Start Date
                </th>
                <th>
                  End Date
                </th>
                <th>
                  Added Date
                </th>
                <th>
                  Is Default
                </th>
                <th>
                  Action
                </th>
              </tr>
            </thead>
            <tbody *ngIf="academicTableList.length !=0">
              <tr id="row{{i}}" class="displayComp" *ngFor="let row of academicTableList; let i = index; trackBy: i;">
                <td>
                  {{i + 1}}
                </td>

                <td class="view-comp">
                  {{row.inst_acad_year}}
                </td>
                <td class="edit-comp">
                  <div class="field-wrapper">
                    <input type="text" class="form-ctrl editCellInput" [(ngModel)]="row.inst_acad_year" name="label">
                  </div>
                </td>
                <td class="view-comp">
                  {{row.desc}}
                </td>
                <td class="edit-comp">
                  <div class="field-wrapper">
                    <input type="text" class="form-ctrl editCellInput" [(ngModel)]="row.desc" name="label">
                  </div>
                </td>

                <td class="view-comp">
                  {{row.start_date | date:'dd-MMM-yyyy'}}
                </td>
                <td class="edit-comp edit">
                  <div class="field-wrapper has-Value">
                    <input type="text" value="" class="form-ctrl editCellInput" name="createdDate" readonly="true" [(ngModel)]="row.start_date"
                      bsDatepicker/>
                  </div>
                </td>
                <td class="view-comp edit">
                  {{row.end_date | date:'dd-MMM-yyyy'}}
                </td>
                <td class="edit-comp">
                  <div class="field-wrapper has-value">
                    <input type="text" value="" class="form-ctrl editCellInput" name="endDate" readonly="true" [(ngModel)]="row.end_date" bsDatepicker/>
                  </div>
                </td>
                <td class="view-comp">
                  {{row.created_date | date:'dd-MMM-yyyy'}}
                </td>
                <td class="edit-comp">
                  <div class="field-wrapper has-value">
                    <input type="text" value="" class="form-ctrl editCellInput" name="endDate" readonly="true" [(ngModel)]="row.created_date"
                      bsDatepicker/>
                  </div>
                </td>
                <td class="view-comp">
                  <span *ngIf="row.default_academic_year == 0">No</span>
                  <span *ngIf="row.default_academic_year == 1">Yes</span>
                </td>
                <td class="edit-comp">
                  <div class="field-wrapper has-value">
                    <select id="issearchable" class="form-ctrl" name="issearchable" [(ngModel)]="row.default_academic_year" style="margin: auto">
                      <option value="1">Yes</option>
                      <option value="0">No</option>
                    </select>
                  </div>
                </td>
                <td class="view-comp">
                  <a class="anchorTagCursor" (click)="editRowTable(row , i)">Edit</a>
                  <a class="anchorTagCursor" (click)="deleteAcademicYear(row)">Delete</a>
                </td>
                <td class="edit-comp">
                  <a class="anchorTagCursor" (click)="saveAcademicYearInformation(row , i)"> Save </a>
                  <a class="anchorTagCursor anchorTag" (click)="cancelEditRow(i)"> Cancel </a>
                </td>
              </tr>
            </tbody>
            <tbody *ngIf="academicTableList.length ==0">
              <td class="col-new" colspan="7">
                No Academic Year List Available
              </td>
            </tbody>


          </table>
        </div>
      </div>
    </div>

    <!-- Paginator Here -->
    <div class="row filter-res pagination" style="width: 100%;">
      <div class="c-lg-12 c-md-12 c-sm-12 align-right">
        <pagination (goPage)="fetchTableDataByPage($event)" (goNext)="fetchNext()" (goPrev)="fetchPrevious()" [pagesToShow]="10"
          [page]="PageIndex" [perPage]="studentdisplaysize" [count]="totalRow">
        </pagination>
      </div>
    </div>
  </section>

</div>