<div class="middle-section">
  <aside class="middle-full">
    <section class="middle-main clearFix activity-wrapper">
      <section class="middle-top clearFix bulk-header">
        <div>
          <h1 class="pull-left">
            <span>Live Class</span>
          </h1>
        </div>
        <div style="float: right;margin-right: 30px;">
          <span class="new-keyword" data-toggle="modal" style="cursor: pointer;" data-target="#zoomFAQ">New
            Release</span>
          <!-- <span style="font-weight: 600;">- Proctur Live class Attendance Report</span> -->
          <button type="button" class="new-keyword feedBackBtn" name="button"><a
              href="https://bit.ly/live_class_Feedback" target="_blank">Feedback</a> </button>
        </div>

      </section>
      <section>
        <div class="live-class-list">
          <div class="live-class-container" style="width:50%;">
            <div class="field-radio-wrapper" style="width: 25%;">
              <input type="radio" [value]="false" class="form-radio" [(ngModel)]="liveClassFor"
                (ngModelChange)="getClassesList()" name="liveClasses" id="liveClasses1">
              <label for="liveClasses1">Upcoming Classes</label>
            </div>
            <div class="field-radio-wrapper" style="width: 25%;">
              <input type="radio" [value]="true" class="form-radio" [(ngModel)]="liveClassFor"
                (ngModelChange)="getClassesList()" name="liveClasses" id="liveClasses2">
              <label for="liveClasses2">Previous Classes</label>
            </div>
          </div>

          <div class="search-add-class-container">
            <div class="field-wrapper datePickerBox">
              <input type="text" class="form-ctrl" bsDatepicker readonly="true" [(ngModel)]="dateValue"
                (ngModelChange)="searchByDate($event)" id="date" style="margin-left: -2rem;border-radius: 4px;
                margin-top: -5%;">
              <br>
              <span class="date-clear" (click)="getClassesList()" style="color: #0084f6;left: 54px;">clear</span>
            </div>
            <div class="search-filter-wrapper">
              <i class="fa fa-search" aria-hidden="true"></i>
              <input type="text" class="normal-field" placeholder="Search" name="searchData" [(ngModel)]="searchText"
                (keyup)="searchInList()">
            </div>
            <!-- <div class="filter-wrapper">
              <i class="fa fa-search" aria-hidden="true"></i>
              <select class="filter" name="" *ngIf="liveClassFor" [(ngModel)]="sortDate" (ngModelChange)="dateRangeChanges()">
                <option value="-1" selected="selected" hidden disabled>Filter By Date</option>
                <option value="last_week">Last 7 Days</option>
                <option value="this_month">This Month</option>
                <option value="last_month">Last Month</option>
                <option value="last_three_month">Last 3 months</option>
                <option value="custom_date_range">Custom Date range</option>
                <option value="all">All</option>
              </select>
            </div> -->
            <div class="add-class-container">
              <div class="questionInfo inline-relative">
                <span class=" i-class">
                  <button type="button" name="button" class="add-class" routerLink='/view/live-classes/add'
                    [disabled]="proctur_live_expiry_date_check"
                    [ngStyle]="{'opacity':proctur_live_expiry_date_check ? '0.5' : '1' }">
                    <i class="fa fa-plus" aria-hidden="true" style="color: #0084f6;"></i>&nbsp;Add Live Class </button>
                </span>
                <div class="tooltip-box-field" *ngIf="proctur_live_expiry_date_check">
                  Your Proctur Live
                  <br> subscription is over.
                  <br> Please pay quickly
                  <br> to continue using it.
                </div>
              </div>

            </div>
          </div>
        </div>
      </section>

      <section class="live-class">
        <div class="live-class-list-container" *ngIf="getClasses?.length !=0">
          <div class="live-class-item" *ngFor="let class of getClasses; trackBy:identify"
            [ngStyle]="{'border-left':liveClassFor == true ? '5px solid #FF0000' : '5px solid #32CD32'}">
            <div class="sub-item-1">
              <div class="session_name_and_id_container">
                <div class="session_name">
                  <span>{{class.session_name}}</span>
                </div>
                <div class="session_id">
                  <span>Session Id : {{class.session_id}}</span>
                  <span class="class-for-name"
                    *ngIf="class.live_meeting_with == 'Zoom'">({{class.live_meeting_with}})</span>
                  <span style="margin-left: 10px;" *ngIf="class.live_meeting_with == 'Zoom'">Account Name :
                    {{class.account_name==null ? '-' : class.account_name}}</span>
                </div>
              </div>
              <div class="notification_container" *ngIf="!liveClassFor">
                <span class="upcoming_class" *ngIf="timeLeft(today, class.start_datetime)">Ongoing</span>
                <div class="dropdown dropleft"
                  *ngIf="(!timeLeft(today, class.start_datetime)) || (!timeLeft(today, class.start_datetime)) || (!liveClassFor && !timeLeft(today, class.start_datetime)) || (!liveClassFor && !timeLeft(today, class.start_datetime))">
                  <button style="background: #0084f6;color: white;" class="btn btn-light btn-xs dropdown-toggle"
                    type="button" (click)="toggleActionMenu($event)" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <i class="fa fa-caret-left" aria-hidden="true"></i> &nbsp; Action
                  </button>
                  <div class="dropdown-menu horizontal-menu" aria-labelledby="actionMenu">
                    <span class="dropdown-item" (click)="smsNotification(class.session_id, class.live_meeting_with)"
                      *ngIf="!timeLeft(today, class.start_datetime)">
                      <div class="questionInfo inline-relative">
                        <span class=" i-class">
                          <button style="background: none;" type="button" name="button"
                            [disabled]="proctur_live_expiry_date_check"
                            [ngStyle]="{'opacity':proctur_live_expiry_date_check ? '0.5' : '1' }">
                            <i class="fa fa-commenting" aria-hidden="true"></i> Send SMS Notification
                          </button>
                        </span>
                        <div class="tooltip-box-field" *ngIf="proctur_live_expiry_date_check">
                          Your Proctur Live
                          <br> subscription is over.
                          <br> Please pay quickly
                          <br> to continue using it.
                        </div>
                      </div>
                    </span>
                    <span class="dropdown-item" (click)="pushNotification(class.session_id,class.live_meeting_with)"
                      *ngIf="!timeLeft(today, class.start_datetime)">
                      <div class="questionInfo inline-relative">
                        <span class=" i-class">
                          <button style="background: none;" type="button" name="button"
                            [disabled]="proctur_live_expiry_date_check"
                            [ngStyle]="{'opacity':proctur_live_expiry_date_check ? '0.5' : '1' }">
                            <i class="fa fa-bell" aria-hidden="true"></i> Send Push Notification
                          </button>
                        </span>
                        <div class="tooltip-box-field" *ngIf="proctur_live_expiry_date_check">
                          Your Proctur Live
                          <br> subscription is over.
                          <br> Please pay quickly
                          <br> to continue using it.
                        </div>
                      </div>
                    </span>
                    <span class="dropdown-item" (click)="editStudent(class.session_id, class.live_meeting_with)"
                      *ngIf="!liveClassFor && !timeLeft(today, class.start_datetime)">
                      <div class="questionInfo inline-relative">
                        <span class=" i-class">
                          <button style="background: none;" type="button" name="button"
                            [disabled]="proctur_live_expiry_date_check"
                            [ngStyle]="{'opacity':proctur_live_expiry_date_check ? '0.5' : '1' }">
                            <i class="fa fa-pencil" aria-hidden="true"></i> Edit
                          </button>
                        </span>
                        <div class="tooltip-box-field" *ngIf="proctur_live_expiry_date_check">
                          Your Proctur Live
                          <br> subscription is over.
                          <br> Please pay quickly
                          <br> to continue using it.
                        </div>
                      </div>
                    </span>
                    <span class="dropdown-item" (click)="cancel(class.session_id, class.live_meeting_with)"
                      *ngIf="!liveClassFor && !timeLeft(today, class.start_datetime)">
                      <div class="questionInfo inline-relative">
                        <span class=" i-class">
                          <button style="background: none;" type="button" name="button"
                            [disabled]="proctur_live_expiry_date_check"
                            [ngStyle]="{'opacity':proctur_live_expiry_date_check ? '0.5' : '1' }">
                            <i class="fa fa-times" aria-hidden="true"></i> Cancel
                          </button>
                        </span>
                        <div class="tooltip-box-field" *ngIf="proctur_live_expiry_date_check">
                          Your Proctur Live
                          <br> subscription is over.
                          <br> Please pay quickly
                          <br> to continue using it.
                        </div>
                      </div>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="sub-item-2">
              <div class="item_type_1">
                <span style="color: #9898a3;">Faculty : </span>
                <span style="color: #585574;font-weight: 600; color: #0084f6" title="{{class.teachersName}}">
                  {{ (class.teachersName?.length>20) ? (class.teachersName | slice:0:20 ) + '...' : (class.teachersName) }}
                </span>
              </div>
              <div class="item_type_1" style="width:14% ;">
                <span style="color: #9898a3;">Date : <span
                    style="color: #585574;font-weight: 600;">{{class.startDateTime | date: 'dd MMM yyyy'}}</span></span>
                <span style="color: #9898a3;">Duration : <span
                    style="color: #585574;font-weight: 600;">{{diffDate(class.startDateTime, class.endDateTime)}}</span></span>
              </div>
              <div class="item_type_1">
                <span style="color: #585574;">
                  <span style="color: #9898a3;">Time : </span>
                  <span style="font-weight: 600;">{{class.startDateTime | date: 'shortTime'}} -
                    {{class.endDateTime | date: 'shortTime'}}</span>
                </span>
                <span style="color: #585574;" *ngIf="class.live_meeting_with != 'Zoom'">
                  <span style="color: #9898a3;">Moderator : </span>
                  <span *ngIf="class.moderatorName != '' && class.moderatorName != null" title="{{class.moderatorName}}"
                    style="font-weight: 600;">
                    {{ (class.moderatorName?.length>15) ? (class.moderatorName | slice:0:15 ) + '...' : (class.moderatorName) }}
                  </span>
                  <span *ngIf="class.moderatorName == '' || class.moderatorName == null">-</span>
                </span>
              </div>
              <div class="item_type_3" *ngIf="!liveClassFor">
                <span style="color: #9898a3;">Time left :</span>
                <span style="color: #585574;font-weight: 600;">{{getTimeLeft(today, class.startDateTime) }}</span>
              </div> &nbsp;&nbsp;
              <div class="item_type_3" *ngIf="liveClassFor">
                <span style="color: #9898a3;">Attendees : </span>
                <span style="color: #585574;font-weight: 600;">{{class.attendeesCount}} of
                  {{class.totalAttendeesLimit}}</span>
              </div> &nbsp;&nbsp;
              <div class="item_type_1" *ngIf="!isProfessional" style="width: 28%;">
                <span style="color: #585574;">
                  <span style="color: #9898a3;">Master Course : </span>
                  <span title="{{class.course_list[0].master_course_name}}"
                    *ngIf="class.course_list!=null && class.course_list?.length!=0" style="font-weight: 600;">
                    {{ (class.course_list[0]?.master_course_name?.length>30) ? (class.course_list[0].master_course_name | slice:0:30 ) + '...' : (class.course_list[0].master_course_name) }}
                  </span>
                </span>
                <span style="color: #585574;">
                  <span style="color: #9898a3;">Course : </span>
                  <span title="{{class.course}}" style="font-weight: 600;color: #0084f6">
                    {{ (class.course?.length>30) ? (class.course | slice:0:30 ) + '...' : (class.course) }}
                  </span>
                </span>
              </div>

              <div class="item_type_1" *ngIf="isProfessional" style="width: 28%;">
                <span style="color: #9898a3;">Batch : </span>
                <span title="{{class.course}}">
                  {{ (class.course?.length>30) ? (class.course | slice:0:30 ) + '...' : (class.course) }}
                </span>
              </div>
              <div class="item_type_2" *ngIf="liveClassFor">

                <div class="dropdown dropleft">
                  <button style="background: #0084f6;color: white;" class="btn btn-light btn-xs dropdown-toggle"
                    type="button" (click)="toggleActionMenu($event)" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <i class="fa fa-caret-left" aria-hidden="true"></i> &nbsp; Action
                  </button>
                  <div class="dropdown-menu horizontal-menu" aria-labelledby="actionMenu">
                    <span class="dropdown-item" *ngIf="class.live_meeting_with != 'Zoom' && class.showViewAttendance"
                      (click)="viewAttandance(class.session_id)">View Attendance</span>
                    <span class="dropdown-item"
                      *ngIf="is_proctur_live_recording_allow == '1' && class.live_meeting_with != 'Zoom'"
                      data-toggle="modal" data-target="#uploadRec"
                      (click)="upload(class.session_id, class.live_meeting_with)">Upload Recording&nbsp;
                    </span>
                    <span class="dropdown-item">
                      <div class="questionInfo inline-relative">
                        <button type="button" style="background: none;" name="button"
                          [disabled]="proctur_live_expiry_date_check"
                          (click)="repeatSession(class.session_id, class.live_meeting_with)"
                          [ngStyle]="{'opacity':proctur_live_expiry_date_check ? '0.5' : '1' }">
                          Repeat Class
                        </button>
                        <div class="tooltip-box-field" *ngIf="proctur_live_expiry_date_check">
                          Your Proctur Live<br>
                          subscription is over.<br>
                          Please pay quickly<br>
                          to continue using it.
                        </div>
                      </div>
                    </span>
                    <span class="dropdown-item"
                      *ngIf="proctur_live_view_or_download_visibility!=0 && class.download_links?.length > 0">
                      <button style="background: none;" title="download/view" (click)="viewdownload_links(class)"
                        [ngClass]="{'disabledButton': class.download_links?.length==0}">
                        View Recording
                      </button>
                    </span>
                  </div>
                </div>
                <!-- <span class="i-class" style="margin-right: 10px;">
                  <button type="button" name="button" class="action_upload" data-toggle="modal" data-target="#uploadRec" (click)="viewAttandance(class.session_id)">
                     View Attendance
                  </button>
                </span>
                <span class="i-class">
                  <button type="button" name="button" class="action_upload" data-toggle="modal" data-target="#uploadRec" (click)="upload(class.session_id, class.live_meeting_with)">
                    Upload Recording
                    <i class="fa fa-upload" aria-hidden="true"></i>
                  </button>
                </span> -->
              </div>
              <div class="item_type_2" *ngIf="!liveClassFor">
                <div class="questionInfo inline-relative">
                  <span class=" i-class">
                    <button type="button" name="button"
                      *ngIf="forUser && forTeacher(class.teachersUserIds)|| forModerator && forModeratorId(class.moderatorIds) "
                      [ngClass]="checkForTime(class.startDateTime) ? 'start_session' : 'notAllowed'"
                      (click)="allowStartLiveCLass(class.session_link, class.session_id, class.live_meeting_with)"
                      [disabled]="proctur_live_expiry_date_check"
                      [ngStyle]="{'opacity':proctur_live_expiry_date_check ? '0.5' : '1' }">
                      <i class="fa fa-play" aria-hidden="true"></i>
                      &nbsp;
                      Start Class
                    </button>
                  </span>
                  <div class="tooltip-box-field" *ngIf="proctur_live_expiry_date_check">
                    Your Proctur Live<br>
                    subscription is over.<br>
                    Please pay quickly<br>
                    to continue using it.
                  </div>
                </div>

                <!-- <div class="questionInfo inline-relative">
                        <span class=" i-class">
                            <button type="button" name="button" class="repeat_session" *ngIf="liveClassFor" [disabled]="proctur_live_expiry_date_check" (click)="repeatSession(class.session_id, class.live_meeting_with)"  [ngStyle]="{'opacity':proctur_live_expiry_date_check ? '0.5' : '1' }">
                                <i class="fa fa-repeat" aria-hidden="true"></i>
                                &nbsp;
                                Repeat Class
                            </button>
                        </span>
                        <div class="tooltip-box-field" *ngIf="proctur_live_expiry_date_check">
                            Your Proctur Live<br>
                            subscription is over.<br>
                            Please pay quickly<br>
                            to continue using it.
                        </div>
                    </div> -->

              </div>
              <!-- <div class="item_type_2" *ngIf="liveClassFor && proctur_live_view_or_download_visibility!=0 && class.download_links?.length > 0">
                &nbsp;&nbsp;
                <button class="viewAction" title="download/view" (click)="viewdownload_links(class)"
                  [ngClass]="{'disabledButton': class.download_links?.length==0}">
                  View Recording
                </button>
              </div> -->
            </div>
          </div>
        </div>

        <div class="live-class-list-container"
          *ngIf="getClasses?.length ==0 && !liveClassFor && (!auth.isRippleLoad.getValue())" style="margin-top: 3%;">
          <div style="min-height: 60px;text-align: center;font-weight: 600;">
            No Upcoming Scheduled Found!
          </div>
        </div>
      </section>

      <!-- <section *ngIf="!liveClassFor">
        <div class="note-container">
          <span><span style="font-weight: 600;">NOTE : </span> Sessions can only be started before 30 minutes of start time.</span>
        </div>
      </section> -->

      <!-- Paginator Here -->
      <div class="row filter-res pagination pagination-correct" style="width: 100%;">
        <div class="c-lg-12 c-md-12 c-sm-12 align-right">
          <pagination (goPage)="fetchTableDataByPage($event)" (goNext)="fetchNext()" (goPrev)="fetchPrevious()"
            [pagesToShow]="10" [page]="PageIndex" [perPage]="displayClassSize" [count]="totalRow">
          </pagination>
        </div>
      </div>

    </section>
  </aside>
</div>

<!-- Video Limit Exceed pop up -->
<div id="videoLimit" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Low Data Storage Warning!</h4>
      </div>
      <div class="modal-body">
        <p>Your data storage is below 20%. Please purchase additional storage soon to continue to record and store your
          lectures!
          To purchase storage please contact our team at support@proctur.com</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Upload record pop up -->
<div id="uploadRec" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Upload Recording</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="c-lg-8 field-wrapper">
            <label>Choose File To Upload</label>
            <input type="file" class="form-ctrl" id="uploadFileControl" name="uploadFileBox"
              accept="video/mp4,video/x-m4v,video/*" (change)="fillFiles()" [(ngModel)]="fileUploadInput" />
          </div>
        </div>
        <div class="row" *ngIf="progressBar">
          <div class="c-lg-8 progress-bar-wrapper">
            <div class="upload-bar">
              <div id="progress-width"></div>
            </div>
            <span>{{progress}} %</span>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-default" (click)="uploadHandler()">Upload</button>
      </div>
    </div>
  </div>
</div>

<section [hidden]="alertBox">
  <div class="confirmation_popup">
    <div class="confirm_title">
      <i class="fa fa-exclamation-triangle" aria-hidden="true" style="color: rgba(255,0,0,0.7);"></i> &nbsp;
      <span>Alert</span>
    </div>
    <div class="confirmation_msg_box">
      <span id="confirm_msg">Are you sure you want to cancel the session?</span>
    </div>
    <br>
    <div class="field-checkbox-wrapper" style="width: 100%;">
      <input type="checkbox" id="sms" name="batch" [(ngModel)]="sendSMSNotification" class="form-checkbox">
      <label for="sms"> Send SMS Notification</label>
    </div>
    <!-- <div class="field-checkbox-wrapper">
      <input type="checkbox" id="sms" name="batch" [(ngModel)]="sendSMSNotification"
          class="form-checkbox">
      <label for="sms"> Send SMS Notification</label>
    </div>

    <div class="field-checkbox-wrapper">
      <input type="checkbox" id="push" name="batch" [(ngModel)]="sendPushNotification"
          class="form-checkbox">
      <label for="push"> Send Push Notification</label>
    </div> -->
    <div class="confirmation_button_container">
      <input type="button" value="Yes" class="btn" (click)="cancelSession()">
      <input type="button" value="No" class="btn" (click)="closeAlert()">
    </div>
  </div>
</section>
<div class="black-bg" id="black-bg" [hidden]="alertBox" (click)="closeAlert()"></div>

<section *ngIf="viewDownloadPopup">
  <div class="confirmation_popup download_popup">
    <div class="confirm_title" style="font-size: 14px;margin-bottom: 10px;">
      <span>{{download_links.session_name}}</span>
      <span style="cursor: pointer;float:right" (click)="viewDownloadPopup=false">X</span>
    </div>
    <section>
      <div class="table-container">
        <div class="heading-container">
          <div class="heading-item" style="text-align: left;">
            <span>Title</span>
          </div>
          <div class="heading-item" style="width: 17%;">
            <span>Size</span>
          </div>
          <div class="heading-item" style="width: 20%;">
            <span>Duration</span>
          </div>
          <div class="heading-item" style="width: 20%;"
            *ngIf="proctur_live_view_or_download_visibility==1 || proctur_live_view_or_download_visibility == 2|| proctur_live_view_or_download_visibility == 3">
            <span>Action</span>
          </div>
        </div>
        <div class="value-outer-container">
          <div class="value-container" *ngFor="let data of download_links.download_links">
            <div class="value-item" style="text-align: left;">
              <span
                title="{{data.session_name}}">{{(data.session_name.length > 80) ? (data.session_name | slice:0:80) + '...' : data.session_name}}</span>
            </div>
            <div class="value-item" style="width: 17%;">
              <span title="{{data?.video_size}}" *ngIf="data?.video_size!=null">{{data.video_size}}&nbsp;MB</span>
              <span *ngIf="data?.video_size==null">-</span>
            </div>
            <div class="value-item" style="width: 20%;">
              <span title="{{data.video_duration}}"
                *ngIf="data.video_duration!=null">{{data.video_duration}}&nbsp;mins</span>
              <span *ngIf="data.video_duration==null">-</span>
            </div>
            <div class="value-item" style="width: 20%; display: flex; justify-content: space-around;">
              <div *ngIf="proctur_live_view_or_download_visibility==1 || proctur_live_view_or_download_visibility==3">
                <button class="fa fa-download" style="font-size: 14px; color: #0084f6;background: none;"
                  title="Download" (click)="downloadFile(data);" id="downloadFile"
                  [disabled]="data.download_id==null || auth.isRippleLoad.getValue()"
                  [ngClass]="{'disabledButton': data.download_id==null || auth.isRippleLoad.getValue()}"></button>
                <a id="downloadFileClick" [href]="fileUrl" class="hide"></a>
              </div>
              <div (click)="getVdocipherVideoOtp(data)"
                *ngIf="(JsonVars.view_proctur_live_recorded_session==2||JsonVars.view_proctur_live_recorded_session==3) && (proctur_live_view_or_download_visibility==2 || proctur_live_view_or_download_visibility==3)">
                <button class="fa fa-play" style="font-size: 15px; color: #0084f6; background: none;" title="Play"
                  [disabled]="data.video_id==null" [ngStyle]="{'opacity':data.video_id==null ? '0.5' : '1' }">
                </button>
              </div>
              <div (click)="getVdoLink(data)"
                *ngIf="(JsonVars.view_proctur_live_recorded_session==1||JsonVars.view_proctur_live_recorded_session==3) && (proctur_live_view_or_download_visibility==3 || proctur_live_view_or_download_visibility==2)">
                <button class="fa fa-play" style="font-size: 15px; color: #0084F6;background: none;" title="Play">
                </button>
              </div>
              <div (click)="deleteRecording(data.id)">
                <button class="fa fa-trash" style="font-size: 15px; color: red; background: none;"
                  title="Delete recoding">
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="row" *ngIf="donloadBar">
      <div class="c-lg-8 progress-bar-wrapper">
        <div class="upload-bar">
          <div id="progress-width"></div>
        </div>
        <span>{{download}} %</span>
      </div>
    </div>
  </div>
</section>
<div class="black-bg" id="black-bg" *ngIf="viewDownloadPopup" (click)="viewDownloadPopup=false">
</div>

<div class="ga-modal-wrapper" [hidden]="showVideo">
  <div class="ga-modal-container">
    <div class="ga-modal">
      <div style="font-size: 14px;padding: 5px;font-weight: 600;">
        <span>{{tempVideoData.session_name}}</span>
        <span (click)="stopVideo()" style="float: right;cursor: pointer;padding-right: 5px;">
          <span>X</span>
        </span>
      </div>
      <div class="ga-modal-body">
        <div class="row upload-box">
          <div id="embedBox" style="width:700px;max-width:100%;height:auto;"
            *ngIf="JsonVars.view_proctur_live_recorded_session!=1 && isVDOCipherVDO"></div>
          <video width="600" controls src="{{JsonVars.video_url}}" *ngIf="!isVDOCipherVDO"> </video>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div id="black-bg" (click)="stopVideo()"  [hidden]="showVideo"></div> -->

<div class="modal fade" id="liveClassExpiry" role="dialog" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Dear Partner, your Live class subscription is due for
          <span *ngIf="daysLeftForSubscriptionExpiry > 0"> renewal in <span
              class="text-bold">{{daysLeftForSubscriptionExpiry}} days</span>.</span>
          <span *ngIf="daysLeftForSubscriptionExpiry == 0"> today.</span>
          <br>
          Kindly contact our team at <span class="text-bold">9971839153</span> or drop email at <span
            style="color: blue;">info@proctur.com</span> for renewal.
        </h3>
      </div>
      <div class="modal-footer" style="padding: 8px !important;">
        <button type="button" class="btn btn-primary create-btn" data-dismiss="modal">Okay</button>
      </div>
    </div>

  </div>
</div>

<div id="zoomFAQ" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2 class="modal-title">Note</h2>
      </div>
      <div class="modal-body">
        <div class="new-modules-list">
          <ol>
            <li>Live class attendance available only for Proctur Live not for Zoom.
            </li>

            <li>Attendance for each class would be available after 8:00 PM if the class ends on or before 7:30 PM.
            </li>

            <li>If classes end after 7:30 PM, the attendance would be available at 8:00 PM on the next day.
            </li>

            <li>Students will be marked present for the live class in case they attend class for the duration more than
              the defined threshold percentage either marked as partially present. This threshold value can be changed
              from setting section.
            </li>

            <li>If students haven't joined the class then will be marked as absent.
            </li>

            <li>Notification setting can be changed from the setting section.
            </li>
          </ol>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>