<loaders-css [loader]="'ball-scale-ripple-multiple'" class="app-loader-wrapper" [loaderClass]="'blueRipple'" *ngIf="JsonVars.isRippleLoad">
</loaders-css>

<div class="middle-section">
  <aside class="middle-full">
    <section class="middle-main clearFix activity-wrapper">
      <section class="middle-top clearFix bulk-header">
        <div>
          <h1 class="pull-left">
             <span>Live Class</span>
          </h1>
        </div>

      </section>
      <section>
        <div class="live-class-list">
          <div class="live-class-container" style="width:50%;">
            <div class="field-radio-wrapper">
              <input type="radio" [value]="false" class="form-radio" [(ngModel)]="liveClassFor" (ngModelChange)="getClassesFor()" name="liveClasses" id="liveClasses1">
              <label for="liveClasses1">Upcoming Classes</label>
            </div>
            <div class="field-radio-wrapper">
              <input type="radio" [value]="true"  class="form-radio" [(ngModel)]="liveClassFor" (ngModelChange)="getClassesFor()" name="liveClasses" id="liveClasses2">
              <label for="liveClasses2">Previous Classes</label>
            </div>
          </div>

          <div class="search-add-class-container">
            <div class="search-filter-wrapper"> 
              <i class="fa fa-search" aria-hidden="true"></i>
              <input type="text" class="normal-field" placeholder="Search" name="searchData" [(ngModel)]="searchText" (keyup)="searchInList()">
            </div>
            <!-- <div class="filter-wrapper">
              <i class="fa fa-search" aria-hidden="true"></i>
              <select class="filter" name="" *ngIf="liveClassFor" [(ngModel)]="sortDate" (ngModelChange)="dateRangeChanges()">
                <option value="-1" selected="selected" hidden disabled>Filter By Date</option>
                <option value="last_week">Last 7 Days</option>
                <option value="this_month">This Month</option>
                <option value="last_month">Last Month</option>
                <option value="last_three_month">Last 3 months</option>
                <option value="custom_date_range">Custom Date range</option>
                <option value="all">All</option>
              </select>
            </div> -->
            <div class="add-class-container">
                <div class="questionInfo inline-relative">
                    <span class=" i-class">  
                      <button type="button" name="button" class="add-class" routerLink='/view/live-classes/add' [disabled]="proctur_live_expiry_date_check" [ngStyle]="{'opacity':proctur_live_expiry_date_check ? '0.5' : '1' }">
                      <i class="fa fa-plus" aria-hidden="true" style="color: #0084f6;"></i>&nbsp;Add Live Class </button></span>
                    <div class="tooltip-box-field" *ngIf="proctur_live_expiry_date_check">
                        Your Proctur Live<br>
                        subscription is over.<br> 
                        Please pay quickly<br>
                          to continue using it.
                    </div>
                  </div> 
                
            </div>
          </div>
        </div>
      </section>

      <section class="live-class">
        <div class="live-class-list-container" *ngIf="getClasses.length !=0">
          <div class="live-class-item" *ngFor="let class of getClasses">
            <div class="sub-item-1">
              <div class="session_name_and_id_container" >
                <div class="session_name">
                  <span>{{class.session_name}}</span>
                </div>
                <div class="session_id">
                  <span>Session Id : {{class.session_id}}</span>
                </div>
              </div>
              <div class="notification_container" *ngIf="!liveClassFor">
                <span class="upcoming_class" *ngIf="timeLeft(today, class.start_datetime)">Ongoing</span>
                <!-- <div class="spinner">
                  <div class="bounce1"></div>
                  <div class="bounce2"></div>
                  <div class="bounce3"></div>
                </div> -->
                <div class="questionInfo inline-relative">
                  <span class=" i-class">  
                    <button type="button" name="button" class="notification_btn" (click)="smsNotification(class.session_id)" *ngIf="!timeLeft(today, class.start_datetime)" [disabled]="proctur_live_expiry_date_check" [ngStyle]="{'opacity':proctur_live_expiry_date_check ? '0.5' : '1' }">
                      Send SMS Notification
                      <i class="fa fa-commenting" aria-hidden="true"></i>
                    </button> 
                  </span>
                  <div class="tooltip-box-field" *ngIf="proctur_live_expiry_date_check">
                      Your Proctur Live<br>
                      subscription is over.<br> 
                      Please pay quickly<br>
                        to continue using it.
                  </div>
                </div> 

                
              <div class="questionInfo inline-relative">
                <span class=" i-class">  
                <button type="button" name="button" class="notification_btn" (click)="pushNotification(class.session_id)" *ngIf="!timeLeft(today, class.start_datetime)" [disabled]="proctur_live_expiry_date_check" [ngStyle]="{'opacity':proctur_live_expiry_date_check ? '0.5' : '1' }">
                  Send Push Notification
                  <i class="fa fa-bell" aria-hidden="true"></i>
                </button>
                </span>
                <div class="tooltip-box-field" *ngIf="proctur_live_expiry_date_check">
                    Your Proctur Live<br>
                    subscription is over.<br> 
                    Please pay quickly<br>
                      to continue using it.
                </div>
               </div> 
              </div>
              <div class="action_container" *ngIf="!liveClassFor && !timeLeft(today, class.start_datetime)" >
                <div class="questionInfo inline-relative">
                  <span class=" i-class">  
                  <button type="button" name="button" class="action_edit" (click)="editStudent(class.session_id)" [disabled]="proctur_live_expiry_date_check" [ngStyle]="{'opacity':proctur_live_expiry_date_check ? '0.5' : '1' }">
                     Edit
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                  </button>
                  </span>
                  <div class="tooltip-box-field" *ngIf="proctur_live_expiry_date_check">
                      Your Proctur Live<br>
                      subscription is over.<br> 
                      Please pay quickly<br>
                      to continue using it.
                  </div>
                </div> 
                <div class="questionInfo inline-relative">
                    <span class=" i-class">  
                <button type="button" name="button" class="action_delete" (click)="cancel(class.session_id)" [disabled]="proctur_live_expiry_date_check" [ngStyle]="{'opacity':proctur_live_expiry_date_check ? '0.5' : '1' }">
                  Cancel
                  <i class="fa fa-times" aria-hidden="true"></i>
                </button>
              </span>
              <div class="tooltip-box-field" *ngIf="proctur_live_expiry_date_check">
                  Your Proctur Live<br>
                        subscription is over.<br> 
                        Please pay quickly<br>
                          to continue using it.
              </div>
             </div> 
              </div>
            </div>
            <div class="sub-item-2">
              <div class="item_type_1">
                <span style="color: #9898a3;">Faculty : </span>
                <span style="color: #585574;font-weight: 600;">{{class.teachersName}}</span>
              </div>
              <div class="item_type_1">
                <span  style="color: #585574;">
                  <span style="color: #9898a3;">Date : </span>
                  {{class.startDateTime | date: 'dd MMM yyyy'}}
                 </span>
                <span  style="color: #585574;">
                  <span style="color: #9898a3;">Duration : </span>
                  {{diffDate(class.startDateTime, class.endDateTime) }} hrs
                </span>
              </div>
              <div class="item_type_1">
                <span style="color: #585574;">
                  <span style="color: #9898a3;">Time : </span>
                  <span>{{class.startDateTime | date: 'shortTime'}} - {{class.endDateTime | date: 'shortTime'}}</span>
                </span>
                <span style="color: #585574;">
                  <span style="color: #9898a3;">Moderator : </span>
                  <span *ngIf="class.moderatorName != '' && class.moderatorName != null">{{class.moderatorName}}</span>
                  <span *ngIf="class.moderatorName == '' || class.moderatorName == null">-</span>
                </span>
              </div>
              <div class="item_type_3" *ngIf="!liveClassFor">
                <span style="color: #9898a3;">Time left :</span>
                <span  style="color: #585574;font-weight: 600;">{{getTimeLeft(today, class.startDateTime) }}</span>
              </div>
              <div class="item_type_3" *ngIf="liveClassFor">
                <span style="color: #9898a3;">Attendees : </span>
                <span  style="color: #585574;font-weight: 600;">{{class.attendeesCount}} of {{class.totalAttendeesLimit}}</span>
              </div>
              <div class="item_type_2">
                  <div class="questionInfo inline-relative">
                      <span class=" i-class">  
                          <button type="button" name="button" *ngIf="!liveClassFor && forUser && forTeacher(class.teachersUserIds)" [ngClass]="checkForTime(class.startDateTime) ? 'start_session' : 'notAllowed'" (click)="startLiveClass(class.session_link, class.startDateTime)" [disabled]="proctur_live_expiry_date_check" [ngStyle]="{'opacity':proctur_live_expiry_date_check ? '0.5' : '1' }">
                              <i class="fa fa-play" aria-hidden="true"></i>
                              &nbsp;
                              Start Class
                          </button>
                      </span>
                      <div class="tooltip-box-field" *ngIf="proctur_live_expiry_date_check">
                          Your Proctur Live<br>
                          subscription is over.<br> 
                          Please pay quickly<br>
                          to continue using it.
                      </div>
                    </div> 
               
                    <div class="questionInfo inline-relative">
                        <span class=" i-class">  
                            <button type="button" name="button" class="repeat_session" *ngIf="liveClassFor" [disabled]="proctur_live_expiry_date_check" (click)="repeatSession(class.session_id)"  [ngStyle]="{'opacity':proctur_live_expiry_date_check ? '0.5' : '1' }">
                                <i class="fa fa-repeat" aria-hidden="true"></i>
                                &nbsp;
                                Repeat Class
                            </button>
                        </span>
                        <div class="tooltip-box-field" *ngIf="proctur_live_expiry_date_check">
                            Your Proctur Live<br>
                            subscription is over.<br> 
                            Please pay quickly<br>
                            to continue using it.
                        </div>
                    </div>
            
              </div>
              <div class="item_type_2" *ngIf="liveClassFor && proctur_live_view_or_download_visibility!=0" style="margin-top: 7px;">
                <!-- &nbsp;&nbsp; -->
                  <button class="viewAction" title="download/view" (click)="viewdownload_links(class)" style="cursor: pointer;" [disabled]="class.download_links?.length==0" [ngStyle]="{'opacity':class.download_links?.length==0 ? '0.5' : '1' }">
                  <!-- <i class="fa fa-repeat" aria-hidden="true" ></i> &nbsp; -->
                  view 
                  </button>
              </div>
            </div>
          </div>
        </div>

        <div class="live-class-list-container" *ngIf="getClasses.length ==0 && !liveClassFor" style="margin-top: 3%;">
          <div style="min-height: 60px;text-align: center;font-weight: 600;">
            No Upcoming Scheduled Found!
          </div>
        </div>
      </section>

      <!-- <section *ngIf="!liveClassFor">
        <div class="note-container">
          <span><span style="font-weight: 600;">NOTE : </span> Sessions can only be started before 30 minutes of start time.</span>
        </div>
      </section> -->

      <!-- Paginator Here -->
      <div class="row filter-res pagination pagination-correct" style="width: 100%;">
        <div class="c-lg-12 c-md-12 c-sm-12 align-right">
          <pagination (goPage)="fetchTableDataByPage($event)" (goNext)="fetchNext()" (goPrev)="fetchPrevious()" [pagesToShow]="10"
              [page]="PageIndex" [perPage]="displayClassSize" [count]="totalRow">
          </pagination>
        </div>
      </div>

      </section>
  </aside>
</div>


<section [hidden]="alertBox">
  <div class="confirmation_popup">
    <div class="confirm_title">
      <i class="fa fa-exclamation-triangle" aria-hidden="true" style="color: rgba(255,0,0,0.7);"></i> &nbsp;
      <span>Alert</span>
    </div>
    <div class="confirmation_msg_box">
      <span id="confirm_msg">Are you sure you want to cancel the session?</span>
    </div>
    <br>
    <!-- <div class="field-checkbox-wrapper">
      <input type="checkbox" id="sms" name="batch" [(ngModel)]="sendSMSNotification"
          class="form-checkbox">
      <label for="sms"> Send SMS Notification</label>
    </div>

    <div class="field-checkbox-wrapper">
      <input type="checkbox" id="push" name="batch" [(ngModel)]="sendPushNotification"
          class="form-checkbox">
      <label for="push"> Send Push Notification</label>
    </div> -->
    <div class="confirmation_button_container">
      <input type="button" value="Yes" class="btn" (click)="cancelSession()">
      <input type="button" value="No" class="btn" (click)="closeAlert()">
    </div>
  </div>
</section>
<div class="black-bg" id="black-bg" [hidden]="alertBox" (click)="closeAlert()"></div>

<section *ngIf="viewDownloadPopup">
    <div class="confirmation_popup download_popup">
      <div class="confirm_title"style="font-size: 14px;margin-bottom: 10px;">
        <span>{{download_links.session_name}}</span>
        <span style="cursor: pointer;float:right"  (click)="viewDownloadPopup=false" >X</span>
      </div>
    <section>
      <div class="table-container">
      <div class="heading-container">
        <div class="heading-item">
          <span>Title</span>
        </div>
        <div class="heading-item">
          <span>Created Date</span>
        </div>
        <div class="heading-item" style="width: 20%;" *ngIf="proctur_live_view_or_download_visibility==1 || proctur_live_view_or_download_visibility == 2|| proctur_live_view_or_download_visibility == 3">
          <span>Action</span>
        </div>
      </div>
      <div class="value-outer-container">
        <div class="value-container" *ngFor="let data of download_links.download_links" >
          <div class="value-item">
            <!-- <span>{{data.sessionName}}</span> -->
            <span title="{{data.session_name}}">{{(data.session_name.length > 20) ? (data.session_name | slice:0:20) + '...' : data.session_name}}</span>
            <!-- *ngFor="let data of getClasses.download_links" -->
          </div>
          <div class="value-item">
              <span>-</span>
          </div>
          <div class="value-item" style="width: 20%;text-align: center;">
            <div style="float: left;" *ngIf="proctur_live_view_or_download_visibility==1 || proctur_live_view_or_download_visibility==3">
            <button class="fa fa-download" style="font-size: 17px; color: #0084f6; margin-left: 1%;background: none;" title="Download" (click)="downloadFile(data);"
            id="downloadFile"></button>
            <a id="downloadFileClick" class="hide"></a>        
            </div>
            <div (click)="getVdocipherVideoOtp(data)" *ngIf="proctur_live_view_or_download_visibility==2 || proctur_live_view_or_download_visibility==3">
              <button class="fa fa-eye" style="font-size: 17px; color: #0084f6; margin-left: 1%;background: none;" title="View">
              </button>
            </div>
          </div>
      </div>
    </div>
    </div>
  </section>
    </div>
  </section>
<div class="black-bg" id="black-bg" *ngIf="viewDownloadPopup" (click)="viewDownloadPopup=false">
</div>

<div class="ga-modal-wrapper" [hidden]="showVideo">
  <div class="ga-modal-container">
    <div class="ga-modal" >
      <div style="font-size: 14px;padding: 5px;font-weight: 600;">
        <span>{{tempVideoData.session_name}}</span>
          <span (click)="stopVideo()" style="float: right;cursor: pointer;padding-right: 5px;">
            <span >X</span>
          </span>
      </div>
      <div class="ga-modal-body">
        <div class="row upload-box">
          <div id="embedBox" style="width:700px;max-width:100%;height:auto;"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div id="black-bg" (click)="stopVideo()"  [hidden]="showVideo"></div> -->
