.timetablewrapepr{
    width: 100%;
}
ul {
    &.time-head {
        li{
            &.head-item{
                display: inline-block;
                width: 14%;
                padding: 10px 10px 10px;
                border-bottom: 1px solid #efefef;
                border-left: 1px solid #efefef;
            }
            &.inner-date{
                text-align: center;
                font-size: 14px;
                font-weight: 600;
            }
            &.inner-day{
                text-align: center;
            }
        }
    }
    &.time-body{
        display: inline-block;
        width: 14%;
        padding: 10px 10px 10px;
        border-bottom: 1px solid #efefef;
        border-left: 1px solid #efefef;

        li{
            &.time-item:not(:first-child){

                padding:5px;
                text-align: center;
                border-top: 1px solid #efefef;
  
                li{
                 &.one{
                    font-size:14px;
                 }
                 &.two{
                    font-size:12px;
                    font-weight: 600;
                 }
                 &.three{
                    font-size:12px;
                 }
                }
            }
            &.time-item:first-child{
                padding:5px;
                padding-top: 1px;
                text-align: center;
                li{
                 &.one{
                    font-size:14px;
                 }
                 &.two{
                    font-size:12px;
                    font-weight: 600;
                 }
                 &.three{
                    font-size:12px;
                 }
                }
            }
        }
    }
}
.emptyclass{
    padding-top: 40px;
    position:relative;
    bottom: 18px;
}