.timetablewrapepr {
    width: 100%;
    margin-bottom: 4%;
}

ul {
    &.time-head {
        li {
            &.head-item {
                display: inline-block;
                width: 14%;
                padding: 10px 10px 10px;
                border: 1px solid #efefef;
            }
            &.inner-date {
                font-size: 14px;
                margin-left: -4px;
                font-size: 28px;
            }
            &.inner-day {
                text-align: center;
            }
        }
    }
    &.time-body {
        display: inline-block;
        width: 14%;
        padding: 10px 10px 10px;
        border-bottom: 1px solid #efefef;
        border-left: 1px solid #efefef;
        border-right: 1px solid #efefef;
        li {
            &.time-item:not(:first-child) {
                padding: 5px;
                text-align: center;
                border-top: 1px solid #efefef;
                li {
                    &.one {
                        font-size: 14px;
                        font-weight: 900;
                    }
                    &.two {
                        font-size: 12px;
                        font-weight: 600;
                    }
                    &.three {
                        font-size: 12px;
                    }
                }
            }
            &.time-item:first-child {
                padding: 5px;
                padding-top: 1px;
                text-align: center;
                li {
                    &.one {
                        font-size: 14px;
                        font-weight: 900;
                    }
                    &.two {
                        font-size: 12px;
                        font-weight: 600;
                    }
                    &.three {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width:480px)and (max-width:539px) {
    .emptyclass {
        padding-top: 140px;
        position: relative;
        bottom: 18px;
        font-size: 14px;
    }
}

@media screen and (min-width:540px)and (max-width:582px) {
    .emptyclass {
        padding-top: 114px;
        position: relative;
        bottom: 18px;
        font-size: 14px;
    }
}

@media screen and (min-width:582px)and (max-width:699px) {
    .emptyclass {
        padding-top: 100px;
        position: relative;
        bottom: 18px;
        font-size: 14px;
    }
}

@media screen and (min-width:1281px) {
    .emptyclass {
        padding-top: 42px;
        position: relative;
        bottom: 18px;
        font-size: 14px;
    }
}

@media screen and (min-width :700px) and (max-width :768px) {
    .emptyclass {
        padding-top: 85px;
        position: relative;
        bottom: 18px;
        font-size: 14px;
    } // .nonemptyClass{
    //     padding-top: 8vw;
    // }
}

@media screen and (min-width :1024px) and (max-width: 1280px) {
    .emptyclass {
        padding-top: 65px;
        position: relative;
        bottom: 18px;
        font-size: 14px;
    }
    .nonemptyClass {
        padding-top: 0.28vw;
    }
}

@media screen and (min-width :769px) and (max-width: 1023px) {
    .emptyclass {
        padding-top: 72px;
        position: relative;
        bottom: 18px;
        font-size: 14px;
    }
}

@page {
    margin: 0 !important
}

@media print {
    @page {
        size: landscape;
    }
    .emptyclass {
        padding-top: 35px;
        position: relative;
        bottom: 18px;
        font-size: 14px;
    }
}

.dotto {
    display: inline-block;
    width: 1px;
    border: 3px solid;
    border-radius: 50%
}
.noSchedule{
    border: 1px solid #efefef;
    width: 98%;
    text-align: center;
    padding: 10px;
}