<div class="page-content">
  <div class="display">
   <div class="links">
      <a class="selected" href="#">SMS</a>
      <a  href="#">Email</a>
      <a  href="#">Push</a>
   </div>
   <div class="create">
      <a  href="#"> + Create New SMS  </a>
  </div>
  </div>
  <div class="table_head">
      <div></div>
      <div>Date </div>
      <div>Message</div>
      <div>Action</div>
  </div>
  <div class="scroll_body">
      <div class="table_body" *ngFor="let msg of messageList">
          <div>
              <div class="field-radio-wrapper">
                  <input type="radio" class="form-radio" [(ngModel)]="selectedRow" value="{{msg.message}}" (ngModelChange)="onselectMessageCheckbox(msg)">
                  <label ></label>
              </div>
          </div>
          <div title="{{msg.date}}">{{msg.date}}</div>
          <div title="{{msg.message}}"> {{(!msg.message) ? '-':(msg.message.length > 50) ?(msg.message | slice :0:50) + '...' : msg.message}}
          </div>
          <div>
              <a class="mr16"><img src="../../../../assets/images/edit.svg"></a>
              <a (click)="deletMessage(msg,'400')"><img src="../../../../assets/images/delete.svg"></a>
          </div>
      </div>
      
  </div>
  <div class="pagignation">
      <p>Showing 1 to 8 of 50</p>
  </div>   

</div>
<!-- =====================create-message================= -->
<div class="page-content1">
  <div class="page_heading">
      <p>
          Create SMS
      </p>
      <img src="../../../../assets/images/cross.svg">
  </div>
  <div class="page_body">
      <div>
          <p>Select SMS Type</p>
          <div class="remaining selected">
              <p>Transactional </p>
              <p class="number">{{transactionalSmsm}}</p>
              
          </div>
          <div class="remaining">
              <p>Promotional</p>
              <p class="number">{{pramotionalSms}}</p>
          </div>
      </div>
      <div>
          <p>SMS Description</p>
          <textarea placeholder="Write your message here..." [(ngModel)]="newMessageText" (ngModelChange)="countNumberOfMessage()"></textarea>
          <div class="count">
              <div>
                  <p>Character Count: <b>{{newMessageText.length}}</b></p>
              </div>
              <div>
                  <p>Message Count:  <span [ngClass]="{'red' : messageCount >= 2}">{{messageCount}}</span></p>
              </div>
          </div>
      </div>
      <div>
          <p>Note:</p>
          <p class="note">1. Entity Registration Process: For faster response, it’s requested for register on MTNL. Entity Registration Process for MTNL Signup Link : <a href="https://www.ucc-mtnl.in/">https://www.ucc-mtnl.in/</a> .</p>

          <p class="note">2. Get approval for your SMS content on DLT platform: Find the link of Proctur system generated SMS, which is expected to approved from DLT. (Download the template-“<a href=" https://bit.ly/3sDxMgx"> https://bit.ly/3sDxMgx</a> ”).</p>
      </div>
  </div>
  <div class="page_footer">
      <div></div>
      <button class="blue_button" (click)="saveNewMessage()">Save</button>
  </div>
</div>
<!-- ========================selected message============================ -->
<div class="page-content1">
  <div class="page_heading">
      <p>
          Selected  SMS
      </p>
      <img src="../../../../assets/images/cross.svg">
  </div>
  <div class="page_body">
      <div>
          <p>Select SMS Type</p>
          <div class="remaining selected">
              <p>Transactional </p>
              <p class="number">{{transactionalSmsm}}</p>
              
          </div>
          <div class="remaining">
              <p>Promotional</p>
              <p class="number">{{pramotionalSms}}</p>
          </div>
      </div>
      <div>
          <p>SMS Description</p>
          <textarea placeholder="Write your message here...">{{selectedRow}}</textarea>
          <div class="count">
              <div>
                  <p>Character Count: <b>{{selectedMessageText}}</b></p>
              </div>
              <div>
                  <p>Message Count: <span [ngClass]="{'red' : messageCount >= 2}">{{messageCount}}</span></p>
              </div>
          </div>
      </div>
      <div>
         
      </div>
  </div>
  <div class="white1">
      <div></div>
      <button class="blue_button extra_padding">Send To</button>
  </div>
  <div class="page_footer">
      
  </div>
</div>
<!-- =======================end===================================== -->