.page-content {
  background: #F5F5F5;
  min-height: calc(100vh - 64px);
  //  height needs adjustment
  //  overflow-y: hidden;
  height: auto;
  padding: 0px 22px;
  padding-top: 8px;

}

.display {
  display: flex;
  justify-content: space-between;
}

.links a {
  height: 40px;

  font-weight: 400;
  font-size: 13px;
  line-height: 40px;
  /* identical to box height */
  padding: 10px 16px;
  letter-spacing: 0.01em;

  color: #0097F9
}

.links a.selected {
  font-weight: 600;
  height: 40px;
  background: #EFF0F5;
}
.table_head{
  background: #EFF0F5;
border-radius: 2px;
height: 40px;
font-weight: 600;
font-size: 12px;
line-height: 40px;
/* identical to box height */
display: flex;
letter-spacing: 0.01em;
padding-left: 10px;
/* table_black */

color: #323C47;

}
.table_body{
padding:10px 0px;
display: flex;
padding-left: 10px;
font-weight:400;
font-size: 12px;
line-height: 16px;
/* identical to box height */

letter-spacing: 0.01em;
background: #FFFFFF;
box-shadow: inset 0px -1px 0px #EFF0F5;
/* table_black */

color: #323C47;
}
.table_head>div:first-child,.table_body>div:first-child{
  width: 5%;
  display: flex;
 justify-content: center;
}
.table_head>div:last-child,.table_head>div:nth-child(2),.table_body>div:last-child,.table_body>div:nth-child(2){
  width: 15%;
}
.table_head>div:nth-child(3),.table_body>div:nth-child(3){
  width: calc(100% - 35%);
}
.mr16{
  margin-right: 16px;
}
.create a{
  font-weight: 600;
font-size: 16px;
line-height: 22px;
/* identical to box height */

text-align: center;
letter-spacing: 0.01em;

color: #0097F9
}
.scroll_body{
  height: calc(100vh - (64px + 8px + 40px + 40px + 40px));
  background: #fff;
  overflow-y: auto;
}
.pagignation{
  height: 40px;
  font-weight: 600;
  font-size: 12px;
  line-height: 40px;
  /* identical to box height */

  letter-spacing: 0.01em;

  color: #323C47;
}
// ===============create message===================
.page-content1 {
  background: #F5F5F5;
  padding: 0px 22px;
  padding-top: 8px;
}
.page_heading{
  background: #EFF0F5;
border-radius: 2px;
display: flex;
justify-content: space-between;
}
.page_heading p{
  font-weight: 600;
font-size: 12px;
line-height: 40px;
/* identical to box height */
padding:0px 20px;
letter-spacing: 0.01em;
margin-bottom: 0px;
/* table_black */

color: #323C47
}
.page_heading img{
  padding:0px 20px; 
  line-height: 40px;
}
.page_body{
  background: #FFFFFF;
height:189px;
display: flex;
padding: 16px 21px;
}
.page_body>div:first-child{
width:15%;
}
.page_body>div:nth-child(2){
  width: 60%;    
}
.page_body>div:last-child{
  width: 25%; 
  padding-top: 20px;
}
.page_body>div>p{
  font-weight: 600;
font-size: 12px;
line-height: 16px;
/* identical to box height */

letter-spacing: 0.01em;

/* table_black */

color: #323C47;
}
.page_body .remaining{
  border: 1px solid #EFF0F5;
box-sizing: border-box;
border-radius: 2px;
width: 150px;
height: 49px;
margin: auto;
margin-bottom: 21px;
font-weight:600;
font-size: 10px;
line-height: 14px;
/* identical to box height */
padding: 8px 16px;
font-size: 10px;
letter-spacing: 0.01em;
color: #4C6380;
}
.page_body .remaining p{
  margin-bottom: 4px;
}
.page_body>div:first-child>p{
  margin: auto;
  width: 150px;
  margin-bottom: 21px;
}
.page_body .remaining .number{
  font-weight:400;
font-size: 13px;
line-height: 18px;
/* identical to box height */

letter-spacing: 0.01em;

color: #4C6380
}
.page_body .remaining.selected{
  background: #EFF0F5;
border: 1px solid #0097F9;
}
.page_body>div:nth-child(2)>p{
  padding-left: 5px;
  margin-bottom: 7px;
}
.page_body>div:nth-child(2) {
margin: 0px 40px;
}
.page_body>div:nth-child(2) textarea{
  border: 1px solid #E7E7E7;
  box-sizing: border-box;
  height: 105px;
  font-weight: normal;
font-size: 12px;
line-height: 16px;
letter-spacing: 0.01em;
text-indent: 9px;
/* table_black */
width: 100%;
padding: 10px 0px;
color: #323C47;
}
.page_body>div:nth-child(2) textarea::placeholder{
  font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height */

letter-spacing: 0.01em;

color: #9CA0A5;

}
.count{
  border: 1px solid #E7E7E7;
box-sizing: border-box;
border-top: none;
height: 35px;
margin-top: -4px;
font-weight: normal;
font-size: 10px;
line-height: 35px;
/* identical to box height */
display: flex;
letter-spacing: 0.01em;
text-indent: 9px;
color: #4C6380;
}
.count>div{
  width: 50%;
}
.count>div>p{
  margin-bottom: 0px;
}
.page_body>div:last-child .note{
  font-weight:400;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.01em;
  
  color: #4C6380;
}
.page_footer{
  height: 83px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.blue_button {
  background-color: #109CF1;
  color: white;
  padding: 0px 20px;
  font-size: 12px;
  border: none;
  height: 35px;
  line-height: 35px;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
}
b{
  font-weight: 600px;
}
// ===================end==========================