<div class="page-content" *ngIf="addSmsForm">
  <div class="head_padding">
    <div class="w98 flex">
      <div class="page_heading">
        <p>Add/Send Notification</p>
      </div>
       <div class="pt151">
      <div class="flex">
        <div >
          <span class="circle_active">
          1
        </span>
        <p class="text_active">Add/Select Message</p>
        </div>
        <div>
          <div class="linec"></div>
        </div>
       <div >
         <a href="send_msg.html">
            <span class="circle_inactive">
          2
        </span>
        <p class="text_inactive">Select Students</p>
         </a>
       </div>
      </div>
    </div>
    </div>
  </div>
  <div class="w98">
   <br>
    
    <div class="flex">
      <div class="wid70">
        <div class=" display">
         <div>
            <span class="active_but mr10" id="pending">Pending</span>
          <span class="inactive_but" id="approved">Approved</span>
         </div>
         <div>
          <div class="tooltip1"><img src="../../../../assets/images/Group58.png" class="group18">
                      <span class="tooltiptext"><b>NOTE :</b> Lorem ipsum dolor sit amet, consetetur sadipscing 
elitr, sed diam nonumy eirmod tempor invidunt.</span>
                    </div>
           
         </div>
        </div>
        <div class="msg1 pending_tab">
          <div class="table_heading">
            <div>
             Date And Time
            </div>
            <div>Message</div>
            <div>Actions</div>
          </div>
          <div class="table_body" *ngFor="let row of messageList; let i = index;">

            <!-- <div class="field-radio-wrapper" >
              <input type="radio" name="one"   [(ngModel)]="row.assigned"
              (ngModelChange)="onCheckBoxSelection(index , row)">
             
            </div> -->
            <div title="{{row.date}}">
             {{row.date}}
            </div>
            <div title="{{row.message}}">
              {{(!row.message) ? '-':(row.message.length > 30) ?(row.message | slice :0:30) + '...' : row.message}}
              </div>
           
            <div>
              <a href="" class="mr10"><img src="../../../../assets/img/approve.svg" title="Approve" class="group18"></a>
              <a class="mr10" (click)="editSMS(row )"><img src="../../../../assets/img/edit.svg" title="Edit" class="group18"></a>
              <a href="" ><img src="../../../../assets/img/disapprove.svg" title="Disapprove" class="group18"></a>
            </div>
          </div>
          
        
          <!-- <div class="table_body">
            <div>
              01-12-2020 12:30PM
            </div>
            <div>
                             Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod 
            tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero 
            eos et accusam et justo duo dolores et
                          </div>
           
            <div>
              <a href="" class="mr10"><img src="../../../../assets/img/approve.svg" title="Approve" ></a>
              <a href="" class="mr10"><img src="../../../../assets/img/edit.svg" title="Edit" class="group18"></a>
              <a href="" ><img src="../../../../assets/img/disapprove.svg" title="Disapprove" class="group18"></a>
            </div>
          </div> -->
    <!-- </div> -->
       <!-- <div class="msg2 approved_tab">
          <div class="table_heading">
            <div>
              
            </div>
            <div>
             Date And Time
            </div>
            <div>Message</div>
            <div>Actions</div>
          </div>
          <div class="table_body" *ngFor="let row of messageList; let i = index; trackBy: i;">
             <div>
               <div class="field-radio-wrapper">
            <input type="radio" name="one"   [(ngModel)]="row.assigned"
            (ngModelChange)="onCheckBoxSelection(index , row)">
           
          </div>
             </div>
            <div>
              {{row.date}}
            </div>
            <div>
              {{row.message}}        </div>
           
            <div>
           
              <a href="" class="mr10"><img src="../../../../assets/img/edit.svg" title="Edit" class="group18"></a>
              
            </div>
          </div>
          
        
        <div class="table_body">
             <div>
               <div class="field-radio-wrapper">
            <input type="radio" name="one"  class="form-radio">
           
          </div>
             </div>
            <div>
              01-12-2020 12:30PM
            </div>
            <div>
                             Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod 
            tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero 
            eos et accusam et justo duo dolores et
                          </div>
           
            <div>
              
              <a href="" class="mr10"><img src="../../../../assets/img/edit.svg" title="Edit" class="group18"></a>
        
            </div>
          </div> -->
    </div>
      </div>
      
      <div class="w982 ">
      <div class="w90 pending_tab">
        <h1>Create Message</h1>  
        <textarea placeholder="Write your message here...." class="textarea_m"                                     [(ngModel)]="newMessageText" (ngModelChange)="countNumberOfMessage()"
        [(ngModel)]="newMessageText" (ngModelChange)="countNumberOfMessage()"
        ></textarea>
        <div class="display">
          <div></div>
          <div>
            <button class="white_button mr10">Back</button>
            <button class="blue_button"(click)="saveNewMessage()" *ngIf="!jsonFlag.editMessage">Save</button>
            <button class="blue_button" (click)="updateMessage()" *ngIf="jsonFlag.editMessage">Update</button>

          </div>
        </div>
        <div class="display space1">
          <div>
            <span class="char_text">Character Count:<span class="char_count">{{newMessageText.length}}</span></span>
          </div>
          <div class="char_text">
            <span>Message Count:<span [ngClass]="{'red' : messageCount >= 2}">{{messageCount}}</span></span>
          </div>
        </div>
        <div class="note_para">
          <h1>Note:</h1>
                    <p>1. Always start with "Dear Student, Dear Parent, Dear Faculty etc". </p>
        <p>2. Please check spelling and grammar of the SMS. </p>
        <p>3. Do not use any improper or derogatory statements. </p>
        <p>4. Entity Registration Process: For faster response, it’s requested for register on MTNL. Entity Registration Process for MTNL Signup Link <a href=":https://www.ucc-mtnl.in/">:https://www.ucc-mtnl.in/</a> .</p>
        <p>5. Get approval for your SMS content on DLT platform: Find the link of Proctur system generated SMS, which is expected to approved from DLT. (Download the template-“ <a href="https://bit.ly/3sDxMgx ">https://bit.ly/3sDxMgx </a> ”).</p>
        </div>
      </div>
       <div class="w90 approved_tab">
        <div class="sec1">
          <div >
            Transactional : 5,00,000
          </div>
           <div >
            Promotional : 70
          </div>
        </div>
        <h1>Selected Message</h1>  
        
        <div class="box1">
          <p class="selected_msg">
          
                             Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod 
            tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero 
            eos et accusam et justo duo dolores et
        </p>
        </div>
       
        <div class="display">
          <div>
            <span class="char_text">Character Count:<span class="char_count">0</span></span>
          </div>
          <div class="char_text">
            <span>Message Count:&nbsp;&nbsp;<span>1</span></span>
          </div>
        </div>
     
         <!-- <div class="display datetime">
           <div>
             Date:22-09-2020
           </div>
           <div>
             Time:12:09PM
           </div>
         </div> -->
        <div class="display pt15">
          <div></div>
          <div>

            <button class="blue_button" (click)="openStudentForm()">Next</button>
          </div>
        </div>
        <br>
      </div>
      
    </div>
   
        <!-- use image only when page is empty,table body class element will not be present -->
  </div>

  </div>
</div>
<!-- ==================================second div======================================= -->
<main class="page-content" *ngIf="selectStudentForm">
  <div class="head_padding">
    <div class="w98 flex">
      <div class="page_heading">
        <p>Add/Send Notification</p>
      </div>
    <div class="pt151">
      <div class="flex">
        <div >
         <a href="add_msg.html">
            <span class="circle_inactive">
          1
        </span>
        <p class="text_inactive">Add/Select Message</p>
         </a>
        </div>
        <div>
          <div class="linec"></div>
        </div>
       <div>
          <span class="circle_active">
          2
        </span>
        <p class="text_active">Select Students</p>
       </div>
      </div>
    </div>
    </div>
  </div>
  <div class="w98">
    <br>
    
    <div class="flex">
      <div class="wid701" >
       <div class="box1">
         <div>
           <select class="select mr10 wid160">
             <option>Master Course</option>
           </select>
           <select class="select mr10 wid160">
             <option>Course</option>
           </select>
           <button class="blue_button">Go</button>
           <input type="text" name="" class="right input magnifying-glass" placeholder="Search">
         </div>
         <div class="flex">
           <div class="lin21"></div>
           <div>OR</div>
           <div class="lin21"></div>
         </div>
         <div class="display person" >
           <div>
              <input type="radio" name="same1" id="option1" onclick="change(this)">
              All Active Students
            </div>
            <div>
              <input type="radio" name="same1" id="option2" onclick="change(this)">
              All Faculty
            </div>
            <div>
              <input type="radio" name="same1" id="option3" onclick="change(this)">
              All Inactive Students
            </div>
            <div>
              <input type="radio" name="same1" id="option4" onclick="change(this)">
              All Allumni Students
            </div>
            <div>
              <input type="radio" name="same1" id="option5" onclick="change(this)">
             All Registered Users
            </div>
         </div>
       </div>
       <div id="myH1" class="hide">
        <div class="table_heading">
          <div>
            <label class="checkbox checkbox1">
                  <span class="checkbox__input">
                    <input type="checkbox" name="checked" >
                    <span class="checkbox__control">
                     <svg viewBox='0 0 24 24' aria-hidden="true" focusable="false">
                        <path fill='none' stroke='currentColor' d='M1.3 12.91l6.37 6.37L22.79 4.59' /></svg>
                    </span>
                  </span>
                </label>
          </div>
            <div>
            Id
            </div>
            <div>Name</div>
            <div>
              Mobile
            </div>
            <div>
              Standard
            </div>
            <div>
              Joining Date
            </div>
            <div>Email</div>
          </div>
          <div class="table_body">
            <div>
              <label class="checkbox checkbox1">
                  <span class="checkbox__input">
                    <input type="checkbox" name="checked" >
                    <span class="checkbox__control">
                     <svg viewBox='0 0 24 24' aria-hidden="true" focusable="false">
                        <path fill='none' stroke='currentColor' d='M1.3 12.91l6.37 6.37L22.79 4.59' /></svg>
                    </span>
                  </span>
                </label>
            </div>
           <div>
            123456
            </div>
            <div>Diya Maheshwari</div>
            <div>
              9087654321
            </div>
            <div>
             X
            </div>
            <div>
              12-03-2020
            </div>
            <div>dsadfdsfgfg@gmail.com</div>
          </div>
       </div>
        <div id="myH2" class="hide">
         <div class="table_heading">
          <div>
            <label class="checkbox checkbox1">
                  <span class="checkbox__input">
                    <input type="checkbox" name="checked" >
                    <span class="checkbox__control">
                     <svg viewBox='0 0 24 24' aria-hidden="true" focusable="false">
                        <path fill='none' stroke='currentColor' d='M1.3 12.91l6.37 6.37L22.79 4.59' /></svg>
                    </span>
                  </span>
                </label>
          </div>
         
            <div>Name</div>
            <div>
              Mobile
            </div>
            
            <div>
             Subject
            </div>
            <div> Is Active</div>
          </div>
          <div class="table_body">
            <div>
              <label class="checkbox checkbox1">
                  <span class="checkbox__input">
                    <input type="checkbox" name="checked" >
                    <span class="checkbox__control">
                     <svg viewBox='0 0 24 24' aria-hidden="true" focusable="false">
                        <path fill='none' stroke='currentColor' d='M1.3 12.91l6.37 6.37L22.79 4.59' /></svg>
                    </span>
                  </span>
                </label>
            </div>
           
            <div>Diya Maheshwari</div>
            <div>
              9087654321
            </div>
            
            <div>
             Maths
            </div>
            <div>Y</div>
          </div>
       </div>
        <div id="myH3" class="hide">
        <div class="table_heading">
          <div>
            <label class="checkbox checkbox1">
                  <span class="checkbox__input">
                    <input type="checkbox" name="checked" >
                    <span class="checkbox__control">
                     <svg viewBox='0 0 24 24' aria-hidden="true" focusable="false">
                        <path fill='none' stroke='currentColor' d='M1.3 12.91l6.37 6.37L22.79 4.59' /></svg>
                    </span>
                  </span>
                </label>
          </div>
            <div>
            Id
            </div>
            <div>Name</div>
            <div>
              Mobile
            </div>
            <div>
              Standard
            </div>
            <div>
              Joining Date
            </div>
            <div>Email</div>
          </div>
          <div class="table_body">
            <div>
              <label class="checkbox checkbox1">
                  <span class="checkbox__input">
                    <input type="checkbox" name="checked" >
                    <span class="checkbox__control">
                     <svg viewBox='0 0 24 24' aria-hidden="true" focusable="false">
                        <path fill='none' stroke='currentColor' d='M1.3 12.91l6.37 6.37L22.79 4.59' /></svg>
                    </span>
                  </span>
                </label>
            </div>
           <div>
            123456
            </div>
            <div>Diya Maheshwari</div>
            <div>
              9087654321
            </div>
            <div>
             X
            </div>
            <div>
              12-03-2020
            </div>
            <div>dqwerttt@gmail.com</div>
          </div>
       </div>
        <div id="myH4" class="hide">
         <div class="table_heading">
          <div>
            <label class="checkbox checkbox1">
                  <span class="checkbox__input">
                    <input type="checkbox" name="checked" >
                    <span class="checkbox__control">
                     <svg viewBox='0 0 24 24' aria-hidden="true" focusable="false">
                        <path fill='none' stroke='currentColor' d='M1.3 12.91l6.37 6.37L22.79 4.59' /></svg>
                    </span>
                  </span>
                </label>
          </div>
            <div>
            Id
            </div>
            <div>Name</div>
            <div>
              Mobile
            </div>
            <div>
              Standard
            </div>
            <div>
              Joining Date
            </div>
            <div>Email</div>
          </div>
          <div class="table_body">
            <div>
              <label class="checkbox checkbox1">
                  <span class="checkbox__input">
                    <input type="checkbox" name="checked" >
                    <span class="checkbox__control">
                     <svg viewBox='0 0 24 24' aria-hidden="true" focusable="false">
                        <path fill='none' stroke='currentColor' d='M1.3 12.91l6.37 6.37L22.79 4.59' /></svg>
                    </span>
                  </span>
                </label>
            </div>
           <div>
            123456
            </div>
            <div>Diya Maheshwari</div>
            <div>
              9087654321
            </div>
            <div>
             X
            </div>
            <div>
              12-03-2020
            </div>
            <div>dffdgggv@gmail.com</div>
          </div>
       </div>
        <div id="myH5" class="hide">
         <div class="table_heading">
          <div>
            <label class="checkbox checkbox1">
                  <span class="checkbox__input">
                    <input type="checkbox" name="checked" >
                    <span class="checkbox__control">
                     <svg viewBox='0 0 24 24' aria-hidden="true" focusable="false">
                        <path fill='none' stroke='currentColor' d='M1.3 12.91l6.37 6.37L22.79 4.59' /></svg>
                    </span>
                  </span>
                </label>
          </div>
            <div>
            Id
            </div>
            <div>Name</div>
            <div>
              Mobile
            </div>
            <div>
              Standard
            </div>
            <div>
              Joining Date
            </div>
            <div>Email</div>
          </div>
          <div class="table_body">
            <div>
              <label class="checkbox checkbox1">
                  <span class="checkbox__input">
                    <input type="checkbox" name="checked" >
                    <span class="checkbox__control">
                     <svg viewBox='0 0 24 24' aria-hidden="true" focusable="false">
                        <path fill='none' stroke='currentColor' d='M1.3 12.91l6.37 6.37L22.79 4.59' /></svg>
                    </span>
                  </span>
                </label>
            </div>
           <div>
            123456
            </div>
            <div>Diya Maheshwari</div>
            <div>
              9087654321
            </div>
            <div>
             X
            </div>
            <div>
              12-03-2020
            </div>
            <div>dxfdfsgdg@gmail.com</div>
          </div>
       </div>
        <!-- <div class="msg1 pending_tab">
          <div class="table_heading">
            <div>
             Date And Time
            </div>
            <div>Message</div>
            <div>Actions</div>
          </div>
          <div class="table_body">
            <div>
              01-12-2020 12:30PM
            </div>
            <div>
               Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod 
            tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero 
            eos et accusam et justo duo dolores et
                          </div>
           
            <div>
              <a href="" class="mr10"><img src="img1/view.svg" title="View" ></a>
              <a href="" class="mr10"><img src="img1/edit.svg" title="Edit" class="group18"></a>
              <a href="" ><img src="img1/delete.svg" title="Delete" class="group18"></a>
            </div>
          </div>
          
        
          <div class="table_body">
            <div>
              01-12-2020 12:30PM
            </div>
            <div>
                             Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod 
            tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero 
            eos et accusam et justo duo dolores et
                          </div>
           
            <div>
              <a href="" class="mr10"><img src="img1/view.svg" title="View" ></a>
              <a href="" class="mr10"><img src="img1/edit.svg" title="Edit" class="group18"></a>
              <a href="" ><img src="img1/delete.svg" title="Delete" class="group18"></a>
            </div>
          </div>
    </div> -->
      
      </div>
      
      <div class="w983">
         <div class="w984">
           <div class="h11">
            Send to:
           </div>
            <div class="display person">
              <div class="flex">
                <div>
                 <label class="checkbox">
                  <span class="checkbox__input">
                    <input type="checkbox" name="checked" >
                    <span class="checkbox__control">
                     <svg viewBox='0 0 24 24' aria-hidden="true" focusable="false">
                        <path fill='none' stroke='currentColor' d='M1.3 12.91l6.37 6.37L22.79 4.59' /></svg>
                    </span>
                  </span>
                </label>
              </div>
              <div>
                Student
              </div>
              </div>
              <div class="flex">
                <div>
                 <label class="checkbox">
                  <span class="checkbox__input">
                    <input type="checkbox" name="checked" >
                    <span class="checkbox__control">
                     <svg viewBox='0 0 24 24' aria-hidden="true" focusable="false">
                        <path fill='none' stroke='currentColor' d='M1.3 12.91l6.37 6.37L22.79 4.59' /></svg>
                    </span>
                  </span>
                </label>
              </div>
              <div>
                Parent
              </div>
              </div>
              <div class="flex">
                <div>
                 <label class="checkbox">
                  <span class="checkbox__input">
                    <input type="checkbox" name="checked" >
                    <span class="checkbox__control">
                     <svg viewBox='0 0 24 24' aria-hidden="true" focusable="false">
                        <path fill='none' stroke='currentColor' d='M1.3 12.91l6.37 6.37L22.79 4.59' /></svg>
                    </span>
                  </span>
                </label>
              </div>
              <div >
                Guardian
              </div>
              </div>
            </div>
        
          <div class="para">
            <p></p>
          </div>
          <div class="display space1">
            <div >
              <span class="char_text">Character Count:<span class="char_count">0</span></span>
            </div>
            <div class="char_text">
              <span>Message Count:&nbsp;&nbsp;<span>1</span></span>
            </div>
          </div>
          <div class="lin2"></div>
             <h1 >Delivery Mode</h1> 
          <div class="display person">
            <div class=" flex">
              <div>
                 <label class="checkbox">
                  <span class="checkbox__input">
                    <input type="checkbox" name="checked" >
                    <span class="checkbox__control">
                     <svg viewBox='0 0 24 24' aria-hidden="true" focusable="false">
                        <path fill='none' stroke='currentColor' d='M1.3 12.91l6.37 6.37L22.79 4.59' /></svg>
                    </span>
                  </span>
                </label>
              </div>
            <div>SMS</div>
            </div>
            <div class=" flex">
               <div>
                 <label class="checkbox">
                  <span class="checkbox__input">
                    <input type="checkbox" name="checked" >
                    <span class="checkbox__control">
                     <svg viewBox='0 0 24 24' aria-hidden="true" focusable="false">
                        <path fill='none' stroke='currentColor' d='M1.3 12.91l6.37 6.37L22.79 4.59' /></svg>
                    </span>
                  </span>
                </label>
              </div>
              <div>
                Email
              </div>
            </div>
          </div>
            <div class="display space1">
              <div></div>
              <div>
                <button class="white_button mr10">Send</button>
                <button class="white_button">Send Push Notification</button>
              </div>
            </div>
         </div>
         <br>
          <div class="w984">
          <div class="flex space1">
            <div>
               <label class="checkbox">
                  <span class="checkbox__input">
                    <input type="checkbox" class="checkbox__input1">
                    <span class="checkbox__control">
                     <svg viewBox='0 0 24 24' aria-hidden="true" focusable="false">
                        <path fill='none' stroke='currentColor' d='M1.3 12.91l6.37 6.37L22.79 4.59' /></svg>
                    </span>
                  </span>
                </label>
            </div>
            <div>
               <h1 class="h112">Send Login Message</h1> 
            </div>
          </div>
          <div class="display sec2">
            <div>
              <input type="radio" name="same">
              Student Only
            </div>
            <div>
              <input type="radio" name="same">
              Parent Only
            </div>
            <div>
              <input type="radio" name="same">
              Both
            </div>
          </div>
          <div class="display">
            <div>
              <button class="white_button1 mr10">Send Credentials</button>
              <button class="white_button1">SMS for App Download</button>
               
            </div>
          </div>
         </div>
    
        <br>
     
      </div>
    </div>
   
  <!-- </div> -->

  </div>
</main> 