<div class="container-fluid product-wrapper p-0" style="padding-top: 2px;padding: 2%;">
  
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12 form-group">
            <label class="text-bold"> Name
              <span class="text-danger">*</span>
            </label>
            <input type="text" placeholder="Name" [(ngModel)]="pageModel.name" class="form-control form-control-sm">
          </div>
  
          <div class="col-md-12">
            <div class="col-md-8 form-group" style="padding-right: 0px;padding-left: 0px;">
              <label class="text-bold">Content</label>
              <textarea rows="3" placeholder="Content" class="form-control form-control-sm" maxLength="1500"
                [(ngModel)]="pageModel.content" style="width: 75%;"></textarea>
            </div>
          </div>

          <div class="col-md-12 form-group">
            <label class="text-bold"> Order Number
              <span class="text-danger">*</span>
            </label>
            <input type="number" placeholder="Order Number" [(ngModel)]="pageModel.order_number" class="form-control form-control-sm">
          </div>

          <div class="col-md-12" style="margin-bottom: 15px;" *ngIf="selectedPageId && pageModel.image_url!='' && pageModel.image_url!=null">
            <div class="c-md-3" style="padding: 0;margin-top: 1%;margin-right: 5px;">
              <label class="text-bold"> Uploaded Image</label>
              <img style="width: 20%;vertical-align: middle;margin-left: 25px;" src="{{pageModel.image_url}}">
            </div>
            <div class="c-md-1 clearFile" (click)="clearFile()">X</div>
          </div>

          <div class="col-md-12 form-group">
            <label class="text-bold"> Upload Image (Size - 225 w* 225 h pixel)
              <span class="text-danger">*</span>
            </label>
            <input type="file" class="form-control form-control-sm"   id="uploadFileControl" name="uploadFileBox" accept="image/*" [(ngModel)]="pageModel.image" />
          </div>

          <div class="col-md-12 form-group">
            <label class="text-bold"> Rating
            </label>
            <input type="text" placeholder="Rating" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" [(ngModel)]="pageModel.rating" class="form-control form-control-sm">
          </div>
  
        </div>
  
        <div class="go-btn-container">
          <button type="button" name="button" class="fullBlue add-class-btn" (click)="cancel()">Cancel</button>
          <button type="button" name="button" class="fullBlue gobtn" (click)="saveData()"
            [disabled]="auth.isRippleLoad.getValue()">Save</button>
        </div>
      </div>
    </div>
  </div>
