tbody {
    tr {
        line-height: 25px;

        .field-wrapper {
            padding: 0px !important;
            .form-ctrl {
                display: block;
                box-sizing: border-box;
                padding: 0px 0px 0px 5px;
                outline: none;
                border: 0;
                height: 26px;
                box-shadow: none;
                border-radius: 0;
                line-height: 25px;
                background: transparent;
                width: 80px;
                text-align: center;
                border-bottom: 1px solid #ccc;
            }
        }
    }
}

table {
   tbody {
       tr{
           td{
               .editOptions li{
                display: inline-block;
               }
           }
       }
       .displayComp {
        .view-comp {}
        .edit-comp {
            display: none
        }
    }
    .editComp {
        .view-comp {
            display: none
        }
        .edit-comp {}
    }
   }
}

