@import "../inventory-module.component.scss";
.div_1{
height:32rem  !important;
}
.dropdown-content1{
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 200px;
    right: 3px;
    margin-top: 20px;
    top: -11px;
    text-align: left;
    padding: 18px;
    }
    .dropdown-content1:hover{
        background-color: #fff;
        padding: 18px;
            }