<section class="middle-section clearFix">
  <section class="course-second course">
    <div class="boxPadding15">
      <section class="middle-top clearFix">
        <h1>Course</h1>
        <div class="pull-right btnWrapper">
          <button class="btn" routerLink="add">
            <div class="option-wrap">
              <img src="./assets/images/plus.png" alt="addEnquiry">
              <span class="tooltip">
                Add Course
              </span>
            </div>
          </button>
        </div>
      </section>
      <section style="padding-top: 10px;" class="CourseListtableWrapper">
        <table>
          <thead>
            <tr>
              <th>
                Master Course Name
              </th>
              <th>
                Standard
              </th>
              <th>
                Course(s)
              </th>
              <th>
                Action
              </th>
            </tr>
          </thead>
          <tbody>
            <tr id="row{{i}}" *ngFor="let row of courseList; let i= index ; trackBy : index">
              <td>
                {{row.master_course}}
              </td>
              <td>
                {{row.standard_name}}
              </td>
              <td>
                {{row.coursee_names}}
              </td>
              <td style="cursor: pointer">
                <a routerLink = "{{row.master_course}}">Edit</a>
              </td>
            </tr>
          </tbody>
        </table>
      </section>
    </div>
  </section>
</section>



<!--  Add Course PopUp  -->

<!-- Common Popup for Visiting and Assigned Classes PopUp -->
<!-- =============================================================================== -->
<!-- <section id="popup" class="popupWrapper fadeIn" *ngIf="addNewCoursePopUp">
  <div class="popup pos-abs popup-body-container">
    <div class="popup-wrapper pos-rel">
      <span class="closePopup pos-abs fbold show" id="popupCloseBtn" (click)="closeAddCoursePopUp()">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="9310 2185 16 16">
          <g id="Group_1228" data-name="Group 1228" transform="translate(8298 1888)">
            <g id="Group_1213" data-name="Group 1213" transform="translate(34.189 -7.77)">
              <line id="Line_274" data-name="Line 274" class="cls-1" y2="19.798" transform="translate(992.81 305.77) rotate(45)" />
              <line id="Line_275" data-name="Line 275" class="cls-1" x1="19.798" transform="translate(978.81 305.77) rotate(45)" />
            </g>
            <rect id="Rectangle_686" data-name="Rectangle 686" style="stroke:none;" class="cls-2" width="16" height="16" transform="translate(1012 297)"
            />
          </g>
        </svg>
      </span>
      <div class="popup-content content-wrapper">
        <div>
          <h2>Create Standard</h2>
          <section class="clearFix">
            <div class="c-lg-9 c-sm-9 c-md-9">
              <div class="row">
                <div class="c-lg-6 c-md-6 c-ms-6">
                  <div class="field-wrapper">
                    <input type="text" name="masterCourse" [(ngModel)]="newCourseAdd.master_course_name" class="form-ctrl" (focus)="inputClickedCheck($event)"
                    />
                    <label for="masterCourse">Master Course
                      <span style="color:red">*</span>
                    </label>
                  </div>
                </div>
                <div class="c-lg-6 c-md-6 c-ms-6">
                  <div class="field-wrapper">
                    <select class="form-ctrl" [(ngModel)]="newCourseAdd.standard_id" (focus)="inputClickedCheck($event)">
                      <option value="-1"></option>
                      <option *ngFor="let opt of masterCourseList" [value]="opt.standard_id">
                        {{opt.standard_name}}
                      </option>
                    </select>
                    <label for="item">Standard Name
                      <span style="color:red">*</span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="c-lg-3 c-sm-3 c-md-3 pull-right">
              <aside class="pull-left create-cancel-small">
                <input type="button" value="Go" class="btn redBtn" (click)="btnGoClickCreateCourse()">
              </aside>
            </div>
          </section>

          <button class="btn" (click)="addMoreToList()">Add More</button>
          <button class="btn" (click)="deleteFromTheList()">Add More</button>
          <app-add-course-modal [count]="totalCount" [teacherDdnList]="teacherDataSourceList" [subjectList]="subjectListDataSource">

          </app-add-course-modal>
        </div>
      </div>
    </div>
  </div>
</section> -->




<!-- <section class="">
<div>
  <div class="field-wrapper">
    <input type="text" name="masterCourse" class="form-ctrl" (focus)="inputClickedCheck($event)" />
    <label for="masterCourse">Master Course
      <span style="color:red">*</span>
    </label>
  </div>
  <div class="field-wrapper datePickerBox">
    <input type="text" value="" id="followupdate" class="form-ctrl" style="cursor: pointer;" name="startDate" (focus)="inputClickedCheck($event)"
      bsDatepicker/>
    <label for="startDate">Start Date</label>
  </div>
  <div class="field-wrapper datePickerBox">
    <input type="text" value="" id="followupdate" class="form-ctrl" style="cursor: pointer;" name="endDate" (focus)="inputClickedCheck($event)"
      bsDatepicker/>
    <label for="endDate">Start Date</label>
  </div>
  <div class="field-checkbox-wrapper">
    <input type="checkbox" value="" name="check" class="form-checkbox" (ngModelChange)="toggleStandardActive($event)">
    <label for="isAct">Is Active</label>
  </div>
</div>
<div>
  <div>
    <span>Subject*</span>
  </div>
  <div>
    <span>Select Teacher*</span>
  </div>
  <div id="subjectDiv{{i}}" *ngFor="let row of courseList; let i= index ; trackBy : index">
    <div>
      <div class="field-checkbox-wrapper">
        <input type="checkbox" value="" name="check" class="form-checkbox" (ngModelChange)="toggleStandardActive($event)">
        <label for="isAct"></label>
      </div>
    </div>
    <div>
      <div class="field-wrapper">
        <select class="form-ctrl" [(ngModel)]="newCourseAdd.standard_id" (focus)="inputClickedCheck($event)">
          <option *ngFor="let opt of masterCourseList" [value]="opt.standard_id">
            {{opt.standard_name}}
          </option>
        </select>
      </div>
    </div>
  </div>
</div>
</section> -->