
<section class="middle-section">
  <!-- course module -->
  <section class="header-section">
      <div>
          <div class="header-title">
              <span  *ngIf="(!isLangInstitue)">Course</span>
              <span  *ngIf="(isLangInstitue)"> Batch</span>
            </div>
      </div>
    </section>
  <div class="course-menu-section-container" *ngIf="(!isLangInstitue)">
    <div class="course-menu-item" routerLink="/view/course/setup" *ngIf="jsonFlags.isShowSetup">
      <div class="menu-title">
        <img src="./assets/images/course/data-setup.svg" alt="data setup">
        <span>Data Setup</span>
      </div>
      <div class="menu-description">
        <span> Data setup your academic year, faculties, classrooms and exam grades</span>
      </div>
    </div>
    <div class="course-menu-item" routerLink="/view/course/create" *ngIf="jsonFlags.isShowModel">
      <div class="menu-title">
        <img src="./assets/images/course/create-course.svg" alt="create course">
        <span>Create course</span>
      </div>
      <div class="menu-description">
        <span>Create and manage courses with ease. Define standards, subjects, and topics as well as schedule classes and exams for the course.</span>
      </div>
    </div>
    <div class="course-menu-item" routerLink="../ecourse-file-manager" *ngIf="jsonFlags.isEcourseFileManager">
      <div class="menu-title">
        <img src="./assets/images/activity/study_material.svg" alt="">
        <span>Study Materials</span>
      </div>
      <div class="menu-description">
        <span>Manage storage of uploaded and downloaded files by E-Course. Upload or download the files and manage
          files in folders and
          by category.</span>
      </div>
    </div>
    <div class="course-menu-item" routerLink="/view/course/file-manager">
      <div class="menu-title">
        <img src="./assets/images/activity/file_manager.svg" alt="file manager">
        <span>File Manager</span>
      </div>
      <div class="menu-description">
        <span>Manage Storage Of Uploaded And Downloaded Files By Category.</span>
      </div>
    </div>
    <div class="course-menu-item" routerLink="/view/course/coursePlanner/class" *ngIf="jsonFlags.isShowClassPlanner">
      <div class="menu-title">
        <img src="./assets/images/course/class-planner.svg" alt="class planner">
        <span>Class Planner</span>
      </div>
      <div class="menu-description">
        <span>Plan and manage class for all courses on the go.</span>
      </div>
    </div>
    <div class="course-menu-item" routerLink="/view/course/coursePlanner/exam" *ngIf="jsonFlags.isShowClassPlanner">
      <div class="menu-title">
        <img src="./assets/images/course/exam-planner.svg" alt="exam planner">
        <span>Exam Planner</span>
      </div>
      <div class="menu-description">
        <span>Plan and manage exams for all courses on the go.</span>
      </div>
    </div>
    <div class="course-menu-item" routerLink="/view/course/timeTable">
      <div class="menu-title">
        <img src="./assets/images/course/timetable.svg" alt="timetable">
        <span>Timetable</span>
      </div>
      <div class="menu-description">
        <span>Time table as per the subject on weekly basis.</span>
      </div>
    </div>

    <div class="course-menu-item" routerLink="/view/course/reports">
      <div class="menu-title">
        <img src="./assets/images/course/reports.svg" alt="reports">
        <span>Reports</span>
      </div>
      <div class="menu-description">
        <span>Track performance on each and every aspect with detailed reports.</span>
      </div>
    </div>
    <div class="course-menu-item" routerLink="../master-tag">
      <div class="menu-title">
        <img src="./assets/images/activity/manage_tag.svg" alt="">
        <span>Manage Tag</span>
      </div>
      <div class="menu-description">
        <span>Create tags for future reference while creating products.</span>
      </div>
    </div>
    <div class="course-menu-item" routerLink="/view/course/online-assignment">
      <div class="menu-title">
        <img src="./assets/images/course/reports.svg" alt="reports">
        <span>Online Assignment</span>
      </div>
      <div class="menu-description">
        <span>Assignment Description</span>
      </div>
    </div>
    <div class="course-menu-item" *ngIf="jsonFlags.isShowEcourseMapping" routerLink="../ecoursemapping">
      <div class="menu-title">
        <img src="./assets/images/activity/ecourse.svg" alt="">
        <span>E-course Mapping</span>
      </div>
      <div class="menu-description">
        <span *ngIf="!isLangInstitue">Create E-courses and assign multiple standards to the E-courses.</span>
        <span *ngIf="isLangInstitue">Create E-courses and assign multiple batches to the E-courses</span>
      </div>
    </div>
    <div class="course-menu-item" routerLink="/view/course/archiving" *ngIf="jsonFlags.isShowArchiving">
      <div class="menu-title">
        <img src="./assets/images/activity/archive.svg" alt="archiving">
        <span>Archiving</span>
      </div>
      <div class="menu-description">
        <span *ngIf="(isLangInstitue)">Archive the batches, students and get the report of archived batches and
          students.</span>
        <span *ngIf="(!isLangInstitue)">Archive the courses, students and get the report of archived courses and
          students.</span>
      </div>
    </div>

  </div>

  <!-- batch module -->
  <div class="course-menu-section-container" *ngIf="(isLangInstitue)">
      <div class="course-menu-item" routerLink="/view/batch/setup" *ngIf="jsonFlags.isShowSetup">
        <div class="menu-title">
          <img src="./assets/images/course/data-setup.svg" alt="data setup">
          <span>Data Setup</span>
        </div>
        <div class="menu-description">
          <span> Data setup your academic year, faculties, classrooms etc</span>
        </div>
      </div>
    <div class="course-menu-item" routerLink="/view/batch/create" *ngIf="jsonFlags.isShowModel">
      <div class="menu-title">
        <img src="./assets/images/course/create-course.svg" alt="create batch">
        <span>Create Batch</span>
      </div>
      <div class="menu-description">
        <span>Create and manage batches with ease</span>
      </div>
    </div>
    <div class="course-menu-item" routerLink="../ecourse-file-manager" *ngIf="jsonFlags.isEcourseFileManager">
      <div class="menu-title">
        <img src="./assets/images/activity/study_material.svg" alt="">
        <span>Study Materials</span>
      </div>
      <div class="menu-description">
        <span>Manage storage of uploaded and downloaded files by E-Course. Upload or download the files and manage
            files in folders and by category.</span>
      </div>
    </div>
    <div class="course-menu-item" routerLink="/view/batch/file-manager" *ngIf="jsonFlags.isShowFileManager">
      <div class="menu-title">
        <img src="./assets/images/activity/file_manager.svg" alt="file manager">
        <span>File Manager</span>
      </div>
      <div class="menu-description">
        <span>Manage Storage Of Uploaded And Downloaded Files By Category.</span>
      </div>
    </div>
    <div class="course-menu-item" routerLink="/view/batch/coursePlanner/class" *ngIf="jsonFlags.isShowClassPlanner">
      <div class="menu-title">
        <img src="./assets/images/course/class-planner.svg" alt="class planner">
        <span>Class Planner</span>
      </div>
      <div class="menu-description">
        <span>Plan and manage class for all courses on the go.</span>
      </div>
    </div>
    <div class="course-menu-item" routerLink="/view/batch/coursePlanner/exam"  *ngIf="jsonFlags.isShowClassPlanner">
      <div class="menu-title">
        <img src="./assets/images/course/exam-planner.svg" alt="exam planner">
        <span>Exam Planner</span>
      </div>
      <div class="menu-description">
        <span>Plan and manage exams for all courses on the go.</span>
      </div>
    </div>
    <div class="course-menu-item" routerLink="/view/batch/timeTable">
      <div class="menu-title">
        <img src="./assets/images/course/timetable.svg" alt="timetable">
        <span>Timetable</span>
      </div>
      <div class="menu-description">
        <span>Time table as per the subject on weekly basis.</span>
      </div>
    </div>
    <div class="course-menu-item" routerLink="/view/batch/reports">
      <div class="menu-title">
        <img src="./assets/images/course/reports.svg" alt="reports">
        <span>Reports</span>
      </div>
      <div class="menu-description">
        <span>Track performance on each and every aspect with detailed reports.</span>
      </div>
    </div>
    <div class="course-menu-item" routerLink="../master-tag">
      <div class="menu-title">
        <img src="./assets/images/activity/manage_tag.svg" alt="">
        <span>Manage Tag</span>
      </div>
      <div class="menu-description">
        <span>Create tags for future reference while creating products.</span>
      </div>
    </div>

    <div class="course-menu-item" routerLink="/view/course/online-assignment">
      <div class="menu-title">
        <img src="./assets/images/course/reports.svg" alt="reports">
        <span>Online Assignment</span>
      </div>
      <div class="menu-description">
        <span>Assignment Description</span>
      </div>
    </div>

    <div class="course-menu-item" *ngIf="jsonFlags.isShowEcourseMapping" routerLink="../ecoursemapping">
      <div class="menu-title">
        <img src="./assets/images/activity/ecourse.svg" alt="">
        <span>E-course Mapping</span>
      </div>
      <div class="menu-description">
        <span *ngIf="!isLangInstitue">Create E-courses and assign multiple standards to the E-courses.</span>
        <span *ngIf="isLangInstitue">Create E-courses and assign multiple batches to the E-courses</span>
      </div>
    </div>
    <div class="course-menu-item" routerLink="/view/batch/archiving" *ngIf="jsonFlags.isShowArchiving">
      <div class="menu-title">
        <img src="./assets/images/activity/archive.svg" alt="archiving">
        <span>Archiving</span>
      </div>
      <div class="menu-description">
        <span *ngIf="(isLangInstitue)">Archive the batches, students and get the report of archived batches and
          students.</span>
        <span *ngIf="(!isLangInstitue)">Archive the courses, students and get the report of archived courses and
          students.</span>
      </div>
    </div>


  </div>

</section>
