<div class="container" style="margin:0px;padding:0px;">

    <div class="row" style="margin:0px;padding:0px;position: fixed;top: 0;">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin:0px;padding:0px;">
            <core-header></core-header>
        </div>
    </div>

    <div class="row" style="margin:0px;padding:0px;">
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="margin:0px;padding:0px;">
            <core-sidednav></core-sidednav>
        </div>
        <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11" 
        style="    
        position: fixed;
        top: 6em;
        left: 4em;
        margin: 0px;
        padding: 0px;
        height: 90vh;
        overflow: scroll;
        width: 95vw;">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>