<div class="container" style="margin:0px;padding:0px;">
    <div class="row">
        <div id="Sidenav" class="col-xs-1 col-sm-1 col-md-1 col-lg-1 side-panel a">
            <aside >
                <div class="inner">
                    <ul>
                      <li><a routerLink="/"><div class="text">Dashboard</div><span><i class="material-icons">dashboard</i></span></a></li>
                      <li><a routerLink="/"><div class="text">Activity</div><span><i class="material-icons">local_activity</i></span></a></li>
                      <li><a routerLink="/"><div class="text">Students</div><span><i class="material-icons">group</i></span></a></li>
                      <li><a routerLink="/"><div class="text">Reports</div><span><i class="material-icons">description</i></span></a></li>
                      <li><a routerLink="/"><div class="text">Profile</div><span><i class="material-icons">perm_identity</i></span></a></li>
                      <li><a routerLink="/enquiry"><div class="text">Enquiry</div><span><i class="material-icons">assignment_ind</i></span></a></li>
                      <li><a routerLink="/help"><div class="text">Contact Us</div><span><i class="material-icons">help</i></span></a></li>
                    </ul>
                </div>
            </aside>
        </div>

        <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>