<div class="container" style="margin:0px;padding:0px;width: 100vw;height: 100vh;">

    <div class="row" 
       style="margin: 0px;padding: 0px;position: fixed;top: 0;height: 10vh;width: 100vw;">
            <core-header></core-header>
    </div>

    <div class="row" style="padding: 0px;width: 100vw;height: 90vh;margin-top: 10vh;">
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="margin: 0px;padding: 0px;height: 90vh;width: 5vw;left: 0;">
            <core-sidednav></core-sidednav>
        </div>
        <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11 router-out">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>