<loaders-css [loader]="'ball-scale-ripple-multiple'" class="app-loader-wrapper" [loaderClass]="'blueRipple'" *ngIf="isRippleLoad">
</loaders-css>
<div class="clear-fix">
  <aside class="middle-full ">
    <section class="middle-main clearFix ">
      <section class="middle-top mb0 clearFix sms-header">


      </section>
      <section class="filter-form attendance-container">
        <h2>Closing Reason</h2>
        <div class="clearFix add-edit">
          <a (click)="toggleCreateNewReason()">
            <i id="showAddBtn" class="addBtnClass">+</i>
            <i id="showCloseBtn" class="closeBtnClass" style="display:none;">-</i>
            <span class="pointer-way">Add Reason</span>
          </a>
        </div>

        <div class="row create-standard-field" *ngIf="showToggle">
          <div class="c-lg-3 c-md-3 c-sm-3">
            <div class="field-wrapper">
              <label for="Create Grade">Add Closing Reason*

              </label>
              <textarea class="form-ctrl" name="grade" id="grade" [(ngModel)]="createNewReasonObj.closing_desc" style="height: 80px;"  >
              </textarea>
            </div>
          </div>
          <div class="c-lg-2" style="margin-top: 2%;">
            <input type="button" value="Add" class="btn fullBlue" (click)="createNewReason()">
          </div>
        </div>

        <div class="table table-responsive table-scroll">
          <div class="dummy-scroll">
            <table>
              <thead>
                <tr>
                  <th>
                    Closing Reason
                  </th>
                  <th>
                    Action
                  </th>
                </tr>
              </thead>

              <tbody *ngIf="getAllClosingReasons.length!=0">
                <tr *ngFor="let i of getAllClosingReasons  ; let j = index; trackBy: j;" class="displayComp" id="i{{j}}">
                
                  <td class="view-comp">
                    {{i.closing_desc}}
                  </td>

                  <td class="edit-comp">
                    <div class="field-wrapper">
                      <input type="text" class="form-ctrl editCellInput" name="label" [(ngModel)]="i.closing_desc" [value]="i.closing_desc" style="text-align: center;">
                    </div>
                  </td>

                  <td class="view-comp">
                    <a class="anchorTagCursor" (click)="editRowTable(i, j)">Edit</a>
                  </td>

                  <td class="edit-comp">
                    <a class="anchorTagCursor" (click)="saveInformation(i , j)"> Save </a>
                    <a class="anchorTagCursor anchorTag" (click)="cancelEditRow(j)"> Cancel </a>
                  </td>

                </tr>
              </tbody>

              <tbody *ngIf="getAllClosingReasons.length==0 && dataStatus === false">
                <tr>
                  <td colspan="3">
                    No Records Found
                  </td>
                </tr>
              </tbody>

              <tbody *ngIf=" getAllClosingReasons.length == 0 && dataStatus === true">
                <tr *ngFor="let dummy of dummyArr">
                  <td *ngFor="let c of columnMaps" style="padding:10px;">
                    <div class="skeleton">
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </section>
    </section>
  </aside>
</div>