<section class="middle-section clearFix" [ngBusy]="{busy: busy, message: 'Loading...', delay: 100, maxDuration: 1000}" (click)="inputClicked()">
    <aside class="middle-full row">
      <!-- Header and Navigation -->
  
      <section class="middle-main clearFix" id="studentList">
  
        <!-- Data Table and Pagination -->
        <section class="search-data">
  
          <!-- Export and Toggler Here -->
          <div class="row class filter-res">
            <div class="c-lg-6 c-md-6 c-sm-6 align-left">
              <ul class="export-print">
                <!-- <li>
                    <label>Showing 1 to {{(displayBatchSize
                      > totalCampaign)? totalVisibleEnquiry: (instituteData.start_index+displayBatchSize)}} of {{totalCampaign}} Enquiries</label>
                  </li> -->
                <li>
  
  
  
                </li>
              </ul>
            </div>
  
            <div class="c-lg-6 c-md-6 c-sm-6 align-left">
  
              <div class="field-wrapper">
                <img class="pull-right" src="../../../../assets/images/search.svg" style="max-width: 5%;" (click)="searchDatabase(search)"
                />
              </div>
  
              <div class="search-filter-wrapper" style="width:100%;">
  
                <input #search type="text" class="normal-field pull-right" placeholder="Search lead name" style="font-size:12px; margin: 0px 5px 2px -5px;"
                  [(ngModel)]="searchBarData" id="search" name="searchData" (keyup.enter)="searchDatabase(search)">
  
              </div>
            </div>
  
          </div>
  
          <!-- Enquiry DataTable -->
          <div class="row">
            <div class="c-lg-12 c-md-12 c-sm-12">
              <div class="table-scroll-wrapper">
                <div class="table table-responsive enquiry-table">
  
                  <!-- <enquiry-table header]="headerArr" [isAllSelected]="isAllSelected" [rows]="sourceCampaign" (selectAllRows)="toggleSelectAll($event)"
                      (sort)="sortTableById($event)" (userSelectRow)="rowClicked($event)" (multipleSelectRow)="rowCheckBoxClick($event)">
                    </enquiry-table> -->
  
                  <table class="align-center">
  
                    <thead>
                      <tr id="table-header" class="displayComp">
  
                        <!-- <th>
                            <div class="field-checkbox-wrapper" style="background: transparent;">
    
                              <input id="headerCheckbox" type="checkbox" value="" [(ngModel)]="isAllSelected" (ngModelChange)="toggleSelectAll($event)"
                                name="check" class="form-checkbox">
    
                              <label>asdf</label>
                            </div>
                          </th> -->
  
                        <th>
                          <label>
                            <a class="cursor-icon" style="color:white;" (click)="sortTableById(header.list_name.title)">{{header.inventory_item.title}}</a>
                          </label>
                        </th>
  
                        <th>
                          <label>
                            <a class="cursor-icon" style="color:white;" (click)="sortTableById(header.referred_by.title)">{{header.category.title}}</a>
                          </label>
                        </th>
  
                        <th>
                          <label>
                            <a class="cursor-icon" style="color:white;" (click)="sortTableById(header.referred_by.title)">{{header.description.title}}</a>
                          </label>
                        </th>
  
  
  
                        <th>
                          <label>
                            <a class="cursor-icon" style="color:white;" (click)="sortTableById(header.source.title)">{{header.master_course.title}}</a>
                          </label>
                        </th>
  
                        <th>
                          <label>
                            <a class="cursor-icon" style="color:white;" (click)="sortTableById(header.created_date.title)">{{header.course.title}}</a>
                          </label>
                        </th>
  
                        <th>
                          <label>
                            <a class="cursor-icon" style="color:white;" (click)="sortTableById(header.status.title)">{{header.total_units.title}}</a>
                          </label>
                        </th>
  
                        <th>
                          <label>
                            <a class="cursor-icon" style="color:white;" (click)="sortTableById(header.total_count.title)">{{header.available.title}}</a>
                          </label>
                        </th>
  
                        <th></th>
  
                        <th>
                          <label>
                            <a class="cursor-icon" style="color:white;" (click)="sortTableById(header.total_count.title)">{{header.cost.title}}</a>
                          </label>
                        </th>
  
                        <th>
                          <label>
                            <a class="cursor-icon" style="color:white;" (click)="sortTableById(header.success_count.title)">{{header.edit.title}}</a>
                          </label>
                        </th>
                      </tr>
                    </thead>
  
  
                    <tbody class="" *ngIf="itemList.length != 0">
  
                      <tr id="row{{i}}" class="displayComp" *ngFor="let row of itemList; let i = index; trackBy: i;">
  
                        <td class="view-comp">
                          {{row.item_name}}
                        </td>
                        <td class="edit-comp ">
                          <div class="field-wrapper">
                            <input type="text" class="form-ctrl" [(ngModel)]="row.item_name" name="label">
                          </div>
                        </td>
  
                        <td class="view-comp">
                          {{row.category_name}}
                        </td>
                        <td class="edit-comp ">
                          <div class="field-wrapper">
                            <select id="" class="form-ctrl" name="row.category_id" [(ngModel)]="row.category_id">
                              <option *ngFor="let opt of categoryList" [value]="opt.category_id">
                                {{opt.category_name}}
                              </option>
                            </select>
                          </div>
                        </td>
  
  
                        <td class="view-comp ">
                          <div class="field-wrapper">
                            {{row.desc}}
                          </div>
                        </td>
                        <td class="edit-comp ">
                          <div class="field-wrapper">
                            <input type="text" class="form-ctrl" [(ngModel)]="row.desc" name="label">
                          </div>
                        </td>
  
  
                        <td>{{row.standard_name}}</td>
  
  
                        <td>
                          {{row.subject_name}}
                        </td>
  
                        <td>
                          {{row.alloted_units}}
                        </td>
  
                        <td>
                          {{row.available_units}}
                        </td>
  
                        <td class="view-comp" >
                          <div class="displayAddItem" id="add-item{{i}}">
                            <a class="view-addItem" (click)="addItemsEnable(i)">Add Quantity</a>
                            <div class="field-wrapper edit-addItem">
                                <input type="number" class="form-ctrl" [(ngModel)]="row.units_added" name="label">
                            </div>
                          </div>
                        </td>
  
                        <td class="edit-comp" *ngIf="!isAddUnit">
                            
                        </td>
                        <td class="edit-comp" *ngIf="isAddUnit">
                          <div class="field-wrapper">
                            <input type="number" class="form-ctrl" [(ngModel)]="row.unit_cost" name="label">
                          </div>
                        </td>
  
  
                        <td class="view-comp">
                          <div class="field-wrapper">
                            {{row.unit_cost}}
                          </div>
                        </td>
                        <td class="edit-comp ">
                          <div class="field-wrapper">
                            <input type="number" class="form-ctrl" [(ngModel)]="row.unit_cost" name="label">
                          </div>
                        </td>
  
  
  
                        <td class="table-action view-comp">
                          <ul>
                            <li>
                              <a (click)="editRow(i,row.item_id)">Edit
                              </a>
                            </li>
                          </ul>
                        </td>
  
                        <td class="table-action edit-comp">
                          <ul>
                            <li>
                              <a (click)="updateRow(row)">Update</a>
                            </li>
                            <li>
                              <a (click)="cancelRow(i)">Cancel
                              </a>
                            </li>
                          </ul>
                        </td>
  
                      </tr>
  
                    </tbody>
  
                    <tbody *ngIf="itemList.length == 0">
                      <tr class="empty-table-wrapper" style="background: none;">
                        <td colspan="12">
                          <ul>
                            <li style="font-weight: 700">{{fetchingDataMessage}}</li>
                          </ul>
                        </td>
                      </tr>
                    </tbody>
  
                  </table>
  
                </div>
              </div>
            </div>
          </div>
  
          <!-- Paginator Here -->
          <div class="row filter-res pagination" style="width: 100%;">
  
  
          </div>
  
        </section>
  
  
  
  
      </section>
  
  
    </aside>
  </section>