<header class="container header" style="margin:0px;padding:0px;">
  <div class="row header-row" style="margin:0px;padding:0px;">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 logo" (click)="routeHome()">
      <p><i class="material-icons">all_inclusive</i> Proctur</p>
    </div>
    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 global-search">
      <div class="wrap">
        <div class="search">
          <input type="text" class="searchTerm" placeholder="  Search...">
          <button type="submit" class="searchButton">
                 <i class="material-icons">search</i>
              </button>
        </div>
      </div>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="margin:0px;padding:0px;">
      <div class="container profile-container" [mdMenuTriggerFor]="profile">
        <div class="row" style="margin:0px;padding:0px;">
        <div class="col-xs-3 profile-item"><md-icon>perm_identity</md-icon></div>
        <div class="col-xs-9 profile-item">Hello Ronit</div>
        </div>  
      </div>
      <md-menu #profile="mdMenu" [overlapTrigger]="false" yPosition="below">
          <a md-menu-item class="addItem">Profile1</a>
          <a md-menu-item class="addItem">Profile2</a>
          <a md-menu-item class="addItem">Profile3</a>
          <a md-menu-item class="addItem">Profile4</a>          
        </md-menu>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="margin:10px 0px 0px 0px;text-align: center;">
      <div class="dropdown-text">
        <button md-icon-button [mdMenuTriggerFor]="notification">
              <md-icon>notifications_active</md-icon>
            </button>
        <md-menu #notification="mdMenu" [overlapTrigger]="false" yPosition="below">
        </md-menu>
      </div>
      <div class="dropdown-text">
        <button md-icon-button [mdMenuTriggerFor]="addMenu">
          <md-icon>add</md-icon>
        </button>
        <md-menu #addMenu="mdMenu" [overlapTrigger]="false" yPosition="below">
            <a md-menu-item class="addItem" routerLink="/enquiry/add">Enquiry</a>
            <a md-menu-item class="addItem">Quick Add Enquiry</a>
            <a md-menu-item class="addItem">Student</a>
            <a md-menu-item class="addItem">Quick Add Student</a>
            <a md-menu-item class="addItem">Course/Batch</a>
            <a md-menu-item class="addItem">Notification</a>
            <a md-menu-item class="addItem">Extra Class</a>
            <a md-menu-item class="addItem">Exam</a>
        </md-menu>
      </div>
      <div class="dropdown-text">
        <md-menu #rootMenu="mdMenu">
          <button md-menu-item [mdMenuTriggerFor]="subMenu">Power</button>
          <button md-menu-item>System settings</button>
        </md-menu>
        
        <md-menu #subMenu="mdMenu">
          <button md-menu-item>Shut down</button>
          <button md-menu-item>Restart</button>
          <button md-menu-item>Hibernate</button>
        </md-menu>
        
        <button md-icon-button [mdMenuTriggerFor]="rootMenu">
          <md-icon>more_vert</md-icon>
        </button>
      </div>
    </div>
  </div>
</header>