<div class="page-content">
    <div class="head_padding">
       <div class="w98">
         <div class="display">
         <div class="page_heading pageheadingspace">
           <p>Items</p>
         </div>
         <div>

          <button class="blue_button" data-toggle="modal" data-target="#addModal" *ngIf="isaddcat" (click)="cancel(false)" >Add Category</button>
           <button class="blue_button" data-toggle="modal" data-target="#itemModal"  *ngIf="is_add_item"  (click)="cancel(false)"  >Add Item</button>
          <!-- Two Diffrent Button On Tab Change -->
      </div>
         </div>
         <!-- Nav tabs -->
         <ul class="nav">
          <li class="nav-item" >
            <a class="nav-link" (click)="toggle('onev',false)"  data-toggle="tab" href="#onev"  [ngClass]="(activeSession == 'onev') ? 'active' : ''">Category</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  data-toggle="tab" (click)="toggle('twov',true)" href="#twov" [ngClass]="(activeSession == 'twov') ? 'active' : ''" >Item Management</a>
          </li>
         </ul>
       </div>
     </div>
 

  <!--pagination for category-->
  <div class="tab-content">
    <div id="onev" class="tab-pane active">
   <!--  one -->
        <div class="w98">
            <div class="pt15 display">
            <div>
                <input type="text" name="search" [(ngModel)]="searchText" (keyup)="searchDatabase()"
                class="input wid240 mr10 magnifying-glass" name="" placeholder="Search">
            </div>
            <div class="right">
                <!-- <a href="" class="mr10"><img src="../../../assets/img1/copy2.svg" title="Copy"></a>
                <a href="" class="mr10"><img src="../../../assets/img1/csv.svg" title="CSV"></a> -->
                <a (click)="downloadPdf()" class="mr10"><img src="../../../assets/img1/pdf.svg" title="PDF Preview"></a> 
                <a (click)="exportToExcel()" class="mr10"><img src="../../../assets/img1/excel.svg" title="Excel Download"></a>
           </div>
            </div>
             <!--table for item-->
            <app-basic-table [headers]="headerSetting" [tableSetting]="tableSetting" [displayData]="pagedclassRoomData"
            [rowColumnSetting]="rowColumns" (editView)='editRow($event)' (deleteView)='deleteRow($event)'
            (viewView)="viewRow($event)">
        </app-basic-table>
       </div>
        <!--pagination for category-->
        <pagination (goPage)="fetchTableDataByPage($event)" (goNext)="fetchNext()" (goPrev)="fetchPrevious()"
        [pagesToShow]="10" [page]="pageIndex" [perPage]="displayBatchSize" [count]="totalRow" [sizeArr]="sizeArr"
        (sizeChange)="updateTableBatchSize($event)">
      </pagination>
    
    </div>
     <!--Data for item-->
    <div id="twov" class="tab-pane">
      <!-- two -->
      <div class="w98">
        <div class="pt15 display">
          <div>
            <input type="text" name="search" [(ngModel)]="searchTextforItem" (keyup)="searchDatabaseforItem()"
            class="input wid240 mr10 magnifying-glass" name="" placeholder="Search">
      </div>
            <div class="right">
                <!-- <a href="" class="mr10"><img src="../../../assets/img1/copy2.svg" title="Copy"></a>
                <a href="" class="mr10"><img src="../../../assets/img1/csv.svg" title="CSV"></a>-->
                <a (click)="downloadPdffoItem()" class="mr10"><img src="../../../assets/img1/pdf.svg" title="PDF Preview"></a> 
                <a (click)="exportToExcelItem()" class="mr10"><img src="../../../assets/img1/excel.svg" title="Excel Download"></a>
            </div>
        </div>
         <!--table for item-->
        <div class="item_man">
            <div class="table_heading">
              <div>Item<span class="space33"><img src="../../../assets/img1/down1a.svg"></span> </div>
              <div>Category<span class="space33"><img src="../../../assets/img1/down1a.svg"></span> </div>
              <div>Total Units<span class="space33"><img src="../../../assets/img1/down1a.svg"></span> </div>
              <div>Available Units<span class="space33"><img src="../../../assets/img1/down1a.svg"></span> </div>
              <div>
                Buying Price<br>(Unit Price)
              </div>
              <div>Sale Price<br>(Unit Price)</div>
              <div>Taxes (%)</div>
              <div>Low Stock<br>indicator (Units)</div>
              <div>Actions</div>
            </div>
            <div class="table_body" *ngFor="let data of pagedItemData">
              <p ></p>
              <div >
               {{data.item_name}}
              </div>
             <div>
              {{data.category_name}}
             </div>
             <div>  {{data.alloted_units}}</div>
             <div [ngClass]="{'lowstock':data.available_units <= data.out_of_stock_indicator_units }">
                {{data.available_units}}            <!--<i  class="fa  fa-warning" data-toggle="tooltip" data-placement="left" title="Purchase Inventory Name, 
              your current inventory count is going below the set threshold units"></i>  -->
             </div>
             <div>{{data.unit_cost}}</div>
             <div>{{data.sale_price}}</div>
             <div>{{data.tax_percent}}</div>
             <div>{{data.out_of_stock_indicator_units}}</div>
              <div>
                
                <div class="dropdown1">
                    <img src="../../../assets/img1/menu.svg" class="dot3">
                  <div class="dropdown-content1">
                    <a data-toggle="modal" data-target="#itemModal" (click)="editItem(data)">Edit</a>
                    <a   (click)="showConfirm(data)">Delete</a>
                    <a  data-toggle="modal" data-target="#subbranchModal"(click)="allocateToSubBranch(data)">Allocate to Sub-branch</a>
                    <a    (click)="showAllocationHistory(data)">Allocation History</a>
                    <a   data-toggle="modal" data-target="#manageunitModal" (click)="manageUnit(data)">Manage Unit</a>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
      <!--pagination for item-->
    <pagination (goPage)="fetchTableDataByPageforItem($event)" (goNext)="fetchNextItem()" (goPrev)="fetchPreviousItem()"
        [pagesToShow]="10" [page]="pageIndexforItem" [perPage]="displayBatchSize" [count]="totalItemRow" [sizeArr]="sizeArr"
        (sizeChange)="updateTableBatchSize($event)">
      </pagination> </div>
  </div>
     
          <!-- use image only when page is empty,table body class element will not be present -->

</div> 
 <!--model for item-->
  <div class="modal" id="addModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" >
          <h4 class="modal-title" *ngIf="!isedit"> Add Category</h4>
          <h4 class="modal-title" *ngIf="isedit"> Update Category</h4>
          <button type="button" class="close" data-dismiss="modal"  (click)="cancel(false)" >&times;</button>
        </div>
        <div class="modal-body">
     <form  #catForm="ngForm" autocomplete="off">
          <div class="pt10" [class.has-error]="category_name.invalid && category_name.touched">
            <label class="p_title">Category Name<span class="text-danger">*</span></label>
            <input type="text" class="input wid100" id ="category_name"
            name="category_name" placeholder="Enter category name"
            [(ngModel)]="category_model.category_name"
            #category_name="ngModel" required >
          </div>
          <!-- <p class="errormsg"><span  style="height:10px;" class="help-block" *ngIf="!category_name.valid && category_name.touched">
            Category  name is mandatory
         </span></p> -->
          <div class="pt10">
            <label class="p_title">Description</label>
            <textarea class="input wid100" name="desc" id="desc"
            [(ngModel)]="category_model.desc" placeholder="Enter description" ></textarea>
          </div>
        
          <div class="pt10 display">
            <div></div>
            <div class="align"> 
              <button type="button" class="right blue_button cancel"
              data-dismiss="modal" (click)="cancel(false)">Cancel</button>
              <button class="right blue_button" (click)="saveCategoryDetails(category_model)" *ngIf="!isedit">Save</button>
              <button class="right blue_button" (click)="updateCategoryDetails(category_model)" *ngIf="isedit">Update</button></div>
           </div>
           </form>
        </div>        
      </div>
    </div>
  </div> 
   <!--delete model for category-->
  <div class="modal" id="deleteModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <div class="center">
            <span><img src="../../../assets/img1/alert.svg"></span><span class="alert">Alert</span>
          </div>
          <div >
            <p class="alert_text"> Do you really want to delete this item?</p>
          </div>
          <div class="pt101 display">
            <div>
              <button class="white_button right" data-dismiss="modal">Cancel</button>
            </div>
            <div>
              <button class="blue_button right"  (click)="deleteItem(tempObj)">Delete</button>
            </div>
          </div>
        </div>        
      </div>
    </div>
  </div>
  <div class="modal" id="delete1Modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <div class="center">
            <span><img src="../../../assets/img1/alert.svg"></span><span class="alert">Alert</span>
          </div>
          <div >
            <p class="alert_text">You can't delete this category since the items under this category are allocated</p>
          </div>
        </div>        
      </div>
    </div>
  </div>
  <div class="modal" id="deleteitemModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <div class="center">
            <span><img src="../../../assets/img1/alert.svg"></span><span class="alert">Alert</span>
          </div>
          <div ><p>
           This items is still available which are not allocated, do you want to proceed ?</p>
          </div> 
          <div class="pt101 display">
            <div>
              <button class="white_button right"  data-dismiss="modal">Cancel</button>
            </div>
            <div>
              <button class="blue_button right" (click)="deleteItem(tempObj)">Proceed</button>
            </div>
          </div>
        </div>        
      </div>
    </div>
  </div>
  <div class="modal" id="manageunitModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" >Manage Unit</h4>
          <button type="button" class="close" data-dismiss="modal" (click)="cancel()">&times;</button>
        </div>
        <div class="modal-body">
          <form #history="ngForm">
          <div class="pt10">
            <input type="text" class="input wid100" [(ngModel)]="manageData.available_units" name="available_units" 
            [disabled]= "true" 
            placeholder="Available Units*">
          </div>
            <div class="pt10">
                  <!-- <select class="select wid100" name="units_added" [(ngModel)]="manageData.units_added">
                    <option value="">
                      Manage Unit*
                      </option>
                      <option value=""></option>
                  </select> -->
                  <input type="number" class="input wid100" name="units_added" 
            [(ngModel)]="manageData.units_added"
            placeholder="Manage Unit*" > 
            </div>
          <div class="pt10">
            <input type="text" class="input wid100" name="alloted_units" 
            [(ngModel)]="manageData.alloted_units"
            placeholder="Total Unit Units*"
            [disabled]="true">
          </div>
        
          <div class="pt10 display">
            <div></div>
            <div> 
              <button  class="right blue_button cancel" (click)="cancel(false)" data-dismiss="modal">Cancel</button>
              <button class="right blue_button" (click)="updataeManageUnit(manageData.item_id)">Save</button></div>
           </div>
          </form>
        </div>        
      </div>
    </div>
  </div> 
   <!--add edit model for item-->
  <div class="modal" id="itemModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" *ngIf="!isedit" >Add Item</h4>
          <h4 class="modal-title" *ngIf="isedit">Update Item</h4>
          <button type="button" class="close" data-dismiss="modal"
          (click)="cancel(false)">&times;</button>
        </div>
        <div class="modal-body">
          <form #itemForm ="ngForm" autocomplete="off">
          <div class="flex">
            <div class="sec1">
              <div class="pt10"  [class.has-error]="item_name.invalid && item_name.touched">
                  <input type="text" class="input wid100" id="item_name" name="item_name" placeholder="Item*"  [(ngModel)]="item.item_name"
                  #item_name="ngModel" required>
              </div>
              <p class="errormsg"><span  style="height:10px;" class="help-block" *ngIf="!item_name.valid && item_name.touched">
                Item  name is mandatory
             </span></p>
                <div class="pt10">
                  <select class="select wid100" name="standard_id" id="standard_id"
                  [(ngModel)]="item.standard_id" (ngModelChange)="onMasterCourseSelection($event)">
                    <option value="" selected>
                     Standard
                    </option>
                    <option *ngFor="let opt of masterCourseList" value="{{opt.standard_id}}">
                      {{opt.standard_name}}
                    </option>
                  </select>
                </div>
               <p class="errormsg"><span  style="height:10px;" class="help-block">
               </span></p>
              <div class="pt10" [class.has-error]="alloted_units.invalid && alloted_units.touched" >
                  <input type="text" class="input wid100" id="alloted_units" 
                  name="alloted_units" placeholder="Total Units*"  
                  #alloted_units="ngModel" 
                  [(ngModel)]="item.alloted_units" required
                  onkeypress=" return (event.charCode >= 48 && event.charCode <= 57)">
              </div>
              <p class="errormsg"><span  style="height:10px;" class="help-block" *ngIf="!alloted_units.valid && alloted_units.touched">
                Total units are mandatory
             </span></p>
              <div class="pt10" [class.has-error]="sale_price.invalid && sale_price.touched" >
                <input type="text" class="input wid100" id="sale_price" 
                name="sale_price" placeholder="Sale Price (Unit Price)*"  
                #sale_price="ngModel" 
                [(ngModel)]="item.sale_price"  
                onkeypress=" return (event.charCode >= 48 && event.charCode <= 57)" 
                required>
            </div>
            <p class="errormsg"><span  style="height:10px;" class="help-block" *ngIf="!sale_price.valid && sale_price.touched">
              Sale or unit price is mandatory
           </span></p>
               <div class="pt10" [class.has-error]="tax_percent.invalid && tax_percent.touched" >
                  <input type="text" class="input wid100" id="tax_percent" 
                  name="tax_percent" placeholder="Tax(%)"  
                  #tax_percent="ngModel" 
                  [(ngModel)]="item.tax_percent" onkeypress=" return (event.charCode >= 48 && event.charCode <= 57)" required>
              </div>
              <p class="errormsg"><span  style="height:10px;" class="help-block">
             </span></p>
            </div>
            <div class="sec2">
              <div class="pt10"  [class.has-error]="abc.invalid && abc.touched">
                <select class="select wid100" name="category_id" id="category_id"
                [(ngModel)]="item.category_id"  required #abc="ngModel">
                  <option value="">
                   Category*
                  </option>
                  <option value="{{data.category_id}}" *ngFor="let data of categoryAllData">
                    {{data.category_name}}</option>
                </select>
              </div>
              <p class="errormsg"> <span  style="height:10px;"  *ngIf="abc.invalid && abc.touched"class="help-block">
                Category is mandatory
               </span></p>
             <div class="pt10">
              <select class="select wid100" name="subject_id" id="subject_id"
              [(ngModel)]="item.subject_id" >
                <option value="" selected>
                Subject
                </option>
                <option *ngFor="let opt of CourseList" value="{{opt.subject_id}}">
                  {{opt.subject_name}}
                </option>
              </select>
            </div>
            <p class="errormsg"><span  style="height:10px;" class="help-block">
              </span></p>
                <div class="pt10" [class.has-error]="unit_cost.invalid && unit_cost.touched" >
                  <input type="text" class="input wid100" id="unit_cost" 
                  name="unit_cost" placeholder="Buying Price (Unit Price)*"  
                  #unit_cost="ngModel" 
                  [(ngModel)]="item.unit_cost"
                  onkeypress=" return (event.charCode >= 48 && event.charCode <= 57)" required>
              </div>
              <p class="errormsg"><span  style="height:10px;" class="help-block" *ngIf="!unit_cost.valid && unit_cost.touched">
                Buying or unit price is mandatory
             </span></p>
              <div class="pt10" [class.has-error]="out_of_stock_indicator_units.invalid && out_of_stock_indicator_units.touched" >
                <input type="text" class="input wid100" id="out_of_stock_indicator_units" 
                name="out_of_stock_indicator_units" placeholder="Low Stock Indicator*"  
                #out_of_stock_indicator_units="ngModel" 
                onkeypress=" return (event.charCode >= 48 && event.charCode <= 57)"
                [(ngModel)]="item.out_of_stock_indicator_units" required>
            </div>
            <p class="errormsg"><span  style="height:10px;" class="help-block" *ngIf="!out_of_stock_indicator_units.valid && out_of_stock_indicator_units.touched">
              Low stock indicator  is mandatory
           </span></p>
            </div>
          </div>
             <div class="pt10">
                   <textarea class="input wid100" name="desc" id="desc" placeholder="Description" [(ngModel)]="item.desc"></textarea>
              </div>
          <!-- </div> -->
          <p class="errormsg"><span  style="height:10px;" class="help-block">
         </span></p>
         
          <div class="pt10 display w98">
            <div></div>
            <div class="align"> 
              <button type="button" class="right blue_button cancel"
              data-dismiss="modal"  (click)="cancel(false)" >Cancel</button>
              <button class="right blue_button" (click)="saveItemDetails(item)" *ngIf="!isedit">Save</button>
              <button class="right blue_button" (click)="updateItemDetails(item.item_id)" *ngIf="isedit">Update</button></div>
           </div>
          </form>
        </div>        
      </div>
    </div>
  </div>
  <div class="modal" id="subbranchModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" >Allocate to Sub-branch</h4>
          <button type="button" class="close" data-dismiss="modal" (click)="cancel()">&times;</button>
        </div>
        <div class="modal-body">
          <form #allcateForm="ngForm" autocomplete="off">
          <div class="flex">
            <div class="sec1">
              <div class="pt10">
                  <input type="text" class="input wid100" name="item_name" [(ngModel)]="allocatedata.item_name" [disabled]="true" placeholder="Item*">
              </div>
              <p class="errormsg"> <span  style="height:10px;" class="help-block">
                
               </span></p>
              <div class="pt10" [class.has-error]="sub_branch_id.invalid && sub_branch_id.touched">
                  <select class="select wid100" name="sub_branch_id" 
                  [(ngModel)]="allocatedata.sub_branch_id"
                  (ngModelChange)="getItemAgainSubBranch($event)" #sub_branch_id="ngModel" required>
                    <option value="" selected>  Sub-Branch*</option>
                    <option value="{{data.institute_id}}" *ngFor="let data of subBranchAllData">
                     {{data.institute_name}}
                    </option>
                  </select>

              </div>
              <p class="errormsg"> <span  style="height:10px;"  *ngIf="sub_branch_id.invalid && sub_branch_id.touched"class="help-block">
                Sub-Branch is mandatory
               </span></p>
               <div class="pt10" [class.has-error]="alloted_units.invalid && alloted_units.touched">
                  <input type="text" class="input wid100" [(ngModel)]="allocatedata.alloted_units" name="alloted_units" 
                  placeholder="Allocate Unit*"
                  onkeypress=" return (event.charCode >= 48 && event.charCode <= 57)" 
                  required #alloted_units="ngModel" required>
              </div>
              <p class="errormsg"> <span  
                *ngIf="alloted_units.invalid && alloted_units.touched" style="height:10px;" class="help-block" >
                Allocate Unit is mandatory
              </span></p>
               <div class="pt10">
                  <input type="text" class="input wid100" name="challan_no"
                   placeholder="Challan No."
                   [(ngModel)]="allocatedata.challan_no">
              </div>
              <p class="errormsg"> <span  style="height:10px;" class="help-block">
                
              </span></p>
               <div class="pt10">
                  <input type="text" class="input wid100"   [(ngModel)]="allocatedata.challan_amount" name="challan_amount" placeholder="Challan Amount"
                  onkeypress=" return (event.charCode >= 48 && event.charCode <= 57)">
              </div>
              <p class="errormsg"> <span  style="height:10px;" class="help-block">
                
              </span></p>
            </div>
            <div class="sec2">
              <div class="pt10">
                  <input type="text" class="input wid100"  name="available_units" [(ngModel)]="allocatedata.available_units" [disabled]="true" placeholder="Available Units">
              </div>
              <p class="errormsg"> <span  style="height:10px;" class="help-block">
                
              </span></p>
              <div class="pt10" [class.has-error]="sub_branch_item_id.invalid && sub_branch_item_id.touched">
                <select class="select wid100" name="sub_branch_item_id" 
                [(ngModel)]="allocatedata.sub_branch_item_id"
               #sub_branch_item_id="ngModel" required>
                  <option value="">  Sub-Branch Item*</option>
                  <option value="{{data.item_id}}" *ngFor="let data of itemfromSubbrach">
                  {{data.item_name}}
                  </option>
                </select>

            </div>
            <p class="errormsg"> <span  style="height:10px;"  *ngIf="sub_branch_item_id.invalid && sub_branch_item_id.touched"class="help-block">
              Sub-Branch item is mandatory
             </span></p>
              <div class="pt10">
                  <input type="text" class="input wid100" name="transport"
                  [(ngModel)]="allocatedata.transport" placeholder="Tranport">
              </div>
              <p class="errormsg"> <span  style="height:10px;" class="help-block">
                
              </span></p>
              <div class="pt10">
                  <input type="date" class="input wid100" name="challan_date"
                  [(ngModel)]="allocatedata.challan_date" 
                   placeholder="Challan Date" >
              </div>
              <p class="errormsg"> <span  style="height:10px;" class="help-block">
                
              </span></p>
            </div>
          </div>
          <div class="pt10 display">
           <div></div>
           <div> 
            <button class="right blue_button cancel" data-dismiss="modal" (click)="cancel()">cancel</button>
             <button class="right blue_button" (click)="saveAllocatedData(allocatedata)">Save</button></div>
           
          </div>
        </form>
        </div>        
      </div>
    </div>
  </div>    
  <div class="modal" id="historyModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" >Allocation History </h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
           <div class="allo_history">
            <div class="table_heading">
              <div>
               #
              </div>
              <div>Date</div>
              <div>
                From/To
              </div>
              <div>Contact No.</div>
              <div>Quantity</div>
              <div>In/Out</div>
            </div>
            <div class="table_body" *ngFor="let data of allocationHistoryData;index as i">
              <div>
                {{i+1}}
              </div>
              <div>
            {{data.created_date | date: 'yyyy-MM-dd'}}
              </div>
              <div>
                <span  *ngIf="data.user_name==''" >-</span>
                <span  *ngIf="data.user_name" >{{data.user_name}}</span>
            
              </div>
             <div>
            {{data.contact_no}}
             </div>
             <div>{{data.alloted_units}}</div>
              <div>
                <span  *ngIf="data.inventory_type==1" class="in1">In</span>
                <span  *ngIf="data.inventory_type==2" class="out">Out</span>
              </div>
             
              
            </div>
        </div>
       </div>        
      </div>
    </div>
  </div>