<div class="middle-section clearFix" id="enquiryList">
  <div id="myNav" class="overlay visible-xs" (click)="screenClicked()">
    <!-- Overlay content -->
    <div class="overlay-content">
      <a #liEnquiry routerLink="enquiry">Enquiry</a>
      <a #liStudent routerLink="student">Student</a>
      <a #liCourse routerLink="course">Courses</a>
      <a #liActivity routerLink="activity">Activity</a>
      <a #liEmployee routerLink="employee">Employee</a>
      <a #liReports routerLink="reports">Reports</a>
      <a #liInventory routerLink="inventory">Inventory</a>
      <a #liExpense routerLink="expense">Expense</a>
      <a #liCampaign routerLink="campaign">Campaign</a>
      <a #liExams routerLink="exams">Online Exam</a>
      <a #liHelp routerLink="help">Help Center</a>
    </div>

  </div>
</div>