<div class="middle-section clearFix" id="enquiryList">
  <div id="myNav" class="overlay visible-xs" (click)="screenClicked()">
    <!-- Overlay content -->
    <div class="overlay-content">
      <a routerLink="enquiry">Enquiry</a>
      <a routerLink="student">Student</a>
      <a routerLink="course">Courses</a>
      <a routerLink="activity">Activity</a>
      <a routerLink="employee">Employee</a>
      <a routerLink="reports">Reports</a>
      <a routerLink="inventory">Inventory</a>
      <a routerLink="expense">Expense</a>
      <a routerLink="campaign">Campaign</a>
      <a routerLink="exams">Online Exam</a>
      <a routerLink="help">Help Center</a>
    </div>

  </div>
</div>