<div class="middle-section clearFix" id="enquiryList">
  <div id="myNav" class="overlay visible-xs" (click)="screenClicked()">
    <!-- Overlay content -->
    <div class="overlay-content">
      <a routerLink="/view/enquiry">Enquiry</a>
      <a routerLink="/view/student">Student</a>
      <a routerLink="/view/course">Courses</a>
      <a routerLink="/view/activity">Activity</a>
      <a routerLink="/view/reports">Reports</a>
      <a routerLink="/view/inventory">Inventory</a>
      <a routerLink="/view/campaign">Campaign</a>
      <a routerLink="/view/help">Help Center</a>
    </div>

  </div>
</div>