<loaders-css [loader]="'ball-scale-ripple-multiple'" class="app-loader-wrapper" [loaderClass]="'blueRipple'" *ngIf="isRippleLoad">
</loaders-css>

<section class="middle-section clearFix">
  <div class="act-top clearfix">
    <h1 class="pull-left">Training Videos</h1>
  </div>

  <div class="videos-outer-container">
    <div class="section-title-container">
      <span>Section 1</span>
    </div>
    <div class="videos-container">
      <div class="video-item">
        <div class="thumbnail-container">
          <img src="./assets/images/training_video/1.jpg" alt="" (click)="showVideo('https://www.youtube.com/embed/A9tBKQKoOkQ')">
        </div>
        <div class="video-info-container">
          <div class="video-title-container">
            <span>Overview and login</span>
          </div>
          <div class="video-description-container">
            <span>Overview of Proctur ERP and How to login using your credentials</span>
          </div>
          <div class="view-more">
            <span data-toggle="modal" data-target="#exampleModal" (click)="viewMore(0)">View more</span>
          </div>
        </div>
      </div>
      <div class="video-item">
        <div class="thumbnail-container">
          <img src="./assets/images/training_video/2.jpg" alt="" (click)="showVideo('https://www.youtube.com/embed/FxG285gux2Q')">
        </div>
        <div class="video-info-container">
          <div class="video-title-container">
            <span>Account Type - Batch Model</span>
          </div>
          <div class="video-description-container">
            <span>Setup your user account in Proctur's batch model</span>
          </div>
          <div class="view-more">
            <span data-toggle="modal" data-target="#exampleModal" (click)="viewMore(1)">View more</span>
          </div>
        </div>
      </div>
      <div class="video-item">
        <div class="thumbnail-container">
          <img src="./assets/images/training_video/3.jpg" alt="" (click)="showVideo('https://www.youtube.com/embed/q5z2ZA7hsjE')">
        </div>
        <div class="video-info-container">
          <div class="video-title-container">
            <span>Account Type - Course Model</span>
          </div>
          <div class="video-description-container">
            <span>Setup your user account in Proctur's course module</span>
          </div>
          <div class="view-more">
            <span data-toggle="modal" data-target="#exampleModal" (click)="viewMore(2)">View more</span>
          </div>
        </div>
      </div>
    </div>

    <div class="section-title-container">
      <span>Section 2</span>
    </div>
    <div class="videos-container">
      <div class="video-item">
        <div class="thumbnail-container">
          <img src="./assets/images/training_video/4.jpg" alt="" (click)="showVideo('https://www.youtube.com/embed/NzqeXfSZCLs')">
        </div>
        <div class="video-info-container">
          <div class="video-title-container">
            <span>System Settings</span>
          </div>
          <div class="video-description-container">
            <span>Settings of various activities on the portal</span>
          </div>
          <div class="view-more">
            <span data-toggle="modal" data-target="#exampleModal" (click)="viewMore(3)">View more</span>
          </div>
        </div>
      </div>
      <div class="video-item">
        <div class="thumbnail-container">
          <img src="./assets/images/training_video/5.jpg" alt="" (click)="showVideo('https://www.youtube.com/embed/2GgFqBeiZiU')">
        </div>
        <div class="video-info-container">
          <div class="video-title-container">
            <span>Student Data Add / Upload</span>
          </div>
          <div class="video-description-container">
            <span>How to upload enquiries in bulk</span>
          </div>
          <div class="view-more">
            <span data-toggle="modal" data-target="#exampleModal" (click)="viewMore(4)">View more</span>
          </div>
        </div>
      </div>
      <div class="video-item">
        <div class="thumbnail-container">
          <img src="./assets/images/training_video/6.jpg" alt="" (click)="showVideo('https://www.youtube.com/embed/WhOj8G0Ha88')">
        </div>
        <div class="video-info-container">
          <div class="video-title-container">
            <span>Users & Access Management</span>
          </div>
          <div class="video-description-container">
            <span>How to assign differerent role to users</span>
          </div>
          <div class="view-more">
            <span data-toggle="modal" data-target="#exampleModal" (click)="viewMore(5)">View more</span>
          </div>
        </div>
      </div>
      <div class="video-item">
        <div class="thumbnail-container">
          <img src="./assets/images/training_video/7.jpg" alt="" (click)="showVideo('https://www.youtube.com/embed/faIJ3ipNuLM')">
        </div>
        <div class="video-info-container">
          <div class="video-title-container">
            <span>Course Planning & Scheduling</span>
          </div>
          <div class="video-description-container">
            <span>How to plan and manage and schedule classes/exams</span>
          </div>
          <div class="view-more">
            <span data-toggle="modal" data-target="#exampleModal" (click)="viewMore(6)">View more</span>
          </div>
        </div>
      </div>
    </div>

    <div class="section-title-container">
      <span>Section 3</span>
    </div>
    <div class="videos-container">
      <div class="video-item">
        <div class="thumbnail-container">
          <img src="./assets/images/training_video/8.jpg" alt="" (click)="showVideo('https://www.youtube.com/embed/8zpXs3HZ-zI')">
        </div>
        <div class="video-info-container">
          <div class="video-title-container">
            <span>SMS / Email Notifications</span>
          </div>
          <div class="video-description-container">
            <span>How to send notifications to Students of different courses/batches</span>
          </div>
          <div class="view-more">
            <span data-toggle="modal" data-target="#exampleModal" (click)="viewMore(7)">View more</span>
          </div>
        </div>
      </div>
      <div class="video-item">
        <div class="thumbnail-container">
          <img src="./assets/images/training_video/9.jpg" alt="" (click)="showVideo('https://www.youtube.com/embed/PmqbVgVN148')">
        </div>
        <div class="video-info-container">
          <div class="video-title-container">
            <span>Managing Enquiries</span>
          </div>
          <div class="video-description-container">
            <span>How to easily manage your enquiries on proctur</span>
          </div>
          <div class="view-more">
            <span data-toggle="modal" data-target="#exampleModal" (click)="viewMore(8)">View more</span>
          </div>
        </div>
      </div>
      <div class="video-item">
        <div class="thumbnail-container">
          <img src="./assets/images/training_video/10.jpg" alt="" (click)="showVideo('https://www.youtube.com/embed/nNvumeMwNRc')">
        </div>
        <div class="video-info-container">
          <div class="video-title-container">
            <span>Enquiry to Admission Process</span>
          </div>
          <div class="video-description-container">
            <span>How to convert an enquiry directly to into an admission</span>
          </div>
          <div class="view-more">
            <span data-toggle="modal" data-target="#exampleModal" (click)="viewMore(9)">View more</span>
          </div>
        </div>
      </div>
      <div class="video-item">
        <div class="thumbnail-container">
          <img src="./assets/images/training_video/11.jpg" alt="" (click)="showVideo('https://www.youtube.com/embed/oGgxyy0Cp-4')">
        </div>
        <div class="video-info-container">
          <div class="video-title-container">
            <span>Student Admissions</span>
          </div>
          <div class="video-description-container">
            <span>How to add student details in the Proctur Account</span>
          </div>
          <div class="view-more">
            <span data-toggle="modal" data-target="#exampleModal" (click)="viewMore(10)">View more</span>
          </div>
        </div>
      </div>
      <div class="video-item">
        <div class="thumbnail-container">
          <img src="./assets/images/training_video/12.jpg" alt="" (click)="showVideo('https://www.youtube.com/embed/79ur6e7GMfM')">
        </div>
        <div class="video-info-container">
          <div class="video-title-container">
            <span>Manage Student Fee - #1</span>
          </div>
          <div class="video-description-container">
            <span>How to update fees of a student</span>
          </div>
          <div class="view-more">
            <span data-toggle="modal" data-target="#exampleModal" (click)="viewMore(11)">View more</span>
          </div>
        </div>
      </div>
      <div class="video-item">
        <div class="thumbnail-container">
          <img src="./assets/images/training_video/13.jpg" alt="" (click)="showVideo('https://www.youtube.com/embed/tZsrqM8Ru_w')">
        </div>
        <div class="video-info-container">
          <div class="video-title-container">
            <span>Manage Student Fee - #2</span>
          </div>
          <div class="video-description-container">
            <span>How to reconfigure fees i.e make changes in installments/fees of Students</span>
          </div>
          <div class="view-more">
            <span data-toggle="modal" data-target="#exampleModal" (click)="viewMore(12)">View more</span>
          </div>
        </div>
      </div>
      <div class="video-item">
        <div class="thumbnail-container">
          <img src="./assets/images/training_video/14.jpg" alt="" (click)="showVideo('https://www.youtube.com/embed/dRS0YaVE9p0')">
        </div>
        <div class="video-info-container">
          <div class="video-title-container">
            <span>Manage Student Fee - #3 (Cheque Management)</span>
          </div>
          <div class="video-description-container">
            <span>How to get the details of the fees paid by cheques</span>
          </div>
          <div class="view-more">
            <span data-toggle="modal" data-target="#exampleModal" (click)="viewMore(13)">View more</span>
          </div>
        </div>
      </div>
      <div class="video-item">
        <div class="thumbnail-container">
          <img src="./assets/images/training_video/15.jpg" alt="" (click)="showVideo('https://www.youtube.com/embed/5ckzLCC_s10')">
        </div>
        <div class="video-info-container">
          <div class="video-title-container">
            <span>Inventory Management</span>
          </div>
          <div class="video-description-container">
            <span>How to manage inventory like bags,study material,stationary etc.</span>
          </div>
          <div class="view-more">
            <span data-toggle="modal" data-target="#exampleModal" (click)="viewMore(14)">View more</span>
          </div>
        </div>
      </div>
      <div class="video-item">
        <div class="thumbnail-container">
          <img src="./assets/images/training_video/16.jpg" alt="" (click)="showVideo('https://www.youtube.com/embed/CAIyjXWNaDM')">
        </div>
        <div class="video-info-container">
          <div class="video-title-container">
            <span>Sharing Notes / Assignments with Students</span>
          </div>
          <div class="video-description-container">
            <span>How to share files with students</span>
          </div>
          <div class="view-more">
            <span data-toggle="modal" data-target="#exampleModal" (click)="viewMore(15)">View more</span>
          </div>
        </div>
      </div>
      <div class="video-item">
        <div class="thumbnail-container">
          <img src="./assets/images/training_video/17.jpg" alt="" (click)="showVideo('https://www.youtube.com/embed/EpBXelRBePg')">
        </div>
        <div class="video-info-container">
          <div class="video-title-container">
            <span>Parents Teacher Meeting (PTM)</span>
          </div>
          <div class="video-description-container">
            <span>How to create,organise and manage Parent teacher meetings</span>
          </div>
          <div class="view-more">
            <span data-toggle="modal" data-target="#exampleModal" (click)="viewMore(16)">View more</span>
          </div>
        </div>
      </div>
      <div class="video-item">
        <div class="thumbnail-container">
          <img src="./assets/images/training_video/18.jpg" alt="" (click)="showVideo('https://www.youtube.com/embed/VYfV3Br5heY')">
        </div>
        <div class="video-info-container">
          <div class="video-title-container">
            <span>Timetable Generation</span>
          </div>
          <div class="video-description-container">
            <span>How to view and download a time table</span>
          </div>
          <div class="view-more">
            <span data-toggle="modal" data-target="#exampleModal" (click)="viewMore(17)">View more</span>
          </div>
        </div>
      </div>
    </div>

    <div class="section-title-container">
      <span>Section 4</span>
    </div>
    <div class="videos-container">
      <div class="video-item">
        <div class="thumbnail-container">
          <img src="./assets/images/training_video/19.jpg" alt="" (click)="showVideo('https://www.youtube.com/embed/U3WYFG0ZgHI')">
        </div>
        <div class="video-info-container">
          <div class="video-title-container">
            <span>Reports</span>
          </div>
          <div class="video-description-container">
            <span>How to view and use different reports provided for fees,sms,attendance,biometric attendance,exams,enquiries and others</span>
          </div>
          <div class="view-more">
            <span data-toggle="modal" data-target="#exampleModal" (click)="viewMore(18)">View more</span>
          </div>
        </div>
      </div>
    </div>

    <div class="section-title-container">
      <span>Section 5</span>
    </div>
    <div class="videos-container">
      <div class="video-item">
        <div class="thumbnail-container">
          <img src="./assets/images/training_video/20.jpg" alt="" (click)="showVideo('https://www.youtube.com/embed/L0lI_UeCEZA')">
        </div>
        <div class="video-info-container">
          <div class="video-title-container">
            <span>Promotional Activities (SMS)</span>
          </div>
          <div class="video-description-container">
            <span>How to send promotional sms campaign</span>
          </div>
          <div class="view-more">
            <span data-toggle="modal" data-target="#exampleModal" (click)="viewMore(19)">View more</span>
          </div>
        </div>
      </div>
      <div class="video-item">
        <div class="thumbnail-container">
          <img src="./assets/images/training_video/21.jpg" alt="" (click)="showVideo('https://www.youtube.com/embed/UfEbiFazDeU')">
        </div>
        <div class="video-info-container">
          <div class="video-title-container">
            <span>Data Archiving - Clearing old data</span>
          </div>
          <div class="video-description-container">
            <span>How to archive courses and student data</span>
          </div>
          <div class="view-more">
            <span data-toggle="modal" data-target="#exampleModal" (click)="viewMore(20)">View more</span>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="modal fade" id="exampleModal" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <span>{{viewMoreText}}</span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="videoplayer" *ngIf="videoplayer">
    <iframe width="650" height="400"
      [src]="currentProjectUrl"
      frameborder="0" style="border-radius: 10px;"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>
  </div>

</section>

<div class="black-bg" id="black-bg" *ngIf="videoplayer" (click)="closePlayer()">

</div>