<section class="middle-section clearFix">
  <div class="act-top clearfix">
    <h1 class="pull-left">Training Videos</h1>
  </div>

  <div class="videos-outer-container">
      <div class="section-title-container" >
        <span>Section 1 : Overview</span>
      </div>
    <div class="videos-container">
      <div class="video-item" (click)="showVideo('https://drive.google.com/file/d/18224SUG5sDy1APJ5SgeftKYLype31aWM/preview')">
        <div class="thumbnail-container">
          <div class="play-container fa fa-play-circle-o"></div>
        </div>
        <div class="video-info-container">
          <div class="video-title-container">
            <span>Overview of complete Proctur</span>
          </div>
          <div class="video-description-container">
            <span>Institute Management Solution and how to get started</span>
          </div>
        </div>
      </div>
    </div>

      <div class="section-title-container">
        <span>Section 2 : Data Setup</span>
      </div>
    
    <div class="videos-container">
      <div class="video-item" (click)="showVideo('https://drive.google.com/file/d/1SUG7f5qTPbTd-JBFd-O4u-Wd-Zw1Rn8m/preview')">
        <div class="thumbnail-container">
          <div class="play-container fa fa-play-circle-o"></div>
        </div>
        <div class="video-info-container">
          <div class="video-title-container">
            <span>Account Setup - Course Model</span>
          </div>
          <div class="video-description-container">
            <span>Setup your account in Proctur course model</span>
          </div>
        </div>
      </div>
      <div class="video-item"  (click)="showVideo('https://drive.google.com/file/d/11QKFGMzNrfyfVZ24LeG_FrBS3ztEO4xN/preview')">
        <div class="thumbnail-container">
          <div class="play-container fa fa-play-circle-o"></div>
        </div>
        <div class="video-info-container">
          <div class="video-title-container">
            <span>Account Setup -Batch Model</span>
          </div>
          <div class="video-description-container">
            <span>Setup your account in Proctur batch model</span>
          </div>
        </div>
      </div>
      <div class="video-item" (click)="showVideo('https://drive.google.com/file/d/112xxv_adalw1nP5TZ4sKJpMJcOboTUkz/preview')">
        <div class="thumbnail-container">
          <div class="play-container fa fa-play-circle-o" ></div>
        </div>
        <div class="video-info-container">
          <div class="video-title-container">
            <span>General Settings</span>
          </div>
          <div class="video-description-container">
            <span>Settings of activities like reminders/notifications of fees, exams, attendance and others</span>
          </div>
        </div>
      </div>
      <div class="video-item" (click)="showVideo('https://drive.google.com/file/d/1nw08IscbUThqelPvwJ5Ga2-LOdocG-Mt/preview')">
        <div class="thumbnail-container">
          <div class="play-container fa fa-play-circle-o"></div>
        </div>
        <div class="video-info-container">
          <div class="video-title-container">
            <span>Users & Role Management</span>
          </div>
          <div class="video-description-container">
            <span>How to assign individual role to users</span>
          </div>
        </div>
      </div>
    </div>

      <div class="section-title-container" >
        <span>Section 3 : Student Management</span>
      </div>
    <div class="videos-container">
      <div class="video-item" (click)="showVideo('https://drive.google.com/file/d/1YD4vTwHVvpbgzocoGt6sc9LpSsQ3Hvq3/preview')">
        <div class="thumbnail-container">
           <div class="play-container fa fa-play-circle-o"></div>
        </div>
        <div class="video-info-container">
          <div class="video-title-container">
            <span>Student Admission</span>
          </div>
          <div class="video-description-container">
            <span>How to add student data in the system</span>
          </div>
        </div>
      </div>
      <div class="video-item"  (click)="showVideo('https://drive.google.com/file/d/1cAP74BQnAfinx2C9W6AvIVhRWLp682cd/preview')">
        <div class="thumbnail-container">
          <div class="play-container fa fa-play-circle-o"></div>
        </div>
        <div class="video-info-container">
          <div class="video-title-container">
            <span>Student data bulk upload</span>
          </div>
          <div class="video-description-container">
            <span>How to upload student information in bulk</span>
          </div>
        </div>
      </div>
      <div class="video-item" (click)="showVideo('https://drive.google.com/file/d/1HFD4vTMOx6E3K-JPIa4D8nmPlTE60QqX/preview')">
        <div class="thumbnail-container">
          <div class="play-container fa fa-play-circle-o"></div>
        </div>
        <div class="video-info-container">
          <div class="video-title-container">
            <span>Inventory Management & Allocation</span>
          </div>
          <div class="video-description-container">
            <span>How to manage inventory like bags, study material, stationary etc.</span>
          </div>
        </div>
      </div>
      <div class="video-item" (click)="showVideo('https://drive.google.com/file/d/1NYt-7Nhwsob__Ft9HwPAPZsbBu-mgcJK/preview')">
        <div class="thumbnail-container">
          <div class="play-container fa fa-play-circle-o"></div>
        </div>
        <div class="video-info-container">
          <div class="video-title-container">
            <span>Report Card and ID Card</span>
          </div>
          <div class="video-description-container">
            <span>How to download and view report card and ID card</span>
          </div>
        </div>
      </div>
    </div>

      <div class="section-title-container" >
        <span>Section 4 : Communication</span>
      </div>
    <div class="videos-container">
      <div class="video-item"  (click)="showVideo('https://drive.google.com/file/d/1jLgtrtWvMFZP5MzTwkwmSrm6bb9XvzQZ/preview')">
        <div class="thumbnail-container">
          <div class="play-container fa fa-play-circle-o"></div>
        </div>
        <div class="video-info-container">
          <div class="video-title-container">
            <span>Send Notifications</span>
          </div>
          <div class="video-description-container">
            <span>How to send notification to users through add/send notification option</span>
          </div>
        </div>
      </div>
      <div class="video-item" (click)="showVideo('https://drive.google.com/file/d/1uZqfAyKzhYDSxL_aoqxXSYLebUAAjD0a/preview')">
        <div class="thumbnail-container">
          <div class="play-container fa fa-play-circle-o"></div>
        </div>
        <div class="video-info-container">
          <div class="video-title-container">
            <span>Send Messages</span>
          </div>
          <div class="video-description-container">
            <span>How to view the sent notifications in report section</span>
          </div>
        </div>
      </div>
    </div>

      <div class="section-title-container" >
        <span>Section 5 : Course Management</span>
      </div>
    <div class="videos-container">
      <div class="video-item" (click)="showVideo('https://drive.google.com/file/d/1Ae9hNUtrak_X1V7aa_aYDdiwBiuqg4PZ/preview')">
        <div class="thumbnail-container">
          <div class="play-container fa fa-play-circle-o"></div>
        </div>
        <div class="video-info-container">
          <div class="video-title-container">
            <span>Course Planner </span>
          </div>
          <div class="video-description-container">
            <span>How to plan, manage and schedule classes and exams </span>
          </div>
        </div>
      </div>
      <div class="video-item" (click)="showVideo('https://drive.google.com/file/d/1j9-2e0nmlLZkhxahCirM2Uw94-dcOUGO/preview')">
        <div class="thumbnail-container">
          <div class="play-container fa fa-play-circle-o"></div>
        </div>
        <div class="video-info-container">
          <div class="video-title-container">
            <span>Time Table</span>
          </div>
          <div class="video-description-container">
            <span>How to view and download a time table</span>
          </div>
        </div>
      </div>
      <div class="video-item" (click)="showVideo('https://drive.google.com/file/d/18eJddtcaImbwGNvWzLKfaEFOLoC7nOmn/preview')">
        <div class="thumbnail-container">
          <div class="play-container fa fa-play-circle-o"></div>
        </div>
        <div class="video-info-container">
          <div class="video-title-container">
            <span>File Manager </span>
          </div>
          <div class="video-description-container">
            <span>How to upload and share files like pdf, images, powepoints, word docs etc. with the students</span>
          </div>
        </div>
      </div>
      <div class="video-item" (click)="showVideo('https://drive.google.com/file/d/1FeGHWyjdX0AQQ2xIdmNp4hUFbs2eRoWm/preview')">
        <div class="thumbnail-container">
          <div class="play-container fa fa-play-circle-o"></div>
        </div>
        <div class="video-info-container">
          <div class="video-title-container">
            <span>Setup PTM -Parent Teacher Meetings</span>
          </div>
          <div class="video-description-container">
            <span>How to create,organise and manage Parent teacher meetings </span>
          </div>
        </div>
      </div>
    </div>

      <div class="section-title-container" >
        <span>Section 6 : Lead Management</span>
      </div>
    <div class="videos-container">
      <div class="video-item" (click)="showVideo('https://drive.google.com/file/d/1B7h7R3PtSxOofcf0idtsZHDiK_W_jsZR/preview')">
        <div class="thumbnail-container">
          <div class="play-container fa fa-play-circle-o"></div>
        </div>
        <div class="video-info-container">
          <div class="video-title-container">
            <span>SMS camapaign</span>
          </div>
          <div class="video-description-container">
            <span>How to send promotional sms campaign</span>
          </div>
        </div>
      </div>
      <div class="video-item" (click)="showVideo('https://drive.google.com/file/d/1l8vJtyd37JyTxF21lsT3F0rXfVxh2-BF/preview')">
        <div class="thumbnail-container">
          <div class="play-container fa fa-play-circle-o"></div>
        </div>
        <div class="video-info-container">
          <div class="video-title-container">
            <span>Enquiry bulk upload</span>
          </div>
          <div class="video-description-container">
            <span>How to upload enquiries in bulk</span>
          </div>
        </div>
      </div>
      <div class="video-item" (click)="showVideo('https://drive.google.com/file/d/1P7Hi9t4Hhcx7BqCpccaDtcqdJFk3520Q/preview')">
        <div class="thumbnail-container">
          <div class="play-container fa fa-play-circle-o"></div>
        </div>
        <div class="video-info-container">
          <div class="video-title-container">
            <span>Manage Enquiries</span>
          </div>
          <div class="video-description-container">
            <span>How to manage enquiries?</span>
          </div>
        </div>
      </div>
      <div class="video-item" (click)="showVideo('https://drive.google.com/file/d/125XKv-PXNxN_OCl8Ib57dss_1rXrU9eL/preview')">
        <div class="thumbnail-container">
          <div class="play-container fa fa-play-circle-o"></div>
        </div>
        <div class="video-info-container">
          <div class="video-title-container">
            <span>Convert Enquiry to student</span>
          </div>
          <div class="video-description-container">
            <span>How to convert an enquiry directly into an admission</span>
          </div>
        </div>
      </div>
    </div>

      <div class="section-title-container" >
        <span>Section 7 : Old Data Management</span>
      </div>
    <div class="videos-container">
      <div class="video-item" (click)="showVideo('https://drive.google.com/file/d/17UQaRTx7CKzwr-rOMgSbzXjHABmjdkpt/preview')">
        <div class="thumbnail-container">
          <div class="play-container fa fa-play-circle-o"></div>
        </div>
        <div class="video-info-container">
          <div class="video-title-container">
            <span>Archive student data</span>
          </div>
          <div class="video-description-container">
            <span>How to archive student data</span>
          </div>
        </div>
      </div>
      <div class="video-item" (click)="showVideo('https://drive.google.com/file/d/18idD3gITLyPXOPsOJTCI6MOoXW-yfl9y/preview')">
        <div class="thumbnail-container">
          <div class="play-container fa fa-play-circle-o"></div>
        </div>
        <div class="video-info-container">
          <div class="video-title-container">
            <span>Archive courses</span>
          </div>
          <div class="video-description-container">
            <span>How to archive courses</span>
          </div>
        </div>
      </div>
    </div>

      <div class="section-title-container" >
        <span>Section 8 : Fees Management</span>
      </div>
    <div class="videos-container">
      <div class="video-item" (click)="showVideo('https://drive.google.com/file/d/1Jt316KlHK5WZWh20YKI3IsrlUw2Bg4S4/preview')">
        <div class="thumbnail-container">
          <div class="play-container fa fa-play-circle-o"></div>
        </div>
        <div class="video-info-container">
          <div class="video-title-container">
            <span>Manage student fees</span>
          </div>
          <div class="video-description-container">
            <span>How to manage and update fees and  post dated cheques</span>
          </div>
        </div>
      </div>
      <div class="video-item" (click)="showVideo('https://drive.google.com/file/d/1McY7m8HIUf4yhm_F-VqzjpcqRsyqZw95/preview')">
        <div class="thumbnail-container">
          <div class="play-container fa fa-play-circle-o"></div>
        </div>
        <div class="video-info-container">
          <div class="video-title-container">
            <span>Fee discount</span>
          </div>
          <div class="video-description-container">
            <span>How to provide discount to students?</span>
          </div>
        </div>
      </div>
      <div class="video-item" (click)="showVideo('https://drive.google.com/file/d/1OB5BWuLha7wZtEdadJ4sNZ_8yOm-qFxB/preview')">
        <div class="thumbnail-container">
          <div class="play-container fa fa-play-circle-o"></div>
        </div>
        <div class="video-info-container">
          <div class="video-title-container">
            <span>Reconfigure fees</span>
          </div>
          <div class="video-description-container">
            <span>How to reconfigure fees i.e make changes in installments/fees of Students</span>
          </div>
        </div>
      </div>
      <div class="video-item" (click)="showVideo('https://drive.google.com/file/d/1aVYDR1Q9r_X6bqT7fOmi6NO2kMuiD-nG/preview')">
        <div class="thumbnail-container">
          <div class="play-container fa fa-play-circle-o"></div>
        </div>
        <div class="video-info-container">
          <div class="video-title-container">
            <span>Fee Report</span>
          </div>
          <div class="video-description-container">
            <span>Complete information regarding fees with reports</span>
          </div>
        </div>
      </div>
      <div class="video-item" (click)="showVideo('https://drive.google.com/file/d/1IDj-wtDw4-qNz5-yXjcoABd1sOw1zXJp/preview')">
        <div class="thumbnail-container">
          <div class="play-container fa fa-play-circle-o"></div>
        </div>
        <div class="video-info-container">
          <div class="video-title-container">
            <span>Update Student's PDC</span>
          </div>
          <div class="video-description-container">
            <span>How to update cheque provided by students</span>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="modal fade" id="exampleModal" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <span>{{viewMoreText}}</span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="videoplayer" *ngIf="videoplayer">
    <iframe width="650" height="400"
      [src]="currentProjectUrl"
      frameborder="0" style="border-radius: 10px;"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>
  </div>

</section>

<div class="black-bg" id="black-bg" *ngIf="videoplayer" (click)="closePlayer()">

</div>