.scroll_table{
    margin-top: 10px;
    height: 80vh;
    overflow-x: hidden;
}

.subject-title{
    cursor: pointer;
    font-weight: 900;
    font-size: 1.4em;
    margin-bottom: 0.4em;
}

.subject-label{
    cursor: pointer;
    padding: 0.6em 1em;
    font-weight: bold;
    border-radius: 3px;
    font-size: 0.95em;
    border: 1pt solid #eee;
    background-color: #fff;
    box-shadow: 0 1pt 2pt 0 rgba(0, 0, 0, 0.16);
    &:hover{
        background-color: #cedff3;
    }
}
