.subject-wrapper{
    .subject-item{
        padding: 0.6em;
        height: 100%;
        display: inline-block;
        .subject-label{
            cursor: pointer;
            padding: 0.6em 1em;
            font-weight: bold;
            border-radius: 3px;
            font-size: 0.95em;
            border: 1pt solid #eee;
            background-color: #fff;
            box-shadow: 0 1pt 2pt 0 rgba(0, 0, 0, 0.16);
            &:hover{
                background-color: #cedff3;
            }
        }
    }
}